<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head> 

<body>
<h2>Huawei pr oducts should not be linked to politics: Ren
</h2>
<p class="one gray"> (Xinhua)    15:19, May 21, 2019
</p>
<hr/><p>	SHENZHEN, May 21 (Xinhua) -- Huawei is a commercial company, and the use of its products is a choice for consumers based on their likes and should not be linked to politics, said Ren Zhengfei, founder and president of Huawei Technologies Co. Ltd. on Tuesday.
</p><p>	Ren made the remarks after the Bureau of Industry and Security (BIS) of the U.S. Department of Commerce put Huawei and its affiliates on an "Entity List," which would restrict the sale or transfer of U.S. technologies to the company. The ban has triggered opposition from markets worldwide.
</p><p>	Huawei maintains mass production capacities for specific key components, including chips, and the U.S. ban will not result in negative business growth, Ren told reporters.
</p><p>	The telecommunications giant projected slower but positive growth this year.
</p><p>	Huawei posted a 39 percent year-on-year revenue growth in the first quarter of the year. The growth has slowed slightly in the second quarter, but the slowing will not hurt the company, Ren said.
</p><p>	"Huawei had made preparations for the extreme situations even before the Chinese Lunar New Year," he said.
</p><p>	He noted, however, that it would not reject the U.S. supply chain, citing Huawei's announced purchase of 50 million chips from Qualcomm in 2018.
</p><p>	"As long as the U.S. government allows U.S. companies to export the components, Huawei will continue to buy while sticking to its own research and development," he said.
</p><p>	Ren said he appreciated the support of a large number of U.S. components suppliers over the years, and they are also lobbying for the easing of U.S. government-imposed restrictions.
</p><p>	He said Huawei is also in talks with companies like Google for potential remedy solutions, he said.</p>"</body>
</html>