<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China achieves breakthrough to capture CO2
</h2>
<p class="one gray">By Sun Haoran (Global Times)    09:22, May 10, 2019
</p>
<hr/><p>	China has successfully implemented its first carbon sequestration project in saline aquifers in Ordos, North Chinaâs Inner Mongolia Autonomous Region, symbolizing Chinaâs efforts to reduce greenhouse gases, which will have a great influence in emissions reduction.
</p><p>	The first 100,000-ton per year carbon capture and storage (CCS) demonstration project undertaken by an Ordos-based coal-to-liquids branch of China Energy is progressing smoothly, and relevant technical standards are being researched and developed, the Economic Information Daily reported on May 8.
</p><p>	âThis is the first CCS project in saline aquifers in China, and also the only such project in Asia that has reached a 100,000-ton level,â Wang Jianli, general manager of the company, told the Economic Information Daily.
</p><p>	âThe successful implementation of the CCS demonstration project shows China has formed a complete set of technologies for carbon capture, transport, and storage in saline aquifers and monitoring. This has enhanced Chinaâs status and influence in the field of emissions reduction,â Wang added.
</p><p>	CCS can capture up to 90 percent of the carbon dioxide (CO2) emissions produced from the use of fossil fuels in electricity generation and industrial processes, preventing emissions from entering the atmosphere.
</p><p>	âCoal plays a major role in Chinaâs energy structure, so the pressure on emissions reduction is pretty high,â said Wang.
</p><p>	With the support of the Ministry of Science and Technology of China and the National Energy Administration of China, the demonstration project was launched in Ordos in 2010, and had completed carbon capture, purification, pressurization and drilling work by the end of that year, said the report.
</p><p>	CO2 produced by the coal liquefaction will be liquefied through purification, cooling and pressurizing after it is captured, and transported to the operation area by special tankers.
</p><p>	The liquid CO2 then will be injected into saline aquifers between 1,500 and 2,500 meters underground for storage through the injection and the monitoring wells, which are about 2,500 meters deep.
</p><p>	âHowever, iron and steel enterprises are still the main targets of rectification for China to reach its objective of emissions reduction, as the CCS is still a new technology,â Zhang Xiaobo, a Beijing-based expert on the carbon trade, told the Global Times. </p>"</body>
</html>