<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Old Summer Palace kicks off relics restoration work
</h2>
<p class="one gray"> (CRI Online)    09:11, May 13, 2019
</p>
<hr/><p>	Beijing's Yuanmingyuan, also known as the Old Summer Palace, has kicked off its "Restoration 1860" project. This project is to restore the cultural relics unearthed in Yuanmingyuan and it is open to public. Group visitors can book appointments through its official website.
</p><p>	Chen Hui, head of the Archaeology Department of Yuanmingyuan Administration, said that the restoration of cultural relics should not only maintain the historical authenticity of cultural relics, but also reflect its aesthetic value. The process involves experts restoring the fragmented cultural relics by sorting, cleaning, bonding, matching, leveling, color making, painting decoration, glazing, effect making, photo filing, forming work log and evaluation.
</p><p>	Six repaired cultural relics will be displayed in Yuanmingyuan. Their 3D scanned data will be documented in the Yuanmingyuan online digital museum. Members of the public will be able to watch them on their official Wechat page in the future.
</p><p>	The imperial garden, an architectural wonder of its age, was built in the 18th and 19th centuries during the Qing dynasty (1636-1911). British and French forces destroyed the place in October 1860, during the Second Opium War, in a move to force China to open its market.</p>"</body>
</html>