<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Demand taking off for high-speed flight equipment
</h2>
<p class="one gray"> (China Daily)    08:47, April 11, 2019
</p>
<hr/><p>
</p><p>	A woman flies a drone in Shizuishan, the Ningxia Hui autonomous region, wearing a pair of virtual reality goggles made by DJI. [Photo/China News Service]
</p><p>	With the rising popularity of drone racing, there is a rapidly growing market for related equipment, such as first-person view or FPV goggles, which contestants need to wear to control their machines in high-speed flight.
</p><p>	A group of high-tech companies are betting big on the goggles, hoping to gain a market share amid fierce competition in the drone industry.
</p><p>	DJI, the world's largest commercial drone manufacturer by market share, has launched Goggles RE or Racing Edition, which are targeted at drone racers, aerial enthusiasts and remote control hobbyists.
</p><p>	Priced at $549, the goggles are similar in appearance to a virtual reality headset and let players control drones with just their head movements and see from the device's point of view, so long as the goggles are in head tracking gimbal mode.
</p><p>	"Innovation is at the heart of everything DJI develops. The DJI Goggles RE are no exception and deliver video footage with ultimate speed, stability and clarity," said Paul Pan, senior product manager of the company.
</p><p>	Pan added it is not just racers and enthusiasts who benefit from the new goggles. Players who have DIY drones, fixed-wing aircraft, or remote-controlled vehicles can enjoy immersive experiences.
</p><p>	DJI has developed a video transmission and camera module that can be installed on any drone or aircraft to provide operators using the DJI Goggles RE with a real-time FPV. The smooth, low-latency, high-quality video enhances players' experience.
</p><p>	Founded in 2006, DJI is dedicated to making aerial photography and filmmaking equipment and platforms more accessible, reliable and easier to use for creators and innovators around the world. Its global operations currently span the Americas, Europe and Asia.
</p><p>	In addition, Japanese electronics maker Seiko Epson Corp has agreed a partnership with DJI. Pairing Epson's augmented reality Moverio glasses with the DJI drones makes flying an immersive first-person experience.
</p><p>	The company's Drone Soar app delivers never-before-seen augmented reality experiences for DJI drone users. This functionality allows pilots to simultaneously see crucial telemetry data, augmented flight tools, and real-time video feeds while remaining within line-of-site of their drone.
</p><p>	As the data is displayed directly in front of the user, pilots no longer need to look down continuously at their mobile device.
</p><p>	"Augmented reality is set to revolutionize the industry with the ability to create a safer, more productive flight," said Romsin Oushana of DJI Partnerships.
</p><p>	Statistics from market consultancy IDC showed the shipment of Chinese wearable devices reached 73.21 million units in 2018, up 28.5 percent year-on-year. It is expected to hit 120 million units in 2023.
</p><p>	While drone racing's financial heft is unlikely to match that of Formula 1 any time soon, it may soon equal that of the competitive video gaming industry, according to research from US-based Eilers &Krejcik.
</p><p>	At present, drones are used for aerial photography, plant protection, inspection and security, and also in racing events. In foreign countries, drones have entered the entertainment sector, with racing drones favored by consumers.
</p><p>	Industry insiders said that compared with the intensified competition in aerial photography, agriculture and other fields, drones applied in racing events will be the new development direction of drone enterprises.
</p><p>	Ehang, another major Chinese drone manufacturer, unveiled Ghost Drone 2.0, which embraces two of the industry's buzzwords, drones and virtual reality. Its VR headset provides a first-person view through a 4K gimbaled camera attached to the bottom of the drone.
</p><p>	Pan Xuefei, a senior analyst at market research firm International Data Corp, said although the growth of China's consumer drone market has slowed down temporarily, there is still a wide range of applications. Especially with the rapid growth of the internet of things, the industry will usher in stable development in the future.</p>"</body>
</html>