<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China joins hands with UNDP in disaster resilience demo project
</h2>
<p class="one gray">By Wang Yuan (People's Daily Overseas New Media)    14:45, May 10, 2019
</p>
<hr/><p>
</p><p>	âRUN!!â
</p><p>	It is horror to see a picturesque city crumble away within seconds in a devastating natural disaster.
</p><p>	Yaâan, a city of rare tea and the home to giant pandas nestled in southwest Chinaâs Sichuan, grieved this pain in 2013.
</p><p>	A huge 7-magnitude earthquake that lasted a minute left dozens dead and missing.
</p><p>	From the powerful Wenchuan quake in 2008 to the 6.9-magnitude quake in Yushu in 2010, there are many Chinese cities that have suffered from deadly earthquakes and other natural disasters over the years.
</p><p>	Over the past 20 years, the world has lost about 1.35 million lives to natural disasters, as earthquakes, tsunamis, and volcanoes claimed thousands of lives, according to the United Nations Development Programme (UNDP).
</p><p>	In partnership with China International Center for Economic and Technical Exchange (CICETE), Beijing Normal University, and various Chinese non-governmental organizations, UNDP China now aims to enable cities like Yaâan to be more resilient, namely, by facilitating resilient development models and promoting emergency management techniques to better cope with such disasters.
</p><p>	âWe hope to utilize the existing results and combine international experience and resources to help transform Yaâan, which is currently disaster-prone, into a more resilient city,â Devanand Ramiah, deputy resident representative of UNDP China, said on Thursday at a launching ceremony of a demonstration project on risk and resilience in Yaâan.
</p><p>	The project, according to UNDP China, is designed to transform the results and experiences from the Yaâan pilot project into a standardized disaster response, with criteria, tools, cases, and knowledge sharing on resilient cities in China and beyond.
</p><p>	Shan Chunchang, deputy director of the Expert Committee of the National Disaster Reduction Commission, added that the resilient city pilot in Yaâan can be also applied to elevate dialogue shared by the world.
</p><p>	âThe systematic resilient city model drawn from Yaâan may help enhance the innovative paradigm in combating disaster, as it can be not only shared with other Chinese disaster-prone areas but also corridor countries along the Belt and Road, â according to Zhang Yi, deputy director general of CICETE.
</p><p>	With the proposed urban public safety governance framework, the project has now progressed to the second phase, which is based on risk and resilience-directed methods.
</p><p>	The ongoing project is drawn on its first phase, which is more educational-based, leveraging the goal on resilience building and risk governance via the mechanism of innovation labs, technology, knowledge sharing, and multi-sectoral network learning.
</p><p>	To retrofit the disaster resilience, joint efforts nationwide in China have been scaling up, from governments to private sectors, not only mending the cracks and ruptures, but bringing cities back to life.
</p><p>	Immediately after the Yaâan earthquake, Chinaâs Narada Foundation, for instance, initiated on-scene coordination and management and logistical and capacity building services to emergency response teams and volunteers, as well as needed services like food and other daily necessities to people in need in Yaâan.
</p><p>	âUNDP believes that resilience can be the central part of sustainable development, as the United Nationsâ Sustainable Development Goals also emphasizes the significance of disaster prevention and mitigation to reduce the impact of disaster and improve the resilience,â Ramiah said. </p>"</body>
</html>