<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Seminar on China's human rights protection held
</h2>
<p class="one gray"> (Xinhua)    13:43, May 10, 2019
</p>
<hr/><p>	CHANGCHUN, May 9 (Xinhua) -- A seminar on China's human rights protection was held Thursday in Jilin University in northeast China's Jilin province.
</p><p>	About 100 experts and scholars on human rights issues as well as representatives from government departments attended the seminar.
</p><p>	They held in-depth discussions on themes such as theories on the Chinese path of human rights protection, China's development and achievement in the area, and building a community with a shared future for mankind.
</p><p>	Participants hailed China's achievements in protecting human rights and its new path of human rights protection based on the country's national conditions.
</p><p>	China has created successful experiences in safeguarding human rights under the socialist system, and helped promote the development of the human rights cause across the world, according to the participants.</p>"</body>
</html>