<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Red foxes rediscovered in NW China nature reserve
</h2>
<p class="one gray"> (Xinhua)    08:09, May 10, 2019
</p>
<hr/><p>	LANZHOU, May 9 (Xinhua) -- The red fox, a species believed to have disappeared for 30 years in Gansu Baishuijiang National Nature Reserve, was recently rediscovered in the area.
</p><p>	Infrared cameras in the reserve caught two images of the animal at about 1:25 a.m. on January 21. In the pictures, a red fox looks directly into the camera.
</p><p>	Red foxes have a good sense of hearing and smell and are agile. They usually move about alone at night, said He Liwen, director of the giant panda management office of the Baishuijiang National Nature Reserve Administration in Gansu Province.
</p><p>	Red foxes were once widely distributed in the reserve, their number has plummeted as humans hunted them for fur. "There has been no record of the discovery of red foxes in the reserve for more than 30 years. The newly monitored images confirm that the red fox habitats have receded to a very narrow and rare range in the deep forest areas of the reserve."
</p><p>	He said the appearance of the red fox showed the gradual return of the once-disappeared species as the reserve's ecological environment continued to improve and reminded people to better protect the rare species and its habitat.
</p><p>	"We need to continue to strengthen patrolling and monitoring, cracking down on illegal activities and reducing human interference in wildlife habitats, while increasing publicity efforts to gradually expand the red fox habitat and their population size," He said.</p>"</body>
</html>