<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China to support families in infant care
</h2>
<p class="one gray"> (Xinhua)    07:49, May 10, 2019
</p>
<hr/><p>	BEIJING, May 9 (Xinhua) -- China will offer families support and guidance on infant care, according to a guideline on the care of infants under three released by the General Office of the State Council.
</p><p>	The country will guarantee maternity leave and encourage employers to enable employees who are parents of infants to work flexible hours, said the guideline.
</p><p>	The government will support stay-at-home parents in finding employment, providing related information, employment guidance and vocational skill training.
</p><p>	The guideline also called for early child development guidance for families as well as healthcare services for infants provided by the government.</p>"</body>
</html>