<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Invitational tournament of Huaiyang cuisine held in E China's Jiangsu
</h2>
<p class="one gray"> (Xinhua)    14:35, May 09, 2019
</p>
<hr/><p>
</p><p>	A cook prepares dishes at an invitational tournament of Huaiyang cuisine at Jiangsu Food &Pharmaceutical Science College in Huai'an City, east China's Jiangsu Province, May 8, 2019. (Xinhua/Zhao Qirui)</p>"</body>
</html>