<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>First image of a black hole captured: astronomers
</h2>
<p class="one gray"> (Xinhua)    07:23, April 11, 2019
</p>
<hr/><p>
</p><p>Photo provided by the Event Horizon Telescope (EHT) shows the first image of a black hole. (Xinhua/EHT)
</p><p>	WASHINGTON, April 10 (Xinhua) -- Astronomers said here Wednesday that they captured the first image of a black hole, unveiling the first direct visual evidence of an unseeable cosmic object and its shadow.
</p><p>	An Earth-sized virtual telescope called Event Horizon Telescope (EHT) linking eight ground-based radio telescopes around the globe "saw" the black hole at the center of massive galaxy M87, 55 million light-years from Earth with a mass 6.5-billion times that of the Sun.
</p><p>	At a press conference, scientists revealed a donut-like structure with a dark central region and a bright ring, which is the black hole's shadow against a disc of glowing gas that falls onto the black hole.
</p><p>	It is a "surprising" finding, an "astonishment" and "wonder," Harvard astrophysicist Sheperd Doeleman, EHT's project director, described the image, whose release won immediate applause at the conference.
</p><p>	The landmark result offers scientists a new way to study the most extreme objects in the universe predicted by Albert Einstein's general relativity.
</p><p>	Black holes are extremely compressed cosmic objects predicted by Einstein's theory of general relativity. It has a gravitational pull that is so intense that nothing, not even light, can escape it once inside a certain region called the event horizon.
</p><p>	Jason Dexter, EHT team member and an astrophysicist with Max Planck Institute for Extraterrestrial Physics, told Xinhua that the size and shape of the shadow are "a prediction of general relativity and detecting it would be the best evidence for the existence of a black hole in the universe."
</p><p>	"If immersed in a bright region, like a disc of glowing gas, we expect a black hole to create a dark region similar to a shadow," said chair of the EHT Science Council Heino Falcke with Radboud University.
</p><p>	"This shadow, caused by the gravitational bending and capture of light by the event horizon allowed us to measure the enormous mass of M87's black hole," said Falcke.
</p><p>	"Many of the features of the observed image match our theoretical understanding surprisingly well," said Paul T.P. Ho, EHT Board member and Director of the East Asian Observatory.
</p><p>	A team of more than 200 scientists including Chinese astronomers worked to capture and develop the image, thanks to a global network of eight pre-existing telescopes, according to EHT.
</p><p>	Dan Marrone, EHT co-investigator and an associate professor of Astronomy at the University of Arizona, told Xinhua after the press conference that China made direct contribution to the observations and data analysis as well, which are important piece of it.
</p><p>	Sera Markoff, a member of EHT Science Council and a professor at the University of Amsterdam, told Xinhua that she expected to have a Chinese telescope included into the EHT network, since "China is investing an enormous amount of money into new telescope facilities."
</p><p>	"Breakthroughs in technology and the completion of new radio telescopes over the past decade enabled our team to assemble this new instrument, designed to see the unseeable," said Doeleman.
</p><p>	"A direct observation of black hole will be tremendous for our understanding of the spacetime that we are in," Yau Shing-Tung, mathematician and a senior faculty member of Harvard's Black Hole Initiative, told Xinhua.</p>"</body>
</html>