<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>World Ports Conference opens in Guangzhou
</h2>
<p class="one gray"> (Xinhua)    08:38, May 09, 2019
</p>
<hr/><p>
</p><p>People visit the 2019 World Ports Conference in Guangzhou, south China's Guangdong Province, May 8, 2019. The conference, organized by the International Association of Ports and Harbors (IAPH), will see over 1,000 representatives from more than 50 countries. (Xinhua/Deng Hua)
</p><p>	GUANGZHOU, May 8 (Xinhua) -- The 2019 World Ports Conference opened Wednesday in Guangzhou, capital of southern China's Guangdong Province, as port industry leaders gather to discuss common challenges and opportunities.
</p><p>	The conference, organized by the International Association of Ports and Harbors (IAPH), will see over 1,000 representatives from more than 50 countries.
</p><p>	The participants will discuss new opportunities brought by China's Belt and Road Initiative, the new challenges brought by new technologies to the industry and the sustainable development of ports, according to the IAPH.
</p><p>	China has seven of the world's top 10 ports for both cargo and containers in terms of throughput and ranks first in the world in terms of the scale of the port.
</p><p>	The IAPH has about 300 members from nearly 90 countries and regions. The members contribute to 60 percent of the world's total seaborne trade and 80 percent of seaborne container traffic.</p>"</body>
</html>