<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese astronomers support capturing first-ever image of black hole
</h2>
<p class="one gray"> (Xinhua)    07:21, April 11, 2019
</p>
<hr/><p>
</p><p>Shen Zhiqiang, head of Shanghai Astronomical Observatory (SAO), presides over a press conference to release the first-ever image of a supermassive black hole at the heart of the distant galaxy M87, in east China's Shanghai, April 10, 2019.. (Xinhua/Fang Zhe)
</p><p>	SHANGHAI, April 10 (Xinhua) -- Chinese astronomers have made contributions to a global effort to capture the first-ever image of a supermassive black hole at the heart of the distant galaxy M87.
</p><p>	The image of the black hole, based on observations through the Event Horizon Telescope (EHT), a planet-scale array of eight ground-based radio telescopes forged through international collaboration, was unveiled in coordinated press conferences across the globe at around 9:00 p.m. (Beijing time) on Wednesday.
</p><p>	The image shows a crescent-shaped, ring-like structure with a dark central region -- the black hole's shadow.
</p><p>	The black hole revealed is at the center of M87, about 55 million light-years from Earth, with a mass 6.5 billion times that of the Sun.
</p><p>	"This is the first direct visual evidence about black holes obtained by humans, confirming that Einstein's theory of general relativity still holds in extreme conditions," said Shen Zhiqiang, head of Shanghai Astronomical Observatory (SAO).
</p><p>	Black holes are extraordinary cosmic objects with enormous masses but extremely compact sizes, producing such gravitational force that not even light can escape. The presence of these objects affects their environment in extreme ways, warping spacetime and super-heating any surrounding material.
</p><p>	Predicted almost a century ago by Einstein's theory of general relativity, black holes not only exist but actually power some of the most extreme phenomena in the universe, scientists say.
</p><p>	"The dark area and the ring of the black hole have opened a window for us to reconstruct its process of gobbling surrounding material and understand the strange events during this process better in the future," said Lu Rusen, a researcher with the SAO.
</p><p>	The observations use a technique called very-long-baseline interferometry (VLBI) which synchronizes telescope facilities around the world and exploits the rotation of Earth to form one huge, Earth-size telescope observing at a wavelength of 1.3 mm.
</p><p>	VLBI allows the EHT to achieve an angular resolution of 20 micro-arcseconds -- enough to read a newspaper in New York from a sidewalk cafe in Paris, scientists say.
</p><p>	The EHT is the result of years of international collaboration and offers scientists a new way to study the most extreme objects in the universe predicted by Einstein's general relativity.
</p><p>	It was also supported by the Center for Astronomical MegaScience (CAMS) of the Chinese Academy of Sciences (CAS), co-established by National Astronomical Observatories, Purple Mountain Observatory and SAO.
</p><p>	More than 200 researchers, including 16 from the Chinese mainland, participated in the scientific feat.
</p><p>	Chinese scientists participated in the observations in Spain and Hawaii and made contributions to the data analysis and theoretical explanation of the black hole.
</p><p>	SAO took the lead in organizing and coordinating Chinese researchers to participate in the observations and studies.
</p><p>	"The successful imaging of the black hole in the center of M87 is just the beginning of the EHT collaboration," said Shen.
</p><p>	"More exciting results are expected from the EHT project in the near future," Shen said.
</p><p>	Creating the EHT was a formidable challenge which required upgrading and connecting a worldwide network of eight pre-existing telescopes deployed at a variety of challenging high-altitude sites.
</p><p>	These locations included volcanoes in Hawaii and Mexico, mountains in Arizona and the Spanish Sierra Nevada, the Chilean Atacama Desert and Antarctica.
</p><p>	In April 2017, the eight ground radio telescopes made a five-day coordinated observation and collected about 3,500-TB data. One TB equals 1,024 GB, equivalent to the data volume of 500 hours of HD movies.
</p><p>	Since the data amount was too large to be transmitted through the network, EHT scientists had to download them in hard disks first and send the disks back to the data processing centers.
</p><p>	This process involved a data size and difficulties that were never met before. Even with a powerful computing capability, scientists still took nearly two years to "develop" the photo.
</p><p>	"We have achieved something presumed to be impossible just a generation ago. Breakthroughs in technology, connections between the world's best radio observatories, and innovative algorithms all came together to open an entirely new window on black holes and the event horizon," said EHT project director Sheperd S. Doeleman.</p>"</body>
</html>