<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Catering for children sees potential in China
</h2>
<p class="one gray"> (People's Daily Online)    16:21, May 08, 2019
</p>
<hr/><p>	Catering aimed towards children may become more popular in China as people today are willing to spend more money on their little ones.
</p><p>	Statistics indicated that an average urban household in China spends 500 to 1,000 yuan per month on food for their children, and child-targeted catering was worth around 50 billion yuan. The figure is expected to increase in the future.
</p><p>	According to the China Research Center for Children's Industry (CRCCI), 80 percent of Chinese families spend around 30 to 50 percent of their income on their kids. The annual spending on children among these families stood at between 17,000 to 25,500 yuan.
</p><p>	The child-oriented consumption market in China now has a value of 3.9 to 5.9 trillion yuan. As the number of children in China continues to rise â with a predicted 272 million children in China by 2025, the market is sure to follow.
</p><p>	An investigation showed that this market hit 4.5 trillion yuan in 2017, but the catering sector only accounted for 0.2 percent of that figure.
</p><p>	Many catering industries are now making changes to grab a bigger slice of the market. For example, chain restaurants like KFC and McDonald's have already launched meals specially tailored for young customers.
</p><p>	Wang Peng, one of the founders of a startup in the industry from southwest China's Chongqing municipality, explained that they have been selling meals with toys included to attract attention.
</p><p>	According to one of Wang's partners, the restaurant also uses menus that are designed to double up as game mats.
</p><p>	"We want the presentation of our menu to be in line with what the children are thinking," the partner said.
</p><p>	However, the industry is also troubled by issues such as food safety and nutrition. The lack of national standards regarding child meals has caused concern among parents.
</p><p>	Experts explained that industry practitioners should refer to detailed guidelines issued by authorities, and suggested that relevant organizations make standards in the field. </p>"</body>
</html>