<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China builds 158 Internet hospitals amid digital tide
</h2>
<p class="one gray"> (Xinhua)    16:14, May 08, 2019
</p>
<hr/><p>	FUZHOU, May 8 (Xinhua) -- China's medical authority said Wednesday that 158 Internet hospitals had been built, as a lack of medical resources in the countryside and congestion in large urban hospitals are prompting the country to offer medical services online.
</p><p>	Mao Qun'an, a director of the National Health Commission, said at the second Digital China Summit that 19 provinces, or over half of China's provincial-level regions, had established provincial telemedicine platforms.
</p><p>	The central government has also earmarked 670 million yuan (99 million U.S. dollars) in special funds to add telemedical and other equipment in primary-level health institutions in impoverished counties.
</p><p>	The commission is now working to realize online services in second and tertiary hospitals, he said. China's has a three-tier hospital grading system with the tertiary being the highest.
</p><p>	Internet hospitals refer to those offering medical services, such as consultation and diagnosis, online. In particular, they are expected to help tackle the scarcity of medical equipment and practitioners in some parts of China.
</p><p>	The three-day Digital China Summit, which concluded on Wednesday, highlights the latest information technologies that have swept through the country's government, industries and society.</p>"</body>
</html>