<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese economy shifts to high-quality development
</h2>
<p class="one gray"> (Xinhua)    08:31, May 20, 2019
</p>
<hr/><p>
</p><p>	Workers process components at a construction industrial research and production base in Lianjiang County, southeast China's Fujian Province, May 17, 2019. Chinese economy is transitioning from high-speed growth to high-quality development. (Xinhua/Song Weiwei)</p>"</body>
</html>