<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Broader access to attract more global investors
</h2>
<p class="one gray"> (China Daily)    07:21, May 08, 2019
</p>
<hr/><p>Larger role of A shares in MSCI index, greater QFII quotas expected to spur capital inflows
</p><p>	Foreign financial investors are poised for a greater role in China's capital markets as domestic financial regulators accelerate the integration of domestic markets into the global financial system and speed up financial opening-up.
</p><p>	MSCI Inc, a provider of global stock benchmark indexes, said on Tuesday that it will announce the results of its 2019 semiannual index review by Monday, which is set to increase the index inclusion factor of all China large-cap A shares in the MSCI Indexes from 5 percent to 10 percent and add large-cap ChiNext shares with a 10 percent inclusion factor.
</p><p>	That means global investors could include a broader range of Chinese equities in their portfolios related to the MSCI index, said analysts.
</p><p>	Capital inflows, mostly in the form of foreign investment in domestic bond and equity markets recently, will continually increase, along with the reduced limitations imposed on cross-border financial activities, they said.
</p><p>	China said on Monday that it had approved $4.74 billion of additional quotas for 13 qualified foreign institutional investors in the first four months of this year, which already exceeds the total quota approved in 2018. Among that, a total of $4.2 billion in quotas were approved for nine institutions under the QFII scheme in April, said the State Administration of Foreign Exchange, the country's foreign exchange regulator.
</p><p>	European financial giants Deutsche Bank from Germany and Society Generale from France had increased their quotas to $1 billion and $2.7 billion respectively by late April, to expand investment in Chinese onshore capital markets, according to the administration.
</p><p>	Two experts close to the administration said that China may further ease its thresholds for overseas institutions participating in bond repurchases and foreign exchange derivative trading.
</p><p>	"China's determination to expand opening-up and the ongoing reform measures have made its financial market increasingly appealing to overseas investors," the administration said on Monday in a statement on its website.
</p><p>	"The administration will continue to support the opening-up of financial markets, meet demand from overseas investors to expand investment in the markets and attract global long-term capital to enter China's financial markets," it said.
</p><p>	Given the stable performance of the yuan and expectations of balanced capital flows, China's foreign exchange reserves remained stable in April, reaching $3.095 trillion by the end of last month, compared with $3.099 trillion by March, according to data released by the administration on Tuesday.
</p><p>	China is willing to see the accelerated development of the onshore capital market, said analysts, allowing direct financing to play a more significant role in allocating savings and investment, and better serve the economy.
</p><p>	Financial sector restructuring is also a part of the ongoing supply-side structural reform, as it is still dominated by the 268-trillion-yuan banking system, the analysts said.
</p><p>	The restructuring process will accelerate as more foreign capital moves in, which can boost competition in the domestic market, the analysts added.
</p><p>	In the medium term, continued financial reform and more opening-up measures could boost capital inflows, said Lillian Li, a vice-president at rating agency Moody's.
</p><p>	But trade disputes between China and the United States and uncertainty over monetary policy in global markets may dampen capital inflows, and the pace of capital inflow is likely to fluctuate in the near term, she said.
</p><p>	Having the world's second-largest equity market and the third-largest bond market, China will likely usher in more international capital flows in the longer term, if the nation further liberalizes its financial system, she added.
</p><p>	"Reflecting China's increasing global footprint, the next decade is likely to be driven by greater global financial sector integration," said Alfred Schipke, the International Monetary Fund's senior resident representative for China.</p>"</body>
</html>