<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Assets at China's social security fund nears 3 trln yuan
</h2>
<p class="one gray"> (Xinhua)    13:44, May 08, 2019
</p>
<hr/><p>	BEIJING, May 8 (Xinhua) -- China's national social security fund saw its managed assets rise to 2.96 trillion yuan (about 437.9 billion U.S. dollars) as of the end of 2018, the National Council for Social Security Fund said.
</p><p>	Founded in 2000, the national social security fund is designed to solve China's aging problem, and also as a strategic reserve to support future social security expenditure.
</p><p>	The funding sources include fiscal allocation from the central government, allocation from the lottery public welfare proceeds, individual contributions and capital raised by other methods approved by the State Council.
</p><p>	As China faces a huge challenge in caring for its increasingly large elderly population, experts have repeatedly called for wider investment scopes for the funds.
</p><p>	Official data showed the fund gained 184.6 billion yuan from investment in 2017, with a 9.68-percent return. Since its founding, the fund's annual investment return averaged around 8.44 percent.</p>"</body>
</html>