<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>World Smile Day marked in China
</h2>
<p class="one gray"> (Xinhua)    09:43, May 08, 2019
</p>
<hr/><p>
</p><p>	Pupils demonstrate smiley cards to greet the upcoming World Smile Day at a primary school in Qinhuangdao, north China's Hebei Province, May 7, 2019. World Smile Day is celebrated on May 8 every year. (Xinhua/Cao Jianxiong)</p>"</body>
</html>