<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China steps up support for SMEs via structural tools
</h2>
<p class="one gray"> (Xinhua)    07:15, May 08, 2019
</p>
<hr/><p>	BEIJING, May 7 (Xinhua) -- China announced a targeted cut in reserve requirement ratio (RRR) in its latest attempt of using structural tools rather than an across-the-board stimulus to help cash-strained small businesses.
</p><p>	On Monday, the central bank announced that it would apply a relatively low RRR, or the amount of money banks must set aside as reserves, for some small and medium-sized banks starting from May 15.
</p><p>	About 1,000 county-level rural commercial banks will enjoy a favorable RRR, unleashing long-term capital of about 280 billion yuan (41.4 billion U.S. dollars), which will be used as loans to private as well as micro and small enterprises, the People's Bank of China (PBOC) said in an online statement.
</p><p>	The cut was not only a timely move to ease the financing strain for smaller companies, but also an important step in optimizing the country's policy framework, in which financial institutions of different sizes and functions are subject to differentiated RRR, analysts said.
</p><p>	"Differentiated reserve requirement ratios will promote the healthy and stable development of small and medium-sized rural commercial banks and help form a multi-level banking system, bringing better service to private and small companies," said Dong Ximiao, deputy dean of Chongyang Institute for Financial Studies at Renmin University of China.
</p><p>	China has been increasingly relying on a variety of monetary tools to adjust liquidity rather than resorting to across-the-board interest rate cuts or RRR adjustments.
</p><p>	In a recent move, the central bank injected funds into the market via the targeted medium-term lending facility (TMLF), a tool introduced in December 2018 to encourage loans to small and private businesses.
</p><p>	"The operating environment of the small and medium enterprises (SME) has improved markedly since the beginning of this year, helped by supportive policy initiatives on multiple fronts," said investment banking firm CICC in a research report.
</p><p>	Lending to small and micro businesses surged 19.1 percent year on year to 10.05 trillion yuan by the end of the first quarter of this year, according to a PBOC report.
</p><p>	The recovery of SME sentiment and profitability will likely boost consumption growth and service sector capital expenditure from the second quarter of 2019 onwards, CICC said.
</p><p>	The targeted RRR cut Monday is an indication that China's monetary policy continues to hold a supportive stance towards economic growth, it said.
</p><p>	The cut will not be the end of structural adjustments, as the central bank has a wide range of choices in its monetary toolkit, including expanding the scale of eligible collateral for refinancing and increasing the use of TMLF, said Lian Ping, chief economist with the Bank of Communications.</p>"</body>
</html>