<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Shanghai Airlines stores Boeing 737 MAX in northern China: report
</h2>
<p class="one gray"> (Global Times)    16:08, May 07, 2019
</p>
<hr/><p>	Two months after China grounded the Boeing 737 MAX, four aircrafts of this model were shifted from airports in Shanghai to two cities in northern China for storage, media reports said on Monday.
</p><p>	On Monday morning, four Boeing 737 MAX jets of Shanghai Airlines landed in Lanzhou, Northwest China's Ningxia Hui Autonomous Region and Taiyuan, North China's Shanxi Province, domestic news site yicai.com said.
</p><p>	The Civil Aviation Administration of China ordered all domestic carriers to stop flying the Boeing 737 MAX on March 11, after one crashed in Ethiopia, killing 157 people.
</p><p>	Shanghai Airlines has 11 Boeing 737 MAX planes that are grounded and they will also fly to Taiyuan and Lanzhou for safe storage from Monday, the report said.
</p><p>	The adjustment is due to weather factors. As the rainy season is coming to Shanghai, and Taiyuan and Lanzhou are drier than the city, the shift was made to preserve the aircraft from possible corrosion, the report said.
</p><p>	The move is similar to Southwest Airlines of the US ferrying many of its Boeing 737 MAX jets to the Southern California Logistic Airport, which is in a desert, for storage.
</p><p>	A total of 96 Boeing 737 MAX planes have stopped flying in China, including 24 from China Southern Airlines, 15 from Air China and 10 from Xiamenair, according to the report.
</p><p>	As the grounding began after China's annual Spring Festival travel rush (Chunyun), which ended on March 1, and due to restricted flight capability, many domestic air carriers' revenue will not be heavily affected in the short term, the report said.
</p><p>	But as the number of Boeing 737 MAX accounts for a relatively large portion of transport capacity in the next two years, and if the problem remains unresolved until the peak season which begins after June, the capacity increase will be significantly constrained, according to a report from Industrial Securities. </p>"</body>
</html>