<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China pushes land reforms to narrow urban-rural divide
</h2>
<p class="one gray"> (Xinhua)    08:49, May 07, 2019
</p>
<hr/><p>	BEIJING, May 6 (Xinhua) -- China is pushing for steady progress toward its stated goal of building a unified market for urban and rural construction land for integrated development in cities and villages.
</p><p>	In guidelines released Sunday, Chinese authorities pledged to "basically" foster a unified urban-rural market for construction land, meaning land used for non-agricultural purposes, by 2022.
</p><p>	By 2035, such a unification should be "comprehensively in shape," according to the guidelines on integrated urban-rural development.
</p><p>	"Currently the land reforms have been piloted in some regions, and the roadmap and timetable for nationwide roll-out will depend on the pace of related revision of land management laws and top-level designs," said Liu Chunyu, an official with the National Development and Reform Commission, at a press briefing on Monday.
</p><p>	In China, urban land is owned by the state and rural land is normally under collective ownership. While gradual reforms saw the trading of urban land evolve into a vigorous property market that became a major growth driver, land in the countryside remains largely static.
</p><p>	To narrow the urban-rural divide and promote integrated development, the government has been taking gradual steps to build a fairer mechanism to allow market transactions of rural construction land.
</p><p>	While stressing orderly advancing of the reforms, Liu called for caution in the process to ensure that the red line of arable farmland is not to be crossed and the interests of the farmers not be hurt.
</p><p>	He also emphasized the importance of environmental protection in the unification move.
</p><p>	Since the 18th National Congress of the Communist Party of China (CPC), China has made great headway in advancing urbanization and balancing development between rural and urban areas. However, barriers hindering integrated urban-rural development still exist.
</p><p>	Sunday's guidelines are aimed at eradicating such barriers to promote rural revitalization and speed up the modernization of agriculture and rural areas.</p>"</body>
</html>