<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Tianjin strengthens ecological and wetland protection for green development
</h2>
<p class="one gray"> (Xinhua)    08:29, May 07, 2019
</p>
<hr/><p>
</p><p>	Tourists visit the Tianjin Garden during the "Tianjin Day" theme event at the Beijing International Horticultural Exhibition in Yanqing District, Beijing, capital of China, May 5, 2019. May 5 marks the opening of "Tianjin Day" theme event at the Beijing International Horticultural Exhibition in Beijing. The city strengthened ecological and wetland protection under the theme of "eco-friendly Tianjin, green development." (Xinhua/Ju Huanzong)</p>"</body>
</html>