<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China's digital economy reaches 31.3 trillion yuan in 2018
</h2>
<p class="one gray"> (Xinhua)    17:00, May 07, 2019
</p>
<hr/><p>
</p><p>Robots sort parcels at the sorting center of an express delivery company in Yingdong Economic Development Zone of Fuyang, east China's Anhui Province, Nov. 9, 2018. China's digital economy reached 31.3 trillion yuan (4.6 trillion U.S. dollars) in 2018, accounting for 34.8 percent of the country's total GDP, according to a report released by the Cyberspace Administration of China on Monday. Unveiled at the ongoing 2nd Digital China Summit in southeastern China's city of Fuzhou, the report shows that the country's innovation system was continuously improved, as the outstanding loans of China's enterprises on science and technology stood at 3.53 trillion yuan at the end of last year. Digital economy has fostered and strengthened the country's new drivers of development, with 31.63 trillion yuan of e-commerce trade volume and over 9 trillion yuan of online retail sales last year, as well as more than 600 million users of online payment, according to the report. (Xinhua/Wang Biao)
</p><p>	FUZHOU, May 6 (Xinhua) -- China's digital economy reached 31.3 trillion yuan (4.6 trillion U.S. dollars) in 2018, accounting for 34.8 percent of the country's total GDP, according to a report released by the Cyberspace Administration of China on Monday.
</p><p>	Unveiled at the ongoing 2nd Digital China Summit in southeastern China's city of Fuzhou, the report shows that the country's innovation system was continuously improved, as the outstanding loans of China's enterprises on science and technology stood at 3.53 trillion yuan at the end of last year.
</p><p>	Digital economy has fostered and strengthened the country's new drivers of development, with 31.63 trillion yuan of e-commerce trade volume and over 9 trillion yuan of online retail sales last year, as well as more than 600 million users of online payment, according to the report.
</p><p>	The report also shows that the added value of the country's manufacturing industry increased by 11.7 percent in 2018.
</p><p>	Moreover, data resources have become a core factor behind the development of digital economy, and information consumption has become a strong driving force for domestic demand and economic growth, according to the report.</p>"</body>
</html>