<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Alibaba crowned China's most valuable brand
</h2>
<p class="one gray"> (China Daily)    15:43, May 06, 2019
</p>
<hr/><p>
</p><p>The headquarters of private e-commerce giant Alibaba Group in Hangzhou, capital of Zhejiang province. [Photo by Niu Jing/For China Daily]
</p><p>	Despite China's slower economic growth and trade tensions with the US, the total value of the BrandZ Top 100 Most Valuable Chinese Brands rose 30 percent to $889.7 billion this year, the highest annual increase since the ranking launched in 2011, according to a recent report released in Beijing on Monday.
</p><p>	The annual BrandZ Top 100 Most Valuable Chinese Brands ranking, jointly prepared by advertising holding company WPP and its research firm Kantar Millward Brown, shows the growth was fuelled by brands accelerating their expansion into China's lower tier cities, which have seen rapid development and rising consumer buying power, and increasingly positive attitudes to Chinese consumer brands with a global presence.
</p><p>	Alibaba has been crowned the most valuable brand in China for the first time in the annual ranking, having grown its brand value by 59 percent year-on-year to $141 billion.
</p><p>	According to David Roth, CEO of WPP Global Retail Business, the threshold to enter the BrandZ China Top 100 has more than doubled from $311 million in 2018 to $681 million in 2019, demonstrating the continued pace of growth for Chinese brands increasingly recognized as leading the way in innovation, he said.
</p><p>	"Against a backdrop of heightened competition and disruption, building stronger brands is what it takes to stay in the game."
</p><p>	The digitization and sophistication of Chinese consumers is creating a unique marketplace of products and services available with unprecedented speed and convenience. Innovators in AI, e-commerce, new retail and social media perform performed strongly, according to the report.
</p><p>	The ranking serves as an economic forecaster for Chinese brands equity, as the increase of total Chinese brands demonstrates the ever growing Chinese economy, said Zong Ruixing, founder &CEO of CloudXink Technology, a consumer insight and marketing analytics.
</p><p>	"The key to further fueling the domestic brands also lies in entrance to the global stage instead of limiting itself in the domestic market, which requires a more tolerant culture and brand nurturing in the minds of its target consumers," he said.
</p><p>	"To blend in the international stage competing with the global peers remains the biggest challenge for the rapidly developing Chinese brands."
</p><p>	As many as 13 of the 24 categories increased in value, with entertainment seeing the largest year-on-year growth of 186 percent, followed by education (57 percent) and retail (55 percent). Technology accounted for the most brands in the Top 100 (11), contributing 26 percent of the ranking's total value and dominating the top 10 leaders in terms of overseas presence with six brands â double the number last year.
</p><p>	"Whether going abroad or expanding domestically, the potential for brand growth is huge for China's most valuable brands," said Doreen Wang, Global Head of BrandZ at Kantar.
</p><p>	"But realizing it requires the knowledge and expertise needed to surmount new challenges."</p>"</body>
</html>