<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese police bust cross-border online gambling gang
</h2>
<p class="one gray"> (Xinhua)    13:33, May 06, 2019
</p>
<hr/><p>	HEFEI, May 5 (Xinhua) -- Police in east China's Anhui Province have arrested seven people for organizing cross-border online gambling, which involves 2.1 billion yuan (around 312 million U.S. dollars).
</p><p>	In July 2018, a victim surnamed Wang reported to local police in Susong County that he had lost about 700,000 yuan on a sports betting website since November 2017.
</p><p>	After a thorough investigation, police traced the online gambling operation to Fengjie County of Chongqing Municipality in southwest China, where two suspects were arrested.
</p><p>	Another five, working as agents of the betting website, were arrested in different places including Chongqing Municipality, and the provinces of Zhejiang, Hubei, and Guangdong.
</p><p>	Police said the sports betting website was based in the Philippines, on which the betting amount could reach tens of millions of yuan per day. Around 10,000 people have signed up and participated in sports betting on the site since 2016.
</p><p>	Two suspects were sentenced to three years in prison and three years and two months respectively. Another five suspects will be sentenced by the court at a later date.</p>"</body>
</html>