<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China is catching up in all innovation indicators: report
</h2>
<p class="one gray"> (Xinhua)    10:59, April 09, 2019
</p>
<hr/><p>	WASHINGTON, April 8 (Xinhua) -- China is catching up with the United States in innovation, according to the indicators shown in an American think tank report released Monday.
</p><p>	China during the past decade has been closing gaps with the United States rapidly and now even leads the latter in some indicators, says the report published by Information Technology and Innovation Foundation (ITIF).
</p><p>	In 2017, China's investment in R&D was 33 percent less than that invested in the United States. But by 2017, China had significantly closed the gap by reaching 76 percent of U.S. levels and surpassing the EU, according to the report.
</p><p>	Chinese government institutions spent more on R&D as a share of GDP than the United States, going from 84 percent of the U.S. levels in 2007 to 119 percent in 2017.
</p><p>	Chinese venture capital markets were extremely small in 2006, at 3.7 percent of U.S. venture capital funding. But in 2016, venture capital firms in China provided half as much funding as the firms did in the United States.
</p><p>	China's research universities scored just 9.5 percent of that of the United States in 2009, but closed the gap to 28 percent by 2018, based on the Shanghai Academic Ranking of World Universities.
</p><p>	In 2004, Chinese articles were cited only 62 percent as frequently as the average article was cited globally in the three years following publication, compared with 141 percent for U.S. articles. By 2014, however, Chinese articles had nearly reached the global average, at 96 percent of the expected citations.
</p><p>	In 2006, the U.S. Patent and Trademark Office granted 1,066 Chinese patents, 1.2 percent of which went to U.S. inventors while in 2016, the number had risen to more than 11,000, the equivalent of 8 percent of U.S. patents.
</p><p>	Also, China's high-tech manufacturing value-added grew from 30 percent in 2006 to 77 percent in 2016. If this growth rate were to continue, China would exceed the United States in high-tech manufacturing value-added by 2020.
</p><p>	The report concludes that considering China a copier is misconception and China can and does innovate. The report's co-author Robert Atkinson, ITIF president, calls for an American national innovation and competitiveness strategy to maintain the country's leadership.</p>"</body>
</html>