<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Guangdong to 'sell' uninhabited islands
</h2>
<p class="one gray"> (Global Times)    08:32, May 06, 2019
</p>
<hr/><p>
</p><p>A marine surveillance officer notes down geographical information at a ruin on the Ganquan Island, an uninhabited island of the Xisha Islands in the South China Sea, March 11, 2013. (Xinhua/Wei Hua) 
</p><p>	South China's Guangdong Province has released a plan for "purchasing" its uninhabited islands for tourism, transportation, fishery or other uses.
</p><p>	According to Guangdong Provincial Department of Natural Resources, the measures aim to give the right of using these islands over to individuals, and anyone who wins the bidding should hand over a proposal for utilizing the island within two years.
</p><p>	The proposal will be reviewed and approved by government departments and experts.
</p><p>	The right to develop the uninhabited island will be granted for tourism, entertainment, transportation, industrial storage, fishery and other business purposes.
</p><p>	A total of 26 uninhabited islands in China were granted real estate registration certificates from 2011 to 2017, of which 25 were transferred by means of examination and approval, the Beijing Daily reported on Sunday. One was transferred by means of bidding, auction and listing.
</p><p>	East China's Zhejiang Province and South China's Hainan Province have issued similar rules for transfer of the use of uninhabited islands.
</p><p>	"Guangdong's new move will attract unlimited business opportunities," Zhang Jiangang, director of the department of Marine Politics and Strategy, Guangdong Ocean University, told the Global Times on Sunday.
</p><p>	In the list of China's first 176 uninhabited islands to be developed and utilized, Guangdong ranked first with 60 islands, according to a publication issued by the State Oceanic Administration in 2011.
</p><p>	Zhang said that Guangdong is rich in marine resources and better use of uninhabited islands can exploit this advantage and contribute to the development of tourism and the economy.
</p><p>	Chinese experts noted there are also questions, concerning the huge, sensitive initial investment, construction difficulty and long investment cycle. Without sufficient capital and supplier support, they said, the island tourism business cannot be sustained.
</p><p>	Owners are allowed to use the island for 50 years and it is uncertain whether they can recoup their investment.
</p><p>	In November 2011, Dayangyu island in Zhejiang Province, China's first uninhabited island, auctioned off to the public, was purchased by a Ningbo enterprise for 50 years for 20 million yuan ($2.98 million).
</p><p>	It has been positioned as a high-end leisure resort island focused on the yachting industry.
</p><p>	The island took nearly three years to start development with a planned investment of 500 million yuan. But initial construction hasn't been completed, according to Beijing Daily.
</p><p>	"Investors may face some challenges," said Zhang, noting that more efforts are needed for further development concerning environmental protection and sustainable development.</p>"</body>
</html>