<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Tourists splurge in May Day Holiday
</h2>
<p class="one gray"> (Xinhua)    08:24, May 06, 2019
</p>
<hr/><p>
</p><p>Passengers arrive at Fuzhou railway station in southeast China's Fujian Province, May 4, 2019. Fuzhou railway system witnesses a travel rush as the Labor Day holiday comes to an end. (Xinhua/Lin Shanchuan)
</p><p>	SHANGHAI, May 5 (Xinhua) -- Tourists logged 195 million domestic trips in China during the May Day holiday from Wednesday to Saturday, up 13.7 percent year on year.
</p><p>	And tourism revenue increased by 16.1 percent to hit 117.7 billion yuan (about 17.5 billion U.S. dollars) in the past four days, according to estimates given by the Ministry of Culture and Tourism.
</p><p>	Major online travel platforms have also observed trends in tourism upgrading. Travelers from 614 cities booked tours over the holiday to more than 90 countries through Ctrip, a Shanghai-based online travel agency.
</p><p>	The agency said tourists born between the years of 1980 to 1999 were the dominant-age groups. Most traveled with their children. Airline bookings for children accounted for 10 percent of Ctrip's overall flight bookings. Bookings for first-class flights were also 30 percent more during this year's holiday compared to last year.
</p><p>	Shanghai Municipal Administration of Culture and Tourism said 5.6 million travelers visited Shanghai's 161 tourism sites during the May Day holiday, 33 percent more visitors than the same period last year. Retailers and catering businesses raked in 4.7 billion yuan in sales in Shanghai from May 1-4, an increase of 15.5 percent year on year.
</p><p>	Dai Bin, president of China Tourism Academy, reckoned tourism splurge came as Chinese tourists had shown growing interest in leisure-making and cultural tours.
</p><p>	According to Lvmama, another Shanghai-based online travel agency, bookings for museums, ancient towns or destinations with cultural activities during the holiday were 20 percent more than last year. The Palace Museum, Du Fu Thatched Cottage Museum, the Shaanxi History Museum and Shenyang Imperial Palace Museum were among the top ten destinations for holiday travel.
</p><p>	Lvmama said bookings for tours by high-speed railways were up 38 percent year on year, mainly boosted by demand in east China's Yangtze River Delta region and the Pearl River Delta in the south.
</p><p>	Fine weather and blossoming flowers in spring have been a primary May Day holiday craze. To address demand, China's State Council upgraded this year's May Day holiday from a single to a four-day holiday, with April 28 and May 5 reset as working days.</p>"</body>
</html>