<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Peeling crayfish a new job in China
</h2>
<p class="one gray"> (People's Daily Online)    17:42, May 05, 2019
</p>
<hr/><p>
</p><p>	(Photo/Chinanews.com)
</p><p>	"Hello, friends, can you peel crayfish really fast? Are you the kind of person who doesn't want to eat crayfish after peeling them? If you are interested, we're hiringâ¦" The recent recruitment information posted by Alibaba's Hema stores has quickly sparked interest among Chinese citizens, Beijing Youth Daily reported on May 5.
</p><p>	In the middle of April, Alibaba's offline fresh food supermarket chain Hema Xiansheng began to recruit part-time employees for stores in Changsha, Wuhan, Beijing, and Shanghai, intending to hire people to peel the shells of crayfish for customers.
</p><p>	Except for basic requirements like having a health certificate, the job also requires job applicants to be able to resist the temptation of eating the delicious crayfish.
</p><p>	According to a credible source, there's a strict threshold for the job â only those who can peel off the shells of 1.5 kilograms of crayfish within 30 minutes would get the job. Moreover, these part-time workers are asked to work at least 4 hours a day, with wages paid according to their hours, ranging from 150 (about $22.28) to 200 yuan a day.
</p><p>	The "shell-peeling" service has been rolled out in some Hema stores in Beijing, Shanghai, Wuhan, and Changsha, providing convenience for those who love eating crayfish but hate peeling the crustaceans, which is a notoriously messy business.
</p><p>	In Beijing, some of the "shell peeling" service providers are young white-collar workers. "Some white-collar workers have enough spare time after they finish work, which enables them to work part-time in the evenings. Some people are not even doing this for the money, but for fun," said an executive of Hema Xiansheng.
</p><p>	The Hema stores charge customers 10 yuan per kilogram of crayfish for the "shell-peeling" service, with a maximum of 50 yuan for the additional service.
</p><p>	Between May and September is the peak season for enjoying crayfish in China. Statistics in 2018 revealed that Shanghai, which ranked first among the top 10 Chinese cities in terms of crayfish sales, consumed 1.7 million tonnes of crayfish in a single year.
</p><p>	The boom in China's Internet-based industries has created other new jobs, including running errands for others, taking care of pets when their owners are away, accompanying or training runners, tasting food for others, and professional "hotel test sleepers". </p>"</body>
</html>