<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Tourism, consumption boom during May Day holiday
</h2>
<p class="one gray"> (Chinadaily.com.cn)    14:37, May 05, 2019
</p>
<hr/><p>
</p><p>	People go shopping at a duty-free shop in Haikou, South China's Hainan province, May 2, 2019. [Photo/Xinhua]
</p><p>	China witnessed a tourism and consumption boom during the May Day holiday, running from May 1 to 4 around the country.
</p><p>	A total of 195 million domestic tourist trips were made during this year's four-day May Day holiday, up 13.7 percent from last year, statistics from the Ministry of Culture and Tourism revealed.
</p><p>	To cope with the travel rush, China Railway Shanghai Group Co assigned two more CR200J bullet trains to the Shanghai train depot, Xinhua reported.
</p><p>	During the holiday, tourism revenue reached 117.67 billion yuan ($17.48 billion), up 16.1 percent, the ministry said.
</p><p>	Family trips have become the highlight of the tourism sector, boosting cultural, recreation and dining consumption, and tourists stay an average of 2.25 days at their destinations, according to the ministry.</p>"</body>
</html>