<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinaâs national rail operator apologizes for train overloads at peak season
</h2>
<p class="one gray"> (Global Times)    09:10, May 05, 2019
</p>
<hr/><p>	China Railway Corporation (CRC), the country's top railway operator, apologized on Saturday for allowing passengers who bought short-distance tickets to travel farther, which led to overloading in some of the trains during the May Day holiday, with some passengers who bought tickets unable to get on the trains.
</p><p>	The national railway operator said it will open more trains in districts where there are transport capacity shortages during holidays while also working with relevant departments to include the behavior of "buying short and traveling long" into Chinese citizens' credit record.
</p><p>	The comment comes after some netizens in Zibo, East China's Shandong Province and Nanjing, capital of East China's Jiangsu Province, complained on China's social media platforms that they had bought train tickets to their hometowns in advance but were told by railway employees that they could not board the trains because of overloading, as some passengers who bought short-distance tickets paid for replacement tickets after getting on the train.
</p><p>	"The employee promised a full refund, but we have to cancel our travel plans," the China Central Television reported on Wednesday, quoting one of the netizens.
</p><p>	"Why do people who abide by the rules suffer losses while those who break the regulation take advantage of the losses and get what they want? In no way should rule-followers be punished, and this should be the bottom line of our society," some netizens said on Weibo.
</p><p>	As criticism mounted, CRC apologized on Saturday for the overloading problem in two trains which "caused trouble" for some passengers during the holiday. "We will arrange transportation work more scientifically and strengthen order controls to guide passengers to take trains in accordance with the tickets they bought," CRC said.
</p><p>	CRC's response also generated heated discussions. On Weibo, the topic had been read 48.79 million times and discussed 2,023 times as of 6pm on Saturday.
</p><p>	Some travelers could not buy a ticket to their destination during the peak travel season so they bought a ticket for a shorter distance and planned to disembark further and pay for it on board.
</p><p>	A Weibo user named Mengliren said that passengers' practice of "buying short and traveling long" is the result of the improper scheduling of trains by CRC.
</p><p>	"The measure is a good contingency plan for those who wished to change their destination at the last minute. But if you created a rule that allows replacement tickets and profited from it, you need to take responsibility for it rather than blame passengers."</p>"</body>
</html>