<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Post-1980s generation the major consumers of luxury goods in China
</h2>
<p class="one gray"> (Xinhua)    08:55, May 05, 2019
</p>
<hr/><p>	According to a recent report by the global consulting firm McKinsey, the post-1980s generations in China accounted for around 71 percent of the country's luxury goods purchases.
</p><p>	In 2018, Chinese people spent 770 billion yuan (about 114 billion U.S. dollars) on luxury goods.
</p><p>	Despite the popularity of online shopping, the report says that over 90 percent of the consumers of luxury goods bought them from brick-and-mortar stores in high-end shopping malls.
</p><p>	When contemplating their purchases, these young shoppers are not only thinking about the brand, but also the in-store experience and the availability of promotions.
</p><p>	As for how these consumers are paying for their high-end products, statistics by Bain & Company show that nearly 60 percent of the Chinese buyers aged 23 to 38 rely on money from their parents.
</p><p>	Consumers from China accounted for 33 percent of global luxury goods purchases in 2019, up from just 1 percent in the 2000. Spending by China's luxury shoppers may reach 1.2 trillion yuan (180 billion U.S. dollars) by 2025, according to Bain & Company.</p>"</body>
</html>