<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese youths mark May Fourth Movement centenary with performances
</h2>
<p class="one gray"> (Xinhua)    07:29, May 05, 2019
</p>
<hr/><p>	A TV gala marking the centenary of the May Fourth Movement in China will air in the evening this Saturday and Sunday.
</p><p>
</p><p>The anchors of a TV gala marking the centenary of the May Fourth Movement. [bjd.com.cn]
</p><p>	The gala, with Chinese college and middle school students and representatives of outstanding graduates as its main performers, was produced by a production center under the China Media Group with the guidance of the Communist Party of China Central Committee Publicity Department, the Ministry of Education and the Communist Youth League of China (CYLC) Central Committee.
</p><p>	The gala will honor revolutionary pioneers and patriotic scientists to encourage the younger generations to work hard in pursuing their dreams, according to the production team.
</p><p>
</p><p>ããChinese Singer,Zhang Yixing. [bjd.com.cn]
</p><p>	Saturday marks the centenary of the May Fourth Movement in China.
</p><p>	The movement is widely considered a great patriotic and revolutionary campaign pioneered by advanced young intellectuals and joined by people from all walks of life to resolutely fight imperialism and feudalism.
</p><p>	The movement has inspired the ambition and confidence of the Chinese people and nation to realize national rejuvenation.
</p><p>
</p><p>ããChinese singer,Wang Junkai. [bjd.com.cn]
</p><p>	Chinese youths on Saturday also marked the anniversary in various forms such as paying homage to revolutionary pioneers, leaders and martyrs at relevant memorial sites and staging dramas and other performances.
</p><p>	The CYLC Central Committee launched some commemoration activities online including online courses on the movement as well as documentaries and short films on relevant topics.</p>"</body>
</html>