<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China sees 195 mln domestic tourist trips during May Day holiday
</h2>
<p class="one gray"> (Xinhua)    07:29, May 05, 2019
</p>
<hr/><p>	China saw a total of 195 million domestic tourist trips made during the four-day May Day holiday, up 13.7 percent from last year, according to the Ministry of Culture and Tourism.
</p><p>
</p><p>Tourists visit the Changshou Mountain scenic spot in Zhulin Township of Gongyi, central China's Henan Province, May 3, 2019. [Photo: Xinhua/Feng Dapeng]
</p><p>	Tourism revenue reached 117.67 billion yuan (about 17.48 billion U.S. dollars) during the holiday which lasts from Wednesday to Saturday, up 16.1 percent, according to the ministry.
</p><p>	Statistics show that family trips have become the highlights of the tourism sector, boosting cultural, recreation and catering consumption.
</p><p>	Tourists stay an average of 2.25 days at their destinations, according to the ministry.</p>"</body>
</html>