<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Transportation system witnesses travel rush as Labor Day holiday ends
</h2>
<p class="one gray"> (Xinhua)    07:27, May 05, 2019
</p>
<hr/><p>
</p><p>	Passengers board the train at Changsha railway station in central China's Hunan Province, May 4, 2019. Changsha railway system witnesses a travel rush as the Labor Day holiday comes to an end. (Xinhua/Chen Zeguo)</p>"</body>
</html>