<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Two more CR200J bullet trains assigned to Shanghai train depot to cope with travel rush
</h2>
<p class="one gray"> (Xinhua)    07:27, May 05, 2019
</p>
<hr/><p>
</p><p>	Photo taken on May 4, 2019 shows a Fuxing bullet train at the Shanghai South Railway Station in Shanghai, east China. Two more CR200J bullet trains are assigned to Shanghai train depot by China Railway Shanghai Group Co. to cope with the travel rush during the May Day national holiday. (Xinhua/Fang Zhe)</p>"</body>
</html>