<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Tencent Global Digital Ecosystem Summit held in Kunming
</h2>
<p class="one gray"> (Xinhua)    10:24, May 22, 2019
</p>
<hr/><p>
</p><p>	People learn to use smart devices during the Tencent Global Digital Ecosystem Summit at Dianchi International Convention and Exhibition Center in Kunming, southwest China's Yunnan Province, on May 21, 2019. (Xinhua/Qin Qing)</p>"</body>
</html>