<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China Telecom, BAIC Group team up on 5G to build ICV ecosystem
</h2>
<p class="one gray"> (Xinhua)    10:40, May 21, 2019
</p>
<hr/><p>	BEIJING, May 20 (Xinhua) -- China Telecom has inked a strategic partnership with BAIC Group to jointly build an intelligent connected vehicle (ICV) ecosystem, according to the State-owned Assets Supervision and Administration Commission on Monday.
</p><p>	The state-owned telecommunications company and the Beijing-based automaker aim to construct an ecosystem for ICVs through collaboration in 5G, intelligent networking, smart logistics, new retail, data communications technology and information infrastructure.
</p><p>	Apart from technology collaboration, the two companies will further enhance financial cooperation such as developing investment and financial businesses by participating in each other's initiatives to absorb investors and setting up a fund, the agreement said.
</p><p>	The two sides have also planned to carry out the 5G-based queue tests for autonomous vehicles during the 2019 Beijing International Horticultural Exhibition that is being held until Oct.7.
</p><p>	China Telecom, China Mobile and China Unicom, the country's three telecommunications giants, are reported to have an investment budget of 34.2 billion yuan (4.95 billion U.S. dollars) for 5G infrastructure construction in 2019.</p>"</body>
</html>