<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>US trade blacklist limits Huawei's Android use
</h2>
<p class="one gray"> (Chinadaily.com.cn)    13:12, May 20, 2019
</p>
<hr/><p>	Huawei can only use an open-source version of Google's Android system after the US trade blacklist, according to a Reuters report on Sunday.
</p><p>	The report said Google has suspended business with Huawei requiring the transfer of hardware, software and technical services, except those with open-source licenses publicly available.
</p><p>	Google China replied via email that the company is "complying with the order and reviewing the implications", The Beijing News said.
</p><p>	Updates for the Android operating system will be unavailable to Huawei smartphones that run on the system, and future versions of the company's handsets will not be able to use services from Google, including the Google Play Store, Gmail and YouTube apps, which are not covered by the open-source license and require a commercial agreement with Google, according to the Reuters report.
</p><p>	Huawei's existing users who have access to the Google Play Store will still be able to download app updates provided by Google.
</p><p>	Huawei said it has been preparing a contingency plan for such a block to Android by developing its own technology, and some of its technology is already being used in products sold in China, said the report.
</p><p>	The impact is limited in the Chinese market, as most of Google's services have alternatives offered by domestic competitors like Tencent and Baidu.
</p><p>	However, Huawei's European market could be affected as Huawei licenses these services from Google in Europe.</p>"</body>
</html>