<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>NASA selects 11 private companies to make lunar lander
</h2>
<p class="one gray"> (Xinhua)    10:46, May 17, 2019
</p>
<hr/><p>	WASHINGTON, May 16 (Xinhua) -- The U.S. space agency NASA said on Thursday it had selected 11 private companies to conduct studies and produce prototypes of human landers for its lunar exploration program.
</p><p>	The program is expected to put American astronauts including the first woman on the Moon's south pole by 2024 and establish sustainable missions by 2028.
</p><p>	Among those selected companies are SpaceX, Boeing, Lockheed Martin, Northrop Grumman and Blue Origin, many of which have already been NASA's contractors.
</p><p>	Jeff Bezos, founder of U.S. aerospace manufacturer Blue Origin and chairman of Amazon, on May 9 unveiled a lunar lander that may land on the Moon by 2024.
</p><p>	The lander is a flexible lander which is able to provide precise and soft landings and eventually enable a sustained human presence on the Moon, according to Blue Origin.
</p><p>	These companies are required to study or develop prototypes during the next six months that reduce schedule risk for the descent, transfer, and refueling elements of a potential human landing system, according to NASA.
</p><p>	NASA proposed to transport astronauts in a human landing system from a transfer station called Gateway to low-lunar orbit, using a descent element to carry them to the surface and an ascent element to return to them to the Gateway.
</p><p>	The total award amount for all companies is 45.5 million U.S. dollars and companies will contribute at least 20 percent of the total project cost, according to NASA.</p>"</body>
</html>