<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Microsoft opens largest AI &IoT lab in Shanghai
</h2>
<p class="one gray"> (Xinhua)    07:19, May 17, 2019
</p>
<hr/><p>	Microsoft Corporation has established an Artificial Intelligence and Internet of Things Insider Lab in Shanghai to aid digital transformation across industries.
</p><p>	Located in a 2,800-square-meter building in the Zhangjiang Hi-Tech Park of the Pudong New Area, the lab, which began operation Wednesday, is established in partnership with the state-run Zhangjiang Group. It is the fourth and also the largest such lab run by Microsoft around the world.
</p><p>	Microsoft said the lab provides "all-around support" for enterprises inside and taps into the Internet of Things and AI technologies to fuel the digital transformation taking place across industries, including manufacturing, retail, healthcare, finance and urban construction.
</p><p>	Thirty Chinese and foreign businesses have been selected out of some 300 applicants as the first batch of "enterprises of empowerment" in the lab. They include both start-ups, among which 21 are based in Shanghai, and multinational corporations, such as ABB Engineering (Shanghai) Ltd. and Pan Asia Technical Automotive Center Co., Ltd.
</p><p>	The lab will provide support for the enterprises in the next three to six months, offering hardware and software resources, cloud service and access to the Microsoft ecosystem, according to Microsoft.
</p><p>	"The combination and application of AI and Internet of Things technologies are becoming the latest trends leading global digital transformation," Alain Crozier, Microsoft corporate vice president, chairman and CEO of Greater China Region, said at a launch ceremony held Wednesday.
</p><p>	"A survey indicates that global Internet of Things business will exceed 255 billion U.S. dollars in 2022, and China will occupy nearly a quarter of it, which means a market with huge potentials," he said, adding that the lab aims to help enterprises "win market opportunities brought by the technology innovations."
</p><p>	The three other Microsoft AI &IoT Insider Labs are located in Redmond of Washington, Shenzhen of China and Munich of Germany.</p>"</body>
</html>