<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>State Council stresses policy implementation, optimizing business environment
</h2>
<p class="one gray"> (Xinhua)    13:17, May 07, 2019
</p>
<hr/><p>	BEIJING, May 6 (Xinhua) -- A State Council executive meeting has called for greater efforts to clarify policy measures and further improve the business environment.
</p><p>	All expressway toll booths at provincial borders will be removed by the end of this year to facilitate improved traffic and boost logistics efficiency, according to a statement issued after the Sunday meeting chaired by Premier Li Keqiang.
</p><p>	China will enhance modernizing its expressways and promote the popularization of the electronic toll collection system, according to the statement.
</p><p>	The country will also optimize the tolling of freight vehicles without increasing their overall expenditure burdens and the reduction of transportation fees of fresh agricultural products, said the statement.
</p><p>	In recent years, China has deepened reforms that delegate power, improved regulation and upgraded services, largely cutting the certification items and optimizing the business environment.
</p><p>	The government services and business environment should be further optimized by cutting and standardizing certification items through system innovation, the statement said.
</p><p>	China will continue to abolish some unwarranted certification items, focus on establishing a system of pre-commitment of qualification and promote the building of a credit-based society.
</p><p>	It was decided at the meeting the pre-commitment of the qualification system will be piloted in 13 provinces and municipalities, including Tianjin, Liaoning, Shanghai and Guangdong, and in five ministries, including the Ministry of Public Security, Ministry of Justice and the Ministry of Human Resources and Social Security.
</p><p>	The meeting also heard a work report on preventing and treating occupational diseases, stressing more efforts on safeguarding employees' health.
</p><p>	China will strengthen the supervision and law enforcement regarding occupational health, severely punish illegal behaviors, and establish and improve the prevention and treatment system of occupational diseases, according to the statement.</p>"</body>
</html>