<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Xi sends congratulatory letter to int'l conference on AI, education
</h2>
<p class="one gray"> (Xinhua)    13:23, May 16, 2019
</p>
<hr/><p>	BEIJING, May 16 (Xinhua) -- President Xi Jinping sent a congratulatory letter to the International Conference on Artificial Intelligence and Education.
</p><p>	The conference opened in Beijing on Thursday.</p>"</body>
</html>