<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China to build new national supercomputing center
</h2>
<p class="one gray"> (Xinhua)    21:02, May 15, 2019
</p>
<hr/><p>	BEIJING, May 15 (Xinhua) -- China will construct a new National Supercomputer Center in Zhengzhou, central China's Henan Province, according to Science and Technology Daily on Wednesday.
</p><p>	It will be China's seventh national supercomputer center. The others are in the cities of Tianjin, Jinan, Changsha, Shenzhen, Guangzhou and Wuxi.
</p><p>	The construction of the new supercomputing center is scheduled to be finished in 2020. It will be capable of performing 100 petaflops per second.
</p><p>	Constructed and operated by Zhengzhou University, the new supercomputing center will develop applications in artificial intelligence, equipment manufacturing, precision medicine and biological breeding, said the newspaper.</p>"</body>
</html>