<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>5G and AI-based system contributes to smarter bus traffic in Chengdu
</h2>
<p class="one gray"> (CRI Online)    14:36, April 05, 2019
</p>
<hr/><p>	A new system backed by 5G networks and AI technology is contributing to smarter bus transportation in Sichuan's provincial capital Chengdu, reports Sichuan News Online.
</p><p>	A new system tracks passenger flows in real-time, and uploads the data to a central platform using a 5G network. The bus operator can then use this data to more accurately and efficiently dispatch buses. It can also detect improper behavior by drivers and passengers using cameras mounted in the buses, and raise an alert with the bus operator.
</p><p>	The system is said to be the first of its kind in China. It is the result of collaboration between Chengdu Public Transport Group, China Telecom, and Huawei as part of the development of the Jinsha public transportation hub, believed to be the largest of its kind in China. China National Radio reports that the hub can accommodate at least 5,600 passengers at any one time, and allows for a seamless connection between subway, bus, and Bus Rapid Transit services.
</p><p>	Free 5G coverage will be available throughout the transport hub, and passengers will be able to use</p>"</body>
</html>