<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese scientists improve the performance of wound dressings
</h2>
<p class="one gray"> (Xinhua)    15:08, April 03, 2019
</p>
<hr/><p>	BEIJING, April 3 (Xinhua) -- Chinese scientists have designed a new method to improve wound dressings by enhancing their capacity for promoting blood coagulation and wound healing.
</p><p>	Effective bleeding control and wound healing are very important and can be lifesaving. However, traditional wound dressings with structural and functional defects are relatively weak in controlling bleeding and promoting regeneration of functional tissues.
</p><p>	Scientists from the Institute of Biophysics under the Chinese Academy of Sciences and the University of Science and Technology Beijing have changed the traditional structure of wound dressings by creating a kind of sponge with a three-dimensional layered nanofiber sponge.
</p><p>	This sponge has a layered nanofiber structure, which increases the inter-facial interaction between the sponge and blood cells to control bleeding.
</p><p>	It is both highly compressible and resilient, providing tamponade for deep wounds and creating a dynamic microenvironment to regulate cellular behavior.
</p><p>	Experiments using model mice with skin defects have shown that the sponge could effectively accelerate wound healing and reduce scar formation.
</p><p>	The research was published online in the journal Biomaterials.</p>"</body>
</html>