<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese deep space research leads to deeper international cooperation
</h2>
<p class="one gray"> (Xinhua)    09:40, May 08, 2019
</p>
<hr/><p>	BEIJING, May 7 (Xinhua) -- Chinese space experts have strengthened international exchanges in the latest achievements in exploring the moon, Mars, Jupiter, asteroids and the deeper cosmos.
</p><p>	While developing the Chang'e-5 and Chang'e-6 lunar probes and China's first Mars probe, China Academy of Space Technology (CAST) is also pushing forward space programs such as the planned unmanned lunar research station, and probing asteroids, Mars, the Jovian system and the edge of the solar system, as well as interplanetary exploration, said experts from CAST.
</p><p>	They were speaking to more than 370 experts from both at home and abroad in Beijing at a recent international symposium on lunar and deep space exploration.
</p><p>	Deng Zongquan, an academician of the Chinese Academy of Engineering and a professor with the Harbin Institute of Technology, introduced many creative ideas at the symposium on designing future probes and rovers for exploring the moon and Mars.
</p><p>	The design of the future lunar and Mars rovers could be different from the six-wheeled lunar rovers, Yutu and Yutu-2, already sent onto the moon, Deng said.
</p><p>	Four-wheeled and eight-wheeled rovers also have advantages. For instance, the eight-wheeled rover could have a better carrying capacity and be used in building lunar scientific research station, Deng said.
</p><p>	Chinese experts are also developing drilling technology and research on ice detection methods on the moon, he said.
</p><p>	China recently unveiled its plan to explore an asteroid and a comet, inviting scientists around the world to participate.
</p><p>	The mission will involve exploring a near-Earth asteroid, named 2016HO3, and a main-belt comet, named 133P, according to the China National Space Administration.
</p><p>	Huang Jiangchuan, a researcher from CAST and chief designer of China's Chang'e-2 probe, said China's first asteroid probe is expected to be launched before 2025.
</p><p>	He said the scientific objective of the exploration includes studying the formulation and evolution of the solar system, the role of near-Earth asteroid and main-belt comet impacts on the origin of life, and the solar system small bodies dynamics formation.
</p><p>	The target 2016HO3 has a very close relationship with Earth and is called as a "mini moon" or a quasi satellite of the earth, said Huang.
</p><p>	"Where is it from? What's its relationship with the earth and moon? Those are questions we want to know," he said.
</p><p>	The second detection target of the mission, the comet 133P, probably contains water based on observation on Earth, and the exploration will help study its volatilization mechanism.
</p><p>	"We are facing great technological challenges in exploring asteroids and comets due to the little understanding about their detailed features and high uncertainty," he added.
</p><p>	"Compared with Japan, Europe and the United States, China is a latecomer in the exploration of asteroids and comets. We need to go faster, and we hope the mission will have multiple goals and can satisfy scientists' curiosity," said Huang.
</p><p>	Over the past few years, CAST has been working on the mission design, and key technologies of asteroid exploration through self-funded projects, Huang said.
</p><p>	"Due to the technology complexity, vast investment and high risks, CAST is willing to cooperate with other institutes in various ways and jointly conduct international deep space exploration for the benefit of humanity," said Huang.
</p><p>	"There are so many small bodies like asteroids and comets in space, but only a few have been detected. The exploration could help us prevent threat from them to the earth, as well as exploit their resources," Huang said.
</p><p>	Athena Coustenis, an astrophysicist from the Paris Observatory, said at the symposium that European scientists have a strong interest in collaborating with China on the asteroid exploration mission.</p>"</body>
</html>