<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>5G technology turns operating room into surgery demonstration area
</h2>
<p class="one gray"> (People's Daily Online)    13:58, April 03, 2019
</p>
<hr/><p>
</p><p>	(Southcn.com/Gao Long, Zhu Jian)
</p><p>	A hospital in Guangzhou, capital of southern Chinaâs Guangdong province, recently carried out a chest surgery using 5G technology, marking the first time that 5G has been used in this way in the province.
</p><p>	The operation, connected live to another hospital in northern Guangdongâs remote Yangshan county with 4K HD cameras, boosted the application of advanced 5G technology in medical practice.
</p><p>	Wang Wenlin, a chest surgery expert at Guangdong No.2 Provincial Peopleâs Hospital, led the surgery, which was seen as a demonstration for doctors at the Yangshan-based hospital.
</p><p>	With the help of 5G technology, the surgical technique will help more doctors carry out similar operations, Wang said.
</p><p>	Wang visited over 20 hospitals across China last year to introduce his surgical techniques for chest deformities. Now, 5G-based live streaming can better promote his method and therefore benefit more patients.
</p><p>	Before the surgery, Guangdong No. 2 Provincial Peopleâs Hospital had signed a cooperation document with China Telecom Corporation Limited Guangzhou branch and Huawei Technologies Co., Ltd. to form a 5G-based smart medical service system.
</p><p>	Tian Junzhang, head of Guangdong No.2 Provincial Peopleâs Hospital, said that the hospital would take the lead to become a pilot hospital for 5G applications in the province and offer more remote demonstrations of surgeries under the 5G network.</p>"</body>
</html>