<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Huawei plans cloud computing nodes in Brazil and Chile
</h2>
<p class="one gray">By Ma Si (China Daily)    09:53, April 03, 2019
</p>
<hr/><p>
</p><p>Visitors learn about Huawei Technologies Co's cloud service products during an industry expo in Wuzhen, Zhejiang province. [Photo by Zhu Xingxin/China Daily]
</p><p>	Huawei Technologies Co will soon build cloud computing nodes or availability zones in Brazil and Chile, as part of the Chinese technology giant' efforts to expand its presence in the global cloud arena.
</p><p>	Zheng Yelai, president of Huawei's cloud business, said the Shenzhen-based company has been partnering with Spanish telecom carrier, Telefonica, to operate cloud services in Latin America, but as Huawei's consumer business, including smartphones, is becoming increasingly popular in that region, it has decided to build its own cloud computing nodes.
</p><p>	"We have had a fabulous performance in foreign countries. By the end of this year, Huawei Cloud's overseas performance is likely to exceed that of other Chinese cloud service providers," Zheng said, without providing more details.
</p><p>	According to him, the company now has a sound cloud infrastructure in the Asia-Pacific region, with three availability zones in Singapore, three in Hong Kong and two in Thailand.
</p><p>	The comments came after Huawei officially started operating public cloud services in South Africa in December. It is deploying a regional data center in Johannesburg, from which its cloud services can cover neighboring countries and regions. More data centers are also in the pipeline to extend its reach across the continent.
</p><p>	In Europe, Huawei is also partnering with local telecom carriers such as Orange SA to offer cloud services or build up their public cloud capabilities with the help of Huawei technology.
</p><p>	Huawei is the world's largest telecom equipment maker and a leading smartphone maker. Its products and services are already available in more than 170 countries and regions. "We are leveraging our years of partnership with foreign telecom carriers to better localize our cloud services," Zheng said.
</p><p>	Huawei has been working hard to beef up its competence. By the end of 2018, it has developed more than 160 cloud services and 140 solutions for a wide range of sectors, which according to Zheng enables Huawei Cloud to cater to varied market demands.
</p><p>	The global public cloud market will surge to $206.2 billion in 2019, rising 17 percent year-on-year from the expected $175.8 billion in 2018, market research company Gartner Inc forecast.
</p><p>	Chinese companies Alibaba Group Holding Ltd and Tencent Holdings Ltd are also working hard to build more overseas cloud computing nodes, to compete with global giants including Amazon.com Inc and Microsoft Corp.
</p><p>	Charlie Dai, principal analyst at market research company Forrester, said the company's latest report found that in the third quarter of 2018, Huawei has executed a visionary product strategy that enabled it to take the top slot in China.
</p><p>	In the global market, Huawei is strategically opening up new regions and cloud services, aiming to strike the right balance between its partnership with global telecommunication providers and its own cloud operations expansion, Dai said.</p>"</body>
</html>