<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese researchers identified gene mutations of female infertility
</h2>
<p class="one gray"> (Xinhua)    16:21, April 02, 2019
</p>
<hr/><p>	SHANGHAI, April 2 (Xinhua) -- Many women are unable to conceive and deliver a baby due to genetic problems caused by inherited chromosome abnormalities or single-gene defects. Chinese researchers have recently made a breakthrough in discovering the phenotypes and genes responsible for female infertility.
</p><p>	Phenotypes are the observable properties of the human body. Researchers from Fudan University in Shanghai and Shanghai Jiao Tong University identified four Chinese families with inherited female infertility and found a similar phenotype that their oocytes, or female reproductive cells, died before fertilization or within 20 to 30 hours after fertilization with sperm.
</p><p>	To understand the genetic cause behind the phenotype, they focused on the Pannexin 1, a protein in humans that is encoded by the gene PANX1.
</p><p>	Pannexins are a protein family that plays an essential role in cell-to-cell communication. Millions of cells communicate and work together to perform important bodily processes that are necessary for survival.
</p><p>	Identified more than a decade ago, PANX1 is involved in inflammation, infection, and cancer progression. However, previously there was no convincing evidence to show mutations in this gene responsible for any human diseases.
</p><p>	In frog and mouse models, researchers of the study discovered four mutations in PANX1 that are associated with such reproductive cell death.
</p><p>	Researchers named the phenotype as "oocyte death" and identified it as a new Mendelian disease, a genetic disorder caused by a mutation in a single gene.
</p><p>	The findings were published in the journal Science Translational Medicine.
</p><p>	Sang Qing, the lead researcher, said the study has provided an explanation for an inherited form of female infertility and suggested a potential target for treatment of this disease.</p>"</body>
</html>