<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>High-level business to business energy forum held in Brussels, Belgium
</h2>
<p class="one gray"> (Xinhua)    09:40, May 05, 2019
</p>
<hr/><p>
</p><p>	Miguel Arias Canete, European Commissioner in charge of Climate Action and Energy, speaks to the press during a high-level business to business energy forum at the the European Commission in Brussels, Belgium, May 2, 2019. (Xinhua/Zheng Huansong)</p>"</body>
</html>