<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Apple, in rare reversal, pulls plug on wireless charging mat
</h2>
<p class="one gray"> (China Daily)    13:56, March 30, 2019
</p>
<hr/><p>	Apple Inc on Friday said it is canceling the AirPower wireless charging mat that the company announced in 2017 on the same day as its iPhone X, a rare public retreat for the gadget maker known for splashy product launches.
</p><p>	The mat was intended to wirelessly charge up to three Apple products at once, such as an iPhone, Apple Watch and AirPods wireless headphones.
</p><p>	While wireless charging has spread through the gadget industry, charging three devices at once with higher wattage "fast charging" has proved challenging. Furniture seller Ikea, for example, sells a $60 matt that can handle three phones but it only features slower 5-watt charging.
</p><p>	In a statement, Apple said that it had concluded that its AirPower mat "will not achieve our high standards."
</p><p>	"We apologize to those customers who were looking forward to this launch," Dan Riccio, Appleâs senior vice president of Hardware Engineering, said in the statement. "We continue to believe that the future is wireless and are committed to push the wireless experience forward."
</p><p>	The announcement was a rare move for Apple, known in the electronics industry for keeping tight wraps on product plans until it publicly launches them at splashy events in Silicon Valley. The early announcement of AirPower, along with a wirelessly charged version of its AirPods headphones, was a break in that tradition. Apple released the updated AirPods last week, heightening speculation that the accompanying charging mat would come soon.
</p><p>	Daring Fireball, a website that covers Apple news, previously reported that Apple engineers had issues with devices overheating on the AirPower pad. Apple declined to comment beyond its statement on the project.
</p><p>	Apple offered wireless charging in the iPhone in 2017, after many of its rivals such as Samsung Electronics Co Ltd had offered the feature for several years. While rumors circulated that Apple might create its own unique wireless charging technology, the company instead chose to use a system that works with Qi, an open industry standard already in use by Samsung and others.
</p><p>	Apple shares did not move on the news, and shares of NXP Semiconductors and STMicroelectronics, two major suppliers of chips used in Qi systems, appeared to be unaffected also.</p>"</body>
</html>