<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>U.S. researchers find new evidence of deep groundwater on Mars
</h2>
<p class="one gray"> (Xinhua)    10:16, March 30, 2019
</p>
<hr/><p>	LOS ANGELES, March 29 (Xinhua) -- A new study suggested that deep groundwater could still be active on Mars and could the origin point of surface streams in some near-equatorial areas on the red planet.
</p><p>	The researchers at the University of Southern California (USC) have determined that groundwater likely exists in a broader geographical area than just the poles of Mars, and that there is an active system, as deep as 750 meters, from which groundwater comes to the surface through cracks in the specific craters they analyzed.
</p><p>	According to the study published on Thursday in Nature Geoscience, fractures within some of Mars' craters enabled water springs to rise up to the surface as a result of pressure deep below.
</p><p>	These springs leaked onto the surface, generating the sharp and distinct linear features found on the walls of those craters.
</p><p>	The study also suggested that groundwater might be deeper than previously thought in areas where such streams are observed on Mars. The exposed part of these ground fractures associated with these springs as the primary location candidates to explore Mars' habitability.
</p><p>	"Understanding Mars' evolution is crucial for understanding our own earth's long-term evolution and groundwater is a key element in this process," said USC research scientist Essam Heggy, also a member of MARSIS, a Mars subsurface sounding radar experiment.</p>"</body>
</html>