<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Global automakers are optimistic about Chinese market
</h2>
<p class="one gray"> (People's Daily Online)    16:25, March 29, 2019
</p>
<hr/><p>
</p><p>Photo shows a Nissan EV concept vehicle IMs at the 2019 North American International Auto Show (NAIAS). (Xinhua/Wang Ping)
</p><p>	Multiple transnational automobile enterprises have said that China is the most promising auto market in the world, and they will make China a priority in the future.
</p><p>	Recently, Chinaâs National Development and Reform Commission and Ministry of Finance issued a slew of policies to improve financial subsidies for new energy vehicles (NEV), further boosting the confidence of NEV makers and injecting energy into the future development of the auto market.
</p><p>	Moreover, carmakers including BAIC Motor, FAW-Volkswagen and SAIC Volkswagen have also implemented measures to spur auto consumption.
</p><p>	Thanks to these policies and measures, the industry is still optimistic about auto market development in 2019, especially when it comes to major transnational automakers.
</p><p>	Dieter Zetsche, Chairman of the Board of Management of Daimler AG and Head of Mercedes-Benz Cars, noted that China has grown into one of the major forces that power global economic growth, and it is a vital strategic market for industries including the auto sector.
</p><p>	The sales volume of Mercedes-Benz passenger vehicles in China was higher than the total of those in Germany and the US combined, revealed Hubertus Troska, member of the Board of Management of Daimler AG.
</p><p>	No matter how the market evolves in the future, Daimler plans to attach more importance to the Chinese market, Troska said.
</p><p>	Apart from Daimler, international carmakers such as BMW, Volkswagen, Toyota and Nissan have all placed high importance on the Chinese market.
</p><p>	They are also expanding their investment in China, hoping to gain an edge in the fierce competition.
</p><p>	As the largest single market of BMW, China is the most significant force propelling the electrification and strategic transition of the company, said Harald Kruger, chairman of the board of management for BMW.
</p><p>	Statistics from the China Association of Automobile Manufacturers indicated that NEV production and sales maintained rapid growth in the first two months of 2019, in contrast with the sluggish trend of the vehicle market.
</p><p>	Production and sales grew by 83.5 percent and 98.9 percent respectively from the previous year. </p>"</body>
</html>