<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China, U.S. hold 10th round of high-level trade consultations in Beijing
</h2>
<p class="one gray"> (Xinhua)    08:32, May 05, 2019
</p>
<hr/><p>
</p><p>	This combo photo shows Chinese Vice Premier Liu He, who is also a member of the Political Bureau of the Communist Party of China Central Committee and chief of the Chinese side of the China-U.S. comprehensive economic dialogue, posing for photos with U.S. Trade Representative Robert Lighthizer and Treasury Secretary Steven Mnuchin. They held the tenth round of China-U.S. high-level economic and trade consultations in Beijing from April 30, 2019 to May 1, 2019. (Xinhua/Shen Hong, Zhai Jianlan)
</p><p>	BEIJING, May 1 (Xinhua) -- Chinese Vice Premier Liu He, U.S. Trade Representative Robert Lighthizer and Treasury Secretary Steven Mnuchin held the tenth round of China-U.S. high-level economic and trade consultations in Beijing from Tuesday to Wednesday.
</p><p>	As planned, the two sides will hold the 11th round of high-level economic and trade consultations in Washington D.C. next week.
</p><p>	Liu is also a member of the Political Bureau of the Communist Party of China Central Committee and chief of the Chinese side of the China-U.S. comprehensive economic dialogue.</p>"</body>
</html>