<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China's first cloned police dog receives training in Yunnan
</h2>
<p class="one gray"> (Xinhua)    10:10, March 24, 2019
</p>
<hr/><p>
</p><p>	Undated file photo shows police dog Huahuangma. Three-month-old Kunxun arrived at Kunming Police Dog Base from Beijing earlier this month to receive training. Kunxun was born in December 2018 in Beijing at a healthy condition with 540 grams in weight and 23 centimeters in length. Kunxun was cloned from a 7-year-old female police dog named Huahuangma, which is considered a great detective dog. According to a test by a institution, Kunxun's DNA is over 99.9 percent identical to that of Huahuangma. (Xinhua)</p>"</body>
</html>