<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Aerial view of China's first Mars simulation base
</h2>
<p class="one gray"> ()    08:24, May 07, 2019
</p>
<hr/><p>
</p><p>	A picture taken with a drone shows an aerial view of the C-Space Project, a Mars simulation base in the Gobi Desert in Jinchang, Gansu Province, China. The C-Space Project Mars Base opened officially on 17 April 2019 with the aim to educate and provide an environment for youths and tourists to experience life on planet Mars. The base occupying an area of 11,996 square feet is situated about 40 kilometers from the town of Jinchang in the Gobi Desert. The location is chosen to simulate the landscape and harsh conditions of living on Mars as much as possible. (Photo/China News Service)</p>"</body>
</html>