<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>AI, big data to bring more jobs in China: report
</h2>
<p class="one gray"> (Xinhua)    09:38, March 23, 2019
</p>
<hr/><p>	SHANGHAI, March 22 -- Rapid development of technologies such as artificial intelligence, big data and cloud computing in China will help create more job opportunities, according to a report released Friday.
</p><p>	The report by recruitment agency Michael Page China said China's technological boom has led to increasing demand for local specialists, especially those in middle and senior management.
</p><p>	The report also showed that an increasing number of firms in China are attaching greater importance to the candidate's data analysis capacity.
</p><p>	Mark Tibbatts, managing director of Michael Page Greater China, said because many firms are basing their decision making on data, they have shown a growing demand for talent in data analysis and strategic communication.
</p><p>	The number of jobs in digital marketing has increased by 30 percent in the past 12 months, and employees in the sector can expect a salary increase of up to 30 percent when changing jobs, according to the report.
</p><p>	Tibbatts said that given the intense competition over local talent, firms in China need to emphasize their corporate culture and provide clear career paths to attract the cream of the crop.
</p><p>	Another recent survey by Michael Page China showed that 69 percent of job seekers consider personal development a key factor in job hunting, and 70 percent regard the opportunity to learn new skills and experience as the primary motivation for switching jobs.</p>"</body>
</html>