<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese AI company announces breakthrough in 3D human reconstruction technology
</h2>
<p class="one gray"> (People's Daily Overseas New Media)    11:06, March 22, 2019
</p>
<hr/><p>
</p><p>	Photo via The Paper
</p><p>	A Chinese AI company affiliated with the Chinese Academy of Sciences on Tuesday announced a new breakthrough in 3D human reconstruction technology, bringing down surface error by 30%, which is expected to make the advanced technology available on smartphones.
</p><p>	The company, Guangzhou-based Cloudwalk, announced that their breakthrough has set a new world record on 3D human reconstruction technology to build a single-frame image. On the key indexes of Human3.6M, Surreal, and UP-3D, the company decreased the surface error â a main indicator to measure the algorithm â at the millimeter level.
</p><p>	On Human3.6M, for example, the surface error of human joints has dropped from 59.9mm to 46.7mm.
</p><p>	In addition, execution speed has also been cut from 100 milliseconds to just 5 milliseconds, the company added.
</p><p>	Wu Fan, a scientist with the company, said they are using a brand new 3D information representation model that can predict human body postures by analyzing the three primary color images and can depict the human body with over 60,000 points, China Science Daily reported.
</p><p>	The breakthrough has reduced the requirement for input images. The technology can utilize ordinary optical cameras as sensing devices, which means applications that used to face restrictions in implementation can be gradually implemented in full and related smart image applications will be promoted, according to the company.</p>"</body>
</html>