<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Novel products see opportunity as China upgrades consumption
</h2>
<p class="one gray"> (People's Daily Online)    15:07, March 21, 2019
</p>
<hr/><p>	A futuristic fingerprint lock, software that allows you to unlock your car doors and turn on the AC using your phone, and an intelligent vacuum cleaner... Chinaâs consumption upgrading is driving up a new commerce pattern, with novel products sweeping the Chinese domestic market.
</p><p>	The country has maintained stable and rapid growth in the total retail sales of consumer goods, and consumption has become the most significant driving force of the countryâs economic growth for a number of years.
</p><p>	Novel products with new functions and technologies are enriching the supply of the market, enjoying massive popularity among consumers.
</p><p>	According to a report issued by Ali Research Institute under Chinese e-commerce giant Alibaba, over 75 million consumers on Alibabaâs shopping site T-mall were enthusiastic about novel products, with an average of 17 purchases per person in this category.
</p><p>	Last year, more than 50 million novel products were made available on T-mall, 10 times more than in 2016.
</p><p>	Statistics from Alibabaâs rival Suning also indicated the popularity of novel products. For instance, a smart drier rack that can also sterilize has been sold by over 150 Suning stores, with a monthly sales growth of 300 percent.
</p><p>	The enthusiasm for new products is not exclusive to consumers from first-tier cities. In 2018, over 200,000 major brands released 50 million new products on T-mall, and those living in second-, third- and fourth-tier cities made up nearly 80 percent of total sales.
</p><p>	âNew products might mean a large concept, but small innovations usually create huge energy when applied to individual products,â said Fu Yifu, senior researcher from Suning Institute of Finance.
</p><p>	Given the diversified and individualized consumption demands of the Chinese market, opportunities exist everywhere as long as enterprises can find the consumer pain points, Fu added.</p>"</body>
</html>