<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>University in Shanghai boasts full 5G coverage; lab pushes tech frontier
</h2>
<p class="one gray"> (China Daily)    14:46, March 21, 2019
</p>
<hr/><p>	Shanghai University of Engineering and Technology has become China's first university to have full 5G coverage on its campus. It is also home to an innovation laboratory the university developed with the Shanghai branch of China Unicom.
</p><p>	The lab, which was unveiled on Tuesday, will offer research and development support for 5G networks with respect to video transmission, digital copyrights, artificial intelligence and other areas, China Unicom said in a news release.
</p><p>	The company has set up five 5G outdoor macro base stations and one 5G indoor micro base station on the campus, enabling full 5G coverage.
</p><p>	In addition to the stations, the campus is also equipped with the country's first regional internal edge cloud computing node, allowing the use of cloud games, video acceleration and other 5G applications.
</p><p>	China Unicom said the installations, and the research based on them, will lay a solid foundation for the commercial use of 5G throughout the city.
</p><p>	The research will cover various industries, such as new media, intelligent network vehicles and smart manufacturing.
</p><p>	The Shanghai branch of China Unicom said its cooperation with the university is only a start. The company said it is expected to complete full 5G network coverage by April of Songjiang University Townï¼an education hub located in Shanghai's Songjiang district where Shanghai University of Engineering and Technology and a few other universities are locatedï¼making it the country's first 5G university town.
</p><p>	Later, the company intends to extend the 5G intelligent network to the Songjiang G60 Science and Innovation Corridor, transforming it into the country's first industrialized demonstration base.
</p><p>	The G60 Science and Innovation Corridor is an initiative pioneered by Shanghai's Songjiang district in 2016. It wanted to create a science and technology corridor along the G60 highway running through the Yangtze River Delta region.
</p><p>	As the 5G era approaches, Shanghai has engaged in the development of this next generation technology with superhigh internet speeds, lower latency and wide connections in various sectors.
</p><p>	Some of the exhibition halls at the China International Import Expo, which was held in Shanghai in November, served as a trial run for 5G, and China Unicom set up five 5G base stations to show the capabilities of the superfast network.
</p><p>	A 5G innovation development alliance in the Yangtze River Delta area was launched last year, integrating industrial advantages and resources in Jiangsu, Zhejiang and Anhui provinces and Shanghai, and dedicated to promoting technology research and development.
</p><p>	The application of 5G technology has also met the media's demand for 5G and HD coverage of Shanghai's two sessions, which were held in January, through the 5G network, launched by Shanghai Media Group and the Shanghai branch of China Mobile.
</p><p>	In the latest development, Shanghai rolled out the country's first 5G railway station, Hongqiao Railway Station, one of Asia's biggest traffic hubs, allowing passengers to experience data speeds up to 100 times faster than what is available now. The project will be completed in September.
</p><p>	An intelligent factory using 5G technology was also unveiled in Shanghai in March by Commercial Aircraft Corp of China and China Unicom.
</p><p>	According to the city's three-year plan (2018-20), the government aims to become a world-leading information infrastructure city by 2020, deploying 10,000 5G base stations and taking the national lead in the commercial use of 5G technology.
</p><p>	Shanghai is striving to realize the full coverage of 5G network in the city center by the end of this year.</p>"</body>
</html>