<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Hong Kong study shows RBD patients' first-degree relatives more prone to have Parkinson's disease
</h2>
<p class="one gray"> (Xinhua)    14:03, March 20, 2019
</p>
<hr/><p>	HONG KONG, March 19 (Xinhua) -- People with first-degree relatives suffering from rapid eye movement sleep behaviour disorder (RBD) are at three to six times greater risk of having Parkinson's disease, according to a study done by the Chinese University of Hong Kong (CUHK) that made result public on Tuesday.
</p><p>	The Faculty of Medicine of CUHK conducted the world's first RBD family study to systematically investigate the links with first-degree relatives on Parkinson's disease and other neurodegenerative diseases.
</p><p>	RBD is a sleeping disorder related to a lack of muscle atonia during rapid eye movement sleep (when dreaming occurs). Patients act out their dreams and these dream enactment behaviors consist of a constellation of features including shouting, punching, kicking, and rolling, leading to sleep related violence and injuries.
</p><p>	CUHK's Faculty of Medicine, in collaboration with Sichuan University in the Chinese mainland, the University of Hong Kong, and McGill University in Canada, investigated the familial link and aggregation of RBD, also its influence on neurodegeneration.
</p><p>	The study involved 102 RBD patients and 89 healthy individuals, and their 791 first-degree relatives, including parents, siblings and offspring.
</p><p>	The study found that the first-degree relatives of RBD patients were 3-6 times more likely to suffer from a series of problems related to neurodegeneration, including RBD diagnosis, Parkinson's disease, and dementia than the first-degree relatives of the healthy controls.
</p><p>	The study also found that unaffected first-degree relatives (those without definite RBD diagnosis) carried more early signs of neurodegeneration, such as constipation and subtle motor dysfunction.
</p><p>	Joyce Siu Ping Lam, honorary clinical assistant professor of CUHK's Department of Psychiatry, Faculty of Medicine, said that 90 percent of the patients will eventually develop Parkinson's disease symptoms at some point 5 years after they are diagnosed RBD, a marker for neurodegeneration.
</p><p>	Yun Kwok Wing, chairman of CUHK's Department of Psychiatry, Faculty of Medicine, said that constipation is a pre-clinical symptom of RBD and it could take 20 years to proceed to Parkinson's disease.
</p><p>	"The family members of RBD patients should be considered as a high-risk group and need monitoring for further neurodegeneration," Wing said, adding that the mapping of progression from the prodromal stage to a full-brown Parkinson's disease has provided an important foundation for researchers to develop targeted preventive strategies in the future, and ideally to push forward the intervention by 20 years.
</p><p>	The findings have been published in an international journal Annals of Neurology.</p>"</body>
</html>