<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>New rocket engines in making for moon, Mars
</h2>
<p class="one gray"> (China Daily)    08:30, March 20, 2019
</p>
<hr/><p>
</p><p>Photo taken by the rover Yutu-2 (Jade Rabbit-2) on Jan 11, 2019 shows the lander of the Chang'e 4 probe. [Photo/Xinhua/China National Space Administration]
</p><p>	Chinese engineers are pushing forward with the research and development of engines to be used on the country's next lunar probe and its first Mars probe, a project leader said.
</p><p>	Liu Zhirang, president of the Academy of Aerospace Propulsion Technology in Xi'an, Shaanxi province, said that there will be more than 70 engines categorized within six series on the Chang'e 5.
</p><p>	Liu told China Daily in an exclusive interview that work on the liquid-propellant engines has been proceeding well, though some of the engines are new to Chinese engineers.
</p><p>	The rocket engines will be used to lift a major portion of the Chang'e 5 back into a lunar orbit, something that previous Chinese lunar probes did not do, he added.
</p><p>	"Our previous probes would stay on the moon for their entire lifespans, so their engines' task was simpleï¼to carry out a controlled, slow descent."
</p><p>	By comparison, the Chang'e 5 has an ascender that will stay on the moon's surface for a while and then return to lunar orbit. Consequently, for the ascender's engines to be able to function well is a genuine challenge for us," he said.
</p><p>	The scientist said lunar dust and sharp temperature differences between day and night on the moon are likely to create challenges for the engines.
</p><p>	"We need to take these factors into consideration and use targeted measures, including adopting enhanced dust-proofing and temperature control instruments. Temperature control will be the most important factor in determining whether the engines operate well," Liu said.
</p><p>	In addition to ascender engines, those mounted on other parts of the Chang'e 5 will also test engineers' competence because they must be structurally strong and also as light and small as possible.
</p><p>	At the same time, they must also be capable of resisting extreme heat and cold, he said.
</p><p>	China plans to launch a Long March 5 heavy-lift carrier rocket to send the Chang'e 5 lunar probe to the moon around the end of this year and then use the spacecraft to bring samples back to Earth.
</p><p>	The 8.2-metric ton probe has four componentsï¼an orbiter, lander, ascender and re-entry module. After the probe reaches lunar orbit, the components will separate into two parts, with the orbiter and re-entry module remaining in orbit and the lander and ascender descending toward the moon's surface.
</p><p>	The lander and ascender will collect rocks and soil on the lunar surface. Later, the ascender's engines will lift it to lunar orbit to dock with the re-entry module. It will transfer samples to the module, which will carry them back to Earth, according to Chinese space authorities.
</p><p>	If the Chang'e 5 mission is successful, it will make China the third nation in the world to bring lunar samples back, after the United States and Russia.
</p><p>	China has announced it plans to launch its first Mars mission around 2020.
</p><p>	Liu said the engines on the Mars probe need to be smaller and lighter than those for lunar missions as the Martian atmosphere has different aerodynamic effects on the probe.
</p><p>	Furthermore, they must have higher automation capability because the long distance between Earth and Mars is likely to delay signals from ground control, Liu added.</p>"</body>
</html>