<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>U.S. Fed leaves rates unchanged, downplays inflation concerns
</h2>
<p class="one gray"> (Xinhua)    13:13, May 02, 2019
</p>
<hr/><p>	The U.S. Federal Reserve on Wednesday left interest rates unchanged and downplayed concerns about weak inflation, as the central bank saw no need to alter its "patient" approach on interest-rate moves.
</p><p>	In a statement after concluding a two-day policy meeting, the Fed said the Federal Open Market Committee, the Fed's policy-making committee, decided to maintain the target range for the federal funds rate at 2.25 percent to 2.5 percent.
</p><p>	The Fed reiterated that it "will be patient" with future adjustments to the federal funds rate in light of global economic and financial developments and "muted inflation pressures."
</p><p>	"Inflation is low, which gives us the ability to be patient and we do expect it to move up and we want it to move up to 2 percent," Fed Chairman Jerome Powell said Wednesday at a press conference, believing the recent weakness in price pressures is likely "transient".
</p><p>	"We think that our policy stance is appropriate at the moment. And we don't see a strong case for moving in either direction," he said.
</p><p>	The meeting came after the Department of Commerce reported last week that the U.S. economy expanded at an annual rate of 3.2 percent in the first quarter, mostly driven by strong exports and private inventory investment.
</p><p>	The better-than-expected growth in the first quarter has allayed worries of a sharp economic slowdown, giving some Fed officials reasons to believe that the central bank should stick to its rate-hiking plan.
</p><p>	But some economists pointed out that the headline growth number overstated the U.S. economy's underlying strength, and the persistent soft inflation opened the door for policy-makers to consider a rate cut.
</p><p>	Excluding the volatile energy and food prices, the core personal consumption expenditures (PCE) price index, a preferred inflation gauge by the Fed, was up 1.3 percent in the first quarter, still below the central bank's target of 2 percent.
</p><p>	"If we did see inflation running persistently below, that is something the committee would be concerned about and something we would take into account setting policy," Powell said, declining to say whether the Fed would consider a rate cut.
</p><p>	"Powell tried to temper expectations for a preemptive cut in rates tied to inflation. He underscored that the Fed still believes that the low pace of inflation is a transitory phenomenon," Diane Swonk, chief economist at Grant Thornton LLP, wrote Wednesday in an analysis.
</p><p>	"The Federal Reserve is walking a tightrope, balancing the current low rate of inflation against the risk of stoking additional asset bubbles. This will leave the Fed firmly on the sidelines this year," Swonk added.
</p><p>	Despite rising market speculation of a rate cut, the Fed is unlikely to cut interest rates anytime soon, analysts said, for fear that it looks like the central bank is caving to political pressure.
</p><p>	"Fed officials would likely worry about the risks that a rate cut could appear political or unnerve markets, which might mistake a cut in response to low inflation for serious concern about the growth outlook," Goldman Sachs analysts led by chief U.S. economist Jan Hatzius said in a recent note.
</p><p>	U.S. President Donald Trump has repeatedly criticized the Fed's rate increases and urged the central bank to lower interest rates to boost the economy.
</p><p>	"Our Federal Reserve has incessantly lifted interest rates, even though inflation is very low, and instituted a very big dose of quantitative tightening," Trump tweeted on Tuesday.
</p><p>	"We have the potential to go up like a rocket if we did some lowering of rates, like one point, and some quantitative easing," the president added.
</p><p>	In response to a question about outside political pressure, Powell on Wednesday pledged to defend the central bank's independence.
</p><p>	"We are a nonpolitical institution and that means we don't think about short term political considerations," Powell told reporters.
</p><p>	"We don't discuss them and we don't consider them in making our decisions one way or the other," he said.
</p><p>	"That is critical for the Fed to maintain independence from the political pressures that are always present in Washington," Swonk noted.</p>"</body>
</html>