<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China's first shadow puppetry theme park opens
</h2>
<p class="one gray"> (Xinhua)    11:16, May 02, 2019
</p>
<hr/><p>	An entertainment park themed on shadow puppetry opened Wednesday in Tangshan, a city in northern China's Hebei Province.
</p><p>	The shadow puppetry, which joined the list of UNESCO intangible cultural heritage in 2011, is a Chinese traditional drama performed by silhouette figures made from hides or paperboards.
</p><p>	"Tourists have the chance to learn more about the intangible cultural heritage and enjoy the shadow puppet performances in the park," said Fu Haitao from Tangshan Culture and Tourism Group, operator of the park that covers 350,000 square meters.
</p><p>	Tangshan shadow puppetry is one of China's most influential shadow plays, famous for its exquisite handicrafts, skillful manipulation and elegant vocal music, said Li Xiaoyang, a folk expert.
</p><p>	Li noted that Tangshan has stepped up protection of its shadow puppetry in recent years through various measures to draw a larger audience.</p>"</body>
</html>