<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>ASEAN+3 regional economy expected to remain resilient: report
</h2>
<p class="one gray"> (Xinhua)    10:54, May 02, 2019
</p>
<hr/><p>	Despite heightened global risks and stronger external headwinds, the Association of Southeast Asian Nations Plus Three (ASEAN+3) region is expected to remain resilient, growing at only a slightly slower pace in 2019-2020 as compared with last year.
</p><p>	According to the ASEAN+3 Regional Economic Outlook (AREO) 2019, a report released here on Wednesday by the ASEAN+3 Macroeconomic Research Office (AMRO), regional growth is expected to moderate slightly to 5.1 percent this year and 5.0 in 2020.
</p><p>	In the near term, the report pointed out that the risks confronting the region are mainly external and the biggest risk is still the escalation of global trade tensions from the imposition of additional tariffs by the United States, which is characterized as medium likelihood-high impact.
</p><p>	The region could also be hit by volatility shocks from turbulent financial markets given that expectations can change suddenly.
</p><p>	According to the report, the region is well-positioned to weather the headwinds from the slowdown in external demand.
</p><p>	To address near term risks and sustain growth, regional policymakers should calibrate a policy mix corresponding to their respective economies' cyclical positions in the business and credit cycles, as well as their external positions and financial vulnerabilities, the report suggests.
</p><p>	AMRO chief economist Hoe Ee Khor urged regional policymakers to stand ready to use available policy space to ease monetary and fiscal policies to mitigate the downside risks and support the economy if external conditions were to worsen.
</p><p>	In this year's edition, the report also includes a thematic study titled "Building Connectivity and Capacity for the New Economy", calling on the region to leverage on complementarities, embrace technology, and strengthen multilateralism and regional integration.
</p><p>	The report was released on the sidelines of the five-day 52nd annual meeting of the Asia Development Bank (ADB) which, under the theme of "Prosperity Through Unity", started here on Wednesday.
</p><p>	The meeting will discuss sustainable tourism, the role of private sector financing for disaster risk management and climate resilience, and actions to improve ocean health, among other topics.</p>"</body>
</html>