<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Belt and Road provides diverse products to the world
</h2>
<p class="one gray"> (People's Daily Online)    17:38, April 29, 2019
</p>
<hr/><p>
</p><p>	(Photo/Xinhua)
</p><p>	Fine products from China have entered households of countries along the Belt and Road, as the initiative has connected these countries with China through various projects, an Australian volunteer has found.
</p><p>	Tim, an Australian, who worked as a volunteer in Hangzhou, interviewed foreign students from the Silk Road Research Institute of Beijing Foreign Studies University and foreigners working in Beijing.
</p><p>	Angel, a girl from Malaysia who has been studying at a Beijing-based university said she always wanted to try mobile payment by herself. And nowadays her dream has come true, as people in Malaysia could pay for subway tickets and toll charges via mobile payment.
</p><p>	Aliya from Azerbaijan compares the China-Europe freight trains to a Chinese high-speed railway that connects China with her hometown. She hopes that more fine products will be transported to her hometown through the rail service.
</p><p>	The Belt and Road Initiative is warmly welcomed in Pakistan, said a Pakistani student named Bilal, explaining that he chose to learn in China because local companies highly value students who have learnt knowledge and skills at Chinese universities.
</p><p>	Talking about the Double 11 shopping spree, Sakib from Bangladesh becomes very excited. Last November, the local shopping platform Daraz, which belongs to Chinaâs largest online marketplace Tmall, offered big discounts on products such as electronic devices and clothes.
</p><p>	Through the interview, Tim believes that the Belt and Road, which was proposed by China, has yielded fruits for the world, and will continue contributing to the welfare of mankind in the future.</p>"</body>
</html>