<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Tesla races ahead with work on Shanghai plant
</h2>
<p class="one gray">By Xie Jun and Zhang Hongpei (Global Times)    14:41, April 29, 2019
</p>
<hr/><p>Facility may be producing cars âas early as Septemberâ 
</p><p>
</p><p>The buildings of Tesla's Gigafactory 3 in Shanghai on Sunday. Construction of the plant is in full swing with almost all the roofs having been installed. Photo: Xie Jun/GT 
</p><p>	Tesla's Gigafactory 3 plant in Shanghai, which is under accelerated construction, may produce cars in September this year, a worker at the site told the Global Times on Sunday.
</p><p>	That would be several months earlier than Tesla CEO Elon Musk's original plan. He announced at the plant's ground-breaking ceremony in early January that the factory would start to produce Model 3s at the end of this year.
</p><p>	However, the rapid construction speed might lead to some problems such as insufficient testing of equipment, an expert cautioned on Sunday.
</p><p>	On Sunday afternoon, normally a non-business day, the construction site of the Gigafactory 3 was bustling with equipment and people busy at work.
</p><p>	At the site, the Global Times saw that the first phase of the project will have two structures. One is a building of about three stories with a cement roof, which has already had part of the walls installed. Another structure is a building that will extend over almost half of the overall length of the construction site. That structure will be the US carmaker's general assembly building, according to a construction worker on the site.
</p><p>	This second building has almost 90 percent of its roof installed but hasn't started wall installation.
</p><p>	The construction worker also told the Global Times that the buildings now going up are just one-third of what Tesla is going to build on the site in total. The southern side of the site is still level ground. He also said that construction work on the first phase can finish in June or July. Another construction worker told the Global Times on Sunday that work is going on 24/7 nowadays on the site.
</p><p>	The last time the Global Times visited the Gigafactory 3, which was on April 3, the buildings were just starting to take shape with vertical steel columns and only a few sets of steel roof grids having been installed.
</p><p>	According to a report by tech.qq.com on Saturday, Tesla is likely to set a record with its building speed for the Gigafactory 3 in Shanghai. It also reported that a factory like the Gigafactory 3 normally takes about 17 months to build at the fastest speed.
</p><p>	"The factory's construction pace is too fast, which is set to leave some problems such as insufficient equipment testing and staff training," Feng Shiming, executive director of Menutor Consulting Shanghai, told the Global Times on Sunday.
</p><p>	But Feng said that Tesla won't start formal mass production this year, citing a reliable source at a Tesla supplier.
</p><p>	"The target might be realized at the start of next year, and two or three months after that, its Model 3 can be put into the market on a large scale," said Feng.
</p><p>	Tesla is still seeking appropriate battery suppliers, and that's a lengthy process because the battery is a core part of an electric vehicle, Feng said.
</p><p>	"Tesla is prepared for not realizing mass production within this year," he added. "Trial production in September is likely."
</p><p>	The US-based company wants to boost investor confidence and alleviate pressure from the capital market, as well as put itself in an advantageous position when negotiating with suppliers. That's why it made the decision to speed up factory construction, Feng said.
</p><p>	Wu Shuocheng, a Shanghai-based independent automobile analyst, told the Global Times on Sunday that Tesla is betting on its China Gigafactory for more output and sales, a key step for the company's development in China, the world's largest auto market, as well as other overseas markets.
</p><p>	"It is understandable for the company to be going full speed on factory construction so as to take advantage of the current favorable policy for electric vehicles in China," said Wu.</p>"</body>
</html>