<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Thematic Forum on Think-Tank Exchanges of 2nd Belt and Road Forum held in Beijing
</h2>
<p class="one gray"> (Xinhua)    14:51, April 26, 2019
</p>
<hr/><p>
</p><p>	Huang Kunming, a member of the Political Bureau of the Communist Party of China (CPC) Central Committee, also head of the Publicity Department of the CPC Central Committee, speaks at the Thematic Forum on Think-Tank Exchanges of the second Belt and Road Forum for International Cooperation (BRF) at the China National Convention Center in Beijing, capital of China, April 25, 2019. (Xinhua/Xie Huanchi)</p>"</body>
</html>