<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Senior CPC official stresses role of IT in promoting high-quality development
</h2>
<p class="one gray"> (Xinhua)    14:48, May 06, 2019
</p>
<hr/><p>	BEIJING, May 6 (Xinhua) -- Senior official of the Communist Party of China (CPC) Huang Kunming on Monday called for advancing the building of a digital China and smart society, stressing the role of information technology in promoting high-quality development in the country.
</p><p>	Huang, a member of the Political Bureau of the CPC Central Committee and head of the Publicity Department of the CPC Central Committee, made the remarks in a keynote speech at the opening ceremony of the second Digital China Summit.
</p><p>	The opportunities brought by the new round of scientific and technological revolution should be firmly grasped to transform China's advantages in internet technology innovation, technology application and as a huge market into advantages in developing a digital economy, he said.
</p><p>	The official said achieving breakthroughs in core technologies should be taken as the top priority, with the role of various innovation subjects fully played and protection for intellectual property rights further strengthened.
</p><p>	He also called for advancing information infrastructure construction and promoting the integration and sharing of information resources between urban and rural areas to narrow digital gaps and unleash vitality of digital sectors.</p>"</body>
</html>