<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China not to adopt beggar-thy-neighbor currency devaluation: Xi
</h2>
<p class="one gray"> (Xinhua)    11:20, April 26, 2019
</p>
<hr/><p>	BEIJING, April 26 (Xinhua) -- Chinese President Xi Jinping said Friday that China will not engage in beggar-thy-neighbor currency devaluation.
</p><p>	Xi made the statement in a keynote speech at the opening ceremony of the Second Belt and Road Forum for International Cooperation in Beijing.
</p><p>	China will continue to improve the exchange rate formation mechanism of its currency, the renminbi, and keep the exchange rate generally stable on a reasonable and balanced level, he said.</p>"</body>
</html>