<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China to increase imports on larger scale: Xi
</h2>
<p class="one gray"> (Xinhua)    11:17, April 26, 2019
</p>
<hr/><p>	BEIJING, April 26 (Xinhua) -- President Xi Jinping said Friday that China will increase imports of goods and services on a larger scale.
</p><p>	China will further lower its tariff rates, Xi said in a keynote speech at the opening ceremony of the Second Belt and Road Forum for International Cooperation in Beijing.
</p><p>	He said the country would continuously open up its market and welcome quality products from around the world.
</p><p>	China is willing to import more competitive farm produces, finished products and services, he said.</p>"</body>
</html>