<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Tesla loses 702 million USD in first quarter of 2019
</h2>
<p class="one gray"> (Xinhua)    16:22, April 25, 2019
</p>
<hr/><p>
</p><p>(Photo/ People's Daily Overseas Edition)
</p><p>	SAN FRANCISCO, April 24 (Xinhua) -- U.S. leading electric vehicle maker Tesla Inc. Wednesday recorded a quarterly net loss of 702 million U.S. dollars, or 4.1 dollars per share, and 522 million dollars in operating loss, in 2019.
</p><p>	Tesla said the loss included 188 million dollars in non-recurring charges in the first three months of this year. It also incurred 67 million dollars after the electric carmaker underwent some restructuring.
</p><p>	Tesla posted total revenues of about 4.5 billion dollars for this quarter, down by 37 percent from 7.23 billion dollars for the same period of last year.
</p><p>	The California-based company said it ended the 2019 first quarter with 2.2 billion of cash and cash equivalents, a reduction of 1.5 billion dollars from the end of last year.
</p><p>	Tesla said it produced about 63,000 Model 3 cars in this quarter, up roughly 3 percent over the same period of 2018.
</p><p>	Beginning the first quarter, Tesla started to produce and deliver Model 3 vehicles for overseas markets to meet increasing demands in Europe and China, according to the company's financial report.
</p><p>	Tesla said it has spent the past two years in ramping up production of Model 3 cars. "We can now build a second-generation Model 3 line in China that we expect will be at least 50 percent cheaper per unit-of-capacity than our Model 3-related lines" in Fremont, Northern California, and at Gigafactory 1 at Reno, Nevada state.
</p><p>	Tesla's cash position fell from 3.7 billion dollars to 2.2 billion dollars, mainly due to a 920-million-dollar repayment of convertible notes, of which 188 million dollars negatively impacted operating cash flow.
</p><p>	Tesla said it expects to return to profitability in the third quarter of 2019 after it increases deliveries and cuts costs, in addition to significantly reducing losses in the second quarter.</p>"</body>
</html>