<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Beijing 2019
</h2>
<p class="one gray"> (People's Daily Online)    15:40, April 25, 2019
</p>
<hr/><p>showPlayer({id:"/pvservice/xml/2019/4/25/e58ce796-3d22-4a0e-929e-c89601b89603.xml",width:800,height:495});
</p><p>	From April 25 to 27, the Second Belt and Road Forum for International Cooperation will be held in Beijing with the participation of representatives of over 150 countries and 90 international organizations. With the theme: âBelt and Road Cooperation: Shaping a Brighter Shared Futureâ, the Second Forumâs main objective is to achieve cooperation of the âhighest qualityâ between governments. Check out this video to experience the beauty of the forum's host city - Beijing.
</p><p>	 
</p>"</body>
</html>