<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Large number of joint projects materialized via cooperation scheme
</h2>
<p class="one gray">By Zhang Hui (Global Times)    09:04, May 07, 2019
</p>
<hr/><p>	The cooperation scheme of âsix corridors and six channels serving multiple countries and portsâ under the China-proposed Belt and Road Initiative (BRI) has been formed, and a large number of cooperation projects have materialized, Chinese President Xi Jinping announced on April 28.
</p><p>	Analysts believe the cooperation scheme means that the BRI has been upgraded from regional to global level considering its worldwide cooperation partners and expansion in the future, and the cooperation scheme not only reduced trade costs, but also helped stabilize underdeveloped regions and reduce conflicts.
</p><p>
</p><p>Joint projects of Belt and Road Initiative in the world. (Photo by Global Times)
</p><p>	The six major economic corridors usually refer to the New Eurasian Land Bridge, the China-Mongolia-Russia Economic Corridor (CMREC), the China-Pakistan Economic Corridor (CPEC), the China-Central and Western Asia Economic Corridor (CCWAEC), the China-Indochina Peninsula Economic Corridor (CICPEC) and the Bangladesh-China-India-Myanmar Economic Corridor (BCIMEC).
</p><p>	The New Eurasian Land Bridge goes from China's coastal cities of Lianyungang and Rizhao to the Netherland's Rotterdam and Belgium's Antwerp. The 10,800-kilometer-long rail link runs through Kazakhstan, Russia, Belarus, Poland and Germany, and serves more than 30 countries and regions.
</p><p>	The CMREC has two key traffic arteries: One extends from China's Beijing-Tianjin-Hebei region via Hohhot in the Inner Mongolia Autonomous Region to Mongolia and Russia; the other extends from China's northeastern cities Dalian, Shenyang, Changchun, Harbin and Manzhouli to Russia's Chita.
</p><p>	The 3,000-kilometer-long CPEC starts from China's Kashgar and ends at Pakistan's Gwadar and is a trade network of highways, railways, pipelines and optical cables.
</p><p>	The CCWAEC, linking China and the Arabian Peninsula, crosses five Central Asian countries (Kazakhstan, Kyrgyzstan, Tajikistan, Uzbekistan and Turkmenistan) and 17 countries and regions in West Asia, including Iran, Saudi Arabia and Turkey.
</p><p>	The CICPEC links China with the Indochina Peninsula and crosses Vietnam, Laos, Cambodia, Thailand, Myanmar and Malaysia, and while BCIMEC was proposed by China and India in May 2013, to link the two huge markets and enhance regional inter-connectivity.
</p><p>	The six channels refer to railways, roads, ports, air transport, energy facilities and communication facilities.
</p><p>	The cooperation of "six corridors" opens up the "blood meridian" of land and sea along the BRI route by using the "six channels" as the means, Wang Yiwei, a senior research fellow at the Chongyang Institute for Financial Studies of the Renmin University of China, told the Global Times.
</p><p>	Wang said that âsix corridors and six channels serving multiple countries and portsâ shows that the BRI is no longer just about infrastructure projects between China and other developing countries, but has reached a global level, and the construction of the BRI has moved from a âsketchâ to a âfine painting.â
</p><p>	Western countries such as the US, which have not signed Memorandums of Understanding with China, have already seen their companies cooperate with China under the BRI, including third-party cooperation, Chen Fengying, a research fellow at the China Institutes of Contemporary International Relations in Beijing, told the Global Times.
</p><p>	"With the growing participation by developed countries and international organizations, the BRI has transformed from âdevelopmentâ to âhigh-quality development,ââ" Wang said.
</p><p>	Chen said that âsix corridors and six channels serving multiple countries and ports,â which emphasizes infrastructure construction, greatly stimulates global trade with lower costs and more convenient communication and personnel exchanges.
</p><p>	More frequent and convenient communications could further reduce misunderstandings, such as Western countries' misunderstanding toward China's BRI, Chen said.
</p><p>	The BRI builds a bridge to different economies and also stabilizes many regions plagued by conflicts and disputes triggered by slow improvement in transport connectivity and a sluggish economy, experts said.
</p><p>	The fruits of the BRI are shared by the world, and the initiative makes economic globalization more open, inclusive, balanced and universally beneficial, experts said. The scheme also prevents BRI projects from going off the path, Wang said.
</p><p>	Experts said that strengthened cooperation under the BRI has to put more emphasis on the sustainability on management and capital, and deeper mutual trust among countries. </p>"</body>
</html>