<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Huawei opposes U.S. export control decision
</h2>
<p class="one gray"> (Xinhua)    13:22, May 17, 2019
</p>
<hr/><p>	WASHINGTON, May 16 (Xinhua) -- Chinese technology firm Huawei said Thursday that it is "against the decision" made by the Bureau of Industry and Security (BIS) of the U.S. Department of Commerce.
</p><p>	Huawei made the announcement after the BIS on Wednesday put the company and its affiliates on an "Entity List," which would restrict the sale or transfer of U.S. technologies to the company.
</p><p>	Huawei said in a statement given to Xinhua that this decision is in no one's interest and will do significant economic harm to the American companies with which Huawei does business, affect tens of thousands of American jobs, and disrupt the current collaboration and mutual trust that exist on the global supply chain.
</p><p>	Huawei will seek remedies immediately and find a resolution to this matter and will also proactively endeavor to mitigate the impacts of this incident, said the statement.
</p><p>	Also, the White House on Wednesday issued an executive order to ban foreign-made telecommunications equipment which Washington deemed as "posing an unacceptable risk."</p>"</body>
</html>