<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Liaison offices for customs clearance established in Tianjin and Mongolia
</h2>
<p class="one gray"> (Xinhua)    10:46, April 20, 2019
</p>
<hr/><p>	Liaison offices for port customs clearance were established in northern China's Tianjin Municipality and Mongolia's capital Ulan Bator, according to an ongoing trade fair in Tianjin.
</p><p>	The offices aim to promote economic and trade cooperation between Tianjin and Mongolia, and were established Thursday.
</p><p>	The two sides also signed projects totaling 80 million yuan (11.93 million U.S. dollars) at China Tianjin International Fair for Investment and Trade, according to China's Ministry of Commerce (MOC).
</p><p>	The offices will help expand bilateral trade between Tianjin and Mongolia and promote the development of China-Mongolia-Russia Economic Corridor, said T. Duuren, CEO of Mongolian National Chamber of Commerce and Industry.
</p><p>	Chu Bin, president of Tianjin Port (Group) Co. Ltd., said that about 90 percent of goods from Mongolia by rail are transported via Tianjin port, and rail transport between Tianjin and Mongolia has been growing rapidly in recent years.
</p><p>	In 2018, the trade volume between Tianjin and Mongolia reached 1.45 billion yuan, up 6 percent year on year. The bilateral trade volume also saw a 28 percent increase to 200 million yuan in the first two months of this year, according to the MOC.
</p><p>	China Tianjin International Fair for Investment and Trade opened in Tianjin on Thursday and will last until April 22, focusing on opening-up, cooperation and high-quality development.</p>"</body>
</html>