<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Global High-end Aluminum Summit 2019 to kick off in E China
</h2>
<p class="one gray"> (People's Daily Online)    18:05, April 19, 2019
</p>
<hr/><p>
</p><p>A ceremony was also held at the press conference to celebrate the launch of the Summitâs official website. (Photo/People's Daily Online)
</p><p>	China will hold a high-level international aluminum summit from April 28 to 29 in Binzhou, east Chinaâs Shandong province, a city known for aluminum. The announcement came during a press conference held in the host city on April 18.
</p><p>	The Global High-end Aluminum Summit 2019 will focus on new vitality and smart manufacturing in the aluminum industry, according to the press conference.
</p><p>
</p><p>Yu Xiangdong, the mayor of Binzhou, east Chinaâs Shandong province, gives an introduction at the press conference on April 18, 2019. (Photo/People's Daily Online)
</p><p>	Yu Xiangdong, the mayor of Binzhou, introduced the cityâs economic and social development, aluminum industry, and also the global high-end aluminum base construction, saying that Binzhou will spare no effort in building a global high-end aluminum base.
</p><p>
</p><p>Zhao Qingping, executive deputy mayor of Binzhou, east Chinaâs Shandong province, briefs the Global High-end Aluminum Summit. (Photo/People's Daily Online)
</p><p>	Holding the aluminum summit is the first step for the construction of the base, Yu noted, adding that Binzhou, as a pioneer in developing aluminum in Shandong province, should present its industrial advantages via this summit, and invite professionals and capitals to build the global high-end base together.
</p><p>
</p><p>Wang Xiaojuan, head of the Publicity Department of Binzhou Municipal Committee of the Communist Party of China, chairs the press conference on April 18, 2019. (Photo/People's Daily Online)
</p><p>	The Summit will be co-hosted by the Binzhou municipal government and Binzhou Municipal Committee of the Communist Party of China, and organized by Shandong Aluminum Industry Association with support from the International Aluminum Institute and China Nonferrous Metals Industry Association, it was revealed during the press conference.
</p><p>
</p><p>Zhang Bo, President of Weiqiao Pioneering Group and head of Shandong Aluminum Industry Association, introduces the company and the aluminum industry on April 18, 2019. (Photo/People's Daily Online)</p>"</body>
</html>