<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinaâs cross-border e-commerce turnover tops 9 trillion yuan in 2018
</h2>
<p class="one gray"> (People's Daily Online)    17:24, April 19, 2019
</p>
<hr/><p>
</p><p>	(Photo/Chinanews.com)
</p><p>	The turnover of Chinaâs cross-border e-commerce exceeded 9 trillion yuan ($1.34 trillion), and the countryâs cross-border consumers surpassed 100 million in 2018, according to a newly released social report.
</p><p>	From 2016 to 2018, Chinaâs cross-border e-commerce grew from 6.3 trillion yuan to 9.1 trillion yuan. The figure is expected to hit 10.8 trillion yuan this year, noted the report.
</p><p>	48 percent of surveyed consumers said that they spend an average of 1,000 yuan or more on cross-border online shopping every month. 19.1 percent buy products from overseas once a week, and 41 percent once a month.
</p><p>	The report also said that authenticity with guaranteed quality was a primary factor that determined consumersâ choice of cross-border e-commerce platforms.
</p><p>	Aside from the promotion of various platforms and higher logistics efficiency, Chinaâs efforts to lower tariffs and regulate private overseas shopping representatives have further prompted the development of cross-border e-commerce.
</p><p>	Meanwhile, the first China International Import Expo held last November in Shanghai brought huge business opportunities. 172 countries, regions and international organizations participated in the Expo. Over 400,000 buyers from home and abroad arrived to seal deals.
</p><p>	The rising popularity of studying overseas and going abroad on holiday contributed to the growth of Chinaâs cross-border e-commerce.
</p><p>	âI started buying imported products when I studied abroad. I could not find the same products on my return, until Chinaâs cross-border e-commerce platforms emerged,â said a consumer surnamed Cai.</p>"</body>
</html>