<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Expert: Amazon closing domestic marketplace will not have significant influence in China
</h2>
<p class="one gray"> (People's Daily Online)    17:18, April 19, 2019
</p>
<hr/><p>
</p><p>(Photo/CCTV)
</p><p>	As Amazonâs market share in China is relatively small, the decision to shut its domestic marketplace will not have a significant influence on Chinaâs overall e-commerce development, Li Yongjian, an expert with the Chinese Academy of Social Sciences (CASS) said Thursday, China Central Television's economic news channel (CCTV-2) reported on April 18.
</p><p>	Amazon.com Inc said on April 18 that it would close its online stores in China by July 18. Meanwhile, it will no longer operate a marketplace, nor provide third-party seller services on Amazon.cn, as the company plans to focus on the more profitable business of selling overseas goods and cloud services in China, according to Reuters.
</p><p>	âAlthough itâs a pity that Amazon made this decision, they will continue with overseas goods, which is where their core competitiveness lies,â said a Chinese consumer surnamed Gao.
</p><p>	Since 2016, Chinaâs e-commerce development has entered into a period of rapid expansion, and has since witnessed a soaring growth rate of 20 to 30 percent, said Li, director of the research department of Internet economy under the National Academy of Economic Strategy, CASS.
</p><p>	âOur e-commerce penetration rate has exceeded 70 percent,â added Li, explaining this is typical of e-commerce development in China.
</p><p>	âAs to Amazon, some of its services will probably exit the Chinese market, and the first one should be its local B2C services. As Amazonâs market share in the Chinese e-commerce market is not very big, the shift in business focus will not have too huge an influence on the overall e-commerce development in China,â said Li. </p>"</body>
</html>