<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China has full confidence in further economic development
</h2>
<p class="one gray">By Liu Zhiqiang (People's Daily)    10:07, May 17, 2019
</p>
<hr/><p>
</p><p>Photo shows a robotic arm working at a lithium battery company in Xinyu, east Chinaâs Jiangxi province, May 15, 2019. (Photo by Zhao Chunliang/Peopleâs Daily Online)
</p><p>	China has full confidence in its economic growth as its overall momentum of long-term stability and progress remains unchanged, despite the declining traditional competitiveness, the downward economic pressure and the increasing uncertainties of the global economy.
</p><p>	Stability is a distinct feature of Chinaâs economic and social development. Over the recent years, China has seen continuously advancing supply-side structural reform and improved economic quality and efficiency, as well as the much bigger role played by consumption in fueling economic growth.
</p><p>	At the same time, the three critical battles including forestalling and defusing major risks, precision poverty alleviation and pollution prevention and control have got off to a good start. The new growth drivers have grown rapidly.
</p><p>	Since this May, Mitsubishi Corporation has quartered its Asian chemical business in Shanghai, and the construction of SEG Automotive Global R&D Center commenced at Changsha national economic and technical development zone.
</p><p>	Warren Buffet, whose company has already made huge investment in China, said that he would expand his investment in the country.
</p><p>	These have all indicated the firm confidence of the foreign enterprises and business leaders in Chinese economy.
</p><p>	The confidence comes from the fundamentals for sound and stable growth. Over the past 40 years of reform and opening up, Chinaâs economic volume has grown bigger and bigger with better development conditions and solid material foundation.
</p><p>	Thanks to the huge resilience, potential, and ample space for maneuver of the Chinese economy, the country is able to withstand any test and turbulence.
</p><p>	Facing complex and grim domestic and international landscape, China has maintained its GDP growth within a range from 6.4 percent to 6.8 percent for 14 consecutive quarters. Facts have scotched the rumor that China has lost its speed and seen cliff-like drop in economic growth.
</p><p>	Though the worldâs second largest economy is experiencing a slowdown in its growth, it still sees increasingly stronger momentum of high-quality development. By and large, it is staying on an upward trajectory of stable growth.
</p><p>	The confidence comes from the solid industrial foundation. As the worldâs largest manufacturer, China has the most complete industrial system.
</p><p>	Though some traditional advantages of Chinese industries are dwindling and a few companies have shifted away their investment from the country, most on the industrial chains are enjoying solid development in China thanks to the close cooperation between upper- and lower-stream sectors, the complementarity between different industries, and the inter-regional industrial transfer.
</p><p>	The Chinese industries are no doubt offering valuable opportunities for enterprises as long as the latter could foster new advantages and cope with the new pattern of division.
</p><p>	The confidence comes from the powerful dynamism of the industrial upgrading. The new economic drivers released by the reform and opening up are creating more energy for Chinaâs economic development.
</p><p>	New technologies represented by 5G are experiencing rapid development; new industries and technologies such as the high-speed rail, new energy vehicles and the aerospace are seeing fast growth; new business models including artificial intelligence and internet economy are also flourishing.
</p><p>	By deepening supply-side structural reform, addressing overcapacity, bolstering areas of weakness, lowering cost and taking multiple measures to improve environment, China is now embracing a wider path of high-quality development.
</p><p>	Various analyses, examples and indicators have proved that Chinaâs economy has a bright future, and optimistic forecast for Chinaâs development has strong support.
</p><p>	As a major trading partner of over 130 countries, China is not only an important factory of the world, but also a major market that opens to all.
</p><p>	In the face of a rising protectionist trend and tendency for unilateralism, China has enough strength to address economic challenges, and Chinese people have strong confidence in reform and development.
</p><p>	While strengthening exchanges with traditional trade partners, China has actively expanded cooperation with new partners in new areas. Statistics showed that over the past five years, the trade volume between China and countries along the Belt and Road has exceeded $6 trillion.
</p><p>	As the circle of friends grows, China will deliver more fruitful outcomes in cooperation with countries across the world.
</p><p>	âIf we think we can, our course would succeed even if it takes moving mountains and filling oceans,â said Chinese President Xi Jinping, quoting the remarks by famous Chinese politician Sun Yat-sen.
</p><p>	China is bound to overcome any difficulties and challenges, and create bigger miracles amid high-quality development as long as it maintains strategic composure, comprehensively deepens reform and opening up, and focuses on running its own affairs under the strong leadership of the Central Committee of the Communist Party of China with Comrade Xi Jinping at the core.</p>"</body>
</html>