<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Huawei will be milestone for China's development: commentary
</h2>
<p class="one gray"> (People's Daily Online)    17:44, May 22, 2019
</p>
<hr/><p>
</p><p>	(People's Daily Online/Liang Jun)
</p><p>	Huawei's founder and CEO Ren Zhengfei won applause after a group interview on May 21 at the company's headquarters in Shenzhen.
</p><p>	One's strength and confidence are not embodied in how loud one speaks. Each statement Ren said during the interview was clear and down-to-earth, and reflects a Chinese entrepreneur's openness to the outside world.
</p><p>	No country can go against the global trend and develop alone.
</p><p>	"It's necessary for every country to open to the world, as only opening up can lead to a bright future," said Ren, who has witnessed and also contributed to China's reform and opening up.
</p><p>	The country's reform and opening up shaped the temperament for Chinese entrepreneurs, while in return, Chinese entrepreneurs have continued to drive the progress of China's reform and opening up.
</p><p>	It's clear that countries around the world should open their doors and create common prosperity together. Chinese companies, including Huawei, follow the development trend of globalization.
</p><p>	Chinese enterprises and the Chinese nation are good learners. With a global vision and broad mind, they will focus on both the whole and individual interests, and create fruitful results. Among the world's top 10 Internet giants, four are from China. Meanwhile, a large number of Chinese enterprises are taking the initiative to go out and make contributions to the global economy.
</p><p>	Slogan shouting is not patriotism. The real patriotism is to align national interests with the global trend.
</p><p>	It's a fact that Huawei boasts a world-renowned Chinese brand, but still, the software and hardware products in a Huawei phone embody the world's cutting-edge technology as well as the joint efforts of companies at home and abroad.
</p><p>	During the interview, Ren Zhengfei said that his family is still quite fond of Apple products, and insisted that it is narrow-minded to think that loving Huawei means only using Huawei products.
</p><p>	Today, China is more confident and more capable than ever before of making the goal of national rejuvenation a reality. As a major country, it must behave in a way comparable with this status.
</p><p>	China believes that it will approach the world stage with determination and ease when there are open-minded entrepreneurs and nationals of rational thinking, and when innovation is valued. 
</p><p>Related: 
</p><p>U.S. ban will not affect Huawei's high-tech and 5G: Huawei CEO</p>"</body>
</html>