<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Op-ed: U.S. should stop accusations on intellectual property issues
</h2>
<p class="one gray">By Zhong Sheng (People's Daily)    09:05, May 21, 2019
</p>
<hr/><p>	The accusations on China âstealingâ intellectual property were initiated by the U.S. for the purpose of escalating economic and trade frictions and suppressing China in the disguise of justice.
</p><p>	Recently, some people in the U.S. have been making such claims as the U.S. was âunfairly treatedâ while China gained âtremendous perks and advantagesâ, and âChina steals U.S. intellectual propertyâ.
</p><p>	Such voices are a continuation of the groundless allegations of the U.S. against China on the so-called infringement upon intellectual property in recent years. In March 2018, the U.S. released the Section 301 investigation, accusing China of hurting the interests of the U.S. regarding intellectual property issues.
</p><p>	The claim, though agreed by few, has been talked about endlessly by the U.S. side. Just lately, another U.S. official made a similar claim, saying that Chinaâs intellectual property âtheftâ posed a challenge to trade negotiation.
</p><p>	Although the U.S. side has been loud and seemingly have incontestable proof of what they were saying, facts are always facts, and such lies about China as âstealing intellectual propertyâ can hardly make anyone believe.
</p><p>	Some American officials said that China has stolen hundreds of billions of dollars worth of intellectual property from the U.S. But many far-sighted people in the U.S. didnât buy the figure.
</p><p>	People are confused about how the figure was calculated. It seems that the figure was not the result of calculation, but the brainchild of some genius who is good at making assumptions and exaggerating things.
</p><p>	The saying that ârepeating a lie a thousand times and it becomes the truthâ seems to have been a true criterion for some people in the U.S.
</p><p>	Such unreliable figure can only be used as a proof by dishonest people. Take the Section 301 investigation for an example, the U.S. played multiple roles in the investigation, such as a party involved in the case, the police, a procurator, a jury, and a judge, willfully judging and criticizing other countryâs intellectual property situation.
</p><p>	The U.S. made groundless accusations against China based on pure assumption while disregarding justice. If the report is based on imagined or selective data, itâs a kind of science fiction novel
</p><p>	The U.S. side knows the whole trick they are playing clearly. They are just looking for a seemingly righteous guise for their unreasonable attempts.
</p><p>	Strengthening intellectual property protection is the most important part of improving property rights protection, which is also the greatest incentive to enhance Chinaâs economic competitiveness.
</p><p>	After several decades of unremitting efforts at intensifying IPR protection in various aspects including perfecting social ideas, legal environment, and law enforcement, China has witnessed remarkable progress in IPR protection, which has been widely recognized by the international community.
</p><p>	China has long been taking the initiative to protect the IPR, rather than merely responding to the demand for IPR protection.
</p><p>	By establishing a relatively complete and high-standard IPR legal system, and enhancing IPR juridical protection, China is now the country that has heard the most intellectual property cases, especially patent cases.
</p><p>	In 2018, China paid $35.8 billion for foreign intellectual property, becoming the fourth largest patent buyer in the world.
</p><p>	During the recent legal battle between Apple and Qualcomm, the two companies filed many of their lawsuits on patent licensing in China. Such practice indicated the trust held by American enterprises in Chinaâs efforts of IPR protection.
</p><p>	Justice naturally inhabits menâs hearts. Chinaâs endeavors to protect the IPR have gained more and more recognition from all over the world.
</p><p>	The Economist posted an article on its website in February, saying âIP protection in China has improved at rocket speed of lateâ. The article pointed out that Chinese firms are not serial intellectual-property thieves, and as they issue more patents, the keener they are to protect the IPs. Even the official reports by the U.S. government issued before 2016 confirmed Chinaâs achievements in IPR protection.
</p><p>	However, in recent years, some people in the U.S. ignored the facts and did a complete turnabout to suppress Chinaâs development. Such moves are no other than slaps in their faces.
</p><p>	Intellectual property should be a bridge for innovation and cooperation among the countries. In the hands of the U.S. it has become a political tool, a weapon to contain other countries, and a veil for bullying the world.
</p><p>	During Chinaâs course of reform and opening up, many foreign enterprises have conducted technological cooperation with China for their own interests. It is totally market-oriented practice from which the foreign companies have achieved rich profits.
</p><p>	Though there were some problems in IPR protection, parties involved could always find a way to solve them through legal process.
</p><p>	Waving the IPR âstickâ, the U.S. is denying the awareness of IPR and credit, the contract spirit, and the law of the market.
</p><p>	Some people in the U.S. adhere to an absurd logic â they calculate how much they have in hand and then claim the astronomical figure to be âstolenâ by others.
</p><p>	Facts speak louder than words, just as truth always prevails. Anyone rational knows that thereâs no country in the world that has realized modernization through âstealingâ.
</p><p>	If people ask the U.S. such questions as âhas the U.S. developed itself by âstealingâ and can the U.S. get developed by âstealingââ, some people from the U.S. would be anxious to deny them immediately.
</p><p>	Has the U.S. developed itself through stealing? Can the U.S. develop itself through stealing? The answers are probably negative from the mouths of the Americans.
</p><p>	In a word, Chinaâs achievements are the precious fruit of the persistent and painstaking hard work of the Chinese people, and the people who make lies about it will finally come to no good.
</p><p>(Zhong Sheng is a pen name often used by Peopleâs Daily to express its views on foreign policy) </p>"</body>
</html>