<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China's tech hub Shenzhen to build 7,000 5G stations
</h2>
<p class="one gray"> (Xinhua)    09:59, May 05, 2019
</p>
<hr/><p>	SHENZHEN, May 4 (Xinhua) -- South China's technological powerhouse Shenzhen is expected to build about 7,000 5G base stations this year, local authorities said Saturday.
</p><p>	The city also plans to launch 5G for commercial use by 2020, according to the city's bureau of industry and information technology.
</p><p>	Enterprises based in the tech hub are expected to launch 5G terminal chips in the first half of this year. Smartphones and tablets featuring 5G will be launched gradually from the middle of this year, according to Xu Zhibin, deputy director of the bureau.
</p><p>	"Shenzhen is leading the world in 5G research and development," Xu said.
</p><p>	The city is also actively promoting the deep integration of 5G with other technologies and products to build a sound and competitive cluster of 5G industry, he added.
</p><p>	Shenzhen said in January that it would launch a pilot project for 5G commercial use in 2019.
</p><p>	Chinese cities are adopting the 5G network to meet public demand.
</p><p>	In late January, the Guangzhou Baiyun International Airport in southern China's Guangdong Province launched a 5G base station. An indoor 5G network will be installed in the Shanghai Hongqiao Railway Station by the end of this year.</p>"</body>
</html>