<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Financial integration contributes to win-win cooperation of BRI
</h2>
<p class="one gray">By Zhao Xijun (People's Daily Overseas Edition)    15:15, April 26, 2019
</p>
<hr/><p>
</p><p>A Golden Bridge on Silk Road, a thematic landmark of the second Belt and Road Forum for International Cooperation stands in front of the China National Convention Center in Beijing to welcome global guests participating in the event, Apr. 20, 2019. Photo by Peopleâs Daily Online
</p><p>	The Belt and Road Initiative (BRI) has received wide participation and attention from the world since it was proposed six years ago. It is expanding its âcircle of friendsâ and achieving more and more progress.
</p><p>	The concrete projects under the BRI are inevitably of vital importance to achieve the great vision. Whether these projects are carried out timely, as well as their implementation and quality, will affect not only the results of win-win cooperation, but also the reputation of the BRI among global people.
</p><p>	Financial integration that has a direct impact on the implementation of the projects is vital for the Belt and Road construction.
</p><p>	Since the proposal of the BRI, especially in the recent two years, Chinese financial institutions have played their due roles and made huge contribution to the investment, financing, operation, implementation, and risk control of BRI projects.
</p><p>	For instance, policy banks such as the China Development Bank and the Exim Bank of China have given full play to their role in basic financing and are leading other banks in this field.
</p><p>	Commercial banks including the Industrial and Commercial Bank of China, the Agricultural Bank of China, the Bank of China and the China Construction Bank have given strong support to commercial projects by their advantages in size and volume.
</p><p>	Equity funds such as the Silk Road Fund and China Investment Corporation are also playing a leading role in leveraging domestic and overseas social capital and improving financial structure.
</p><p>	In addition, insurance organizations such as China Export and Credit Insurance Corporation have also contributed to the risk control and information services of the BRI projects.
</p><p>	These efforts have all provided firm financial support for the construction of the Belt and Road.
</p><p>	At the same time, it must be noticed that the Belt and Road construction is a top-level design and a systematic project. It calls for long-term collaboration and efforts to release its economic dividends.
</p><p>	Therefore, Chinese financial institutions must further improve their capabilities in the future.
</p><p>	They must become more international. Although the BRI was proposed by China, it is a public product that belongs to the world and an undertaking concerning all participating countries.
</p><p>	Belt and Road countries vary in economic development and financial environment, and the Chinese financial institutions should enhance their capability building, become more international and do their best to strengthen business relation with their overseas counterparts for mutual support.
</p><p>	In addition, these institutions should also strengthen talent construction to increase the knowledge of the professionals about developing countries.
</p><p>	Chinese financial institutions must build their capability in policy coordination. As they provide financial services for BRI projects, they have to deal with financial supervision departments of the host countries and regions, and might encounter risks if failing to build sound relationships.
</p><p>	In this regard, supervisors such as the Peopleâs Bank of China should enhance coordination with their counterparts in BRI-related countries, and help Chinese financial institutions strengthen relationship with the financial supervision departments in the host countries so as to establish a sound policy environment.
</p><p>	Besides, Chinese financial institutions should keep playing their due roles as professional organizations. The policy risks and market environments of BRI countries are extremely different, and the Chinese financial institutions still have to do extra jobs to cope with the situation despite the rich experiences in this regard gained by certain organizations such as China Export and Credit Insurance Corporation.
</p><p>	On one hand, these Chinese institutions should be encouraged to play a bigger role. On the other hand, more resources at college and think tank levels should be integrated. This will guarantee related enterprises to receive timely and effective information services during their participation in financial integration of BRI projects.
</p><p>	The second Belt and Road Forum on International Cooperation is expected to create more projects, and Chinese financial institutions will definitely inject more vitality into the implementation of these projects.
</p><p>(Zhao Xijun is the Associate Dean of School of Finance at Renmin University of China.)</p>"</body>
</html>