<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Civilizations to shed light on the community with a share future for mankind
</h2>
<p class="one gray">By Zhong Sheng (People's Daily)    15:14, April 26, 2019
</p>
<hr/><p>	Chinese President Xi Jinping proposed at the first Belt and Road Forum for International Cooperation (BRF) two years ago to build the Belt and Road into a road connecting different civilizations, introducing a broad vision of civilization to todayâs world.
</p><p>	âIn pursuing the Belt and Road Initiative (BRI), we should ensure that when it comes to different civilizations, exchange will replace estrangement, mutual learning will replace clashes, and coexistence will replace a sense of superiority. This will boost mutual understanding, mutual respect and mutual trust among different countries,â the Chinese President remarked.
</p><p>	Now, the second BRF is just around the corner, and people are expecting more toward mutual learning among different cultures. It is believed that human civilization will embrace better development with the progress of the Belt and Road construction.
</p><p>	History has illustrated the profound philosophy of the development of human civilization. 2000 years ago, China opened the overland and maritime Silk Roads and thus started a great era of exchanges among civilizations and left extremely valuable memories for the mankind.
</p><p>	The history sets a reference for the modern world, and people are inspired by the great undertaking of the Belt and Road construction.
</p><p>	As the BRI is more and more recognized and gaining reputation around the globe, the transcontinental exchanges of civilizations that once prospered in history will be reactivated.
</p><p>	A French scholar said that the Belt and Road is building a civilization path in the modern time, leading human civilization toward a brighter and more colorful future.
</p><p>	The Belt and Road nurtures inclusiveness and reciprocity in civilization exchange.
</p><p>	An exhibition of foreign cultural relics held by the National Museum of China under the theme of Sharing a Common Future attracted numerous visitors, showcasing the beauty of cultural diversity.
</p><p>	âChina is my prioritized destination for overseas study,â said a Russian student surnamed Yurievna. What she said also applies to many young students in Belt and Road countries.
</p><p>	âYou gotta see, my friend, new bridges over old places, see yourself the miracles.â The lyrics of a Kenyan song hailing the Chinese-built MombasaâNairobi Standard Gauge Railway express sincere appreciation of the Kenyans toward their Chinese friends.
</p><p>	Chinese heritage experts, spending years protecting and restoring the Angkor Wat, are giving a rebirth to the splendid historic architectures.
</p><p>	Some countries in Central Asia jointly launched a unified service project called the "Silk Road Visa", opening their doors wider to Chinese tourists.
</p><p>	The enhanced people-to-people bond and cultural exchanges are becoming a close link that brings together the people along the Belt and Road.
</p><p>	The Belt and Road draws a magnificent vision of mutual learning and cultural integration.
</p><p>	In the modern world, there are still a part of people who stick to the outdated ethnocentrism and try to conquer other civilizations. On the contrary, China is promoting a vision of civilization that is diversified, equal and inclusive. It calls the world to inherit the Silk Road spirit of peace and cooperation, openness and inclusiveness, mutual learning and mutual benefit, and promote mutual learning among civilizations as it will help build bridges of friendship, drive social progress, and safeguard peace of the world. Chinaâs role as a responsible major country is recognized by the world.
</p><p>	Citing examples of the atrocious destructions of the Bamiyan Buddha in Afghanistan and the ancient city of Palmyra in Syria, as well as the Eurasian countries stomped by extremism, former UNESCO Director-General Irina Bokova noted that it is important to reserve cultural diversity of the world. This is why the Belt and Road Initiative is so important, Bokova added.
</p><p>	Some foreign scholars remarked that to enhance dialogues and mutual understanding among civilizations is the most significant impact to be brought by the Belt and Road construction.
</p><p>	The Belt and Road leads to a bright future for mankind where different cultures can all be appreciated for their unique beauty.
</p><p>	Deliverables of 20 major items regarding people-to-people bond produced by the first BRF have all be implemented, enhancing the cultural foundation for the construction of the Belt and Road.
</p><p>	China has established the Belt and Road Scholarship program, implemented initiatives to promote people-to-people exchange and set up joint laboratories, established a music education alliance and enhanced media cooperation with countries along the Belt and Road.
</p><p>	In addition, China is also enhancing international anti-corruption cooperation to make the Belt and Road a road of clean governance.
</p><p>	The construction of the Belt and Road reveals that civilizations have become richer and more colorful with exchanges and mutual learning. It is helping build broader consensus.
</p><p>	A sub-forum on enhancing people- to-people bond is scheduled to be held during the second BRF, where guests from over 150 countries and 90 international organizations will conduct in-depth exchanges and communication.
</p><p>	To build the Belt and Road into a road of connected civilizations reflects the common aspiration and wisdom of mankind. The extension of the Belt and Road is the vertical and horizontal extension of the harmonious coexistence of diversified cultures. The prospect of the Belt and Road is the prospect of the community with a shared future for mankind.
</p><p>	(Zhong Sheng is a pen name often used by People's Daily to express its views on foreign policy) </p>"</body>
</html>