<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China makes advances on cancer
</h2>
<p class="one gray"> (China Daily)    10:57, May 02, 2019
</p>
<hr/><p>
</p><p>	China's improvement on basic research for cancer treatment is significant and will help it increase innovation to deal with the disease, said Chen Liepin, co-director of the Cancer Immunology Program at Yale University.
</p><p>	"China's cancer treatment and research have improved a lot in the past decades," he told China Daily. "Especially for the basic research in China, I think the improvement is amazing â it's really advanced now."
</p><p>	Chen is a professor of immunology at the Yale School of Medicine. He was the first scientist to reveal the function of the PD-L1/PD-1 immune escape pathway in a tumor's microenvironment.
</p><p>	The programmed death ligand-1/programmed death-1 (PD-L1/PD-1) signaling pathway is a key component of tumor immunosuppression, which can inhibit activation of T lymphocytes and enhance immune tolerance of tumor cells, leading to tumor immune escape, according to a study published in January on biomedcentral.com.
</p><p>	Chen, along with four other scientists, was awarded the Warren Alpert Foundation Prize for 2017 for the breakthrough in tumor immunology, which made him the third Chinese recipient of the prize.
</p><p>	Chen said the research environment in China also has improved in terms of government funding and talent compared with when he was in China three decades ago.
</p><p>	"Because of the advanced basic research and the improved research environment, I think there's no doubt that China will see more innovation on the development of cancer drugs and cancer treatment research in the future," he said.
</p><p>	Chen said most Chinese scientists and researchers focus on translational research that applies a new discovery from basic research and moves it along toward clinical practice.
</p><p>	"But I think Chinese scientists need to focus more on making innovative and new discoveries from basic research and develop new methods for cancer treatment from that," he said.
</p><p>	China and the US are working together in many medical research areas, Chen said, citing the clinical practice cooperation between China and large US pharmaceutical companies, which he said is "huge now".
</p><p>	"The cooperation between specialists and pharmaceutical companies in China and the US can potentially accelerate research and development of new drugs and translate laboratory findings to treat human cancers," he said.
</p><p>	Chen said that there are still many other areas in which the US and China can work together.
</p><p>	"There are some types of cancer, including liver cancer and stomach cancer, that are more common in China but are rare in the US," he said, adding that cooperation on research for those cancers can help the US improve understanding of them and help China develop new drugs faster.
</p><p>	Chen said the potential for China's cancer drug market is huge and dynamic. The market is projected to reach $30 billion by the year 2024, according to a recent report by US company Research and Markets.
</p><p>	Lung, breast and stomach cancer dominate the anti-cancer drug market in China and are expected to do so in the near future, according to the report.
</p><p>	He said it's good to see that there is a growing awareness regarding cancer treatment, diagnosis and drugs among Chinese people, and that the government also is investing more in healthcare infrastructure at the same time.
</p><p>	"These factors might drive the cancer drug market and cancer treatment development positively in China in the future," Chen added.</p>"</body>
</html>