<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>BRI provides strong guarantee for enhancing China-Europe relations
</h2>
<p class="one gray">By Gu Hongfei (People's Daily Online)    09:45, April 25, 2019
</p>
<hr/><p>	The Belt and Road Initiative (BRI) proposed by China has provided a strong guarantee for enhancing China-Europe relations, as it follows the principle of consultation and collaboration for shared benefits, and upholds openness, inclusiveness and transparency.
</p><p>	Several European countries including Austria, the Czech Republic, Greece, Hungary, Italy, Portugal, Serbia and Switzerland will attend the second Belt and Road Forum for International Cooperation (BRF) which will kick off on April 25 in Beijing.
</p><p>	The BRF is a leading platform for international cooperation under the BRI framework, which is of considerable significance to China and the world.
</p><p>	China and the European Union (EU) are both important forces for safeguarding world peace and stability and advancing human civilization.
</p><p>	The past year has seen solid progress in BRI cooperation between China and the EU. The BRI has won positive feedback from the EU, stepping up European efforts to participate in the Chinese initiative.
</p><p>	The two sides reached important consensus on enhancing the synergy of the BRI and the initiatives of the EU at the 21st China-EU Summit, held on April 9, to boost connectivity between Asia and Europe.
</p><p>	China signed a Memorandum of Understanding on the Belt and Road cooperation with Italy, and reached consensus on cooperation under the BRI framework with other European countries including Switzerland.
</p><p>	China and the EU have synergized more development strategies. In December 2018, China issued its latest policy paper on the EU, in a bid to promote the development of the China-EU Connectivity Platform, and seek greater synergy between BRI and EU development plans, including the EU Strategy on Connecting Europe and Asia, the Investment Plan for Europe and the Trans-European Transport Networks.
</p><p>	Additionally, China-EU cooperation under the BRI framework has yielded practical outcomes. For example, China Railway Express freight trains have made over 10,000 trips. A Chinese enterpriseâs investment in Zelezara Smederevo, Serbiaâs sole steel mill, created 5,000 job opportunities for local people.
</p><p>	The BRI has also provided strong support for cooperation between China and Central and Eastern European countries (CEECs), which are important partners of the initiative.
</p><p>	The 16+1 cooperation mechanism between China and 16 CEECs has also made remarkable achievements. Opposing the global trend of slowed trade growth last year, Chinaâs trade with CEECs saw a robust increase of more than 20 percent, hitting a record high.
</p><p>	China and Serbia have seen remarkable results in cooperation under the BRI framework. Chinaâs trade with Serbia rose by more than 50 percent in the past six years. The two countries signed a mutual visa exemption agreement in 2017. Last year, over 100,000 Chinese tourists visited Serbia. The value of Chinese infrastructure project contracts in Serbia also exceeded $5 billion.
</p><p>	President Xiâs visit to Europe, his first overseas visit of 2019, further enhanced mutual trust with the EU, boosted China-Europe cooperation, and reflected Chinaâs emphasis on Europe.
</p><p>	The world today is going through significant development, transformation, and change. As major participants and contributors to economic globalization, China and the EU share broad common interests in upholding world peace and stability, promoting global prosperity and sustainable development and advancing human civilization. The two sides are also indispensable partners to the otherâs reform and development.
</p><p>	Looking ahead, China and the EU will deepen mutual understanding, enhance mutual trust, identify the direction, principles and specific measures to deepen the bilateral comprehensive strategic partnership in the new era, and promote the development of China-EU relations.
</p><p>	Under the BRI, China and Europe will continue to enjoy sound and steady ties and increasing bilateral practical cooperation, which will bring tangible benefits to the people of both sides.
</p><p>The author is a postdoctoral fellow at the Institute of European Studies in the Chinese Academy of Social Sciences.</p>"</body>
</html>