<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Belt and Road, most promising platform for int'l cooperation
</h2>
<p class="one gray"> (Xinhua)    07:31, April 24, 2019
</p>
<hr/><p>	BEIJING, April 23 (Xinhua) -- After six years of development, the Belt and Road Initiative has grown into one of the most promising platforms for international cooperation, with solid progress and a shifting focus on high-quality development.
</p><p>	Since 2013, the initiative, with policy coordination, infrastructure connectivity, unimpeded trade, financial integration and closer people-to-people ties as its main goals, has advanced in solid steps.
</p><p>	A total of 126 countries, including developed and developing nations, and 29 international organizations have signed cooperation documents with China on the initiative. With the support of Chinese businesses, industrial parks built in other Belt and Road countries have generated nearly 300,000 local jobs.
</p><p>	"The initiative has become the most popular public goods and an international cooperation platform with the most promising prospects," Silk Road Fund president Wang Yanzhi said in an interview with Xinhua.
</p><p>	It is a new model of globalization that highlights balanced and inclusive development, said Shi Zhiqin, executive director of the Institute of the Belt and Road Initiative at Tsinghua University. "It is also a new form of multilateralism and a supplement to the APEC and G20."
</p><p>	The initiative is being embraced by more and more countries and translated into concrete dividends of globalization, he said.
</p><p>	More countries are welcomed. As State Councilor and Foreign Minister Wang Yi said, the initiative is open to every country.
</p><p>BRIGHTER FUTURE
</p><p>	A cooperation platform originating from Eurasia, extending to more continents, the Belt and Road Initiative has shown broad prospects and enormous potential.
</p><p>	With all its outcomes, observers expected the second Belt and Road Forum for International Cooperation (BRF), scheduled to open Thursday, to be of landmark significance and add fresh impetus to the initiative.
</p><p>	The theme of the second BRF is "Belt and Road Cooperation, Shaping a Brighter Shared Future." Wang Yi said the main purpose is to promote the high-quality development of Belt and Road cooperation, which is the common aspiration of countries participating in the initiative.
</p><p>	Wang said high-quality development of the initiative should prioritize promoting the common development of all participating countries, sticking to people-centered approach, taking into account the actual needs of all parties and aligning with international rules and best practices.
</p><p>	Besides Belt and Road cooperation mechanisms in such fields as cultural exchanges, taxation and protection of intellectual property rights, experts said more mechanisms for high-quality development may be established during the BRF.
</p><p>	Loletta Chow, Global Leader of EY China Overseas Investment Network and B&R Task Force Leader, expected the third-party market cooperation, which leads to engagement of more developed countries in the initiative, to serve as an engine for its high-quality development.
</p><p>	Third-party market cooperation connects China's competitive production capacity and developed countries' advanced technology with developing countries' vast development demand, as a result, achieving "win-win," Chow said.
</p><p>	"The Belt and Road will become a road of peace, prosperity, opening up, green development, innovation, connected civilizations, and clean government. It will make economic globalization become more open, inclusive, balanced and beneficial to all," according to a report published Monday.</p>"</body>
</html>