<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>BRI a catalyst for Kenya's infrastructure and industrialization
</h2>
<p class="one gray">By Victor Onyango (People's Daily Online)    17:31, April 22, 2019
</p>
<hr/><p>showPlayer({id:"/pvservice/xml/2019/4/25/caee5747-3c4e-42c2-adb9-afcdadd57458.xml",width:800,height:495});
</p><p>	I am from Kenya, a country located in East Africa along the shores of the Indian Ocean, with a population of roughly 50 million. According to the latest government data, the poverty rate is around 50 percent.
</p><p>	This means that the majority of citizens live on a dollar or less per day, according to World Bank standards. My village is roughly 400 km from our capital city Nairobi and 1,000 km from Mombasa, a tourist city which borders the ocean.
</p><p>	Before 2017, many people in my village had not traveled past the capital to the coastal region because the bus ride to Mombasa took 18 hours. The journey is tiresome, not forgetting that the fare is $35.
</p><p>	Surprisingly, even with my exposure and education level, I had only traveled to the coast once, as part of a class tour when I was in my third year at Moi University.
</p><p>
</p><p>Aerial photo shows a train travels on the Chinese-built Mombasa-Nairobi Standard Gauge Railway in Kenya. (Photo/Provided by Victor Onyango)
</p><p>	However, thanks to President Xi Jinpingâs Belt and Road Initiative (BRI), Kenya is now benefiting from the construction of the Mombasa-Nairobi railway.
</p><p>	Many can travel to Mombasa now that the 478 km Mombasa-Nairobi railway, also known as the Standard Gauge Railway (SGR), has been completed.
</p><p>	Now I can travel to Mombasa by train for only $ 7 in just four and a half hours. On the journey, I can observe our Tsavo National Park and see the variety of animals my country is home to.
</p><p>	The railway line has continued the good feeling in Kenya that has existed since the end of the colonial administration, despite some people being swayed by Western opinion that the government made a mistake in signing a Memorandum of Understanding (MoU) with Beijing to execute the goals of the BRI.
</p><p>
</p><p>The author Victor Onyango is a journalist with the Nation Media Group (NMG) newspaper Daily Nation (Photo/Provided by Victor Onyango)
</p><p>	One thing those chastising Kenyaâs decision fail to comprehend is that since the project was completed, the country has welcomed more investment, and since bilateral ties between Kenya and China have deepened, the country has welcomed many Chinese tourists, with Kenya Airways opening a direct flight from Nairobi to Guangzhou.
</p><p>	Kenyaâs economy has improved by 1.5 percent, and the railway has created more than 50,000 job opportunities for locals.
</p><p>	With the implementation of the BRI in Kenya, China is trying to show Kenya the way to industrialization and this proves how much China respects and values its friendship with Kenya.
</p><p>	I am convinced beyond any doubt that the BRI will unlock the countryâs industrialization and infrastructural dreams, because as most developed countries have already proven, the road to industrialization begins with the upgrading of connectivity.
</p><p>
</p><p>Aerial photo shows the Nairobi railway station in Nairobi, capital of Kenya. (Photo/Xinhua)
</p><p>The author is a journalist with the Nation Media Group (NMG) newspaper Daily Nation and is currently participating in the China Africa Press Center 2019 program in Beijing. </p>"</body>
</html>