<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Facebook's user base may be taken over by dead people
</h2>
<p class="one gray"> (Xinhua)    15:50, April 30, 2019
</p>
<hr/><p>	NEW YORK, April 29 (Xinhua) -- Facebook may turn into a "digital graveyard" as more dead users will make up the world's largest social network than the living, a new study suggested.
</p><p>	A minimum of 1.4 billion users will pass away before 2100 if the tech giant ceases to attract new users as of 2018, according to a study published in the journal Big Data &Society.
</p><p>	However, if the network continues expanding at current rates, this number will exceed 4.9 billion.
</p><p>	By the end of the century, 44 percent of dead profiles come from Asia, with India and Indonesia accounting for almost half of the number. And by 2070, deceased users will outnumber the living on Facebook, the study said.
</p><p>	Internet users leave vast volumes of online data behind when passing away, commonly referred to as digital remains.
</p><p>	The study said this phenomenon is gaining increasing attention within the academic community. Scholars of law and related areas are investigating new dilemmas arising from inheritance of digital estates and issues of posthumous online privacy.
</p><p>	"The management of our digital remains will eventually affect everyone who uses social media, since all of us will one day pass away and leave our data behind," Carl Ohman, lead author of the study and a doctoral candidate at the Oxford Internet Institute said.
</p><p>	"But the totality of the deceased user profiles also amounts to something larger than the sum of its parts. It is, or will at least become, part of our global digital heritage," he added.</p>"</body>
</html>