<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Commentary: Washington's smear campaign against China is failing
</h2>
<p class="one gray"> (Xinhua)    08:27, April 17, 2019
</p>
<hr/><p>	BEIJING, April 16 (Xinhua) -- The U.S. State Department touted Secretary of State Mike Pompeo's recent visit to Latin America as an opportunity to "deepen U.S. partnerships in the Western Hemisphere." Instead, it was an attempt to drive a wedge between China and Latin America through groundless accusations.
</p><p>	Washington's agenda to turn several Latin American countries against China came as no surprise, and Pompeo's "utterly irresponsible and unreasonable" remarks -- in the words of Chinese Foreign Ministry Spokesperson Lu Kang -- would not be the last.
</p><p>	While China's detractors never sleep, the diatribes won't stand the test of reason and reality in a global era of win-win cooperation and common development.
</p><p>	Pompeo calls Chinese investments "corrosive" while "eroding good governance" in Latin American countries. But experts and officials in the region disagree. They have long spoken positively of the Asian country's investments in the region.
</p><p>	In a recent interview with Xinhua, Alicia Barcena, executive secretary of the Chile-based United Nations Economic Commission for Latin America and the Caribbean, praised China for showing its willingness to support growth in the region and elsewhere beyond the Asian continent.
</p><p>	During last year's Asia-Pacific Economic Cooperation Economic Leaders' Meeting in Papua New Guinea, Chilean President Sebastian Pinera stressed deepening cooperation with China regarding investment, trade and infrastructure.
</p><p>	The list of countries -- both in Latin America and beyond -- that welcome Chinese investment continues to grow. Nothing could better exemplify the widespread acceptance of Chinese investment than the significant traction enjoyed by the Belt and Road Initiative (BRI).
</p><p>	Among the 125 countries and 29 international organizations taking part in BRI projects are those from the developing world aspiring to improve their dilapidated infrastructure.
</p><p>	While the BRI well meets such needs for development, false claims have emerged of a so-called "debt trap."
</p><p>	No participating country so far has complained of falling into a so-called "debt trap" of Chinese loans. In fact, if there is any trap, blame the one set up by self-serving western countries who wish to keep the developing world in poverty and backwardness.
</p><p>	On various occasions, officials and scholars from the developing world have refuted bizarre western claims by citing facts and underscoring how China's investments help to advance local development.
</p><p>	In February, Moussa Faki Mahamat, chairperson of the African Union (AU) Commission, said China and the pan-African bloc have enjoyed an "unprecedentedly dynamic" partnership in various areas.
</p><p>	Dushni Weerakoon, a Sri Lankan scholar, and Sisira Jayasuriya, professor of Economics at Australia's Monash University, wrote that Sri Lanka's debt repayment problems had very little to do with Chinese loans, which comprise roughly 10 percent of Sri Lanka's total foreign debt.
</p><p>	In the case of Pakistan's participation in the BRI, Shandana Gulzar Khan, Pakistan's parliamentary secretary for commerce, said earlier this month at the World Economic Forum on the Middle East and North Africa that the China-Pakistan Economic Corridor has created tens of thousands of jobs and revived the economy of an entire region.
</p><p>	"You will not find China an unfair partner," he said.
</p><p>	It is not just in the realm of investment and infrastructure that China is pursuing fair, win-win and sustainable development with its partners.
</p><p>	In recent years, many countries have been cooperating with China on 5G technology, another thorn in Washington's side.
</p><p>	However, the U.S. campaign to ban Chinese tech giant Huawei on the pretext of national security isn't gaining much traction beyond its own borders, with an increasing number of nations now welcoming China's development in 5G technology.
</p><p>	With protectionism and unilateralism rearing its ugly head, humanity is standing at a crossroads. Wisdom and courage are needed for the world to grow together.
</p><p>	Washington's barrel of lies against China is failing to sway global public opinion. A growing China is good for the world, a truth that even the U.S. cannot change.</p>"</body>
</html>