<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>This is what the powerful system of Party leadership means to China
</h2>
<p class="one gray">By Curtis Stone (People's Daily Online)    17:00, April 12, 2019
</p>
<hr/><p>
</p><p>Tourists at Tiananmen Square on National Day, October 1, 2018.
</p><p>	Hu Xijin, editor of the Global Times, recently published an article in Chinese on what the system of Party leadership means to China. He began his article by saying that last year the United States turned on China, launching a trade war. âIn the face of such a blow, almost any country would panic,â he said.
</p><p>	In fact, many Chinese people did panic at first, but the panic quickly subsided, because it became quickly apparent that the United States could not so easily crush China in a trade war. According to Hu, the reason for this is because the Chinese system is just too powerful and, as a result, the US side was forced to seriously negotiate with China.
</p><p>	âChinaâs political system is the key asset to Chinaâs rise,â he wrote.
</p><p>	The Communist Party of China is an essential part of Chinaâs growth story. When you talk about the success of China, you must also talk about the role of the Party. China has risen high under the guidance of the CPC and Hu believes that as long as the CPC continues to mature and its leadership role is strengthened, China has a good shot of achieving national rejuvenation.
</p><p>	The Chinese political system has also led to a fairer society. âWithout the leadership of the Party, one thing is certain. Beijing, Shanghai, Guangzhou, and Shenzhen would be surrounded by large slums like Rio, Mexico City, and Mumbai,â Hu said.
</p><p>	Many people may not accept this assertion, but there is truth to it. If you look at what China is doing in terms of poverty alleviation, it is pretty astonishing. China has lifted hundreds of millions of people out of poverty since initiating the reform and opening-up policy in 1978 and the country is on track to eliminate absolute poverty by 2020. In 2018 alone, official figures show that China lifted close to 14 million people in rural areas out of poverty.
</p><p>	And the Partyâs organs at various level have been the fighting force in this battle against poverty.
</p><p>	Chinaâs political system is the key to Chinaâs rise, which is closely related to the well-being of more than 1.3 billion Chinese people. To continue rising, Hu pointed out, the country must continue to mature politically, firmly support the national system, and take its own path.
</p><p>	âIf it was not for the strength of the Chinese system, when the United States launched a trade war against China last year, at the very least the renminbi would have been smashed,â Hu said. This is not an exaggeration. The fate of a country is often very fragile.
</p><p>	Hu pointed out that China is a huge country, therefore, even the migrant workers enjoy more space for living and more opportunities to grow than many of the people in other developing countries, and even the ordinary people in some developed countries. They are able to seek opportunities and earn a better living in the large market.
</p><p>	To see China in action look no further than the hard-working delivery people who run around the cities all day. Chinaâs rise is being driven by the efforts and diligence of each Chinese person and their hard work has brought the country huge rewards.
</p><p>	âLiving in China as a common citizen has the greatest average opportunity to improve oneâs life,â Hu said. This is also true, because only in China can you find a large country with relatively balanced development and rapidly rising standards of living.
</p><p>	China is strong, both economically and politically. For this reason, the country is on very solid footing. China has encountered some difficulties, but nothing has put the brakes on its development. We need to better understand why that is the case.</p>"</body>
</html>