<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Commentary: Europe shows growing enthusiasm toward BRI
</h2>
<p class="one gray"> (People's Daily Online)    10:08, April 10, 2019
</p>
<hr/><p>	Following Chinese President Xi Jinping's visit to Italy, Monaco and France in March, Chinese Premier Li Keqiang arrived in Brussels, Belgium on April 8 for the 21st China-European Union (EU) leadersâ meeting. After Brussels, Li is scheduled to pay an official visit to Croatia where he will attend the eighth leadersâ meeting for China and Central and Eastern European Countries (CEECs). China has attached great importance to diplomatic relations with Europe, as top Chinese leaders paid their first visit of the year to European countries.
</p><p>	During President Xi's visit, Italy became the first country in the Group of Seven (G7) to join the BRI with the signing of a Memorandum of Understanding (MOU). French President Emmanuel Macron proposed greater synergy between the EU strategy on connecting Europe and Asia, an EU development plan, and the BRI.
</p><p>	Against the backdrop of significant changes around the world, Europe is faced with restructuring in three aspects, including cross-Atlantic relationships.
</p><p>	The trans-Atlantic alliance under the framework of NATO has existed for seven decades, but the economic aggregate of all member countries, once accounting for over 70 percent of the world total, has now declined to about 40 percent.
</p><p>	The US turned to trade protectionism in the last two years, increasing pressure on the EU, especially in such fields as automobiles, iron and steel.
</p><p>	Furthermore, the EU now faces restructuring in financial systems owing to Brexit. The EU has been moving towards a stronger economic union according to the Statement by the Euro Area Heads of State or Government. When the UK leaves the EU, the system will have to change.
</p><p>	Global investors have high hopes for the Chinese renminbi, as large quantities of assets have begun to be priced in the Chinese currency nowadays.
</p><p>	In this context, more European countries have chosen to join the BRI, including the 16 countries in Central and Eastern Europe.
</p><p>	In April 2012, China and the CEECs launched the â16+1â cooperation mechanism, and five years later, all 16 CEECs became participants of the BRI.
</p><p>	Historically, Italy was the west end of the ancient Maritime Silk Road, and China had close exchanges with France, Croatia and other Mediterranean countries along the ancient Silk Road. Pioneers, including Marco Polo and Matteo Ricci, wrote brilliant chapters of historical exchange between Eastern and Western civilizations.
</p><p>	Now, bilateral economic and trade cooperation between China and Europe has been expanding, especially in trade scale and stable growth of two-way investment, and China-Europe cooperation will lay a solid foundation for the future development of the world.
</p><p>	The author Jia Jinjing is a resident research fellow at the Chongyang Institute for Financial Studies of Renmin University of China in Beijing.</p>"</body>
</html>