<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China's Chang'e-4 probe resumes work for fifth lunar day
</h2>
<p class="one gray"> (Xinhua)    15:58, April 29, 2019
</p>
<hr/><p>
</p><p>(Photo/Xinhua)
</p><p>	BEIJING, April 29 (Xinhua) -- The lander and the rover of the Chang'e-4 probe have resumed work for the fifth lunar day on the far side of the moon after "sleeping" during the extreme cold night.
</p><p>	The lander woke up at 7:40 a.m. Monday, and the rover, Yutu-2 (Jade Rabbit-2), awoke at 1:45 p.m. Sunday. Both are in normal working condition, according to the Lunar Exploration and Space Program Center of the China National Space Administration.
</p><p>	The rover has traveled an accumulated 178.9 meters on the moon and worked about one month longer than its designed life.
</p><p>	China's Chang'e-4 probe, launched on Dec. 8, 2018, made the first-ever soft landing on the Von Karman Crater in the South Pole-Aitken Basin on the far side of the moon on Jan. 3.
</p><p>	A lunar day equals 14 days on Earth, and a lunar night is the same length. The Chang'e-4 probe switched to a dormant mode during the lunar night due to the lack of solar power.
</p><p>	As a result of the tidal locking effect, the moon's revolution cycle is the same as its rotation cycle, and the same side always faces Earth.
</p><p>	The far side of the moon has unique features, and scientists expect Chang'e-4 could bring breakthrough findings.
</p><p>	The scientific tasks of the Chang'e-4 mission include low-frequency radio astronomical observation, surveying the terrain and landforms, detecting the mineral composition and shallow lunar surface structure and measuring neutron radiation and neutral atoms.
</p><p>	The Chang'e-4 mission embodies China's hope to combine human wisdom in space exploration with four payloads developed by the Netherlands, Germany, Sweden and Saudi Arabia.</p>"</body>
</html>