<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>State Council calls for better internet services to boost economy
</h2>
<p class="one gray"> (Xinhua)    09:15, May 16, 2019
</p>
<hr/><p>	BEIJING, May 15 (Xinhua) -- A State Council executive meeting Tuesday created a guideline to take various measures to ensure faster Internet access to businesses and individuals at lower costs.
</p><p>	The moves can expand investment and consumption, boost employment, benefit people's livelihoods and give a boost to the digital economy, which may play a supporting and leading role in social and economic development, according to a statement issued after the meeting chaired by Premier Li Keqiang.
</p><p>	China will accelerate the internet upgrades, ensuring gigabit broadband access in more than 300 Chinese cities this year, the statement noted.
</p><p>	It will also expand and construct at least 600,000 4G base stations and offer 4G services to more than 98 percent of administrative villages.
</p><p>	The guideline urged more efforts to enhance internet services in the fields of industrial internet, education and medicare, with 97 percent of Chinese middle schools and primary schools to be accessible via broadband internet by the end of this year.
</p><p>	The meeting said that China will continue to reduce the costs of internet connection, aiming to cut the charges of small and medium-sized enterprises by 15 percent on average within the year.
</p><p>	Data roaming charges between the Chinese mainland and Hong Kong or Macao will also be lowered by 30 percent, it added.</p>"</body>
</html>