<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China to achieve high-quality development by opening wider
</h2>
<p class="one gray">By Zhong Sheng (People's Daily)    10:05, March 23, 2019
</p>
<hr/><p>	With the overwhelming trend toward openness and connectivity, economic globalization is an irreversible trend of history.
</p><p>	To open wider to the world is an inevitable choice of China to realize high-quality economic development, and also a reflection of the countryâs responsibility to lead global openness and build an open world economy.
</p><p>	Recently, many foreign media outlets came to similar conclusions that China is making further steps of opening up and it will open wider after viewing the annual sessions of the countryâs top political advisory body and national legislature.
</p><p>	According to this yearâs government work report of China, the country will open more sectors and improve the layout of opening up, continue to promote opening up based on flows of goods and factors of production, and give greater emphasis to opening up based on rules and related institutions, driving an all-round deepening of reforms through high-standard opening up.
</p><p>	China also approved the foreign investment law at the second session of the 13th National Peopleâs Congress, aiming to protect and facilitate foreign investment in the country.
</p><p>	Such concrete practices display Chinaâs determination to unswervingly promote high-quality openness.
</p><p>	Any country or nation to achieve rejuvenation, they must follow the logic of history and the trend of the times in their pursuit of progress and development. It has been repeatedly proved by history that openness is the source of vitality for any country or nation.
</p><p>	After World War II, 13 economies maintained high-speed growth for over 25 years, and what they had in common was that they all adopted open policies.
</p><p>	From implementing the reform and opening up policy in 1978 and joining the World Trade Organization in 2001, to establishing free trade zones and exploring free trade ports in recent time, China has proved with its practices that openness is a magic key to continuous development.
</p><p>	In recent years, rising unilateralism and trade protectionism of some countries, as well as the emerging trend of anti-globalization, all generated instabilities and uncertainties to the world economic development.
</p><p>	Isolation and seclusion mentalities, which have not yet been eliminated, are also exerting serious impacts on the healthy economic development of the world.
</p><p>	The Financial Times said in an article published last month that barriers might threaten to seal off the most promising avenues of growth. Former British Prime Minister Gordon Brown said that the discontent over globalization has brought a new wave of protectionism and unilateralism, but addressing the sources of that discontent can only be accomplished through cooperation.
</p><p>	At present, the world is in desperate need of certainties given the complicated global situation and sluggish driving forces. Christine Lagarde, Managing Director of the International Monetary Fund, believes that Chinaâs pledge of further reform and opening-up has injected a sense of certainty and hope into global economy.
</p><p>	As the worldâs second largest economy, China raised a series of new measures of opening up, showcasing to the world its determination to build an open world economy.
</p><p>	The country is optimizing import structure and expanding exports, easing market access, shortening the negative list for foreign investment access, and allowing wholly foreign-owned enterprises to operate in more areas.
</p><p>	It is also accelerating the alignment with prevailing international rules, improving policy transparency and execution consistency, and making efforts to build a fairer environment and a level playing field in which Chinese and foreign companies are treated equally.
</p><p>	Economies make progress through exchange and inter-connectivity and fall behind because of seclusion and closeness.
</p><p>	The Age of Discovery in the 15th century broke the isolation of different parts of the world; the Industrial Revolution in the mid-19th century started economic globalization and preliminarily formed a worldwide market.
</p><p>	In the recent 100 years, economic globalization experienced rapid expansion thanks to the development of information technology and transportation. People gradually realized that economic globalization is a natural outcome of scientific advances and objective requirement of social productivity development, and also an irreversible trend of history.
</p><p>	Faced with imbalanced economic development, the world is in urgent need of constructive power to guide healthy global economy.
</p><p>	By proposing the Belt and Road Initiative, holding the China International Import Expo (CIIE), putting forward to establish the Asian Infrastructure Investment Bank and the New Development Bank, and funding the Silk Road Fund and the South-South Cooperation Assistance Fund, China has contributed wisdom and injected huge power to the solution to global development issues.
</p><p>	It is introduced at the âtwo sessionsâ that the second Belt and Road Forum for International Cooperation will be a much bigger gathering with more side events, and it will be participated by a larger number of foreign heads of state and government.
</p><p>	In addition, the second CIIE will feature larger exhibition area and be attended by more countries and enterprises, with improved quality and better services.
</p><p>	Such information has added more expectation from the world toward China to share its development opportunities.
</p><p>Zhong Sheng, a homonym in Chinese for âvoice of Chinaâ, is a pen name often used by Peopleâs Daily to express its views on foreign policy</p>"</body>
</html>