<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Robot band makes debut at Chinese university
</h2>
<p class="one gray"> (Xinhua)    13:28, April 29, 2019
</p>
<hr/><p>
</p><p>(Photo/Tsinghua.edu.cn)
</p><p>	BEIJING, April 28 (Xinhua) -- Performers played different Chinese musical instruments, swinging with the melodious music on stage. Welcome to the debut performance of MOJA -- a band of three robots.
</p><p>	On Saturday, students from Tsinghua University enjoyed a special musical play, which tells a story about a student who invents musical robots in a lab and faces many challenges. The musical drama was played by human actors and robots.
</p><p>	The three MOJA band members are Yuheng, Yaoguang and Kaiyang. They are named after three stars of the Big Dipper, and they play traditional Chinese musical instruments -- bamboo flute, konghou, an ancient plucked stringed instrument, and drums.
</p><p>	The robot band project was developed by teachers and students from Tsinghua University as well as entrepreneur teams made up of Tsinghua graduates. The developers have different skills, such as robot control and interaction experts, sculpture artists, new media artists, drama experts and musicians.
</p><p>	"In terms of appearance, we try to create images from the perspective of sculpture artists to make the robots' postures and shapes look more realistic," said Mi Haipeng, an associate professor at Tsinghua University's Academy of Arts & Design. Mi also leads the project.
</p><p>	In recent years, robot art, as a brand-new art form, has emerged at home and abroad. Unlike industrial robots and service robots, art robots pay more attention to the relationship between robots and humans or between robots and social culture.
</p><p>	"Through the bridge of art, we hope to convey the idea of harmonious coexistence between humans and technology," Mi said, adding that the robot band will have more members in the future.</p>"</body>
</html>