<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>3rd World Intelligence Congress to kick off in Tianjin
</h2>
<p class="one gray"> (Xinhua)    07:56, April 29, 2019
</p>
<hr/><p>	The third World Intelligence Congress (WIC) will be held between May 16 and 19, in north China's Tianjin Municipality, according to a press conference in Beijing on Sunday.
</p><p>	The four-day event themed "Intelligence New Era: Progress, Planning and Opportunity," includes a series of activities such as forums, exhibitions, competitions, and intelligent experiences.
</p><p>	Enterprises including CRRC Corporation Limited, Huawei, Alibaba, and General Electric Company, research institutions and universities will attend the exhibitions and showcase their cutting-edge technologies and products.
</p><p>	Five competitions will be held during the event, including China (Tianjin) Industrial App Innovation &Application Competition and the World Intelligence RoboSub Competition.
</p><p>	Over 1,200 foreign guests from 30 countries and regions have been invited, and about 13,000 square meters of indoor and outdoor intelligent experience zones will be set up during the event.
</p><p>	The National Development and Reform Commission, and Ministry of Science and Technology and Tianjin municipal government are among the organizers of the event.
</p><p>	In the previous WICs in 2017 and 2018, nearly 10,000 scientists, entrepreneurs, educators, and financiers from both home and abroad gathered in Tianjin to discuss the frontier trends of intelligent technologies.</p>"</body>
</html>