<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Major-country diplomacy shows Chinaâs concerns over common development
</h2>
<p class="one gray">By Zhong Sheng (People's Daily)    13:36, March 13, 2019
</p>
<hr/><p>	This year marks the 70th anniversary of the founding of the Peopleâs Republic of China. Over the past seven decades, Chinaâs diplomacy has forged ahead through various difficulties and hardships. The country has amazed the world as it is moving closer to the center stage.
</p><p>	Such point can be further illustrated by Chinese Foreign Minister Wang Yiâs remarks at a press conference on the sidelines of the national legislatureâs annual session.
</p><p>	He noted that Chinaâs diplomacy has established a fine tradition with distinctive features, including independence as the cornerstone of China's foreign policy, concern for the common good of humanity, pursuit of equity and justice, commitment to win-win outcomes, the mission of facilitating domestic development, and dedication to serving the Chinese people.
</p><p>	What he said drew an outline of and presented the world with the core values of Chinaâs diplomacy.
</p><p>	Xi Jinping Thought on Diplomacy is the fundamental guideline of Chinaâs diplomatic work in the new era, and it points the way for navigating through a complex array of issues in today's world.
</p><p>	China firmly safeguards national sovereignty, security, and development interests, and devotes itself to the joint construction of a new type of international relations and a community with a shared future for mankind with other countries. It is creating beautiful scenery of the modern world.
</p><p>	Chinaâs efforts to inject certainties to the world are obvious to all. Spanish newspaper La Vanguardia recently hailed the importance of China when reviewing the post-crisis situation of the world. It said that China stood out as a stabilizer when the world was facing huge uncertainties.
</p><p>	The world is experiencing profound changes unseen in a century, as unilateralism impacts global systems, protectionism threatens world economy, and populism hinders national governance.
</p><p>	Stability is necessary for the future peaceful development of the world. The more changes the world goes through, the more stabilizing factors are needed.
</p><p>	Working together with global partners, China firmly protects the international systems with the United Nations (UN) as the core, defends the international rules based on international law, and builds an open world economy under the concept of multilateralism. These endeavors are no doubt precious contributions to the stability and development of the world.
</p><p>	Chinaâs efforts to inject new energy to the common development of the world are universally recognized.
</p><p>	The second Belt and Road Forum for International Cooperation (BRF), to be held under the theme of âBelt and Road Cooperation, Shaping a Brighter Shared Futureâ, is expected to boost high-quality development of the Belt and Road cooperation and mark the beginning of a new round of common development of China and related countries.
</p><p>	The cooperation documents signed between China and 123 countries, as well as 29 international organizations on the joint construction of the Belt and Road Initiative (BRI) demonstrate the support and confidence of the international community for the Chinese scheme.
</p><p>	âChina always practices what it plans.â That is a compliment paid by the people from the Belt and Road countries.
</p><p>	Against the backdrop of the global economic slowdown and the drop in the growth of international trade and investment, to broaden the BRI cooperation has become a common aspiration of more countries, as it will bring tangible benefits to the people.
</p><p>	China is playing an increasingly prominent role in providing constructive solutions to the resolving of international hotspot issues.
</p><p>	It has always adhered to equity and justice on international hotspot issues, and committed to the settlement of issues through peaceful dialogues and consultation, gaining wide trust of the world.
</p><p>	Besides, China is also making efforts to create possibilities of and conditions for consensus expansion, playing a constructive role in promoting peace through talks.
</p><p>	According to an investigation carried out in 133 countries and regions by American analytics and advisory company Gallup from March to December last year, international community has become more positive toward China. The public opinion exactly demonstrates the charm of Chinaâs diplomacy in the new era.
</p><p>	Holding high the banner of building a community with a shared future for mankind, China is standing on the right side of history, and is standing by the common interests of the majority of the countries in the world.
</p><p>	The major-country diplomacy with Chinese characteristics showcases Chinaâs generosity and responsibility, indicating that the country will make more and greater contributions to the world peace and development. </p>"</body>
</html>