<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Commentary: "Two sessions" show quality of democracy in China
</h2>
<p class="one gray"> (Xinhua)    16:49, March 07, 2019
</p>
<hr/><p>	BEIJING, March 7 (Xinhua) -- Those anticipating confrontation and competition between political parties -- as often seen in Western parliaments -- will be disappointed at China's ongoing "two sessions."
</p><p>	The annual sessions of the 13th National People's Congress (NPC) and the 13th Chinese People's Political Consultative Conference (CPPCC) National Committee are touching upon every aspect of China's major policies, and more importantly, finding solutions to problems and challenges ahead.
</p><p>	Lawmakers and political advisors are reviewing and discussing a government work report, which announces measures to bolster economic growth including tax cuts, reforms, and more support for the private sector.
</p><p>	The sessions receive wide attention from the public who are looking for details on how the government will deliver promises on blue skies, better education, elderly and child care, or in one word, meeting the people's demands for a better life.
</p><p>	Work reports of the Supreme People's Court and the Supreme People's Procuratorate will soon be submitted onto the table of deputies to the NPC, China's highest organ of state power, and members of the CPPCC National Committee, China's top political advisory body.
</p><p>	Legislators will also vote on a draft law that aims to promote and protect foreign investment amid China's efforts to further reform and open up.
</p><p>	The "two sessions" have shown the government's engagement in a broad-based consultation with different social sectors, its communication abilities and implementation efficiency.
</p><p>	For China, a quality democracy stands on solid ground with regard to key aspects of good governance, with government promises kept and long-term, forward-thinking solutions implemented. It depends on people getting involved, making themselves heard and, more importantly, having their demands met.
</p><p>	A system worth people's trust must be one where the people manage state affairs in conformity with legal provisions, the public express their requirements without hinderance, national decisions are made in a rational, democratic way and the exercise of power is kept under effective restraint and supervision.
</p><p>	The best form of democracy is the one that works. It is not about campaigning and debating. It is the impact of the policy outcomes that counts.
</p><p>	While governments in a number of Western countries are facing social tensions and finding reforms difficult, China is, through its own democracy, seeking consensus and mobilizing the strength of the entire country toward the goal of national rejuvenation.
</p><p>	The Chinese economy is being transformed from fast growth to high-quality development. The gap between urban and rural development has been narrowed. Millions of new jobs are being created. The country is winning the battle against extreme poverty.
</p><p>	China has set the target of completing building a moderately prosperous society by 2020. It will be the first time in human history that a country of more than 1 billion march into modernization as a whole.
</p><p>	It is the Chinese people that have the final say on the impact of the policies and the effectiveness of democracy.
</p><p>	China's national conditions indicate that it will not engage in multi-party rotations of political power, or adopt other concepts such as separation of powers or bicameral legislatures.
</p><p>	The Western experience can only be used as a reference, but should never be copied.
</p><p>	Being confident, however, does not mean China regards its system as flawless. Continous efforts must be made to further improve socialist democracy so that the people can give full play to their creativity.
</p><p>	Challenges lie ahead. China's per capita GDP is to 10,000 U.S. dollars, still far from that of developed countries. Development requires careful thinking, planning, cooperation and consultation between the government and the public.
</p><p>	This is what is happening at the ongoing "two sessions," which will make decisions conforming to the fundamental interests of the overwhelming majority and demonstrating a quality democracy that withstands the test of history.</p>"</body>
</html>