<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinaâs AI industry poised to enter boom times
</h2>
<p class="one gray"> (Global Times)    09:07, May 21, 2019
</p>
<hr/><p>
</p><p>Huatuo Health Town settled in Hangzhou to show the development trend of âAI+ Internet Medicalâ. (Photo by Long Wei from Peopleâs Daily Online)
</p><p>	Chinaâs artificial intelligence (AI) industry made rapid strides during the past year, and it is about to enter a period of development and facilitate the transformation and upgrading of Chinaâs economy, according to a report by the Chinese Institute of New Generation Artificial Intelligence Development Strategies.
</p><p>	The Chinese government attaches great importance to the development of AI. The Ministry of Industry and information Technology in 2017 issued a three-year action plan for promoting the development of the AI industry. The plan said that by 2020, major breakthroughs would be made in AI technologies.
</p><p>	Local Chinese governments have increased financial and educational investment in the AI industry.
</p><p>	Beijing raised $2.1 billion in 2018 to build a science and technology park centered on AI research and development (R&D). The park is scheduled to be completed in five years and will house more than 400 ventures.
</p><p>
</p><p>FAW Hongqi 5G unmanned electric minibus debut in Hangzhou Auto AI robot can answer peopleâs questions at any time. (Photo by Long Wei from Peopleâs Daily Online)
</p><p>	In 2018, China ranked first in the world for financing in the AI industry, with 577 out of the 745 AI enterprises having raised 383 billion yuan ($ 55.4 billion), doubling the previous yearâs investment, according to the report.
</p><p>	Most of the important financing events in 2018 occurred to AI unicorn companies.
</p><p>	For example, SenseTime raised $1.62 billion and is valued at $6 billion, making it the AI unicorn company with the highest valuation. Megvii Technology, also a unicorn, raised $600 million in 2018 and set a new financing record in the facial recognition sector.
</p><p>	The development of the AI sector has also received support from Chinese schools. As of February 28, 2019, China had 94 AI universities and 75 non-university scientific research institutions engaged in AI basic research, technology development and talent cultivation.
</p><p>	China has the biggest database in the world. Big data is widely applied in many fields in China, including finance, medical treatment, telecoms and transportation.
</p><p>	âChinaâs AI enterprises are positioned intensively at the application and technology layer,â Liu Gang, director of the Nankai Institute of Economics, told the Global Times on Sunday, May 19. Liu is also the chief economist at the Chinese Institute of New Generation Artificial Intelligence Development Strategies.
</p><p>	AI technology is being gradually applied in daily life in China in the sectors of big data, cloud computing, facial recognition and others.
</p><p>	Facial recognition is being used in banks, transport and other self-service situations. Passengers in Jinan, capital of East Chinaâs Shandong Province, can use facial recognition to unlock entry gates. The technology can also be used to open self-service parcel pickup machines.  </p>"</body>
</html>