<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>âWe need to learn to listen to Chinaâ
</h2>
<p class="one gray">By An interview with Dame Jenny Shipley   (People's Daily)    09:17, February 18, 2019
</p>
<hr/><p>	In 1995, I attended the World Conference on Women held in Beijing, which was my first time to China It was an important moment the worldâs female leaders gathered in China to carry out dialogues on topics concerning womenâs development and rights. At that time, China had just began to show confidence in international exchanges and dialogues.
</p><p>	I still remembered the widespread Chinese put forward by Chairman Mao Zedong â âwomen hold up half the skyâ. During the past four decades since the reform and opening up, there has been a lot of progress in education, employment and development of women in China.
</p><p>	I hope that both the government and social enterprise, whether itâs in China or any other country, women at every level are allowed to share their ideas and jointly make decisions with men in an equal way. This is also one of the reasons why Iâm committed to the Boao Forum for Asia (BFA) and served as a director for the forum since 2015.
</p><p>	I want more women, like myself, to sit at the same table while sharing the responsibility and create the future together with men.
</p><p>	China has witnessed tremendous changes in every respect over the past forty years, including lifting seven hundred million people out of poverty and making its per capita income rise. Besides, China has made huge contributions to the worldâs economic growth.
</p><p>	The country has not only made great efforts to promote domestic reform, but also endeavored to open its market up to the rest of the world. Chinaâs entry into the World Trade Organization (WTO) is a good example of its efforts to boost opening up.
</p><p>	Since its entry into the WTO, China has actively signed free trade agreements with neighbors and other countries in and out of the region, aiming to find out ways to work together.
</p><p>	One of the reasons for Chinaâs great successes over the forty years since reform and opening up was that it connected its people to the markets, which has created huge wave of progress in its industrialization process.
</p><p>	The Belt and Road Initiative (BRI) proposed by China is one of the greatest ideas weâve ever heard globally. It is a forward-looking idea, and in my opinion, it has the potential to create the next wave of economic growth.
</p><p>	Chinese President Xi Jinping announced a series of major measures on further promoting opening up at the BFA annual conference in 2018, demonstrating Chinaâs determination to continue adhering to reform and opening up.
</p><p>	Xiâs keynote speech at the BFA explicitly affirmed Chinaâs commitment to safeguarding multilateralism and continuing opening its door to the rest of the world, which deeply encouraged the international audience present.
</p><p>	While China continues to think about how it can open wider to the world, we should learn to listen to China. We need to work with China, the second largest economy in the world, globally to find ways to explore the future and move forward together.
</p><p>	We have high hopes for Chinaâs next stage of opening up in the next forty years. 
</p><p>Dame Jenny Shipley is former prime minister of New Zealand. The article is based on the interview by journalist with People's Daily in December 2018.
</p><p>	 </p>"</body>
</html>