<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China's peacekeeping efforts hailed at UN headquarters exhibition
</h2>
<p class="one gray"> (Xinhua)    10:29, February 16, 2019
</p>
<hr/><p>
</p><p>	China's peacekeeping efforts have been hailed by UN officials and military personnel at a UN headquarters exhibition depicting Chinese soldiers' service and devotion.
</p><p>	With the theme "CPLA (Chinese People's Liberation Army): A Force for World Peace," the exhibition displays four sections of pictures, featuring Chinese military's participation in UN peacekeeping missions, securing maritime passages, disaster relief and humanitarian assistance, as well as exchanges and cooperation.
</p><p>	"An impressive exhibition of a country that is a major force in support of UN peacekeeping and, indeed, multilateralism," UN Under-Secretary-General for Operational Support Atul Khare wrote on the guest book.
</p><p>	Since 1990, the CPLA has participated in 24 peacekeeping operations, dispatching more than 39,000 peacekeeping military personnel, data from the exhibition show.
</p><p>	It has also listed all the 13 Chinese peacekeepers that died in the front line of operations. The latest death occurred in July 2016 in South Sudan.
</p><p>	Currently, China deploys a total of 2,508 uniformed personnel, including 70 women, to eight of the UN peacekeeping missions, including those in South Sudan, Lebanon, and the mostly deadly Mali, according to Khare.
</p><p>	In his remarks to the launch of the exhibition, the under-secretary-general spoke highly of China's role in UN peacekeeping, noting China is the 10th largest contributor of uniformed personnel and the second largest financial contributor to peacekeeping budget.
</p><p>	In December, China's share of the UN peacekeeping budget was raised from 10.24 percent to 15.22 percent, making it the second largest contributor only after the United States.
</p><p>	While watching the show, UN Military Adviser for Peacekeeping Operations Carlos Humberto Loitey told Xinhua that China's contribution to the UN peacekeeping is worth "highlighting," with "good quality" of peacekeepers and "outstanding support in terms of training."
</p><p>	Hugh Van Roosen, deputy military advisor at UN Department of Peacekeeping Operations, told Xinhua that a total of 124 countries participated in the UN peacekeeping operations and the "the effort China has put forward, in particular in missions like in South Sudan, is certainly, absolutely integral to the success of these missions."
</p><p>	Training, leadership, mindset -- Roosen said China has been leading in many "areas of concern" and has brought good experience into the missions.
</p><p>	Echoing this remark, "I have had the opportunity to be trained by CPLA and I discovered these very professional personnel in South Sudan in 2008," a visitor from the UN Department of Peacekeeping Operation wrote in the guest book.
</p><p>	On anti-pirate operations, in one picture of the show, the Chinese navy convoy fleet rescued a Tuvalu cargo ship in April 2017; in another, some rescued crew were waving a Chinese national flag. The exhibition reveals since December 2008, the Chinese Navy has regularly deployed three to four vessels in the Gulf of Aden to carry out escort missions.
</p><p>	In addition, the CPLA's efforts in disaster relief and humanitarian assistance are displayed in the show. The pictures have shown the CPLA's aid for various disasters including Haiti earthquake in 2010 and Ebola epidemic in West Africa.
</p><p>	The hospital ship "The Peace Ark" was highlighted in the exhibition, with pictures showing its medical staff treating local patients and playing games with them. In the past 10 years, the hospital ship the Chinese navy has visited 43 countries to provide medical services, benefiting more than 230,000 people, according to the exhibition.
</p><p>	Launched on Feb. 11, the 12-day exhibition is co-hosted by the Political Work Department of China's Central Military Commission and Chinese Permanent Mission to the United Nations.
</p><p>	Mao Naiguo, head of the CPLA delegation for international communication, expressed his hope that visitors of the show would know better about the CPLA's aspiration for peace and the responsibility they shoulder for achieving it.
</p><p>	As Mao put forward at the launching ceremony, "China walks on the path of justice and peace. It has always been a 'positive energy and warm strength' promoting respect for life and pursuit for security."</p>"</body>
</html>