<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Reports of anti-Christmas bias are simply humbug: China Daily editorial
</h2>
<p class="one gray"> (Chinadaily.com.cn)    08:56, December 27, 2018
</p>
<hr/><p>
</p><p>	In what has become traditional season's greetings, every year about this time, there are Western media reports about China pushing back against Christmas.
</p><p>	They cite as "evidence" for this rumors about local officials forcing the removal of Christmas decorations or Christmas-related goods.
</p><p>	That the government in Langfang, Hebei province, was banning Christmas goods was one such rumor, which is a misrepresentation of a local pre-holiday campaign aimed at street peddlers' unauthorized occupation of public spaces.
</p><p>	These reports turn a blind eye to the ubiquitous Christmas decorations and festive dining in many cities.
</p><p>	Such biased reports simply serve as a means to reinforce the stereotype the West is trying to peddle of the atheist Chinese authorities being anti-religion.
</p><p>	Not to mention that such reports feed the misperception that an increasingly assertive China giving a cold shoulder to the entire West. No wonder the otherwise easily dismissed rumors have found some receptive believers this time â despite the Chinese government having clearly affirmed its commitment to the rule of law, and the Constitution guaranteeing freedom of religious belief.
</p><p>	In fact, the government has no reason to throw a wet blanket over the festive season. Why would it, especially when so much of its appeal is material.
</p><p>	But there is the rub, while people enjoy it as another opportunity to have a good time with friends and family, and retailers and hospitality companies like it, there are others who decry it for promoting consumerism.
</p><p>	And that being said, there can be no denying there have long been mixed views toward Christmas in the Chinese society as it has grown more visible. A few people even appeal for a boycott, hoping to make it a test of "Chineseness".
</p><p>	A video clip showing children swearing allegiance to traditional Chinese holidays and opposition of Western ones went viral online.
</p><p>	But that is not representative of the nation as a whole. Some people, perhaps even certain local officials, may dislike Christmas. But they are not the majority.
</p><p>	There is no way the government would embrace or promote xenophobia, as to do so would only end up hurting the nation itself.
</p><p>	Given the country's need and its resolve to further open up, suppressing Christmas celebrations in the country would only create an image of narrow-minded nationalism.
</p><p>	And one of the lessons from China's success story over the past four decades of reform and opening-up has been the importance of fostering cultural inclusiveness.
</p><p>	Which is why China has vowed to embrace "the cream of all human civilizations".
</p><p>	We should take pride in our own. In February, there will be activities and celebrations in cities around the world to mark the Chinese New Year. This festival is becoming increasingly visible in the West as more people around the world want to experience Chinese culture.
</p><p>	Making our own traditional holidays more popular overseas is more desirable than boycotting a Western holiday here.
</p><p>	Beijing knows that.</p>"</body>
</html>