<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese telecom giant Huawei launches Cloud & AI Innovation Lab in Singapore
</h2>
<p class="one gray"> (Xinhua)    13:47, April 25, 2019
</p>
<hr/><p>	SINGAPORE, April 24 (Xinhua) -- China's telecom giant Huawei on Wednesday launched its Cloud & AI Innovation Lab in Singapore at the Huawei Cloud Summit 2019, to cultivate local artificial intelligence (AI) talents, bridge Singapore with state-of-art AI technologies globally, and accelerate cloud and AI innovations.
</p><p>	According to a press release from Huawei, the missions for the new lab line up well with Singapore's Smart Nation initiatives.
</p><p>	Backed by the computing power and a wide range of AI solutions offered by Huawei Cloud, the lab will provide powerful AI services and resources, and its opening will deepen collaboration between Huawei and Singapore's local universities and enterprises in carrying out research. Meanwhile, AI developers and companies in Singapore and the Asia-Pacific region will have the opportunity to join in more research projects and innovations on AI training and learning with the lab.
</p><p>
</p><p>(Photo/Xinhua)
</p><p>	Deng Tao, president of Huawei Cloud Global Market and vice president of Huawei Cloud Business Unit, said that the business unit attaches great importance to its development in Singapore and the Asia Pacific, and it will provide full-stack intelligent cloud services for governments, universities, enterprises and partners in the region, to join hands with them in innovation, and to help accelerate intelligent transformation of local industries.
</p><p>	He said at a press conference on the sideline of the Huawei Cloud Summit 2019 that the open lab mechanism has been shown to be very effective in China and Europe.
</p><p>	Besides of the lab, Huawei announced another two key launches at the summit to help build outstanding cloud services for Asia Pacific. They are the Go-China/Go-Global plan, which is designed to help more enterprises develop worldwide services; and their flagship cloud services, including new-generation elastic cloud server, newest object storage service, and new-generation high-performance distributed Taurus database.
</p><p>	The telecom company also unveiled its new Huawei Intelligent Computing Business Department alongside its Atlas AI computing platform and FusionServer Pro intelligent servers at the summit, and it announced an intelligent computing talent development plan to support Singapore's Smart Nation initiatives.
</p><p>	The Huawei Cloud Summit 2019, from Wednesday to Thursday, is expected to attract over 2,000 customers, partners, industry academics, and developers of Huawei from Singapore and the Asia-Pacific region to gather, share and discuss innovative products and intelligent practices from fields, such as cloud computing, AI, and big data.</p>"</body>
</html>