<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Japanese rightists' move to deny Nanjing Massacre doomed to fail
</h2>
<p class="one gray"> (China Daily)    08:33, December 13, 2018
</p>
<hr/><p>
</p><p>	The names of 26 recently confirmed victims of the Nanjing Massacre are engraved on the wailing wall of the Memorial Hall. [Photo/chinadaily.com.cn]
</p><p>	Thursday marks the National Memorial Day for Nanjing Massacre Victims. On Monday, a monument for the victims, the first of its kind overseas, was unveiled in Toronto, Canada. China Daily writer Zhang Zhouxiang comments:
</p><p>	In October 2017, the Ontario provincial parliament passed a motion to formally memorialize the victims of the Nanjing Massacre.
</p><p>	The move is a victory for all people who vow to defend justice and the historical facts. It means that increasingly more overseas residents are recognizing the crimes committed by the military forces of imperial Japan during World War II, which will make it more difficult for anyone in Japan to deny the historical truth.
</p><p>	Just like Wang Haibin, an associate professor of Japanese studies at the University of International Business and Economics, said, there are many right-wing people in Japan who equate their nation's defeat in the war only as the result of its mistake in not joining the Western alliance. Some of them play tricks by trying to cover up what the Japanese troops did in neighboring countries. The existence of a monument in a Western city will help to end any illusions some in Japan might have that people will forget what happened. We hope more monuments will be established elsewhere in the world.
</p><p>	Actually, China has taken many more measures to make that part of history known to the world, and the most important one is trying to find out the names of all the victims, said Zhou Yongsheng, a professor of Japanese studies at China Foreign Affairs University.
</p><p>	On Monday, 26 new names were added to the list of the victims carved on the wall of remembrance inside the Memorial Hall of the Victims in Nanjing Massacre by Japanese Invaders, and the total number of the names is now 10,664. "Every name of a victim is a solid evidence to the Nanjing Massacre," Zhou said. "More importantly, by trying to find out the name of every victim in the massacre, China is showing its respect to life and history."
</p><p>	That move will in turn ensure that part of history can never be distorted.</p>"</body>
</html>