<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Op-ed: Xi's Europe, LatAm trip injects stability into world
</h2>
<p class="one gray">By Zhong Sheng (People's Daily)    10:34, December 10, 2018
</p>
<hr/><p>	Chinese President Xi Jinpingâs latest successful diplomatic activities have again sent a signal to the world that however the international situation changes, China will always increase indispensible stability to the world that stands at critical moment by maintaining strategic composure, keeping a clear mind, and acting constructively and proactively.
</p><p>	China adds stability by showcasing a responsible stance to safeguard multilateralism and enhance global governance, which was expressed by Xi during his 9-day trip to Europe and Latin America.
</p><p>	From Nov. 27 to Dec. 5, Xi paid state visits to Spain, Argentina, Panama and Portugal, and attended the 13th Group of 20 (G20) summit in Buenos Aires.
</p><p>	Currently, the world needs to get rid of the deep-seated influence of the financial crisis, quicken the pace to replace old growth drivers with new ones, and conquer social pressure that came along with technological and industrial revolutions.
</p><p>	Against this backdrop, the G20 is placed with the hope to continue adopting a strategic vision and play a leading role in safeguarding multilateralism and improving global governance.
</p><p>	Xi called on G20 leaders to fulfill responsibility and steer the global economy in the right direction, in a speech delivered at the G20 summit.
</p><p>	He said that G20 leaders should stay committed to openness and cooperation and uphold the multilateral trading system, forge strong partnership and step up macro policy coordination.
</p><p>	The Chinese President also called on the G20 leaders to stay committed to innovation and create new momentum for growth, and stay committed to win-win cooperation to promote inclusive global development.
</p><p>	Kept abreast with the change of the international situation, Xiâs proposals offer a solution to the current challenges and are conducive to strong, sustainable, balanced and inclusive growth of global economy.
</p><p>	It also played a key role in propelling the G20 summit to reach consensus on major international agendas and release a declaration.
</p><p>	China injects stability by working actively to push for benign relations between major countries.
</p><p>	During the G20 summit, the meeting between President Xi and his US counterpart Donald Trump was the focus of global attention.
</p><p>	 
</p><p>	The two presidents agreed to jointly work toward a China-US relationship tuned by coordination, cooperation and stability, and promote bilateral cooperation and exchanges in various fields for more outcomes.
</p><p>	The important consensus not only conforms to the interests of China and the US, but also to expectations of the international community.
</p><p>	China-Russia relations, special and developing at a high level, are a role model for relations between major countries. During the G20 summit, President Xi and Russian President Vladimir Putin held a meeting like they did on multiple multilateral occasions.
</p><p>	The two heads of state, in their talks, made plans to celebrate the 70th anniversary of China-Russia diplomatic relations next year, in order to lead their comprehensive strategic partnership of coordination to a higher level.
</p><p>	China contributes more stability by showing willingness to deepen partnership through cooperation. In the latest years, Chinaâs closer cooperation with Europe and Latin America has given a boost to development of both sides, and expanded their global influence.
</p><p>	Xiâs visits to the above four countries have not only injected strong impetus into bilateral cooperation, but also created new engines for Chinaâs cooperation with the two regions.
</p><p>	Xiâs trip has indicated that as China further deepens reform and expands opening-up, it is unleashing more development opportunities to the world, and countries are having stronger confidence in fostering partnership, and achieving win-win cooperation with China.
</p><p>	Thanks to Xiâs visit, Spain, Argentina, Panama and Portugal are more willing to join the Belt and Road cooperation, and their pragmatic cooperation with China is embracing a promising prospect.
</p><p>	Spanish Prime Minister Pedro Sanchez pointed out that Spain is laying more importance on Asia, especially China, which is opening itself wider to the world.
</p><p>	(Zhong Sheng, a homonym in Chinese for âvoice of Chinaâ, is a pen name often used by Peopleâs Daily to express its views on foreign policy.) </p>"</body>
</html>