<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Commentary: G20 needs to build consensus for better global development
</h2>
<p class="one gray"> (Xinhua)    15:22, November 30, 2018
</p>
<hr/><p>	BEIJING, Nov. 30 (Xinhua) -- As leaders of the world's major economies gather in Buenos Aires for this year's Group of 20 (G20) summit, they carry high expectations from across a world in crying need of consensus and confidence.
</p><p>	G20 leaders held their inaugural summit in Washington 10 years ago for the purpose of striking a general agreement to cooperate in key areas so as to deal with the financial crisis that swept through the globe.
</p><p>	A decade on, the G20 has become the central stage for international economic cooperation.
</p><p>	Driven by the G20 and other multilateral mechanisms, the international community has over the years coordinated macro-economic policies, jointly defused financial risks, and cemented the momentum of the hard-won global economic recovery.
</p><p>	Even though the upward trend has not changed fundamentally, worries about risks and downward pressure are simmering for the moment.
</p><p>	On the one hand, economic globalization is encountering headwind and trade frictions are on the increase.
</p><p>	On the other, due to such factors as the Fed's serial rate hikes and geo-political uncertainties, financial markets across the world are witnessing increasing volatility, and major economies are moving at different speeds.
</p><p>	The Organization of Economic Co-operation and Development (OECD) has lately cut its 2019 and 2020 global growth forecast to 3.5 percent, compared with this year's 3.7 percent.
</p><p>	Against such a backdrop, the world is following the upcoming G20 summit particularly eagerly, with hopes running high that it will build consensus, boost confidence and stabilize market expectations.
</p><p>	The summit, to be held under the theme of "Building Consensus for Fair and Sustainable Development," will address topics such as world economy, trade and investment, digital economy, sustainable development, infrastructure and climate change.
</p><p>	With no doubt, how to keep development fair and sustainable will be one of the focal points at the Buenos Aires summit.
</p><p>	To ensure fair development, it is a must to advocate inclusive development and address such social issues as poverty, unemployment and widening income gaps, so that all parties can benefit from economic growth and technological advancement and all people will share the fruits of economic globalization and world economic growth.
</p><p>	To achieve sustainable development, the trend of economic globalization should be followed and the key driving forces, including free trade, be grasped.
</p><p>	In a G20 Surveillance Note released by the International Monetary Fund (IMF) in July, the international financial institution reiterated that the global economy relies on "an open, fair, and rules-based international trade system."
</p><p>	Christine Lagarde, managing director of the IMF, urged policy-makers of the G20 to develop multilateral solutions that will improve the global trade system.
</p><p>	Argentina's G20 sherpa, Pedro Villagra Delgado, said Argentina supports rules-based free trade and greater business flows around the world, and will seek consensus on major issues among participating parties of the G20 summit and show the world a positive G20.
</p><p>	Most of the G20 members champion multilateralism and international institutions, said Miguel Messmacher, who coordinates Mexico's G20 affairs.
</p><p>	Over the years, the G20 mechanism has built a bridge of cooperation between developed and developing countries and generated more consensus than divergence, he said.
</p><p>	Chinese Assistant Foreign Minister Zhang Jun said China supports Argentina in hosting a successful summit and looks forward to the meeting producing positive outcomes and injecting new impetus in G20 cooperation.
</p><p>	These voices reflect global expectations. Given the rising challenges and the G20's gravity, it is time for leaders of the leading economies to forge consensus, strengthen solidarity and boost cooperation, so as to keep leading world development forward.</p>"</body>
</html>