<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China, Argentina enjoy close ties despite long distance
</h2>
<p class="one gray">By Yang Wanming (People's Daily)    15:58, November 28, 2018
</p>
<hr/><p>	The 13th Group of 20 (G20) summit is scheduled to be held in Buenos Aires, Argentina from Nov. 30 to Dec. 1. This year marks the 10th anniversary of the mechanism. Chinese President Xi Jinping was invited to attend the summit and pay a state visit to Argentina.
</p><p>	The world has been going through profound changes for some time. G20, as the premier forum for international economic cooperation, takes the proper guidance of global economy as its primary responsibility.
</p><p>	Taking over the baton of history, Argentina will be the first country in South America to hold the event. By showing full support and maintaining close coordination, China will work with Argentina to jointly safeguard the interests of developing countries and emerging markets.
</p><p>	President Xiâs attendance not only demonstrates strong support for Argentinaâs holding of the summit, but also makes a strong voice to safeguard multilateralism, build an open world economy and establish global partnership, so as to make contribution to the improvement of global governance.
</p><p>	It will be the Chinese Presidentâs first visit to Latin America after the 19th National Congress of the Communist Party of China (CPC), marking a milestone for China-Argentina relations and China-Latin America relations.
</p><p>	The last visit of President Xi to Argentina traces back to four years ago, during which he and the Argentine head of state agreed to lift bilateral ties to comprehensive strategic partnership.
</p><p>	In recent years, President Xi and his Argentine counterpart Mauricio Macri have met four times and reached important consensus on continuing to work for comprehensive and in-depth development of China-Argentina comprehensive strategic partnership, to further cement mutual political trust and lay a solid foundation for bilateral pragmatic cooperation.
</p><p>	Despite the long distance, China and Argentina are highly complementary to each otherâs development advantages and demands. China has maintained Argentinaâs second largest export market, the largest destination of agricultural exports and the second largest source of imports for years.
</p><p>	In addition, bilateral cooperation is developing in an all-round manner, expanding from traditional areas such as infrastructure, energy and mining, to emerging sectors of new energy, modern agriculture and biotechnology. Moreover, the cooperation models between two countries also extended from engineering contracting and trade in goods to publicâprivate partnership and trade in services.
</p><p>	Meanwhile, both countries are seeing great enthusiasm of their peoples for each otherâs culture.
</p><p>	Since four years ago when I came here as the Chinese Ambassador to Argentina, the number of Argentines applying for Chinese visas on business and tourism purposes has been surging, so has been the amount of Chinese culture fans and Chinese language learners. The annual temple fair celebrating Chinese Spring Festival in Buenos Aires has also become the largest celebration activity for a Chinese festival in Latin America.
</p><p>	Similarly, more Chinese children are coming to Argentina for football training, dreaming to become Chinaâs Lionel Messi. In recent two years, the number of tango clubs in China has totaled over 50, and the imports of beef, red shrimps and blueberries from Argentina are also welcomed and taken as gifts by the Chinese.
</p><p>	I believe that more Chinese will come to Argentina to taste wines in Mendoza, to enjoy the sight of Iguazu Falls, hills in Bariloche and glaciers in El Calafate, and to take selfies in Ushuaia, the southernmost city in the world. They will finally fall in love with this extremely charming country just like I do.
</p><p>(The author is the Chinese Ambassador to Argentina) </p>"</body>
</html>