<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Sudan's military council, opposition vow to reach deal
</h2>
<p class="one gray"> (Xinhua)    15:30, May 21, 2019
</p>
<hr/><p>	KHARTOUM, May 21 (Xinhua) -- Sudan's ruling Transitional Military Council (TMC) and an alliance of opposition forces on Tuesday vowed to work together to reach an "urgent agreement" as their negotiation continues.
</p><p>	The TMC and the Freedom and Change Alliance centers still differ on the representation of the military and the civilians in the transitional sovereignty council as well as the chairmanship of the new ruling body, the two sides said in a joint statement.
</p><p>	The TMC, which is tasked with running the country following the ouster of former President Omar al-Bashir, and the opposition have recently agreed on the powers of the sovereignty council, the council of ministers and the legislative council.
</p><p>	They also agreed that the duration of the transitional period would be three years, with the first six months to be allotted for achieving peace all over Sudan and the legislative council is to comprise 300 members, 67 percent of whom are from the Freedom and Change Alliance.</p>"</body>
</html>