<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China further regulates military expenditure
</h2>
<p class="one gray"> (Xinhua)    08:38, May 13, 2019
</p>
<hr/><p>	BEIJING, May 11 (Xinhua) -- The General Office of the Central Military Commission (CMC) has issued a provisional plan to further regulate military expenditure.
</p><p>	The plan stated a standard procedure for the settlement and reimbursement of expenditures for military units and clarified the duties and responsibilities of different departments.
</p><p>	It also gave specific requirements on the review and approval of financial practice and asked for improved supervision and transparency of the process.
</p><p>	The regulation can help strictly check military expenditure and reduce financial malpractices in the military, according to sources with the General Logistics Department of the CMC.</p>"</body>
</html>