<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China, Thailand conclude joint naval training
</h2>
<p class="one gray"> (Xinhua)    09:27, May 09, 2019
</p>
<hr/><p>	ZHANJIANG, Guangdong, May 8 (Xinhua) -- China and Thailand's naval forces on Wednesday concluded a week-long joint training exercise at a military port in Zhanjiang, south China's Guangdong Province.
</p><p>	Seven naval ships, five observers and more than 1,000 soldiers from both sides participated in the program which included training at the port area and maritime training.
</p><p>	The program was a new starting point for the naval forces of both sides to jointly tackle security threats and safeguard regional peace and stability, said Huang Fengzhi, commander of Chinese participating forces.
</p><p>	The joint training aims to improve friendly and pragmatic cooperation between the two naval forces and enhance their capability to cope with maritime security threats, according to a statement released when the program was launched.</p>"</body>
</html>