<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China-Russia joint exercise holds marines contests
</h2>
<p class="one gray"> (Xinhua)    14:37, May 02, 2019
</p>
<hr/><p>
</p><p>	The China-Russia "Joint Sea-2019" military exercise Tuesday held contests between the two countries' naval marine contingents.
</p><p>	Contestants on both sides took part in competitions including riflery, sniping and steeplechase.
</p><p>	Chen Weidong, vice chief of staff of the Chinese Navy's marines forces, said the contests provided opportunities for mutual learning and exchanges between the two sides, noting that the events also enhanced friendship.
</p><p>	The "Joint Sea-2019" exercise runs from April 29 to May 4 and focuses on joint sea defense.
</p><p>	Zhang Junshe, a researcher with the Naval Research Academy under the Chinese Navy, said the joint exercise showed the high-level strategic mutual trust between the two countries' militaries, as both sides have sent some of their main vessels in service to the drill, and shared some performance information about their vessels and equipment in the drill.
</p><p>	The capabilities of the two countries' militaries to carry out joint operations have been continuously improving and the two navies are also injecting positive energy to world peace and regional stability, Zhang said.
</p><p>	Zhang noted the defensive nature of the drill, which does not target any third party. He said the drill includes basic combat techniques in defensive operations at sea as well as actions to jointly respond to non-traditional threats such as maritime search and rescue, fighting piracy and maintaining the safety of marine traffic routes.</p>"</body>
</html>