<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China conducts joint naval exercise with Southeast Asian countries in Qingdao
</h2>
<p class="one gray"> (Chinanews.com)    08:25, April 28, 2019
</p>
<hr/><p>
</p><p>	Naval vessels take part in a joint naval exercise on the sea off Qingdao, east China's Shandong Province, on April 26, 2019. China conducted a joint naval exercise with Southeast Asian countries in Qingdao, with focus on jointly handling maritime emergency rescues. ï¼Photo: China News Service/Li Chunï¼
</p><p>
</p><p>	A helicopter takes off from a Chinese naval vessel during a joint naval exercise on the sea off Qingdao, east China's Shandong Province, April 26, 2019. China conducted a joint naval exercise with Southeast Asian countries in Qingdao, with focus on jointly handling maritime emergency rescues. ï¼Photo: China News Service/Li Chunï¼
</p><p>
</p><p>	Chinese officers participate in a joint naval exercise on the sea off Qingdao, east China's Shandong Province, on April 26, 2019. China conducted a joint naval exercise with Southeast Asian countries in Qingdao, with focus on jointly handling maritime emergency rescues. ï¼Photo: China News Service/Li Chunï¼
</p><p>
</p><p>	A Thailand naval vessel participates in a joint naval exercise on the sea off Qingdao, east China's Shandong Province, April 26, 2019. China conducted a joint naval exercise with Southeast Asian countries in Qingdao, with focus on jointly handling maritime emergency rescues. ï¼Photo: China News Service/Li Chunï¼
</p><p>
</p><p>	A helicopter takes off from a Chinese naval vessel during a joint naval exercise on the sea off Qingdao, east China's Shandong Province, on April 26, 2019. China conducted a joint naval exercise with Southeast Asian countries in Qingdao, with focus on jointly handling maritime emergency rescues. ï¼Photo: China News Service/Li Chunï¼
</p><p>
</p><p>	A Vietnam naval vessel participates in a joint naval exercise on the sea off Qingdao, east China's Shandong Province, April 26, 2019. China conducted a joint naval exercise with Southeast Asian countries in Qingdao, with focus on jointly handling maritime emergency rescues. ï¼Photo: China News Service/Li Chunï¼
</p><p>
</p><p>	Foreign naval vessels participate in a joint naval exercise on the sea off Qingdao, east China's Shandong Province, April 26, 2019. China conducted a joint naval exercise with Southeast Asian countries in Qingdao, with focus on jointly handling maritime emergency rescues. ï¼Photo: China News Service/Li Chunï¼</p>"</body>
</html>