<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Warship open day event held in Qingdao
</h2>
<p class="one gray"> (Xinhua)    09:16, April 25, 2019
</p>
<hr/><p>
</p><p>	Visitors view the guided-missile destroyer Guiyang of the Chinese People's Liberation Army (PLA) Navy during a warship open day event in Qingdao, east China's Shandong Province, April 24, 2019. A warship open day event was held on Wednesday in Qingdao, as part the multinational naval events marking the 70th founding anniversary of PLA Navy. (Xinhua/Guo Xulei)</p>"</body>
</html>