<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Israeli army demolishes house of Palestinian accused of killing 2 Israelis
</h2>
<p class="one gray"> (Xinhua)    09:09, April 25, 2019
</p>
<hr/><p>ãã
</p><p>	Israeli forces are seen after they demolished the residential home of Omar Amin Abu Lila, a Palestinian suspected of killing an Israeli soldier and a civilian in the West Bank in March, in the village of a-Zawiya, southeast of Qalqilya, April 24, 2019. Bulldozers accompanying by Israeli army troops, Border Police officers, and the Civil Administration personnel carried out the demolition of the apartment, an Israeli military spokesperson said in a statement. (Xinhua/Nidal Eshtayeh)
</p><p>	RAMALLAH, April 24 (Xinhua) -- The Israeli army demolished on Wednesday the house of a Palestinian who was accused of killing two Israelis in the West Bank in March.
</p><p>	Palestinian security sources said that the army demolished the house of Omar Abu Laila in the village of Zawiya, west of Salfit, by bombing it from inside.
</p><p>	Israel accused Abu Laila of carrying out an operation near a settlement in Salfit on March 16 that killed a soldier and a rabbi.
</p><p>	The Israeli army killed Abu Leila in an armed clash after chasing him for three days.
</p><p>	The Israeli army has decided to demolish the homes of the Palestinians, whom they accuse of carrying out operations against Israeli targets in the West Bank, which the Palestinians regard as violating international law.
</p><p>	On the other hand, 27 Palestinians were wounded in clashes that broke out earlier on Wednesday with the Israeli army in the city of Nablus.
</p><p>	According to medical teams of the Palestinian Red Crescent Society, seven wounded were shot by rubber bullets, including two head injuries, and they were transferred to the hospital for medical treatment.
</p><p>	Around 1,500 settlers entered the Joseph's Tomb earlier in the day with intensive security guard from the Israeli army to perform religious rites, accompanied by Knesset members of the ruling Likud party, according to Palestinian sources.
</p><p>	The site of Joseph is a destination for thousands of Israelis where they hold prayers and religious rituals of Judaism at the tomb of the Prophet Joseph, the eleventh son of the Prophet Jacob.
</p><p>	In a related context, the Palestinian Prisoners Club reported that the Israeli army arrested six Palestinians during a raid in Tulkarm and Bethlehem in the West Bank.
</p><p>	The Israeli army carries out almost daily arrests and raids in the West Bank as part of the hunt for Palestinians it calls "wanted," while Palestinians say it often touches civilians.</p>"</body>
</html>