<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China eyes earthquake warning and prediction technology
</h2>
<p class="one gray"> (Global Times)    10:51, May 13, 2019
</p>
<hr/><p>
</p><p>A depiction of one firemen and one soldier rescuing victims from the rubble exhibited at the Wenchuan Earthquake Museum. Photo: Li Hao/GT
</p><p>	China's earthquake early warning system is the "fastest in the world," Chinese seismologists asserted on Sunday, crediting high-technology and artificial intelligence to a delay of 6.2 seconds.
</p><p>	"The average response time of the earthquake early warning system in China is 6.2 seconds now, 30 percent quicker than Japan, which is nine seconds," Wang Tun, head of the Chengdu-based Institute of Care-life, which specializes in earthquake early warnings, told the Global Times on Sunday.
</p><p>	This made the average response time of China's system "the fastest in the world," Wang said.
</p><p>	Wang's remark came on the 11th anniversary of the 8.0-magnitude Wenchuan earthquake of May 12, 2008, in which more than 69,000 people died.
</p><p>	Wang said if there was an early warning system at that time, perhaps there would have been 30 percent fewer deaths.
</p><p>	Studies suggest that a three-second early warning time can reduce casualties by 14 percent and a 10-second early warning time can reduce them by 39 percent, Wang said.
</p><p>	China's early warning system also covers the largest area in the world, according to a document that the public affairs department of the Institute of Care-life sent to the Global Times on Sunday.
</p><p>	The system includes 31 provinces and regions, 2.2 million square kilometers and 660 million people, about 90 percent of densely populated quake-prone areas.
</p><p>	Warning messages are dispatched via mobile phone, radio and television, government microblogs and dedicated receiving terminals.
</p><p>	Warnings were sent during 50 earthquakes including the 7.0-magnitude quake in Lushan, Sichuan Province in 2013 and the 6.5-magnitude quake in Ludian county, Southwest China's Yunnan Province in 2014, the document noted.
</p><p>	The early warning success rate came about through the introduction of cutting-edge technology, according to Wang. Artificial intelligence identifies seismic waveforms and reduces false alarms, he noted.
</p><p>	The warning system can still be improved, experts agree.
</p><p>	Electromagnetic waves travel faster than seismic waves, meaning people in areas outside the epicenter can use the time difference to protect themselves, "but it cannot play a role in reducing disasters in the hardest-hit areas," Sun Shihong, a China Earthquake Networks Center researcher, told the Global Times on Sunday.
</p><p>	And earthquake prediction remains a largely experimental topic.
</p><p>	China in 2018 began using the world's first cloud image system based on sensory technology to release more timely and reliable warnings for earthquakes.
</p><p>	Wang's team uses a cloud image system that involves deep-buried sensors that can detect stress and energy dynamics 8 to 20 kilometers below the surface.
</p><p>	"Earthquake prediction technology, an unsolved global and technological problem, is expected to be well tested within three years," Wang said. </p>"</body>
</html>