<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Xi reviews multinational fleet, champions maritime community with shared future
</h2>
<p class="one gray"> (Xinhua)    07:30, April 24, 2019
</p>
<hr/><p>
</p><p>Chinese President Xi Jinping, also general secretary of the Communist Party of China Central Committee and chairman of the Central Military Commission, reviews a multinational fleet during a naval parade held in Qingdao, east China's Shandong Province, on April 23, 2019. A naval parade was staged here to mark the 70th founding anniversary of the Chinese People's Liberation Army Navy on Tuesday. (Xinhua/Li Gang)
</p><p>	QINGDAO, April 23 (Xinhua) -- Dozens of military vessels flying different national flags lined up in waters off east China's port city of Qingdao as fighter jets streaked across the sky in formations.
</p><p>	Chinese President Xi Jinping reviewed a multinational fleet in the Yellow Sea on Tuesday afternoon as part of the activities to mark the 70th founding anniversary of the People's Liberation Army (PLA) Navy.
</p><p>	At around 12:40 p.m. Xi inspected the honor guards at a pier in Qingdao before he boarded destroyer Xining, which set sail to where the review was to be conducted.
</p><p>	At around 2:30 p.m. Xi, also general secretary of the Communist Party of China Central Committee and chairman of the Central Military Commission, gave the commencing order.
</p><p>	The first stage of the parade featured 32 Chinese naval vessels and 39 aircraft, including China's first aircraft carrier Liaoning and nuclear-powered submarines.
</p><p>	The vessels sailed in six groups, including submarines, destroyers, frigates, and aircraft carrier, while the aircraft flew in 10 echelons, showcasing warplanes for early warning, reconnaissance, anti-submarine patrol, as well as bombers, carrier-based fighters and helicopters.
</p><p>	Officers and soldiers saluted Xi as their fleet passed by.
</p><p>	"Salute to you, comrades," Xi called out to them.
</p><p>	The second stage saw the participation of 18 visiting naval ships from 13 countries, including Russian Navy frigate Admiral Gorshkov and Australian Navy HMAS frigate Melbourne.
</p><p>	The foreign vessels saluted Xi in their traditional manners as they passed by.
</p><p>MARITIME COMMUNITY WITH SHARED FUTURE
</p><p>	Prior to the parade, Xi, in the morning, proposed building a maritime community with a shared future.
</p><p>	In a group meeting with heads of the foreign delegations to the multinational naval events, Xi called for joint efforts to address common threats and challenges at sea.
</p><p>	"The blue planet humans inhabit is not divided into islands by the oceans, but is connected by the oceans to form a community with a shared future, where people of all countries share weal and woe," he said.
</p><p>	Xi noted China pursues a national defense policy that is defensive in nature, saying the Chinese PLA Navy will continue to actively shoulder its international responsibilities, safeguard the security of international waterways and provide more public goods for maritime security.
</p><p>	Commander-in-Chief of the Royal Thai Navy Admiral Luechai Ruddit expressed belief that the concept and proposal of a maritime community with a shared future will promote cooperation among navies and contribute to maritime peace and prosperity.
</p><p>	The foreign delegations of 61 countries from Asia, Africa, Europe, America and Oceania are here for a four-day multinational naval events, scheduled to conclude on April 25.
</p><p>	Apart from Tuesday's naval parade, the activities also include high-level seminars and cultural and sports exchanges.
</p><p>	"Organizing multinational events is an established international practice and a unique way of naval exchanges," said PLA Navy Deputy Commander Qiu Yanpeng, noting China also held such activities for the navy's 60th anniversary in 2009 when 29 countries sent their delegations.
</p><p>	"They create opportunities for navy leaders of different countries to discuss maritime security cooperation," he said.
</p><p>	"The parade is a great opportunity to learn about the Chinese navy," said Defense Attache Avom Nang Jean Jacques at the Cameroon Embassy in China.
</p><p>LASTING PEACE &STABILITY
</p><p>	On April 23, 1949, the PLA Navy was founded in a nation which suffered some 470 invasions by foreign powers from the sea between 1840 and 1949.
</p><p>	Over the past seven decades, it has grown from weak to strong, from coastal waters toward deep blue, evolving into China's "Great Wall at sea" consisting of five services and with both nuclear and conventional weapons.
</p><p>	With its growth, the PLA Navy has provided the world with more public goods for maritime security.
</p><p>	Since 2008, the navy has sent 32 fleets and more than 27,000 officers and soldiers to escort over 6,600 vessels, more than half of which were foreign ships.
</p><p>	After a civil war broke out in Yemen in the spring of 2015, a Chinese naval fleet managed to evacuate 621 Chinese citizens as well as 276 people of 15 other countries out of the war-torn country.
</p><p>	"I am impressed by and proud of the navy's development and achievements," said Huang Shengtian, the only person still alive who witnessed the founding of the PLA Navy 70 years ago.
</p><p>	"Only with a strong navy can our people and country enjoy lasting peace and stability," said the 93-year-old.</p>"</body>
</html>