<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Naval parade marking Chinese navy's 70th anniversary concludes
</h2>
<p class="one gray"> (Xinhua)    15:58, April 23, 2019
</p>
<hr/><p>	QINGDAO, April 23 (Xinhua) -- A grand naval parade concluded on Tuesday afternoon in waters off east China's port city of Qingdao, after the reviewing ship sailed past the last visiting foreign vessel.
</p><p>	The parade is part of the multinational naval events marking the 70th anniversary of the Chinese People's Liberation Army Navy, which was founded on April 23, 1949.</p>"</body>
</html>