<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Naval parade staged to mark PLA Navy's 70th founding anniversary
</h2>
<p class="one gray"> (Xinhua)    15:15, April 23, 2019
</p>
<hr/><p>
</p><p>	The honor guards of the Chinese People's Liberation Army (PLA) Navy stand in formation before a naval parade staged to mark the 70th founding anniversary of the PLA Navy at a pier in Qingdao, east China's Shandong Province, on April 23, 2019. (Xinhua/Li Gang)</p>"</body>
</html>