<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Top ten moments of Chinese Peopleâs Liberation Army Navy
</h2>
<p class="one gray"> (People's Daily Online)    11:14, April 23, 2019
</p>
<hr/><p>
</p><p>	1. The founding of the Chinese People's Liberation Army (PLA) Navy
</p><p>	On April 23, 1949, the leading organ of the navy under the East China Military Area Command was set up in the township of Baimamiao, Taizhou, Jiangsu province, marking the official founding of the Chinese People's Liberation Army Navy.</p>"</body>
</html>