<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Multinational naval events kick off to mark Chinese navy anniversary
</h2>
<p class="one gray"> (Xinhua)    08:19, April 23, 2019
</p>
<hr/><p>
</p><p>	The opening ceremony of the multinational naval events commemorating the 70th founding anniversary of the Chinese People's Liberation Army Navy is held in Qingdao, east China's Shandong Province, April 22, 2019. (Xinhua/Ju Zhenhua)
</p><p>	QINGDAO, April 22 (Xinhua) -- Multinational naval events commemorating the 70th founding anniversary of the Chinese People's Liberation Army (PLA) Navy kicked off Monday in east China's port city of Qingdao.
</p><p>	Addressing the opening ceremony, Commander of the PLA Navy Shen Jinlong said the events are organized to strengthen exchanges and promote mutual trust and cooperation between the navies of different countries.
</p><p>	The Chinese navy is willing to become a close, friendly and equal partner of its foreign counterparts for mutual support and win-win cooperation, and join them in safeguarding world peace and stability, Shen said.
</p><p>	The four-day multinational naval events will feature various activities including a naval parade, high-level seminars and cultural and sports exchanges.
</p><p>	Navy delegations from more than 60 countries have arrived for the activities.</p>"</body>
</html>