<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Foreign vessels arrive in E China for PLA Navyâs 70th-anniversary parade
</h2>
<p class="one gray"> (People's Daily Online)    13:20, April 22, 2019
</p>
<hr/><p>
</p><p>	Indian supply ship INS Shakti (A57) arrives in Qingdao on April 21. (Photo/ PLA Navyâs Weibo account)
</p><p>	Foreign vessels arrived in the coastal city of Qingdao, east Chinaâs Shandong province, on April 21, 2019, to join a naval parade commemorating the 70th anniversary of the founding of the Chinese Peopleâs Liberation Army (PLA) Navy.
</p><p>	Sixteen warships from countries including the Philippines, Japan, Vietnam, Australia, India, the Republic of Korea and Russia gathered in Qingdao for the PLA Navy celebration.
</p><p>	So far, navy delegations from over 60 countries announced their participation in the event, which will include high-level symposiums, joint military displays, thematic light shows, and other activities.</p>"</body>
</html>