<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China holds meeting celebrating navy's 70th founding anniversary
</h2>
<p class="one gray"> (Xinhua)    11:00, April 22, 2019
</p>
<hr/><p>	BEIJING, April 21 (Xinhua) -- A meeting was held in Beijing Sunday to celebrate the 70th founding anniversary of the People's Liberation Army (PLA) Navy, which falls on April 23.
</p><p>	Participants to the meeting reviewed the PLA Navy's history of developing from almost nothing to becoming strong, summarized its experiences on combat, reform, transformation, and military struggle preparedness, and looked into the bright future of building it into a world-class navy in the new era.
</p><p>	It was pointed out that the PLA Navy has gradually developed into a powerful modern navy that can effectively safeguard national sovereignty, security and development interests.
</p><p>	In particular, the navy has undergone historic changes and made historic achievements since the 18th National Congress of the Communist Party of China, which was held in 2012, the meeting concluded.
</p><p>	It also vowed that officers and soldiers of the navy will make their contributions to speeding up the navy's transformation and development and building it into a world-class force.
</p><p>	At the meeting, units and individuals were honored for making outstanding contributions to the navy's development.
</p><p>	Over 1,300 people, including leaders from organs of the Central Military Commission, and representatives of the military units, attended the event.</p>"</body>
</html>