<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Foreign vessels arrive in Qingdao for naval parade marking Chinese navy anniversary
</h2>
<p class="one gray"> (Xinhua)    08:24, April 22, 2019
</p>
<hr/><p>
</p><p>	South Korean navy's guided missile frigate ROKS Gyeonggi arrives in the port city of Qingdao, east China's Shandong Province, April, 21, 2019, to join multinational naval events commemorating the 70th anniversary of the founding of the Chinese People's Liberation Army (PLA) Navy. The events will be held between April 22 and 25 and a naval parade will be held in Qingdao and nearby sea areas and airspace on April 23. (Xinhua/Li Ziheng)</p>"</body>
</html>