<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Afghan army soldiers take part in graduation ceremony in Kandahar
</h2>
<p class="one gray"> (Xinhua)    11:19, April 16, 2019
</p>
<hr/><p>
</p><p>	Afghan army soldiers take part in their graduation ceremony in Kandahar province, southern Afghanistan, April 14, 2019. A total of 993 army officers and soldiers graduated from an Afghan military training center and were commissioned to the army on Sunday, according to a statement. (Xinhua/Sanaullah Seiam)</p>"</body>
</html>