<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Japanese F-35A fighter jet crashes into Pacific, search continues for pilot
</h2>
<p class="one gray"> (Xinhua)    09:58, April 10, 2019
</p>
<hr/><p>	TOKYO, April 10 (Xinhua) -- Japanese Defense Minister Takeshi Iwaya confirmed Wednesday that the F-35A fighter jet that went missing during a training exercise a day earlier over the Pacific has crashed.
</p><p>	At a press briefing, Iwaya also said that wreckage believed to be that of the stealth fighter jet has been found floating in the Pacific.
</p><p>	The Defense Ministry said a major in his 40s who was flying the single-seat jet when it went missing is still unaccounted for.
</p><p>	"We'll do our best to rescue the missing pilot," said Iwaya.
</p><p>	Search and rescue operations carried out by the Self-Defense Force (SDF) and the Japan Coast Guard have been continuing with patrol aircraft and ships following the F-35A fighter jet going missing from radar the previous day.
</p><p>	The plane had been flying with three other F-35As on a training mission and according to SDF officials, there were no reports of problems from the plane before it went missing.
</p><p>	The missing plane took off from Misawa Air Base in northeastern Japan at around 7:00 p.m. on Tuesday evening, the SDF said.
</p><p>	It was flying off the coast of Aomori Prefecture about 135 km east of the base when radar contact was lost less than 30 minutes after takeoff, the SDF said.
</p><p>	There are currently 13 F-35As deployed at the Misawa base where a new squadron has been formed with 80 personnel.
</p><p>	The squadron has temporarily been grounded, the Defense Ministry said Wednesday.
</p><p>	With the planned acquisition of a total of 105 F-35As and 42 of the short take-off variant F-35B, the multi-role stealth fighters are set to become Japan's next-generation mainstay fighter.
</p><p>	They will replace the aging fleet of F-4 fighter jets.
</p><p>	Each F-35A comes with a price tag of more than 10 billion yen (90 million U.S. dollars).</p>"</body>
</html>