<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>U.S. designates Iran's IRGC as foreign terrorist organization, triggering retaliation
</h2>
<p class="one gray"> (Xinhua)    11:07, April 09, 2019
</p>
<hr/><p>	WASHINGTON, April 8 (Xinhua) -- The United States on Monday designated Iran's Islamic Revolution Guards Corps (IRGC) as a "foreign terrorist organization" (FTO), an unprecedented move that will further heighten U.S.-Iran tensions, and complicate the Middle East situation.
</p><p>	"This designation will be the first time that the United States has ever named a part of another government as an FTO," U.S. President Donald Trump said in a statement issued by the White House.
</p><p>	"This unprecedented step, led by the Department of State, recognizes the reality that Iran is not only a State Sponsor of Terrorism, but that the IRGC actively participates in, finances, and promotes terrorism as a tool of statecraft," Trump said.
</p><p>	Iran immediately condemned the Trump administration's decision as "a dangerous U.S. misadventure in the region" and labelled U.S. Central Command forces in West Asia as "a terrorist group."
</p><p>	Iran's Supreme National Security Council considers the U.S. government as the "sponsor of terrorism" and announces the U.S. Central Command and its affiliated forces in West Asia as a "terrorist group," the official IRNA news agency reported, citing a statement by the council.
</p><p>	Tensions between the United States and Iran have escalated since the Trump administration withdrew from the landmark 2015 Iran nuclear deal in May last year and snapped back sanctions on Iran's "critical sectors" of energy, shipping, shipbuilding and finance.
</p><p>	The United States has already blacklisted dozens of entities and individuals affiliated with the IRGC, but not the entire force.
</p><p>	Trump said in Monday's statement that the new designation "will significantly expand the scope and scale of our maximum pressure on the Iranian regime. It makes crystal clear the risks of conducting business with, or providing support to the IRGC."
</p><p>	Moments later, the White House issued a separate statement, saying that the unprecedented designation, part of "a broader effort to counter Iran-backed terrorism around the world," will "increase the financial pressure and isolation of Iran and deprive the regime of resources it uses for its terrorist activities."
</p><p>	"This action puts other governments and the private sector on notice about the nature of the IRGC," it said.
</p><p>	For his part, U.S. Secretary of State Mike Pompeo told a media conference held after Trump's announcement that "this designation will take effect one week from today."
</p><p>	"Businesses and banks around the world now have a clear duty to ensure that companies with which they conduct financial transactions are not connected to the IRGC in any material way," Pompeo said, noting that the U.S. designation will increase the risk of business cooperation between European financial entities and Iran.
</p><p>	Iranian Foreign Minister Mohammad Javad Zarif tweeted that the U.S. designation is "a(nother) misguided election-eve gift to Netanyahu. A(nother) dangerous U.S. misadventure in the region."
</p><p>	Israeli Prime Minister Benjamin Netanyahu also responded via Twitter on Monday, saying that "thank you, President @realDonaldTrump for your decision to designate the Islamic revolutionary guards as a terrorist organization."
</p><p>	"Once again you are keeping the world safe from Iran aggression and terrorism," he said.
</p><p>	After reports of the designation emerged late on Friday, the Iranian foreign minister has taken to Twitter to warn against such a move.
</p><p>	Zarif tweeted on Sunday that "#NetanyahuFirsters who have long agitated for FTO designation of the IRGC fully understand its consequences for U.S. forces in the region. In fact, they seek to drag the U.S. into a quagmire on his behalf."
</p><p>	"@realDonaldTrump should know better than to be conned into another U.S. disaster," Zarif added.
</p><p>	The IRGC on Sunday warned that "if the Americans make such a silly move and endanger our national security, we will put reciprocal measures on our agenda based on the policies of Iran's Islamic establishment."
</p><p>	In case of such a decision by the United States, "the American army and U.S. security forces would not experience peace and calm in the Middle East anymore," Major General Mohammad Ali Jafari was quoted as saying by Press TV.
</p><p>	U.S. media quoted analysts as saying that the U.S. move, together with possible retaliation from Iran and the Shiite forces in Middle East nations, would further escalate the regional confrontation, and complicate the mission of U.S. forces and diplomats in the region that have to engage with governments that may have close links with Iran.</p>"</body>
</html>