<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>More remains of Chinese Korean War soldiers to repatriate
</h2>
<p class="one gray"> (CNTV)    15:37, April 01, 2019
</p>
<hr/><p>
</p><p>The remains of 20 Chinese People's Volunteers soldiers return to China via a Chinese Air Force plane from Incheon Airport in South Korea, March 28, 2018. (Photo:CGTN)
</p><p>	South Korea will return more remains of Chinese soldiers killed in the 1950-1953 Korean War on Wednesday, the sixth such transfer since 2014.
</p><p>	On Monday, the remains of the soldiers, known as the Chinese People's Volunteers were encoffined.
</p><p>	Those soldiers' remains will be buried at a martyrs' cemetery in Shenyang, the capital of northeast China's Liaoning Province.
</p><p>	In the past five years, South Korea has transferred the remains of 589 Chinese volunteer soldiers killed in that war. The handover has been arranged before the Qingming Festival, or the Tomb-Sweeping Day, a traditional Chinese holiday for commemorating the departed, in early April. </p>"</body>
</html>