<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>PLA on high alert to safeguard national sovereignty: spokesperson
</h2>
<p class="one gray"> (Xinhua)    07:52, March 27, 2019
</p>
<hr/><p>	The People's Liberation Army will remain on high alert to resolutely safeguard national sovereignty and territorial integrity, a spokesperson for the Ministry of National Defense said Tuesday.
</p><p>	Spokesperson Ren Guoqiang made the remarks in response to a news report that a U.S. Navy warship and a U.S. Coast Guard ship sailed through the Taiwan Strait on March 24.
</p><p>	"We are clear about the passage of the U.S. vessels through the Taiwan Strait and have monitored them from start to end," Ren said, adding that China had expressed concern to the U.S. side.
</p><p>	The Taiwan question bears on China's sovereignty and territorial integrity, and is the most important and most sensitive core issue concerning China-U.S. relations, he said.
</p><p>	"The U.S. side should strictly abide by the one-China principle and the three China-U.S. joint communiques, prudently handle Taiwan-related issues, and avoid damaging relations between the two countries and two militaries as well as cross-Strait peace and stability," Ren said.</p>"</body>
</html>