<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China opposes U.S. military officers' remarks on so-called "China threat"
</h2>
<p class="one gray"> (Xinhua)    09:22, March 23, 2019
</p>
<hr/><p>	BEIJING, March 22 -- A spokesperson for the Chinese military said Friday it firmly opposes U.S. military officers' remarks hyping up the so-called "China threat" at the Senate armed services committee's 2020 fiscal year defense budget hearing.
</p><p>	The U.S. side's remarks disregard the facts and render the so-called "Chinese military threat," which exemplifies the "zero-sum" game Cold War mentality and is not conducive to the healthy development of Sino-U.S. relations and the two militaries, said Wu Qian, spokesperson for China's Ministry of National Defense.
</p><p>	"We have noticed that the U.S. defense department always likes to play 'small abacus' when seeking military budgets, in an attempt to gain more benefits for itself by rendering the threat of other countries. This practice is short-sighted and very dangerous," Wu said.
</p><p>	"We demand that the U.S. side abandon the Cold War mentality, objectively and rationally view China's national defense and military building, stop making false remarks, and take concrete actions to promote the healthy and stable development of relations between the two countries and the two militaries," the spokesperson said.
</p><p>	China, as a facilitator of world peace, a contributor to global development and a maintainer of international order, has firmly taken the path of peaceful development and steadfastly pursued a national defense policy that is defensive in nature, he said.
</p><p>	The Chinese military adheres to independence and self-reliance and relies on its own strength to promote military modernization, Wu said, adding that the development and growth of China's military power is the development and growth of the world's peace forces.
</p><p>	The Chinese military is increasingly taking on international responsibilities, providing more public safety products, and is widely praised by the international community, Wu said, noting that this is something that no unbiased person can deny.</p>"</body>
</html>