<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China science &technology news summary
</h2>
<p class="one gray"> (Xinhua)    15:59, April 23, 2019
</p>
<hr/><p>	BEIJING, April 23 (Xinhua) -- The following is a summary of recent science and technology news of China.
</p><p>ASTEROID NAMED AFTER ASTROPHYSICIST
</p><p>	An asteroid has been named after leading Chinese astrophysicist Zhou Youyuan, with approval from the International Astronomical Union (IAU), the China Science Daily reported Monday.
</p><p>	Zhou, born in 1938, is an astrophysicist and an academician of the Chinese Academy of Sciences. He has made outstanding contributions to research in the fields of quasars and active galaxies, nuclear and cosmology, and large-scale structures of the universe.
</p><p>SENSOR FOR HEAVY METAL DETECTION
</p><p>	Chinese scientists have developed a sensor by combining stainless steel acupuncture needles and nanomaterials to detect active heavy metals with high sensitivity.
</p><p>	The novel needle sensor showed advantages of high hardness, puncture-ability and easy integration of sensors, and it has great potential in marine electrochemistry, according to the team.
</p><p>ENDANGERED PLANT DISCOVERED
</p><p>	A large community of an endangered plant species has been discovered in Houhe National Nature Reserve in Central China's Hubei Province, according to the reserve.
</p><p>	The plant, Changiostyrax dolichocarpa, was spotted during a survey conducted by a researching team of Wuhan Botanical Garden (WBG) of the Chinese Academy of Sciences (CAS), together with staff in the reserve.
</p><p>	Changiostyrax dolichocarpa is a perennial and endemic tree in China which has been included on the List of China's State-Protected Key Wild Plants since 1999.</p>"</body>
</html>