<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese fighter jets arrive in Pakistan for its national day parade
</h2>
<p class="one gray">By Liu Xuanzun (Global Times)    14:35, March 18, 2019
</p>
<hr/><p>
</p><p>China's Bayi Aerobatic Team perform at the 12th China International Aviation and Aerospace Exhibition (Airshow China) in Zhuhai, south China's Guangdong Province, on Nov. 6, 2018. The air show opend on Tuesday. Photo: Xinhua
</p><p>	The J-10 fighter jets of the People's Liberation Army Air Force's Bayi Aerobatic Team arrived in Pakistan on Saturday in preparation for a flight performance there on March 23 in celebration of Pakistan's National Day.
</p><p>	The Chinese pilots, invited by the Pakistani side, received a warm welcome upon arrival as local children greeted them with bouquets, China Central Television reported on Saturday.
</p><p>	A parade is scheduled on March 23 to mark Pakistan Day, said Asif Ghafoor, a Pakistan Army spokesperson, Pakistani news website thenews.com.pk reported on Thursday.
</p><p>	Contingents from countries including China, Saudi Arabia, and Turkey will participate in the parade, with Malaysian Prime Minister Mahathir Mohamad being the guest of honor, the report said.
</p><p>	Hu Zhiyong, a research fellow at the Shanghai Academy of Social Sciences' Institute of International Relations, told the Global Times on Sunday that China sending fighter jets to celebrate Pakistan Day is symbolic of the friendship between China and Pakistan, noting that Pakistan is an all-weather friend of China.
</p><p>	This is not the first time the Bayi Aerobatic Team performed in Pakistan.
</p><p>	On November 19 2017, the team staged a "wonderful" aerobatic flight with J-10 fighter jets in Quetta, the capital city of Pakistan's Baluchistan province, according to China Military Online.
</p><p>	In addition to the J-10's flight performance, Chinese analysts expect more Chinese elements at Pakistan Day parade as the country operates a variety of Chinese weapons.
</p><p>
</p><p>A Pakistani JF-17 Thunder fighter jet performs during a ceremony marking the county's Defense Day in Islamabad, capital of Pakistan, on Sept. 6, 2015. Photo: Xinhua
</p><p>	The Pakistan Air Force's main fighter jet, the JF-17, is a product of Chinese-Pakistani joint development, China Military Online reported.
</p><p>	The Pakistan Air Force also operates the ZDK-03 early warning aircraft, which is developed by China and is reportedly capable of aerial detection and sharing real time battlefield information.
</p><p>	The MBT-2000 main battle tank developed by China North Industries Corporation (Norinco) is designated the Al-Khalid in the Pakistan Army, the report said.
</p><p>	Pakistan also operates the likes of China's HJ-8 anti-tank missile and FM-90 air defense missile, according to China Military Online.
</p><p>	Hu noted that China has contributed to Pakistan's military development, as China has been helping the country with its national defense industry for decades.
</p><p>	China is likely to have more joint development projects and arms sales to Pakistan in the future, analysts said.
</p><p>	A third and more advanced batch of the JF-17 fighter jet, the JF-17 Block 3, is currently under development and production, China Aviation News reported on March 8.</p>"</body>
</html>