<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese Academy of Sciences contributes to Belt and Road construction through science cooperation
</h2>
<p class="one gray">By Wu Yuehui (People's Daily)    11:09, April 23, 2019
</p>
<hr/><p>	The Chinese Academy of Sciences (CAS) has provided over 1.8 billion yuan (about $268 million) in total for the Belt and Road science and technology projects since the Belt and Road Initiative (BRI) was proposed in 2013, said the CAS President Bai Chunli on Apr. 19.
</p><p>	Bai made the remarks at a press conference held by the Information Office of the State Council. According to him, more than 120,000 people have been involved in science and technology cooperation and exchanges between China and other countries along the Belt and Road.
</p><p>	The CAS has trained nearly 5,000 high-level sci-tech talent for the Belt and Road countries and regions, including more than 1,500 with master's and doctoral degrees in science and engineering. Many of them have returned home and become a new force in building the Belt and Road.
</p><p>	Nearly 700 high-level sci-tech personnel from Belt and Road countries have joined the program called CAS Presidentâs International Fellowship Initiative (PIFI) for post-doctoral research or short-term studies and visits.
</p><p>	The CAS has also held a training course program for developing countries, funding almost 1,000 scientific researchers and officials from the countries participating in the BRI to receive technical trainings in China.
</p><p>	The CAS-TWAS Presidentâs Fellowship for International PhD Students and the âthe Belt and Roadâ Master Fellowship Program were launched in 2014 and 2017 respectively, with an aim to support international students from developing countries and the Belt and Road countries to pursue degrees in China. To date, more than 1,000 graduates have been sponsored by the two fellowship programs.
</p><p>	Bai said that the CAS, based on the principles of extensive consultation, joint contribution and shared benefits, has built nine overseas science and education centers in Africa, South America, Central Asia, South Asia, Southeast Asia. The tenth center is currently in the preparation.
</p><p>	These overseas science and education centers have become a significant platform to carry out cooperation and nurtured a batch of major scientific programs, finding solutions to livelihood issues of the host countries, and improving their ability of scientific innovation, he added.
</p><p>	The CAS established a network of collaborative research with over 40 institutions from 14 countries surrounding the Third Pole - the Qinghai-Tibet Plateau, to carry out comprehensive geoscientific expeditions to the glaciers, rivers and lakes in the region.
</p><p>	Besides, the CAS has also launched over 100 sci-tech cooperative projects to build a green Silk Road. The Pan-Third Pole Environment Study for a Green Silk Road launched in early 2018 is one of the programs.
</p><p>	To promote the application of scientific and technological achievements in the Belt and Road countries, the CAS has set up a special fund transferring scientific and technological achievements in those regions.
</p><p>	Besides, it has also cooperated with more than 100 high-tech enterprises and research institutions to establish the Belt and Road Industry Alliance to serve the regional economic and social development, and set up the CAS Innovation Cooperation Center (Bangkok).
</p><p>	All these efforts have yielded positive results in advancing the application and transfer of sci-tech achievements in countries along the route, driving regional and sub-regional economic and social development.</p>"</body>
</html>