<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Activity set to honor PLA Navy birthday
</h2>
<p class="one gray"> (China Daily)    10:17, March 01, 2019
</p>
<hr/><p>Emerging plan may feature nation's second aircraft carrier, new destroyer
</p><p>	China will host a multinational naval activity on April 23 in Qingdao, Shandong province, to honor the 70th birthday of the People's Liberation Army Navy, according to a spokesman for the Ministry of National Defense.
</p><p>	Senior Colonel Ren Guoqiang, deputy head of the ministry's information office, told reporters at a news conference on Thursday afternoon that the activity has been approved by the Central Military Commission, and detailed information about it will be published later.
</p><p>	The PLA Navy said in a statement on Thursday that it welcomes reporters to cover the activity and that a media center in Qingdao will start receiving journalists on April 20.
</p><p>	Sources close to the Navy told China Daily that the activity is highly likely to comprise a massive sea parade of major ships, submarines and aircraft from the Navy, along with vessels from other countries, noting it is also likely to be even larger and more spectacular than the sea parade in the South China Sea on April 12, 2018, that involved more than 10,000 Navy personnel, 48 ships and submarines and 76 naval aircraft.
</p><p>	Wu Peixin, a defense industry observer in Beijing, said the April 23 activity will be a good occasion for the Navy to showcase the latest hardware delivered during the past year.
</p><p>	"I am looking forward to seeing the participation of the second aircraft carrier, the Type 055 destroyer and the latest aircraft," he said. "However, whether the second aircraft carrier will be ready for this parade - which is likely to be its public debut - depends on its sea trial schedule."
</p><p>	China's second aircraft carrier - the first to be designed domestically - is reported to have begun its fifth sea trial earlier this week. Observers have speculated that the new carrier will be commissioned before April 23 so it can appear in the unprecedented demonstration of the country's naval prowess.
</p><p>	The Chinese military said the colossal vessel displaces more than 50,000 metric tons and will have stronger fighting capability than the CNS Liaoning, the Navy's first carrier, which was refitted from an unfinished Soviet Union vessel.
</p><p>	Meanwhile, if the Type 055 guided-missile destroyers, widely believed to be the mightiest of its kind in the world, can take part in the coming parade, they will be further testament to the PLA Navy's growing strength.
</p><p>	The 10,000-ton destroyer, usually designated as a cruiser by foreign observers, is equipped with what are believed to be the most advanced radars and missiles in the world and has more than 100 vertical launch cells capable of firing various kinds of projectiles.
</p><p>	At least four Type 055 ships have been built, while the first of them is said to be very close to being commissioned.
</p><p>	An insider in China's military shipbuilding industry who asked not to be named said he hoped the electromagnetic railgun being tested by the Navy could be displayed in the coming parade.
</p><p>	"If it can show up in the parade, it will tell the world that we are the first to have deployed this state-of-the-art weapon, which will have the power to reshape the future of naval warfare," he said.</p>"</body>
</html>