<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Liaoning ends maintenance, leaves shipyard
</h2>
<p class="one gray"> (Global Times)    13:30, February 25, 2019
</p>
<hr/><p>
</p><p>Photo taken in May 2012 shows a Chinese aircraft carrier cruising for a test on the sea. China's first aircraft carrier was delivered and commissioned to the Navy of the Chinese People's Liberation Army on Sept. 25, 2012. The carrier, with the name "Liaoning" and hull number 16, was officially handed over to the Navy at a ceremony held in a naval base of northeast China's Dalian Port. (Xinhua/Li Tang)
</p><p>	China's first aircraft carrier Liaoning appears to have left the maintenance bay of the Dalian Shipyard on Sunday, as the country's second carrier, the Type 001A, is also expected to soon begin a new sea trial, reports said.
</p><p>	Accompanied by a fireworks display, the Liaoning left the shipyard in Northeast China's Liaoning Province with the help of tug boats Sunday morning, according to a report from Hong Kong-based Wen Wei Po and photos and video posted on Sina Weibo on Sunday.
</p><p>	The Liaoning reportedly conducted a sea trial in January after more than half a year's maintenance and modification in the shipyard.
</p><p>	If the maintenance work is done, the ship could be on its way back to its home base in Qingdao, East China's Shandong Province and return to normal service in the People's Liberation Army (PLA). Otherwise, the voyage might be yet another sea trial to check the results of the maintenance, military observers said.
</p><p>	"Farewell to the Liaoning and wish it all the best on its new journey," read a banner in the shipyard, indicating that the Liaoning could be resuming PLA service and will not return to the Dalian Shipyard anytime soon, according to the Wen Wei Po report.
</p><p>	No official information has been given as of press time on the Sunday voyage of the Liaoning.
</p><p>	Meanwhile, the Type 001A, China's second aircraft carrier being tested at the same facility, might follow the Liaoning.
</p><p>	The domestically made warship started its engine and cleaned its deck on Saturday afternoon and Sunday morning, indicating it will soon set out for its fifth sea trial, Wen Wei Po reported in two separate reports on Saturday and Sunday.
</p><p>	Coincidentally, a military exercise is scheduled from Sunday to March 5 in the northern Huanghai Sea near Dalian, and other ships are prohibited from entering a designated area, according to a notice the Maritime Safety Administration of China released on Friday.
</p><p>	This usually happens when an aircraft carrier conducts a sea trial.
</p><p>	The notice did not mention which ships might be involved in the exercise. It is currently unknown if the exercise area is designated for the Liaoning, the Type 001A, or both.
</p><p>	Many Chinese military observers hope to see both carriers at a naval parade to celebrate the 70th anniversary of the establishment of the PLA Navy.
</p><p>	Wei Dongxu, a Beijing-based military analyst, told the Global Times that it is possible for the two aircraft carriers to conduct easy formation and communication training if they conduct an exercise together in the same area.
</p><p>	If the parade will be held, the Liaoning will surely participate, Wei predicted, noting that the Type 001A's participation still depends on the vessel's test results and whether it can join the PLA Navy before the parade. </p>"</body>
</html>