<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Border guard in Chinaâs Xinjiang fulfills responsibility with real actions
</h2>
<p class="one gray"> (People's Daily Online)    16:59, February 21, 2019
</p>
<hr/><p>
</p><p>Lazzini Bayik (left) visits a family in Shanshan county, Xinjiang. (Photo/Xinhua)
</p><p>	âSecuring the border is the business of not only the country, but also our herdsmen. We cannot live a happy life without a peaceful border.âThis is what Lazzini Bayik, a 40-year-old border guard in western Chinaâs Xinjiang Uygur Autonomous Region, believes.
</p><p>	Lazzini is the third generation in his family to secure the isolated stretch of Chinaâs border in Xinjiangâs Taxkorgan Tajik Autonomous County, the heart of the Pamir Mountains, which is cloaked in snow all year round.
</p><p>	Many roads leading to the national border hide deep in the mountains, which make up the core area that Lazzini and his colleagues patrol.
</p><p>	Lazzini has never slacked off despite the rough terrain and harsh weather conditions. âWe are soldiers on the frontier even though we are not in uniform. We protect our national border with real actions,â he said.
</p><p>	The tradition of guarding the national border in Lazziniâs family started with his grandfather, who guided the Peopleâs Liberation Army to build watch houses at the frontier in the 1950s and later stayed to protect the border with them. From that moment on, guarding the border was a family cause, which Lazzini and his father have also dedicated themselves to.
</p><p>	In 2018, Lazzini was elected as a deputy of the National Peopleâs Congress. He investigated many farming and pastoral areas to better fulfill his responsibilities.
</p><p>	âFarmers and herdsmen have already moved into new houses. Every village has a kindergarten. Our kids can now enjoy 15 years of free education from nursery to high school,â he explained.
</p><p>	Lazzini said that just 10 years ago, border guards like him received about 150 yuan per month, but now, they can earn up to 2,600 yuan. All border guards in his county have social security, medical insurance, and other allowances, he added.
</p><p>	The Chinese people are confident of their future as they see more benefits brought by Chinaâs fast development, Lazzini noted. âHowever, we still need to stay vigilant in protecting the border. We patrol every day to defend our beautiful homeâ, he added.</p>"</body>
</html>