<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>PLA soldiers complete âmission impossibleâ by building 1.1 km pontoon bridge in 26 minutes
</h2>
<p class="one gray"> (People's Daily Online)    16:17, February 21, 2019
</p>
<hr/><p>
</p><p>(Photo/CCTV)
</p><p>	A video clip of the Peopleâs Liberation Army (PLA) building a 1,100-meter pontoon bridge in just 26 minutes over the Yangtze River recently went viral on Chinese social media.
</p><p>	The âmission impossibleâ challenge was created for a TV program, and the perfect performance of the PLA soldiers earned them continued praise from the audience.
</p><p>	The PLA success came from years of meticulous training. The soldiers had to handle thousands of kilograms of steel and iron every day. Only by practicing thousands of times could they complete the task in such a short space of time.
</p><p>
</p><p>(Photo/CNR.cn)
</p><p>	Each day, soldiers completed exercises such as pontoon bridge installation, rescue and disaster relief, as well as basic combat and physical training. These drills are a challenge, not only physically, but also to their own safety.
</p><p>	Because of these daily exercises, the soldiers now have calloused hands, and their skin is covered in scars. However, the PLA soldiers wear these scars as a badge of honor, showcasing their responsibility as guardians of the country.
</p><p>	The video has been watched millions of times since it was uploaded, and Chinese netizens have applauded the respected soldiers.
</p><p>	Apart from their excellent military capabilities, PLA soldiers are also the first helping hand when disaster hits. On Jan. 26, 2018, a photo of soldiers resting in a hall went viral. The photo was taken after heavy snow hit Nanjing, eastern Chinaâs Jiangsu province. The PLA soldiers were taking a break in a building after helping local citizens shovel snow for hours. They only had 20 minutes of rest before heading out into the storm to start working again. </p>"</body>
</html>