<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Top legislature inspects enforcement of SME-related law
</h2>
<p class="one gray"> (Xinhua)    08:41, May 13, 2019
</p>
<hr/><p>	NANNING, May 11 (Xinhua) -- China's top legislature has inspected the enforcement of the Law on Promoting Small- and Medium-Sized Enterprises (SMEs) in Guangxi Zhuang Autonomous Region in south China.
</p><p>	The inspection team of the Standing Committee of the National People's Congress (NPC) listened to reports made by the regional government and relevant departments. They also visited several enterprises in the cities of Nanning, Beihai and Guigang.
</p><p>	Wang Dongming, vice chairman of the NPC Standing Committee who led the team, urged inspectors to adopt a problem-oriented approach and explore new working methods to enhance the effectiveness of supervision.
</p><p>	First adopted in 2002, the SME promotion law was revised in September 2017. According to the law, relevant government agencies are required to protect the rights and interests of SMEs and private entrepreneurs, and provide guidance on their development.</p>"</body>
</html>