<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Int'l Defense Exhibition and Conference held in Abu Dhabi
</h2>
<p class="one gray"> (Xinhua)    08:26, February 21, 2019
</p>
<hr/><p>
</p><p>	Aircrafts of the Al Fursan aerobatics demonstration team perform during an air show at the International Defense Exhibition and Conference (IDEX) in Abu Dhabi, the United Arab Emirates, Feb. 19, 2019. (Xinhua/Mohamad Badreddine)</p>"</body>
</html>