<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>PLA Rocket Force makes social media debut as âDongfeng Expressâ
</h2>
<p class="one gray"> (People's Daily Overseas New Media)    11:16, February 20, 2019
</p>
<hr/><p>
</p><p>Photo via China.com
</p><p>	âSorry to keep you waiting. Iâm here! Dongfeng Express at your service!â The Peopleâs Liberation Army Rocket Forceâs wrote on Tuesday in its first post on Sina Weibo, a Twitter-like service in China. The post received a warm welcome and great attention.
</p><p>	The Rocket Force made its debut on Feb. 14, taking the name âDongfeng Express,â a nickname coined by Chinese netizens in support of the Rocket Forceâs Dongfeng ballistic missile series, which range from short-range missiles like the DF-11 to intercontinental ones like the DF-26, the latter of which is better known as the âGuam Killer.â
</p><p>	The Rocket Forceâs Weibo account has nearly 570,000 followers now. The first post, which is accompanied with an image that reads âDongfeng Express guarantees that it will accomplish its mission,â has been reposted nearly 18,000 times and has received more than 89,000 likes.
</p><p>	The China National Nuclear Corporationâs official Weibo account also reposted it, joking that it should share its user experience of the so-called Dongfeng Express as a major client.
</p><p>	âAs a professional delivery company, it can quickly respond to customer demands. Delivery is precise and has zero mistakes. Its professionalism isnât in doubt. Only that itâs too fast; I havenât even finished this sentenceâ¦â
</p><p>	The PLA Rocket Force was established on December 31, 2015, after its transformation from the previous Second Artillery Force. It is Chinaâs core strategic deterrent power, a pillar to sustain Chinaâs position as a major country and a footstone to safeguard national security, the Global Times reported, citing PLA Daily.</p>"</body>
</html>