<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>PLA Rocket Force opens first social media accounts with a bit of humor
</h2>
<p class="one gray"> (Global Times)    08:34, February 18, 2019
</p>
<hr/><p>
</p><p>File photo taken on Sept. 3, 2015 shows DF-26 missiles attending a military parade in Beijing, capital of China. Photo: Xinhua
</p><p>
</p><p>Screenshot of the People's Liberation Army Rocket Force's official Weibo account "DF Express." Photo: Sina Weibo
</p><p>	Long considered one of China's most inscrutable armed forces, the tight-lipped People's Liberation Army (PLA) Rocket Force opened its first social media accounts, with one humorously named "DF Express," a nickname conjured up by military enthusiasts years ago in praise of Dongfeng ballistic missiles' ability to strike a global target both quickly and accurately.
</p><p>	The Rocket Force registered three verified accounts on Thursday afternoon, two on Sina Weibo and one on WeChat. The accounts were soon being followed by thousands of Chinese netizens even though the Rocket Force has yet to post anything.
</p><p>	While the account on WeChat and one of the Weibo accounts are simply called "PLA Rocket Force," the other Weibo account was given the unusually informal name "DF Express," causing chuckles among Chinese military enthusiasts.
</p><p>	The letters DF stand for Dongfeng, meaning East Wind, which is the name of a series of ballistic missiles operated by the Rocket Force. Netizens also noted DF Express is close to the name of one of China's largest courier companies, SF Express.
</p><p>	Some years ago, Chinese military enthusiasts nicknamed the PLA Rocket Force the DF Express after netizens jokingly wrote that the missiles can "make fast and accurate deliveries to recipients worldwide."
</p><p>	The Force's "DF Express" social media account now makes the nickname semi official and has already attracted more than 340,000 followers, almost twice as many as the "PLA Rocket Force" Weibo account, which has some 170,000 followers as of press time. The WeChat account does not show how many followers it has.
</p><p>	The "PLA Rocket Force" WeChat account is expected to release its first post on Tuesday, PLA Daily reported.
</p><p>	People can expect more information on this tight-lipped force through its social media accounts, analysts said. Compared with other military branches like the PLA Army and PLA Navy, the Rocket Force rarely makes public announcements.
</p><p>	Many related departments and state-owned companies like the State Post Bureau and China Aerospace Science and Technology Corporation interacted with the newly-registered accounts.
</p><p>	"Do you take orders, my brother? I want something delivered @DFExpress," the China National Nuclear Corporation joked on its Weibo account.
</p><p>	The PLA Rocket Force was established on December 31, 2015 after its transformation from the previous Second Artillery Force.
</p><p>	It is China's core strategic deterrent power, a pillar to sustain China's position as a major country and a footstone to safeguard national security, the PLA Daily said.</p>"</body>
</html>