<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese peacekeepers participate in UNIFIL medical drill in Lebanon
</h2>
<p class="one gray"> (China Military Online)    13:38, February 15, 2019
</p>
<hr/><p>
</p><p>File photo: Medical personnel from the medical detachment of the Chinese peacekeeping force to Lebanon were conducting a helicopter medical evacuation for a peacekeeper from Finland who suffered from cervical dislocation on November 27, 2018.
</p><p>	BEIRUT, LEBANON, Feb. 14 (ChinaMil) -- The United Nations Interim Force in Lebanon (UNIFIL) carried out an emergency medical rescue drill codenamed âSector East Angels 2019-1â on Wednesday along the Blue Line that separates Lebanon and Israel. Peacekeepers from seven countries, including China, Spain, Indonesia and Nepal, participated in the drill. The medical detachment of the 17th Chinese peacekeeping force to Lebanon was responsible for reception, rescue, and medical evacuation during the drill.
</p><p>	On receiving the wounded, the Chinese medical staff classified the injuries according to their seriousness, and provided hemostasis, dressing and fixed treatment to the lightly wounded, while providing supervision, oxygen and venous access to the seriously injured. If the seriousness of the injured person exceeded the scope of the medical treatment available at this level, the Chinese medical staff would call for emergency airlift medical evacuation in accordance with the UNIFIL standard operating procedures, and transfer the injured to higher-level hospitals.
</p><p>	An officer from UNIFILâs Sector East said, âThe Chinese military doctors have clear procedures for emergencies in the drill. Their treatment methods are professional and experienced, labor division is reasonable and orderly. It's worth learning.â
</p><p>	The âSector East Angelsâ drill is conducted on a quarterly basis, and is directly supervised by the Joint Command Center of UNIFIL's Sector East. The drill mainly relies on the medical teams from troop-contributing countries to provide emergency medical treatment and medical evacuation. The drillâs objective is to test the emergency rescue and coordinated support capabilities of the medical units of UNIFIL.
</p><p>	The Chinese medical detachment consists of 30 officers and soldiers, is responsible for medical treatment, emergency medical rescue and medical evacuation for more than 4,000 people in UNIFILâs Sector East. At the same time, they often provide humanitarian medical assistance to local people.</p>"</body>
</html>