<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>British prisons use secret technology to catch inmates using illegal cellphones
</h2>
<p class="one gray"> (Xinhua)    13:59, April 22, 2019
</p>
<hr/><p>
</p><p>(Photo/pixabay.com)
</p><p>	LONDON, April 22 (Xinhua) -- Special mobile detection kits are being used to detect and seize illegal cellphones used by prisoners, British Justice Secretary David Gauke said Sunday.
</p><p>	The kits allow guards to pinpoint a cellphone signal down to a precise prison cell as part of a wider effort to reduce violence and drug use and restore stability in British prisons, the Ministry of Justice (MoJ) said.
</p><p>	The technology is the latest weapon in the fight against phone smuggling which leads to drug-dealing and violence, said the ministry.
</p><p>	According to the MoJ, there is a direct link between crime in prisons and crime in towns and cities. Ensuring there is less crime in prisons means less crime in communities.
</p><p>	The technology works by sending real-time alerts when a cellphone is detected in prison, shown on a digital heat map which identifies the strength of the signal. This allows prison officers to pinpoint the location of the phone down to the exact cell.
</p><p>	Staff can also track data over time to watch for patterns emerging, for example when inmates conspire to smuggle drugs into prison. This intelligence is analyzed and in conjunction with law enforcement partners can lead to arrests.
</p><p>	"As criminals look for new ways to smuggle contraband into prisons, it is vital that we stay one step ahead, and this kind of technology will help prevent them operating from their cells," Gauke said.
</p><p>	"Illicit use of phones in prisons to co-ordinate crime fuels high levels of violence as offenders vie for control of the internal market and enforce drug debts. Phones can also be used to terrorise victims and maintain outside criminal networks,"said the MoJ.
</p><p>	Following a successful six-month trial in one prison, the technology is now in use in five prisons across the country.
</p><p>	For security reasons, the MoJ said it will not disclose the location or full details of the new technology.
</p><p>	Since January last year, the government has invested more than 90 million U.S. dollars in security to help restore stability to the prison estate. More than 18 million dollars is also being invested each year to stop criminal gangs smuggling drugs into prisons.</p>"</body>
</html>