<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Special police in training at minus 23 degrees
</h2>
<p class="one gray"> (Chinanews.com)    11:03, February 01, 2019
</p>
<hr/><p>
</p><p>	Special police in Gannan Tibetan Autonomous Prefecture, Northwest Chinaâs Gansu Province undergo training despite temperatures that dropped to minus 23 degrees. The 18 training programs include response to a hostage crisis on a high building and rapid maneuvers in mountainous regions. (Photo: China News Service/Zhang Ying)
</p><p>
</p><p>	Special police in Gannan Tibetan Autonomous Prefecture, Northwest Chinaâs Gansu Province undergo training despite temperatures that dropped to minus 23 degrees. The 18 training programs include response to a hostage crisis on a high building and rapid maneuvers in mountainous regions. (Photo: China News Service/Zhang Ying)
</p><p>
</p><p>	Special police in Gannan Tibetan Autonomous Prefecture, Northwest Chinaâs Gansu Province undergo training despite temperatures that dropped to minus 23 degrees. The 18 training programs include response to a hostage crisis on a high building and rapid maneuvers in mountainous regions. (Photo: China News Service/Zhang Ying)
</p><p>
</p><p>	Special police in Gannan Tibetan Autonomous Prefecture, Northwest Chinaâs Gansu Province undergo training despite temperatures that dropped to minus 23 degrees. The 18 training programs include response to a hostage crisis on a high building and rapid maneuvers in mountainous regions. (Photo: China News Service/Zhang Ying)
</p><p>
</p><p>	Special police in Gannan Tibetan Autonomous Prefecture, Northwest Chinaâs Gansu Province undergo training despite temperatures that dropped to minus 23 degrees. The 18 training programs include response to a hostage crisis on a high building and rapid maneuvers in mountainous regions. (Photo: China News Service/Zhang Ying)
</p><p>
</p><p>	Special police in Gannan Tibetan Autonomous Prefecture, Northwest Chinaâs Gansu Province undergo training despite temperatures that dropped to minus 23 degrees. The 18 training programs include response to a hostage crisis on a high building and rapid maneuvers in mountainous regions. (Photo: China News Service/Zhang Ying)</p>"</body>
</html>