<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Xi extends Spring Festival greetings to military veterans
</h2>
<p class="one gray"> (Xinhua)    07:28, January 23, 2019
</p>
<hr/><p>
</p><p>	Chinese President Xi Jinping, also general secretary of the Communist Party of China Central Committee and chairman of the Central Military Commission, shakes hands with the retirees during a gala for retired military officials with Beijing-based troops in Beijing, capital of China, on Jan. 22, 2019. Xi extended his Spring Festival greetings to military veterans and retired military officials. (Xinhua/Li Gang)
</p><p>	BEIJING, Jan. 22 (Xinhua) -- President Xi Jinping on Tuesday extended his Spring Festival greetings to military veterans and retired military officials.
</p><p>	Xi, also general secretary of the Communist Party of China Central Committee and chairman of the Central Military Commission, watched a gala for retired military officials with Beijing-based troops.
</p><p>	Xi shook hands with the retirees and asked about their health and lives.
</p><p>	Songs and dances about building strong armed forces and the military's loyalty to the Party were performed.
</p><p>	Senior military officials including Xu Qiliang, Zhang Youxia, Wei Fenghe, Li Zuocheng, Miao Hua and Zhang Shengmin were also present at the show.
</p><p>	Spring Festival, the Chinese Lunar New Year, falls on Feb. 5 this year.</p>"</body>
</html>