<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Philippine officials visit Chinese naval vessel in Manila
</h2>
<p class="one gray"> (People's Daily)    08:37, January 21, 2019
</p>
<hr/><p>
</p><p>Philippine National Defense Secretary Delfin Lorenzana inspects ETG 539 honor guards. (Photo: ETG 539)
</p><p>	Bangkok (Peopleâs Daily) â Chinaâs Escort Task Group 539 from the Peopleâs Liberation Army (PLA) Navy missile frigates Wuhu and Handan, and replenishment vessel Dongpinghu, arrived in Manila on January 17 for a five-day visit.
</p><p>	Philippine National Defense Secretary Delfin Negrillo Lorenzana and Vice Admiral Robert Arugay Empedrad, Flag Officer-In-Command of the Philippine Navy, visited the missile frigate Wuhu on Sunday. The officials were greeted by Chinese Ambassador Zhao Jianhua, Rear Admiral Xu Haihua and Rear Admiral Du Naihua, and group commanders at Manilaâs South Harbor Pier 15.
</p><p>	Lorenzana toured the missile frigate and was briefed on the PLA Navy and ETGâs previous missions in the Gulf of Aden and Somalia, commanded by Rear Admiral Xu Haihua and Rear Admiral Du Naihua.
</p><p>	Lorenzana welcomed the Chinese crew, expressing sincere thanks for their hospitality. He said that military relations between both countries is an important part of the overall relationship between China and the Philippines. He also expressed his support for continuous naval exchanges and cooperation including high-level visits, personnel exchanges, and mutual ship visits.</p>"</body>
</html>