<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese naval escort fleet concludes friendly visit to Cambodia
</h2>
<p class="one gray"> (Xinhua)    07:59, January 11, 2019
</p>
<hr/><p>
</p><p>	China's missile frigate "Wuhu" arrives at Sihanoukville Autonomous Port, Cambodia, Jan. 9, 2019. The 30th Chinese naval escorting fleet, composed of missile frigates "Wuhu" and "Handan", and supply ship "Dongpinghu", arrived Wednesday at the Sihanoukville Autonomous Port for a four-day friendly visit to Cambodia. (Xinhua/Mao Pengfei)</p>"</body>
</html>