<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Agricultural drones great helpers for Xinjiang's fruit farmers
</h2>
<p class="one gray"> (Xinhua)    13:39, April 22, 2019
</p>
<hr/><p>
</p><p>(Photo/Xinhua)
</p><p>	URUMQI, April 21 (Xinhua) -- A mass application of drones for artificial pollination is helping fruit farmers in Korla, northwest China's Xinjiang Uygur Autonomous Region, to take advantage of a full-blossom period of fruit plants in the next two weeks to grow premium fruits.
</p><p>	In the renowned plantation for the Korla fragrant pear, the full-blossom period is less than two weeks.
</p><p>	Flying an agricultural drone, Zhang Wei, a drone operator, is popular among fruit farmers. His job can be more efficient than five manual laborers using traditional methods, and much cheaper.
</p><p>	Korla has about 36,666 hectares of pear trees. Fruit farmers prefer artificial pollination instead of bee pollination, which can help prevent plant diseases from spreading.
</p><p>	It only takes eight minutes for Zhang to complete the artificial pollination of a pear garden of 10 mu (0.67 hectares), for which he only charges 300 yuan (44.75 U.S. dollars).
</p><p>	"Previously, I needed five people to do the same job for about four days, which cost at least 2,000 yuan," said the owner of the garden. "Now the job can be done quickly and cheaply. Also it is not easy to find farm workers to do the job any longer."
</p><p>	With high efficiency and low price, artificial pollination by drones won market quickly after it was introduced in Korla last year.
</p><p>	Zhang, who are from an urban area and did not know much about agriculture two years ago, now never worries about his business with one of China's most advanced agricultural drones.
</p><p>	Operating a drone is a little "boring" for Zhang, as he only needs to walk around pear gardens while holding the satellite positioning terminal and the drone's flight controller.
</p><p>	"The flight route of the drone is set automatically after I confirm the boundary of gardens with an error range less than 5 cm. The drone takes off and returns by itself," he said.
</p><p>	The drone that Zhang is operating is designed and produced by Xaircraft, a Guangzhou-based company in south China's Guangdong Province, which specializes in making and providing automatic agricultural equipment.
</p><p>	The company has 1,950 drones in agricultural use in Xinjiang, which has occupied a lion's share of the market in the region.
</p><p>	At least 1,797 agricultural drones were used to spray cotton defoliant on about 446,667 hectares of cotton fields in Xinjiang in 2018, which accounted for 30 percent of the total area of machine-harvested cotton fields in the region.
</p><p>	"The agricultural drones are up to 80 times more efficient than manual work," said Zhang Qiang, head of a drone team of the company that includes Zhang Wei. His team has completed the artificial pollination of about 533 hectares of pear trees in Korla.
</p><p>	"I believe the mass application of agricultural drones for artificial pollination will kick off a revolution of intelligent farming in Xinjiang," he said.</p>"</body>
</html>