<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese vice premier urges China-U.S. cooperation, vows no compromise on major principles
</h2>
<p class="one gray"> (Xinhua)    07:14, May 13, 2019
</p>
<hr/><p>	WASHINGTON, May 11 (Xinhua) -- Chinese Vice Premier Liu He said Friday that cooperation is the only right choice for China and the United States, but China will not compromise on major issues of principle.
</p><p>	China-U.S. relations are of great importance, Liu said in a group interview with Chinese media after the conclusion of the 11th round of high-level economic and trade consultations between the world's top two economies, which took place on Thursday and Friday in Washington.
</p><p>	Economic and trade relations serve as the ballast and propeller of the overall China-U.S. relationship, and matter not only to bilateral ties, but also to world peace and prosperity, added Liu, also a member of the Political Bureau of the Communist Party of China (CPC) Central Committee.
</p><p>	Cooperation is the only right choice for the two sides, but it has to be based on principles, said the vice premier, who heads the Chinese side of the China-U.S. comprehensive economic dialogue.
</p><p>	China, he stressed, will never make concessions on major issues of principle.
</p><p>	The Chinese delegation came to Washington for the latest round of talks with sincerity, and held candid and constructive exchanges with the U.S. side, Liu said, adding that the two sides agreed to continue to push forward the consultations.
</p><p>	China strongly opposes U.S. tariff hikes, which are harmful not only to China and the United States, but to the world at large, and China will have to take necessary countermeasures, he added.
</p><p>	Stressing that any agreement must be equal and mutually beneficial, Liu said that the two sides have reached important consensus on many aspects, but there remain three core concerns of China that must be addressed.
</p><p>	The first is to remove all the additional tariffs, he said, adding that the levy of those tariffs is the starting point of the ongoing bilateral trade dispute, and must be totally revoked if the two sides were to reach a deal.
</p><p>	The second is that the amount of purchases should be realistic, he said, adding that the two sides reached consensus on the volume in Argentina, and should not change it randomly.
</p><p>	The third is to improve the balance of the wording of the text, he said, adding that every country has its dignity, the text must be balanced, and more discussions are needed on some critical issues.
</p><p>	Noting that it is just normal that there have been some ups and downs in bilateral consultations since last year, Liu pointed out that it is irresponsible to casually accuse one party of "backtracking" while the two sides are still in the process of negotiation.
</p><p>	As for China, the vice premier said the most important thing is to focus on its own business.
</p><p>	China enjoys huge domestic market demand, the implementation of the supply-side reform will comprehensively boost the competitiveness of Chinese products and enterprises, and there is still ample room for fiscal and monetary policy manoeuvres, he said, adding the Chinese economic prospect is very optimistic.
</p><p>	Liu pointed out that it is a good thing for a major country to encounter some twists and turns in its development, as they can serve as an ability test.
</p><p>	Under the strong leadership of the CPC Central Committee with Xi Jinping at the core, as long as the Chinese people have firm confidence and make joint efforts, China is not afraid of any difficulties, and will certainly be able to maintain the good momentum of sustained and sound economic development, he added.</p>"</body>
</html>