<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>PLA trains super soldiers with futuristic weapons
</h2>
<p class="one gray">By Liu Xuanzun (Global Times)    10:12, January 09, 2019
</p>
<hr/><p>
</p><p>A Chinese soldier fires an assault rifle that is also capable of launching 20-millimeter grenades. Photo: cctv.com
</p><p>	Equipped with futuristic individual combat weapons like grenade-launching assault rifles, corner shot pistols and knife guns, the PLA special forces are aiming to build "super" soldiers capable of "1 vs 10" and to meet the requirements of the digitalization of modern warfare.
</p><p>	The wide variety of advanced firearms is used in an internal competitive training by the Xuefeng Special Operation Brigade under the PLA 76th Group Army, cctv.com reported on Monday.
</p><p>	The corner shot pistol system can be used so that the muzzle points to a different direction across a wall, while the soldier aims the weapon behind the wall with the help of a monitor. In dangerous urban warfare, the system allows the operator to accurately shoot targets without exposing himself to hostile attackers, the report said.
</p><p>	A knife gun hides bullets inside what seems to be a knife, which can be fired in close quarters combat, the report said.
</p><p>
</p><p>A Chinese soldier aims a corner shot pistol system behind a wall. Photo: cctv.com
</p><p>	The grenade-launching assault rifle, also known as the Individual Comprehensive Operation System QTS-11, integrates the function of a rifle and a grenade launcher along with an advanced aiming module, according to the report.
</p><p>	With these weapons, "super" soldiers capable of "1 vs 10" will be created, Wei Dongxu, a Beijing-based military analyst, told the Global Times on Tuesday.
</p><p>	It is rare for these advanced Chinese weapons to appear at a same place, cctv.com said.
</p><p>	Training using these "sci-fi" weapons shows that related technologies are very mature, Wei said.
</p><p>	"The weapons are made for special forcesâ¦ Some standard troops will also use them in the future," Wei said. But these high-tech guns will remain exclusive to elite forces for a while because of their higher cost, he predicted.
</p><p>
</p><p>ããA Chinese soldier waves a knife but fires bullets from it. Photo: cctv.com
</p><p>	In the 1990s, the US developed the XM29 rifle that is similar in concept to the QTS-11. However, it was too expensive to win bids from the US Army, Science and Technology Daily reported.
</p><p>	The QTS-11, dubbed a "strategic rifle" by Chinese military observers despite being a tactical weapon, gained its nickname because it not only has multiple functions and provided the strongest individual firepower in the world, but is also highly digitalized with sensors, a positioning system and a data sharing system, making it a cut above other tactical weapons, media reported.
</p><p>	These weapons being used for basic-level combat units show the PLA's modernization and informatization level, the cctv.com report said.</p>"</body>
</html>