<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Int'l Antarctic Center attracts visitors in Christchurch, New Zealand
</h2>
<p class="one gray"> (Xinhua)    11:02, April 22, 2019
</p>
<hr/><p>
</p><p>	People watch as a staff member feeds young blue penguins at the International Antarctic Center in Christchurch, New Zealand, April 21, 2019. (Xinhua/Guo Lei)</p>"</body>
</html>