<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China's new flying saucer-like stealth drone seen in first public flight
</h2>
<p class="one gray"> (Global Times)    13:42, January 07, 2019
</p>
<hr/><p>
</p><p>China's new stealth drone the Sky Hawk conducts takeoff and landing test at an undisclosed location and time. Photo: China Central Television
</p><p>	A video featuring China's flying saucer-like stealth drone, the Sky Hawk, was shown for the first time on China Central Television (CCTV) on Saturday, with leading military experts saying the technologies mastered by Chinese developers will allow the drone to fly faster, farther and avoid detection.
</p><p>	Independently developed by China Aerospace Science and Industry Corporation, the Sky Hawk conducted a test flight at an undisclosed location in China, the CCTV report said.
</p><p>	The video showed the drone taking off and landing, marking the first time that the aircraft has been publicly seen in flight.
</p><p>	The drone reportedly first flew in February, but no video was available before Saturday's broadcast. It was on display at Airshow China 2018 in Zhuhai, South China's Guangdong Province in November but was never flown there.
</p><p>	The step-by-step revelations mean the drone is being developed and manufactured on schedule, and that China considers the drone feasible, Song Zhongping, a military expert and TV commentator, told the Global Times on Sunday.
</p><p>	Featuring a "flying wing" aerodynamic design similar to the US B-2 stealth bomber, the Sky Hawk is a high-altitude, long-range and high-speed unmanned aerial vehicle capable of conducting reconnaissance and patrol missions in hostile environments, CCTV reported.
</p><p>	Controlling an aircraft with a "flying wing" design is much more difficult than controlling an aircraft with conventional design, Song noted. A turbofan engine on a flying wing aircraft allows it to fly much faster and farther compared with traditional turboprop or piston engine aircraft, he said.
</p><p>	Another Chinese stealth drone with a "flying wing" design, the CH-7, developed by China Aerospace Science and Technology Corporation, was also on display at the air show. Its 22-meter wingspan makes it significantly larger than the Sky Hawk, providing another choice for domestic and international users.
</p><p>	The US has developed the X-47B stealth drone and run tests on aircraft carriers. Although the US project was suspended in favor of a stealth tanker drone, the US still has the edge in related technologies, Song said.
</p><p>	The Sky Hawk will also operate on China's future aircraft carriers that will use electromagnetic catapults, said a military expert who requested anonymity.
</p><p>	Electromagnetic catapults can launch a wide variety of aircraft, and since the Sky Hawk is smaller than the CH-7, it will be easier to use on an aircraft carrier, the expert told the Global Times.
</p><p>	China's new strategic bomber, the H-20, is expected to also use a "flying wing" aerodynamic design to gain stealth capability and other benefits.</p>"</body>
</html>