<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese naval fleets escort 3,400 foreign ships over past 10 years
</h2>
<p class="one gray"> (Xinhua)    07:34, January 02, 2019
</p>
<hr/><p>
</p><p>	Changchun destroyer of the 17th Chinese escort naval fleet arrives at southern port of Bandar Abbas, Iran, on Sept. 20, 2014. The 17th Chinese escort naval fleet docked in south Iran's Bandar Abbas port on Saturday for a five-day visit. (Xinhua/Ahmad Halabisaz)
</p><p>	China's naval fleets have escorted 3,400 foreign ships over the past 10 years, around 51.5 percent of the total escorted, according to a Ministry of National Defense statement.
</p><p>	Wu Qian, a spokesperson for the ministry, told a press conference that China sent the first naval fleet to the Gulf of Aden and waters off Somalia for escort missions on Dec. 26, 2008.
</p><p>	Since then, 31 fleets have escorted more than 6,600 ships from worldwide, and rescued over 70 ships in danger, Wu said.
</p><p>	Protection provided by the Chinese naval fleet has been widely praised. Some foreign ships would rather wait several days to be escorted by the fleet, the statement said.
</p><p>	The Chinese naval fleet has shouldered its international obligations, offering high-quality public security products for the international community.
</p><p>	In 2015, when a civil war broke out in Yemen, a Chinese naval fleet consisting of three vessels helped evacuate 683 overseas Chinese as well as 279 foreign citizens from 15 countries, the statement said.
</p><p>	Meanwhile, the Chinese naval fleet has taken efforts to strengthen exchanges and cooperation with other countries to maintain maritime transport safety.
</p><p>	It has established information sharing and commander meeting mechanisms with task fleets from the European Union and the North Atlantic Treaty Organization, organizing over 20 meetings and communications among fleet commanders, the statement said.
</p><p>	It has exercised joint drills with more than 20 countries fulfilling escort missions, anti-piracy operations and international humanitarian assistance.
</p><p>	The Chinese naval fleet has paid 103 visits to 63 countries so far, according to the spokesperson.
</p><p>	In the future, Chinese naval forces will continue their commitment to maintaining world peace and stability, Wu said.</p>"</body>
</html>