<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Economic Watch: AIIB President says BRI promising
</h2>
<p class="one gray"> (Xinhua)    15:18, May 11, 2019
</p>
<hr/><p>	BEIJING, May 10 (Xinhua) -- The Belt and Road Initiative (BRI) originated in China and, with proper implementation, could become an inclusive international platform that continuously benefits the world, Asian Infrastructure Investment Bank (AIIB) President Jin Liqun said in an exclusive interview with Xinhua on Friday.
</p><p>	Jin's remarks came a day after AIIB priced its first-ever global bond in London.
</p><p>	The five-year bond raised 2.5 billion U.S. dollars and will drive AIIB's priorities of investing in sustainable infrastructure, developing cross-border connectivity and promoting Environmental, Social and Governance (ESG) investing in Emerging Asia.
</p><p>	Noting AIIB's board of directors has approved up to 7.94 billion USD in investments for 39 projects in 15 countries, Jin acknowledged that some projects are located in B&R countries.
</p><p>	"But one thing is always clear," he said. "We never label projects with 'B&R' or non-'B&R,' and we will never do that."
</p><p>	AIIB has been strictly adhering to high standards of "Lean, Clean and Green," Jin said, adding that each and every project was deliberately chosen and examined.
</p><p>	"That's why AIIB has gained increasing attention and recognition, not only within Asia but from other parts of the world."
</p><p>	Jin stressed, as he did several times before, that "AIIB is initiated by China, but not owned by China."
</p><p>	Calling the Second Belt and Road Forum for International Cooperation (BRF) a "great success," Jin said the BRI will enjoy a promising future.
</p><p>	The public has noticed that more world leaders joined the roundtable that was used in both BRFs.
</p><p>	"That being said, the BRI has been getting more attention as well as recognition," he said.
</p><p>	Jin, 70, had been China's vice finance minister and vice president of the Asian Development Bank before heading the AIIB in 2016.
</p><p>	He said the much-anticipated inaugural transaction in the debt capital markets demonstrates investor commitment to driving socio-economic development in Asia.
</p><p>	"We have triple-A ratings from Standard &Poor's, Moody's and Fitch, which reflect the Bank's commitment to the highest standards of governance, enhanced transparency and accountability," he said, adding that the Bank never rushes to make any decision.
</p><p>	"We do it, and we do it step by step, making sure that every step is right."
</p><p>	Calling the pricing "a new start," Jin said the bank will introduce more measures to further catalyze sustainable infrastructure development, cross-border connectivity and ESG Investing Principles in Emerging Asia and beyond.</p>"</body>
</html>