<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China launches new BeiDou satellite
</h2>
<p class="one gray"> (Xinhua)    12:29, April 21, 2019
</p>
<hr/><p>
</p><p>	China sends a new satellite of the BeiDou Navigation Satellite System (BDS) into space from the Xichang Satellite Launch Center in Xichang, southwest China's Sichuan Province, April 20, 2019. (Xinhua/Guo Wenbin)
</p><p>	XICHANG, April 20 -- China sent a new satellite of the BeiDou Navigation Satellite System (BDS) into space from the Xichang Satellite Launch Center in Sichuan Province at 10:41 p.m. Saturday.
</p><p>	Launched on a Long March-3B carrier rocket, it is the 44th satellite of the BDS satellite family and the first BDS-3 satellite in inclined geosynchronous Earth orbit.
</p><p>	After in-orbit tests, the satellite will work with 18 other BDS-3 satellites in intermediate circular orbit and one in geosynchronous Earth orbit.
</p><p>	Yang Changfeng, chief designer of the BeiDou system, said that the hybrid constellation design, in which three groups of satellites at different orbital regimes work in concert, was an exclusive BDS innovation and the world's first.
</p><p>	It will increase the number of visible satellites in the Asian-Pacific Region, providing better service for the region, Yang said.
</p><p>	The launch was the 302nd flight mission for the Long March series of carrier rockets, and the 100th for the Long March-3B.
</p><p>	So far, a total of four BeiDou test satellites and 44 BDS satellites have been sent to preset orbits via 36 flight missions launched by Long March-3A and Long March-3B carrier rockets.
</p><p>	The launch on Saturday also marked the first launch of the BDS in 2019. This year, about 8-10 BDS satellites are scheduled to be launched, wrapping up launch missions of all BDS-3 satellites in medium Earth orbit.
</p><p>	China began to construct its navigation system, named after the Chinese term for the Big Dipper constellation, in the 1990s and started serving the Asia-Pacific Region in 2012.
</p><p>	According to Yang, the positioning accuracy of the system has reached 10 meters globally and five meters in the Asia-Pacific Region after the system started to provide global service at the end of last year.
</p><p>	The BDS-3 system is to be completed in 2020. China is also planning to finish building a high precision national comprehensive positioning, navigation, and timing (PNT) system on the basis of the BDS by 2035.
</p><p>	Yang noted that China is willing to share the achievements of the BDS with other countries.
</p><p>	The BDS has been widely used around the world, like building construction in Kuwait, precision agriculture in Myanmar, land survey and mapping in Uganda and warehousing and logistics in Thailand.
</p><p>	The BDS will serve the world and benefit all mankind with more powerful function and better performance, said Yang.</p>"</body>
</html>