<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>J-10 fighter jet flies past sun
</h2>
<p class="one gray"> (China Military Online)    10:15, December 12, 2018
</p>
<hr/><p>
</p><p>	A J-10 fighter jet attached to an aviation brigade of the air force under the PLA Central Theater Command flies past the sun during a live-fire training exercise on December 6, 2018. (eng.chinamil.com.cn/Photo by Liu Shaoqiang)</p>"</body>
</html>