<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China sends new naval fleet for escort mission
</h2>
<p class="one gray"> (Xinhua)    08:20, December 10, 2018
</p>
<hr/><p>	GUANGZHOU, Dec. 9 (Xinhua) -- The 31st fleet from the Chinese People's Liberation Army Navy has left the port city of Zhanjiang in south China's Guangdong Province for the Gulf of Aden and waters off Somalia to escort civilian ships.
</p><p>	Composed of a landing vessel, a missile frigate and a supply ship, the fleet started its mission Sunday morning.
</p><p>	The fleet has 700 officers and soldiers, dozens of special operation soldiers and three helicopters on board.
</p><p>	The Chinese Navy began to carry out escort missions in the Gulf of Aden and the waters off Somalia in December 2008.
</p><p>	In the past 10 years, the Chinese Navy has sent out 26,000 officers and soldiers, escorted 6,595 ships and successfully rescued or aided more than 60 Chinese and foreign ships.
</p><p>	The navy also carried out various other missions, including the evacuation of Chinese nationals from war zones in Libya in 2011 and Yemen in 2015, the search and rescue for the missing Flight MH370 and supplying fresh water to Maldives.</p>"</body>
</html>