<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>U.S. in preparation to send warship into Black Sea
</h2>
<p class="one gray"> (Xinhua)    08:26, December 06, 2018
</p>
<hr/><p>	WASHINGTON, Dec. 5 (Xinhua) -- The U.S. military has started the preparations to dispatch a warship into the Black Sea amid the tension between Russia and Ukraine over the Kerch Strait incident, reported U.S. media on Wednesday.
</p><p>	The U.S. military has asked the State Department to notify Turkey about its possible plan to sail a warship into the Black Sea, CNN reported, citing multiple U.S. officials who claimed the move was a response to the recent Russia-Ukraine confrontation.
</p><p>	"The United States carries out its activities consistent with the terms of the Montreux Convention. We will not, however, comment on the nature of our diplomatic correspondence with the Government of Turkey," reported the cable network, quoting a State Department spokesman.
</p><p>	Under the Montreux Convention signed in 1936, naval vessels of non-riparian countries are required to notify Turkey in advance about their passage through the Bosporus and the Dardanelles straits, which connect the Mediterranean to the Black Sea.
</p><p>	Under the rules of the treaty, ships of non-riparian countries cannot remain in the Black Sea for more than 21 days.
</p><p>	On Nov. 25, three Ukrainian naval ships and more than 20 sailors attempting to sail through the Kerch Strait from the Black Sea to the Sea of Azov were seized by Russian forces for allegedly violating the Russian border.
</p><p>	The Ukrainian Navy called the incident an "act of aggression," saying it had informed Moscow in advance of the passage. Meanwhile, Russia said it had received no such report and the ships ignored multiple warnings by the Russian border guards.
</p><p>	The Ukrainian Foreign Ministry said on Wednesday it has appealed to the Budapest Memorandum guarantor countries the United States, Britain and Russia, for urgent consultations over the tension in the Kerch Strait.</p>"</body>
</html>