<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Russian jets strike Syrian militants accused of using chemical weapons
</h2>
<p class="one gray"> (Xinhua)    09:21, November 26, 2018
</p>
<hr/><p>	MOSCOW, Nov. 25 (Xinhua) -- Russian warplanes on Sunday struck militants in Syria who had been shelling civilians in the northern city of Aleppo with chemical munitions, the Russian Defense Ministry said.
</p><p>	The Russian aircraft bombed the artillery positions where militants carried out the chemical weapon attack against Aleppo civilians, the ministry spokesman Igor Konashenkov said, adding that all the targets were destroyed.
</p><p>	Russia informed Turkey of the airstrike in advance via a hotline, he said.
</p><p>	At least 107 civilians suffered suffocation as a result of a rebel attack with "poisonous gas" in Aleppo on Saturday, according to the Syrian state news agency SANA.</p>"</body>
</html>