<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>76th joint patrol on Mekong River completed
</h2>
<p class="one gray"> (Xinhua)    10:56, November 25, 2018
</p>
<hr/><p>
</p><p>Members of China border police stand on a ship during patrol missions along the Mekong River, Nov. 21, 2018. The 76th Mekong River joint patrol led by China, Laos, Myanmar, and Thailand started on Tuesday morning from Guanlei Port, Xishuangbanna Dai Autonomous Prefecture in southwest China's Yunnan Province. (Xinhua/Xie Ziyi)
</p><p>	KUNMING, Nov. 24 (Xinhua) -- The 76th joint patrol on the Mekong River jointly conducted by China, Laos, Myanmar and Thailand was completed Saturday.
</p><p>	Ten vessels and 198 law enforcement personnel participated in the five-day mission that aimed to increase police visibility and enhance security and control of 512 km of the Mekong River.
</p><p>	During the joint mission, the four sides held a counter-terrorism drill in waters and police combat exercises on land in order to gauge emergency response abilities as well as improve cooperation and coordination of law enforcement personnel.
</p><p>	A series of activities including a review of ships, a photo exhibition to review patrol achievements over the past seven years and an information exchange meeting about curbing crime on the Mekong River, were also held during the five-day event.
</p><p>	The law enforcement personnel inspected 10 vehicles, 24 personnel and three tonnes of cargo during the mission.
</p><p>	"Thanks to the joint patrols, we now just feel very safe sailing on the river. We've witnessed huge changes over the past seven years, and we should thank law enforcement personnel from the four countries for bringing us peace," said Dong Guang'ai, a crew member of a Chinese merchant ship.
</p><p>	Joint patrols on the Mekong River started in December 2011 to tackle safety concerns after a gang hijacked two cargo ships and killed 13 Chinese sailors in Thai waters on Oct. 5, 2011.
</p><p>	The Mekong River, known as the Lancang River on the Chinese side, runs through China, Laos, Myanmar, Thailand, Cambodia and Vietnam, and is an important waterway for transnational shipping.</p>"</body>
</html>