<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>PLA, US Army conduct military exchange in China
</h2>
<p class="one gray">By Liu Xuanzun in Nanjing (Global Times)    08:23, November 19, 2018
</p>
<hr/><p>Military exchanges 'won't be interrupted by trade row' 
</p><p>
</p><p>Chinese Lieutenant General Qin Weijiang and US General Robert Brown host a press conference at the US-China Disaster Management Exchange 2018 in Nanjing, East China's Jiangsu Province on Saturday. Photo: Liu Xuanzun/GT
</p><p>	Senior Chinese and US military officers praised the successful completion of a disaster management exchange (DME) between the two militaries during the weekend in Nanjing, East China's Jiangsu Province, as the two sides agreed on the importance of building understanding and mutual trust through similar exchanges.
</p><p>	Chinese military analysts said on Sunday that cooperating on humanitarian aid and disaster relief can contribute to the role of military ties acting as a stabilizer to the overall China-US relations.
</p><p>	Lieutenant General Qin Weijiang, deputy commander of the People's Liberation Army (PLA) Eastern Theater Command and the commander of the Eastern Theater Command ground force, said at the DME closing ceremony on Saturday that the exchange demonstrated the expertise and combat morale of the troops from both countries.
</p><p>	The Chinese and US militaries have proven that they can enhance cooperation in areas of common interests, Qin said, noting that the two sides should carry out more exchanges and expand cooperation, which will help boost mutual trust and reduce misunderstandings and misconceptions.
</p><p>	General Robert Brown, commander of the United States Army Pacific, echoed Qin at the event, calling the DME foundational to the military ties between the two countries.
</p><p>	Brown said that seven out of 10 people in the world killed in a disaster were in the Indo-Pacific region, and the US and China must work together to respond to this to save lives.
</p><p>	"Military-military is just one aspect of the relations between our two countries, but it is one where we find areas in common and can build trust and reduce miscalculation," Brown told the reporters at the closing ceremony.
</p><p>	It is even easier to discuss differences if you are working in areas of common interests, he said.
</p><p>	More than 200 military personnel from both sides participated in the DME. The background scenario of the exchange on Saturday was an earthquake which occured in "a third country" who requested disaster assistance from China and the US. During the practical field exercises held on Saturday, troops from both sides jointly conducted search and rescue operations in a "community" of collapsed buildings.
</p><p>	Chinese and US troops were mixed together and tasked with locating life signals under the ruins, before getting the victims out of danger. The rescued victims were then transferred for first aid and relocated to safe positions via vehicle. A joint military command center was set up to evaluate the disaster situation and send orders.
</p><p>
</p><p>Chinese and US soldiers work together during a search and rescue training mission during the US-China Disaster Management Exchange 2018 in Nanjing, East China's Jiangsu Province on Saturday. Photo: Liu Xuanzun/GT
</p><p>Finding more consensus
</p><p>	In front of US military visitors, the PLA also performed a staged scenario where "an island needed to be evacuated."
</p><p>	A helicopter and multiple motor boats were used to conduct search and rescue missions simultaneously. The PLA then quickly built a floating bridge within 30 minutes using pieces brought in by trucks. The floating bridge was then used to transfer materials needed for rescue missions into the isolated island.
</p><p>	A US officer who didn't give her name told the Global Times that she was surprised by the PLA's speed to build a floating bridge. "It must have required lots of practice," she said.
</p><p>	Brown said that senior officials are not the only important ones in military ties between the two countries. Young soldiers and mid-ranked officers also gain an understanding of their counterparts and "that will help no matter what happens in the Indo-Pacific region," he noted.
</p><p>	Song Zhongping, a military expert and TV commentator, told the Global Times on Sunday that humanitarian aid and disaster relief is one of the practical fields where the two countries can work together to maintain regional stability and peace.
</p><p>	Both officers and soldiers from the two sides would like to have win-win cooperation in these fields rather than compete against each other, Song said, noting that this is how military ties function as a stabilizer for the overall relations between the two countries.
</p><p>
</p><p>A US Army participant learns Chinese at the US-China Disaster Management Exchange 2018 in Nanjing, East China's Jiangsu Province on Saturday. Photo: Liu Xuanzun/GT
</p><p>More cooperation to come
</p><p>	Dong Bo, Chinese head of the medical staff at the DME, told the Global Times on Friday that the PLA and US soldiers cooperated harmoniously together to the point that they did not need an interpreter all the time and were able to understand each other through simple pictures and gestures.
</p><p>	Several US participants told the Global Times on Saturday that they love China and were learning simple Chinese expressions like "ni hao" (Hello in Chinese).
</p><p>	Qin said that he hopes that humanitarian aid and disaster relief can act as a starting point to expanding to other areas of interest common to both sides.
</p><p>	Brown noted that peacekeeping, counter-piracy and counter-drug efforts are all fields in which both countries have common interests.
</p><p>	Experts said that China and the US reached a consensus on strengthening communication and risk control, an agreement which could guarantee military exchanges are not interrupted by escalating trade frictions.</p>"</body>
</html>