<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China, US begin joint humanitarian assistance drill in Nanjing
</h2>
<p class="one gray"> (China Military Online)    13:46, November 13, 2018
</p>
<hr/><p>	Chinese and the US armed forces started an eight-day joint humanitarian assistance and disaster relief (HA/DR) drill on Monday in Nanjing, east China's Jiangsu Province.
</p><p>
</p><p>Chinese and US troops perform a joint confined-space rescue operation at Camp Rilea Armed Forces Training Facility of the Oregon Army National Guard in Warrenton, Oregon. [File Photo: Xinhua]
</p><p>	The drill involves over 200 military personnel from the army under the Chinese PLA Eastern Theater Command and the US Army Pacific.
</p><p>	The joint drill aims to share the experience of international HA/DR of the two militaries and cultivate the willingness and capability of the two militaries to carry out joint disaster relief operations.</p>"</body>
</html>