<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China announces roadmap for building stronger modern air force
</h2>
<p class="one gray"> (Xinhua)    09:55, November 12, 2018
</p>
<hr/><p>	GUANGZHOU, Nov. 11 (Xinhua) -- The Chinese Air Force on Sunday announced a roadmap for building a stronger modern air force in three steps.
</p><p>	The building of a stronger modern air force is in line with the overall goal of building national defense and the armed forces, Lieutenant General Xu Anxiang, deputy commander of Chinese Air Force, said at a press conference on celebrating the 69th anniversary of the establishment of Chinese Air Force held in Zhuhai, south China's Guangdong Province.
</p><p>	According to Xu, the first step is to, by 2020, build a strategic force that integrates aviation and space power, and strike and defense capabilities, in which the fourth generation of equipment serves as backbone and the third generation of equipment as mainstay. The systematic combat capabilities will be enhanced.
</p><p>	The second step requires the air force to improve strategic capabilities and modernize its theory, organizational structure, service personnel, and weaponry. The building of a modern and strategic air force will be basically completed by 2035, Xu said.
</p><p>	The third step will see the air force fully transformed into a world-class force by mid-21st century, according to Xu.</p>"</body>
</html>