<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China Southern Airlines asks Boeing for compensation over 737 Max grounding
</h2>
<p class="one gray"> (Xinhua)    15:09, May 22, 2019
</p>
<hr/><p>	GUANGZHOU, May 22 (Xinhua) -- China Southern Airlines has filed a claim for compensation against the Boeing Company after the grounding and delayed delivery of the 737 Max aircraft, according to the airline Wednesday.
</p><p>	The Guangzhou-based airline said it has suspended commercial flights of 24 737 Max aircraft since March 11 and requested a negotiation with Boeing over the compensation plan as soon as possible.
</p><p>	China became the first to halt the commercial operations of all Boeing 737 Max 8 airplanes after a fatal Ethiopian Airlines plane crash on March 10. It was the second crash of the new aircraft after one operated by Indonesia's Lion Air crashed in October last year, triggering global scrutiny and bans on operating Boeing 737 Max aircraft.
</p><p>	On Tuesday, China Eastern Airlines said it formally requested compensation from Boeing for the grounding of its 14 737 Max aircraft and delayed delivery of the aircraft.</p>"</body>
</html>