<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Middle-class women are the new drivers of China's CTI: Nielsen
</h2>
<p class="one gray"> (People's Daily Online)    18:07, May 10, 2019
</p>
<hr/><p>	Middle-class women are creating new paths of consumption and are spending more than ever before, helping China's Consumer Trend Index (CTI) amount to 115 points in the first quarter of 2019, up by two points from the previous quarter, according to the latest study from Nielsen, a global performance management company.
</p><p>	Nielsen's Consumer Trend Index measures perceptions of local job prospects, personal finance and willingness to spend. Consumer Trend levels above and below a baseline of 100 indicate degrees of optimism and pessimism, respectively.
</p><p>	The Nielsen study notes that CTI is influenced by three factors: job prospects, personal finance and willingness to spend.
</p><p>	The recently released data showed that the CTI of middle-class women was the most impressive last quarter, standing at 130 points, far higher than the national average of 115 points. This group is highly educated, go on to obtain top positions at work and so have more money to spend. This is reflected in the statistics, as their job prospects, willingness to spend and personal finance were all higher than the overall average.
</p><p>	For example, job prospects among middle-class women stood at 81 points, higher than the average of 79 points; their willingness to spend hit 78 points, compared to the average of 61 points; and personal finance stood at 92 points, surpassing the average of 70 points.
</p><p>	Andy Zhao, president of Nielsen China, said, "The number of middle-class women is growing, and their innovation power cannot be ignored. They are an important force behind all fields of society. They are highly educated, have high income and pursue independence. They advocate confidence, autonomy and ego, pursue a quality life, and have distinct characteristics in their consumption concept and behavior."
</p><p>	The statistics reveal that middle-class women spend a lot of money on their family and household. "Middle-class women are often the dominant players in household consumption. They have become the main force to lead the future consumer market. Paying attention to women and meeting their needs have become an inevitable choice for all brands," Zhao noted.
</p><p>	Nielsen data showed that compared with last year, 65 percent of this group had developed new modes of consumption, spending more on child education (40 percent), beauty (29 percent), culture and entertainment (15 percent), investment and finance (25 percent), keeping fit (11 percent) and buying a car (7 percent).
</p><p>	Aside from spending on products or services, middle-income women are also big spenders when it comes to tourism. Nielsen's research found that during Spring Festival this year, middle-class women's expense on tourism, recreation and entertainment stood at 7,337 yuan and 2,337 yuan, far higher than the average of 4,968 yuan and 1,077 yuan.
</p><p>	As this middle-income group continues to grow, the CTI is expected to grow with it, meaning good news for China's economy. Last quarter saw overall job prospects rise five points to 79, a substantial increase, while both personal finance and willingness to spend increased three points to 61 and 70, respectively. </p>"</body>
</html>