<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>"Dine Around Downtown" event held in New York, U.S.
</h2>
<p class="one gray"> (Xinhua)    10:26, May 22, 2019
</p>
<hr/><p>
</p><p>	People attend the "Dine Around Downtown" event in New York, the United States, on May 21, 2019. Dine Around Downtown has brought the neighborhood's restaurateurs together for the annual lunchtime festival since 1995. This year's event brought together nearly 40 restaurants in Lower Manhattan. (Xinhua/Wang Ying)</p>"</body>
</html>