<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China "regrets" Security Council's rejection of Russian-requested meeting on Ukraine
</h2>
<p class="one gray"> (Xinhua)    11:02, May 21, 2019
</p>
<hr/><p>	UNITED NATIONS, May 20 (Xinhua) -- China on Monday voiced regret over the UN Security Council's rejection of a Russian request to discuss the enactment of a Ukrainian language law.
</p><p>	"We regret that the meeting was not able to be held as scheduled. We hope that members of the council will respect one another, maintain unity, and effectively fulfill the council's obligation of maintaining international peace and security," said Ma Zhaoxu, China's permanent representative to the United Nations.
</p><p>	The Russian proposal was rejected in a procedural vote, winning only five votes in favor. Nine votes are required for the adoption of a contended provisional agenda item of the 15-member Security Council.
</p><p>	As a member of the Security Council, Russia requested a meeting and proposed the timing for the meeting. That was in line with the Security Council rules of procedure, said Ma in an explanation of China's Yes vote for the Russian request.
</p><p>	China has always maintained an objective and impartial position on the question of Ukraine, and respects the sovereignty and territorial integrity of all countries, including that of Ukraine, said Ma.
</p><p>	China believes that the parties concerned should stick to the general direction of a political settlement, and actively seek a comprehensive, lasting and balanced solution to the Ukrainian issue. The situation in Ukraine has complex historical and current backgrounds. China supports all parties concerned in resolving their differences as soon as possible, and reaching a final settlement acceptable to all parties through dialogue and negotiation, on the basis of taking into account and accommodating the legitimate concerns of all the different regions and ethnic groups in Ukraine, he said.
</p><p>	China believes that the Security Council should play a constructive role in creating a favorable external environment for the proper settlement of relevant issues, promoting peace, stability and development in Ukraine, and achieving harmonious coexistence among the various ethnic groups in Ukraine and the peaceful coexistence of Ukraine and other countries in the region, said the Chinese ambassador.</p>"</body>
</html>