<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>U.S. federal judge backs subpoena seeking Trump's financial records
</h2>
<p class="one gray"> (Xinhua)    07:41, May 21, 2019
</p>
<hr/><p>	WASHINGTON, May 20 (Xinhua) -- A U.S. federal judge on Monday upheld a congressional subpoena seeking President Donald Trump's financial records from an accounting firm.
</p><p>	The ruling issued by U.S. District Court Judge Amit Mehta means that Mazars USA must comply with the House Oversight and Reform Committee's subpoena for eight years of Trump's financial records.
</p><p>	The president is expected to appeal the ruling.
</p><p>	Elijah Cummings, chairman of the House Oversight Committee, issued the subpoena to Mazars last month as part of the panel's investigation into whether Trump committed financial crimes before he took office.
</p><p>	Trump filed a suit to block the subpoena in response, arguing that it amounted to an abuse of congressional authority.
</p><p>	Democrats are stepping up their oversight of the White House.</p>"</body>
</html>