<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Scott Morrison wins 2019 Australian Federal election
</h2>
<p class="one gray"> (People's Daily Online)    15:14, May 20, 2019
</p>
<hr/><p>
</p><p>Australian Prime Minister Scott Morrison declares victory in the Federal Election 2019 with his family
</p><p>	SYDNEY, May 19 (People's Daily Online / Quanjiao Wang) Australian Prime Minister, Liberal-National Coalition Leader Scott Morrison declared victory in the Australian Federal Election 2019, securing a third term for the coalition government.
</p><p>	Australian media regards his win as a shock election victory, reporting that Scott Morrison has defied opinion polls and public expectation for years. The opinion poll before the federal election day suggested that Labor was set for victory on the back of strong swings.
</p><p>
</p><p>Voting results at this stage (counted by the Australian Broadcasting Corporation)
</p><p>	"I have always believed in miracles," Morrison told the Liberal supporters in Sydney at midnight on Saturday, after he received the call from Opposition Leader Bill Shorten conceding defeat.
</p><p>	"Tonight is about every single Australian who depends on their government to put them first! We've got a lot of work to do. We're going to get back to work for the Australians that we know to go to work every day, who face those struggles and trials every day", he added.
</p><p>
</p><p>Poster wall outside one of the polling booths in Sydney (photo by Jiahua Wang)
</p><p>	Bill Shorten said to those who voted Labor in Melbourne, "I know that you're all hurting and I am too...This has been a tough campaign. Toxic at times." He then announced he would step down as leader of the Australian Labor Party.
</p><p>	According to the Australian Broadcasting Corporation, with almost 75 percent of the vote counted, the Coalition had 74 of the 151 seats in the House of Representatives, while Labour, other parties and independent candidates had 66 and six seats, respectively. There are also five seats in doubt.
</p><p>
</p><p>Voters line up to cast their ballots (photo by Chun Xie)
</p><p>	In Melbourne, Liberal candidate Gladys Liu and Labor candidate Jennifer Yang are contesting the seat of Chisholm. One of them is poised to become the first female Chinese-Australian MP in the lower house of Federal Parliament and create a new chapter in history.</p>"</body>
</html>