<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Trump criticizes Fox News over coverage of Democratic presidential contender
</h2>
<p class="one gray"> (Xinhua)    10:55, May 20, 2019
</p>
<hr/><p>	WASHINGTON, May 19 (Xinhua) -- U.S. President Donald Trump on Sunday accused Fox News of "wasting airtime" over its coverage of Democratic presidential contender Pete Buttigieg.
</p><p>	"Hard to believe that @FoxNews is wasting airtime on Mayor Pete, as Chris Wallace likes to call him," he wrote, referring to Buttigieg, the 37-year-old openly gay mayor of South Bend, U.S. state of Indiana, and the Fox News host.
</p><p>	Fox News is scheduled to host a town-hall event with Buttigieg on Sunday night.
</p><p>	"They forgot the people who got them there. Chris Wallace said, 'I actually think, whether you like his opinions or not, that Mayor Pete has a lot of substance ... fascinating biography.' Gee, he never speaks well of me," the president wrote.
</p><p>	Buttigieg, who announced his presidential bid last month, is among two dozen contenders for the Democratic nomination to challenge Trump in 2020.
</p><p>	Wallace, 71, has praised Buttigieg as having "interesting, refreshing ideas" and more "substance" than Beto O'Rourke, another White House hopeful.
</p><p>	The Fox News anchor is the son of legendary "60 Minutes" correspondent Mike Wallace, who died in 2012.</p>"</body>
</html>