<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Trump rips GOP lawmaker over impeachment comments
</h2>
<p class="one gray"> (Xinhua)    08:39, May 20, 2019
</p>
<hr/><p>	WASHINGTON, May 19 (Xinhua) -- U.S. President Donald Trump on Sunday fired back at Justin Amash, a Republican member of the House of Representatives, for the latter's saying that the president had reached the "threshold for impeachment."
</p><p>	"Never a fan of @justinamash, a total lightweight who opposes me and some of our great Republican ideas and policies just for the sake of getting his name out there through controversy," Trump said on Twitter.
</p><p>	Trump added that the Michigan lawmaker would see that he was misguided if he actually read the report submitted by special counsel Robert Mueller, who led the Russia probe, to Attorney General William Barr in March and made public about a month later.
</p><p>	"He would see that it was nevertheless strong on NO COLLUSION and, ultimately, NO OBSTRUCTION," Trump wrote. "Anyway, how do you Obstruct when there is no crime and, in fact, the crimes were committed by the other side? Justin is a loser who sadly plays right into our opponents hands!"
</p><p>	A member of the House Freedom Caucus, Amash said Saturday that the president's conduct was "impeachable."
</p><p>	In a series of tweets, Amash argued that Mueller's report identified "multiple examples of conduct satisfying all the elements of obstruction of justice."
</p><p>	He also accused Barr of "deliberately" misrepresenting the special counsel's finding when he sent a four-page memo about the investigation to Congress following the end of the Russia probe.
</p><p>	"Mueller's report reveals that President Trump engaged in specific actions and a pattern of behavior that meet the threshold for impeachment," Amash said.
</p><p>	The GOP lawmaker also lamented the partisanship in Congress, saying that it has "eroded our system of checks and balances."
</p><p>	Amash, a Trump critic, previously said that he would not rule out seeking the Libertarian nomination for president in 2020.
</p><p>	The Mueller report stated that there was no evidence that Trump's campaign conspired with the Russian government during the 2016 U.S. presidential election but didn't conclude if the president had obstructed justice.
</p><p>	The special counsel instead recounted 10 episodes in his report involving Trump and discussed potential legal theories for connecting these actions to elements of an obstruction offense.
</p><p>	It is Barr and Rod Rosenstein, who stepped down as deputy attorney general earlier this month, that concluded that the Mueller did not have "sufficient" evidence to support a charge in the obstruction case.</p>"</body>
</html>