<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>General election held in Australia
</h2>
<p class="one gray"> (Xinhua)    08:58, May 19, 2019
</p>
<hr/><p>
</p><p>	An electricity bus rides past a polling station in Melbourne, Australia, May 18, 2019. Australia held general election on Saturday. (Xinhua/Bai Xuefei)</p>"</body>
</html>