<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese envoy calls for political settlement of regional hotspot issues in Sahel
</h2>
<p class="one gray"> (Xinhua)    09:41, May 17, 2019
</p>
<hr/><p>	UNITED NATIONS, May 16 (Xinhua) -- A Chinese envoy on Thursday called on the international community to take integrated approaches to support countries in the Sahel region.
</p><p>	"The situation in the Sahel region is stable as a whole concurrent with multiple challenges," Ma Zhaoxu, China's permanent representative to the UN, told the Security Council.
</p><p>	To attain stability and development in the Sahel, the international community needs to take integrated approaches, work from multiple angles, and continue to support countries of the region, especially to support the Group of Five for the Sahel (G-5 Sahel) in addressing regional security challenges in an autonomous manner, he said.
</p><p>	The priority is advancing the political settlement of regional hotspot issues, the Chinese envoy said.
</p><p>	In order to attain peace and stability in the Sahel, it is imperative to push forward the peace process in the related countries, said Ma, adding that military means alone cannot solve security issues.
</p><p>	It is essential to continue supporting the relevant parties in Mali in carrying out inclusive dialogue and consultation, and accelerate the implementation of the Malian peace and security reconciliation agreement, he said.
</p><p>	It is imperative to pay attention to tackling problems beyond the region such as the Libyan crisis, so as to mitigate their negative impact on the Sahel region, he added.
</p><p>	The Sahel region stretches across the south-central part of Northern Africa between the Atlantic Ocean and the Red Sea, touching multiple countries.</p>"</body>
</html>