<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Javad Mottaghi: CDAC is at the right time to make countries work together closely
</h2>
<p class="one gray">By Sheng Chuyi and Zhao Duo (People's Daily Online)    17:06, May 16, 2019
</p>
<hr/><p>
</p><p>
</p><p>	Dr. Javad Mottaghi, ABU Secretary-General (People's Daily Online/ Zhao Duo)
</p><p>	Under the theme of "exchanges and mutual learning among Asian civilizations and a community with a shared future," the Conference on Dialogue of Asian Civilizations (CDAC) kicked off in Beijing on Wednesday, May 15. Representatives from 47 Asian countries and other countries outside the region participated in the event.
</p><p>	"Today the world is a different place. The first summit of the Belt and Road Initiative in May 2017 launched the largest infrastructure investment plan in human history. It is the time to strengthen the 'Dialogue of Civilizations' across the globe, which will further facilitate and strengthen The Belt & Road Initiative," Dr. Javad Mottaghi, Secretary-General of the Asia-Pacific Broadcasting Union (ABU) emphasized when addressing the parallel session of the Global Influence of Asian Civilizations at the conference.
</p><p>	During an exclusive interview with People's Daily Online, Mottaghi pointed out that CDAC is at the right time to make continents and countries work together closely.
</p><p>	"Asia is the land of civilization, dignity, heritage, culture, and history. Centuries of history of Asia proved that the culture here is so rich. This conference provides us opportunities for Asian countries to share this among each other and also with other continents. Asia played an important role in disseminating the culture and sharing the culture values," he said.
</p><p>	"This conference is at the right time to make continents and countries work together more closely. [It is] an opportunity to exchange experiences, views, to strengthen partnerships and to look at commonalities and values that can harmonize various civilizations.
</p><p>	"Dialogue is not playing against each other but is playing together. Everybody who participates or contributes to this dialogue is a winner," he noted.
</p><p>	When asked how media can help Westerners better accept Asian culture, Mottaghi said that it is not a question of acceptance but respect. "It is not about them or us; it is the question of 'we'," he said.
</p><p>	"The conference will create an opportunity to talk about differences and diversity. Without media, you cannot reach the public. We believe media have to make bridges instead of wars. Instead of dividing nations and societies, we have to make them united or at least connected.
</p><p>	"There is an important role the media can play in getting nations closer, looking at cultural diversity and how people can have a better understanding of other cultures and civilizations. Especially for the young generation, our children need to grow up with a better understanding of various cultures and know more about their neighbors. That is a way to reduce tension, which ultimately will result in peace.
</p><p>	"The world nowadays is desperately in need of dialogue. In this respective, we need to talk about the differences. Media can provide a situation that people can think globally, and act locally," he stressed.
</p><p>	Mottaghi also introduced ABU's vision to People's Daily Online. "We are constantly telling the Asian stories to the world. The role of media in conflict prevention is far more important than in conflict resolutions."
</p><p>	"From my perspective, the whole idea of the Belt and Road Initiative is connecting nations and people together. We broadcasters are taking that as an opportunity to further strengthen connections of nation-to-nation and people-to-people. That's where we [ABU] have already started co-production and program exchange among many nations related to the Belt and Road," he said.
</p><p>	When talking about President Xi's views on exchange and mutual learning between civilizations, Mottaghi said that it is a "perfect philosophy" [and the CDAC] is a "perfect platform" to provide media and stakeholders an opportunity to take it forward. "He's talking about how best you can connect nations by trade, culture, talking, working and building bridges, unlike others who try to make wars," he commented.
</p><p>	"We are inviting broadcasters from different countries to come together to produce programs related to the Belt and Road Initiative," said Mottaghi, who is looking forward to more media partners joining.</p>"</body>
</html>