<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese envoy urges Yemeni parties to push ahead political dialogue
</h2>
<p class="one gray"> (Xinhua)    10:03, May 16, 2019
</p>
<hr/><p>	UNITED NATIONS, May 15 (Xinhua) -- A Chinese envoy on Wednesday called on Yemeni parties to put the interest of the country and the people first, and to keep up effective political dialogue and negotiation.
</p><p>	"China welcomes the recent positive progress in the redeployment of troops," Ma Zhaoxu, China's permanent representative to the United Nations, said at a Security Council meeting on the situation in the Middle East.
</p><p>	According to the UN Special Envoy of the Secretary-General for Yemen Martin Griffiths, the Houthi rebel forces have undertaken an initial deployment of forces from the ports of Hodeidah, Salif and Ras Issa, under UN monitoring between May 11 and 14.
</p><p>	The priority at this moment is to carry on the consultation and agree on the implementation of the Hodeidah Agreement and some concrete arrangements, including prisoner exchange, Ma said.
</p><p>	"In the longer term, it is imperative to relaunch political talks to find a durable, holistic solution to the issue of Yemen," he added.
</p><p>	The international community should respect and preserve the sovereignty, independence, unity, and territorial integrity of Yemen, and support efforts to reach a broadly inclusive political solution through dialogue and negotiation on the basis of relevant Security Council resolutions, the Gulf Cooperation Council (GCC) initiative as well as its implementation mechanism, and the outcome document of the national dialogue conference, Ma said.
</p><p>	He also called on the Security Council to "stay united", and to "push forward the implementation of the Stockholm Agreement, respect the positions of the country concerned and other countries in the region, provide political support to the intra-Yemeni dialogue, and play a constructive role there".
</p><p>	Yemen has been in civil war in the past four years, pitting the Houthi rebels against forces loyal to the government of Abdrabbuh Mansur Hadi. Saudi Arabia leads a military coalition to support the Hadi government.</p>"</body>
</html>