<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Iran's top leader rules out talks with U.S
</h2>
<p class="one gray"> (Xinhua)    16:31, May 15, 2019
</p>
<hr/><p>	TEHRAN, May 14 (Xinhua) -- Iran's Supreme Leader Ayatollah Ali Khamenei on Tuesday ruled out any talks with the U.S. government over the disputed issues, Tasnim news agency reported.
</p><p>	The U.S. wants Iran to negotiate over its "defensive weapon" and to reduce the range of its missiles, while urging Iran to talk over its regional strategy, the Iranian leader was quoted as saying.
</p><p>	"Therefore, the talks (over theses issues) are basically wrong," Khamenei said, stressing that holding "talks with Washington, particularly with the current U.S. government, is poisonous."
</p><p>	U.S. President Donald Trump pulled Washington out the landmark Iranian international nuclear deal in May last year and has reimposed U.S. sanctions against the Islamic republic.
</p><p>	Withe the sanctions and the recent U.S. military buildup in the Gulf, the Trump administration aims to force Iran to return to the negotiation table by exerting "maximum pressures".
</p><p>	Washington seeks to seal a new nuclear deal with Iran, which will further curb Iran's nuclear program, stop Iran's ballistic missile development, and halt Iran's push for influence in the region.
</p><p>	"None of our wise people (inside Iran) seeks talks with the United States," said Khamenei.
</p><p>	"Iranians' ultimate option is to resist the U.S. pressures, and in this confrontation Americans will have to retreat," he said.
</p><p>	The Iranian leader also ruled out the possibility of a war between Tehran and Washington, despite the rising tensions that have fueled worries about an armed conflict between the two rivals. Enditem</p>"</body>
</html>