<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese civilization greatly promotes progress of human civilization: Xi
</h2>
<p class="one gray"> (Xinhua)    11:22, May 15, 2019
</p>
<hr/><p>	BEIJING, May 15 (Xinhua) -- Chinese President Xi Jinping said Wednesday that China's paper-making, gunpowder, printing, compass, calender, philosophy and people-oriented view have exerted profound influence in the world and greatly promoted the development process of human civilization.
</p><p>	Chinese civilization is an open system formed during constant exchanges and mutual learning with other civilizations, Xi made the remarks when delivering a keynote speech at the opening of the Conference on Dialogue of Asian Civilizations in Beijing.
</p><p>	In the future, China will surely embrace the world with a more open posture and contribute more dynamic civilization achievements to the world, Xi said.</p>"</body>
</html>