<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Civilizations should keep pace with times: Xi
</h2>
<p class="one gray"> (Xinhua)    11:07, May 15, 2019
</p>
<hr/><p>	BEIJING, May 15 (Xinhua) -- Chinese President Xi Jinping on Wednesday said that civilizations need to keep pace with the times.
</p><p>	Innovation should be encouraged to give impetus and vitality to the progress of civilizations, Xi said when delivering a keynote speech at the opening of the Conference on Dialogue of Asian Civilizations in Beijing.</p>"</body>
</html>