<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Xi stresses openness, inclusiveness, mutual learning among civilizations
</h2>
<p class="one gray"> (Xinhua)    11:02, May 15, 2019
</p>
<hr/><p>	BEIJING, May 15 (Xinhua) -- Chinese President Xi Jinping on Wednesday stressed the need to ensure openness, inclusiveness and mutual learning among civilizations.
</p><p>	Xi made the remarks at the opening of the Conference on Dialogue of Asian Civilizations in Beijing.
</p><p>	Exchanges and mutual learning among civilizations should be conducted in a reciprocal and equal manner, and be diversified and multi-directional, Xi said, noting they should not be compulsory or forced, or be a one-way flow.</p>"</body>
</html>