<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Xi calls for harmonious co-existence of various civilizations
</h2>
<p class="one gray"> (Xinhua)    11:00, May 15, 2019
</p>
<hr/><p>	BEIJING, May 15 (Xinhua) -- Chinese President Xi Jinping on Wednesday asked countries to create conditions for other civilizations to develop while keeping their own vibrant.
</p><p>	"We should leave various civilizations in the world all in full blossom," Xi said in a keynote speech at the opening ceremony of the Conference on Dialogue of Asian Civilizations.
</p><p>	There would be no clash of civilizations as long as people are able to appreciate the beauty of them all, Xi said.</p>"</body>
</html>