<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Putin looks forward to Xi's Russia visit in June
</h2>
<p class="one gray"> (Xinhua)    09:39, May 15, 2019
</p>
<hr/><p>
</p><p>Russian President Vladimir Putin meets with visiting Chinese State Councilor and Foreign Minister Wang Yi in Sochi, Russia, on May 13, 2019. (Xinhua/Bai Xueqi)
</p><p>	SOCHI, Russia, May 14 (Xinhua) -- Russian President Vladimir Putin said Monday that he looks forward to Chinese President Xi Jinping's state visit to Russia in June and the joint celebrations of the 70th anniversary of diplomatic ties with China.
</p><p>	Putin made the remarks here during a meeting with visiting Chinese State Councilor and Foreign Minister Wang Yi.
</p><p>	The Russian president asked Wang to convey his cordial greetings to Xi and congratulated China on the success of the second Belt and Road Forum for International Cooperation (BRF) held last month in Beijing.
</p><p>	The comprehensive strategic partnership of coordination with China is Russia's diplomacy priority, Putin said, adding that during his meeting with Xi in April, the two sides reached a new consensus on dovetailing between the Eurasian Economic Union and the Belt and Road Initiative.
</p><p>	Putin also noted that he and Xi exchanged views on major international and regional issues and further cemented strategic and political mutual trust between the two countries during the April meeting.
</p><p>	For his part, Wang conveyed Xi's good wishes to Putin and praised the Russian president's significant contributions to the success of the second BRF.
</p><p>	The important meeting between Xi and Putin last month in Beijing made a good start for the joint celebrations of the 70th anniversary of China-Russia diplomatic ties, Wang said, adding that bilateral ties have reached their highest level in history under the strategic leadership and direction of the two heads of state.
</p><p>	Wang told Putin that he and Russian Foreign Minister Sergei Lavrov earlier on Monday made adequate preparations for Xi's upcoming visit.
</p><p>	He said he is confident that Xi's state visit will lift China-Russia relations to a higher level and usher in a new era of their strategic partnership.
</p><p>	Putin and Wang also exchanged views on major international and regional issues.</p>"</body>
</html>