<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Xi meets foreign leaders attending Conference on Dialogue of Asian Civilizations
</h2>
<p class="one gray"> (Xinhua)    08:10, May 15, 2019
</p>
<hr/><p>
</p><p>	Chinese President Xi Jinping (L) holds a welcome ceremony for Greek President Prokopis Pavlopoulos at the square outside the east gate of the Great Hall of the People before their talks in Beijing, capital of China, May 14, 2019. (Xinhua/Zhang Ling)
</p><p>	BEIJING, May 14 (Xinhua) -- Chinese President Xi Jinping on Tuesday held talks with Greek President Prokopis Pavlopoulos, who is on a state visit to China and will attend the Conference on Dialogue of Asian Civilizations in Beijing.
</p><p>	Xi spoke of the significance of Pavlopoulos's visit to promote exchanges and mutual learning of civilizations in Europe and Asia, as well as dialogue among civilizations in the world. Full story</p>"</body>
</html>