<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Mark Zuckerberg leaves Elysee Palace after meeting with Macron in Paris, France
</h2>
<p class="one gray"> (Xinhua)    15:29, May 11, 2019
</p>
<hr/><p>
</p><p>	CFacebook CEO Mark Zuckerberg waves as he leaves the Elysee Palace after a meeting with French President Emmanuel Macron in Paris, France, on May 10, 2019. (Xinhua/Jack Chan)</p>"</body>
</html>