<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Trump says DPRK testing not "breach of trust"
</h2>
<p class="one gray"> (Xinhua)    15:29, May 11, 2019
</p>
<hr/><p>	WASHINGTON, May 10 (Xinhua) -- U.S. President Donald Trump on Friday said Pyongyang's recent weapon tests were "very standard" and not "a breach of trust," U.S. media reported.
</p><p>	"They're short-range and I don't consider that a breach of trust at all," Trump said in an interview with POLITICO.
</p><p>	"These were short-range missiles and very standard stuff. Very standard," Trump added.
</p><p>	The Democratic People's Republic of Korea (DPRK) launched two projectiles from its northwestern region Thursday afternoon. Days earlier, the DPRK fired several short-range projectiles into the sea off its east coast.
</p><p>	U.S. acting Secretary of Defense Patrick Shanahan said Thursday that Washington understood what Pyongyang has fired. "But we're going to stick to our diplomacy," he said.
</p><p>	"We haven't changed our operations or our posture, and we'll continue to generate the readiness we need in case diplomacy fails," said the Pentagon acting chief.
</p><p>	Stephen Biegun, U.S. special representative for the DPRK affairs, said Friday in Seoul that the door remained open for the DPRK's return to negotiations.
</p><p>	DPRK's official Korean Central News Agency (KCNA) reported on Friday that top leader Kim Jong Un guided the strike drill of the Korean People's Army defense units on a couple of fronts.</p>"</body>
</html>