<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Temporary Brexit bounce to fade for UK economy: think tank
</h2>
<p class="one gray"> (Xinhua)    10:20, May 11, 2019
</p>
<hr/><p>	LONDON, May 10 (Xinhua) -- A leading economics think tank revealed Friday that the prospect of Brexit had temporarily boosted the country's economy in the first part of this year, but that the Brexit bounce would wear off noticeable as the year progressed.
</p><p>	The National Institute of Economic and Social Research (NIESR), a London-based independent economics and finance think tank, said Friday that its calculations showed UK economic growth in the first quarter of 2019 at 0.5 percent quarter-on-quarter.
</p><p>	According to preliminary figures released the same day by the Office for National Statistics (ONS), UK gross domestic product (GDP) increased by 0.5 percent in the first quarter of 2019.
</p><p>	This is a marked increase on the 0.2 percent quarterly growth seen in the final quarter of 2018 in NIESR's data calculations, and is considerable above the average rate of growth for the economy, and revealed a Brexit boost, according to Garry Young, director of macroeconomic modeling and forecasting at the Institute.
</p><p>	"The outcome is good, but appears to be due to temporary factors. So it may not last," Young told Xinhua in an exclusive interview Friday afternoon.
</p><p>	The improvement in the growth rate reflects temporary factors, such as the influence of additional stock-building on manufacturing output.
</p><p>	Within manufacturing, the output of the pharmaceuticals industry increased by 9.4 percent on the quarter.
</p><p>	Some of this increase is likely to be associated with stock-building outside the UK ahead of the original Brexit departure date of March 29, now postponed to until Oct. 31 this year.
</p><p>	"In the most recent quarter (Q1 2019) it appears that output has been stronger as firms have produced goods to be added to stocks," Young said.
</p><p>	"But that may mean the output in the future will be lower when stocks are run down."
</p><p>	The prospects for the UK economy if Brexit goes ahead are less good than if it remains in the European Union (EU) according to Young.
</p><p>	"Brexit uncertainty has affected investment and demand since the EU referendum and reduced UK gross domestic product growth by about 2 percent relative to what it would otherwise have been," Young said.
</p><p>	"The long-run effect of Brexit is negative but depends on the form it takes, this is because turning away from a large, and nearby market cannot be offset by trade with more distant markets," he added.</p>"</body>
</html>