<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Errand running business enjoys huge potential in China
</h2>
<p class="one gray"> (People's Daily Online)    15:45, May 09, 2019
</p>
<hr/><p>
</p><p>	(Photo/Xinhua)
</p><p>	The business of running errands is expanding rapidly across China, with a growing number of couriers racing between buildings to make a profit.
</p><p>	Aside from specialized errand running companies, express delivery enterprises and online food ordering platforms are joining in to get a slice of the ever-expanding market.
</p><p>	According to Wei Wei, a manager of Chinese food delivery service provider Meituan, the company hopes to meet more demands of the errand running market by further exploiting its own delivery resources.
</p><p>	Insiders believe that the rise in labor costs is one reason behind Meituan's business expansion into errand running services.
</p><p>	According to a financial report issued by Meituan, courier salaries, which stood at 30.5 billion yuan last year, mounted to be the most substantial company cost, accounting for nearly 40 percent of its total outgoings.
</p><p>	E-commerce giant JD.com is also testing the waters in this burgeoning industry. This April, the company launched an errand running service, through which its customers can send files, food, flowers, cakes, fruits and digital products.
</p><p>	Price used to be a battlefield for logistics companies, but as people now require more efficiency, these companies have entered a phase in which they must compete with each other in different market segments, said expert Xu Yong.
</p><p>	Different from food delivery and e-commerce giants, startups in the market mainly offer services through crowdsourcing, to meet more diversified market demands.
</p><p>	A recent report indicated that when the errand running business started in 2014, the items being delivered were mostly files and documents. However, that scenario has changed over time. Many users now order services because they are busy, or simply lazy.
</p><p>	"Once I wanted to dine at a restaurant, so I spent 20 yuan to have a courier stand in line for me for an hour. I think it was a pretty good bargain," said a man surnamed Sun from Beijing.
</p><p>	Currently, errand running platforms in China are developing new services tailored to enterprises and merchants. For instance, they are now helping chain stores transfer cargo, and delivering visas for authorities.
</p><p>	As indicated by statistics released by China's State Post Bureau, errand running businesses will maintain an average annual growth of around 30 percent over the next five years, and the market value is expected to exceed 200 billion yuan by 2020. </p>"</body>
</html>