<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China, Dominica celebrate 1 year of diplomatic relations
</h2>
<p class="one gray"> (Xinhua)    13:32, May 10, 2019
</p>
<hr/><p>
</p><p>	Liu Xincheng (R), vice chairman of the National Committee of the Chinese People's Political Consultative Conference (CPPCC), attends a reception celebrating the first anniversary of the establishment of diplomatic relations between China and Dominica in Beijing, capital of China, May 9, 2019. (Xinhua/Zhai Jianlan)</p>"</body>
</html>