<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>S. Korea expresses worry about DPRKâs projectile launches
</h2>
<p class="one gray"> (Xinhua)    07:30, May 10, 2019
</p>
<hr/><p>	SEOUL, May 9 (Xinhua) -- South Korea's presidential Blue House on Thursday expressed worry about the Democratic People's Republic of Korea (DPRK)'s launch of projectiles earlier in the day, which were believed to be short-range missiles.
</p><p>	Ko Min-jung, Blue House spokesperson, said in a statement that the projectile firings would be of no help for efforts to improve inter-Korean relations and defuse military tensions on the Korean Peninsula.
</p><p>	South Korea was "very worried" about the firings, the Blue House spokesperson said.
</p><p>	The DPRK fired off two unidentified projectiles, presumed to be short-range missiles, from an area in North Pyongan province, north of Pyongyang, at about 4:29 p.m. (0729 GMT) and 4:49 p.m. local time (0749 GMT) each.
</p><p>	The projectiles flew about 420 km and 270 km, respectively, in the direction of the east, according to South Korea's Joint Chiefs of Staff (JCS). They traveled at an altitude of about 50 km.
</p><p>	The JCS said the South Korean military intensified surveillance and defense readiness in preparation for the possibly additional projectile launches, noting that it maintained a full readiness in close cooperation with the United States.
</p><p>	The intelligence authorities of South Korea and the United States were precisely analyzing the projectiles for further information.
</p><p>	It came just five days after the DPRK fired several short-range projectiles into the sea off its east coast Saturday.
</p><p>	The South Korean military believed that the short-range projectiles were fired from 240-mm and 300-mm multiple rocket launchers and a new type of tactical guided weapons.
</p><p>	The short-range projectiles traveled between 70 km and 240 km at an altitude of some 60 km.
</p><p>	Chung Eui-yong, top national security advisor for South Korean President Moon Jae-in, closely monitored situations at the national crisis management center through video conference with the defense ministry and the JCS, the presidential Blue House said.
</p><p>	The DPRK's projectile firings came a day before the second anniversary of Moon's inauguration as the South Korean president on Friday.
</p><p>	Moon was scheduled to appear in a talk show of local broadcaster KBS Thursday night to address the nation about various issues surrounding the Korean Peninsula.
</p><p>	The denuclearization negotiations between Pyongyang and Washington have been stalled since the second summit between top DPRK leader Kim Jong Un and U.S. President Donald Trump ended with no agreement.
</p><p>	During the phone dialogue with Moon on Tuesday, Trump expressed support for Seoul's humanitarian food aid for DPRK people, saying it would be very timely and positive, according to the Blue House. Enditem</p>"</body>
</html>