<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China's Huawei reiterates confidence in CFO's innocence
</h2>
<p class="one gray"> (Xinhua)    14:38, May 09, 2019
</p>
<hr/><p>	VANCOUVER, May 8 (Xinhua) -- Chinese technology giant Huawei said in a statement on Wednesday that the company has always been confident in the innocence of its chief financial officer (CFO) Meng Wanzhou, who was arrested in Vancouver last December at the extradition request of the United States.
</p><p>	"We have maintained that her U.S.-ordered arrest was an unlawful abuse of process - one guided by political considerations and tactics, not by the rule of law," the statement said, after Meng attended a court hearing in Vancouver on Wednesday morning local time.
</p><p>	The statement was made by Benjamin Howes, vice president of Canadian media affairs at Huawei, outside the British Columbia Supreme Court.
</p><p>	"The criminal case against Ms. Meng is based on allegations that are simply not true. To the contrary, it was made clear in court today that business activities by Ms. Meng were conducted openly and transparently with full knowledge of banking officials," Howes said.
</p><p>	The lawyers noted in court that there is no evidence to prove that Meng committed acts of deceit, dishonesty, or other fraudulent means, according to the statement.
</p><p>	The actions against Meng led to serious and repeated violations of her rights, the statement said. Her luggage was searched, her cellphone and other electronic devices were seized, and she was compelled to reveal her passwords.
</p><p>	It was revealed that the arrest of Meng violated a core principle of Canada-U.S. extradition treaty and Canada's extradition law, because the allegation she faces is not a crime in Canada, the statement said.
</p><p>	"Political factors at play during the extradition process may lead to a serious violation of justice. Ms. Meng's legitimate rights may also be harmed. Thus Ms. Meng intends to apply to this Court for a stay of the extradition proceedings," Howes said.
</p><p>	Canadians value the rule of law, and law-enforcement officials are expected to follow the rules at all times, in all cases and for all people - citizens and visitors alike, according to the statement.
</p><p>	"We have trust in the Canadian judicial process - and we look forward to seeing Ms. Meng's freedom restored," Howes added.
</p><p>	Meng was arrested on Dec. 1, 2018, at Vancouver's airport at the request of the United States, which is seeking her extradition on fraud charges.
</p><p>	Both Meng and Huawei have repeatedly denied any wrongdoing.</p>"</body>
</html>