<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China donates 10 police vehicles to Sri Lanka
</h2>
<p class="one gray"> (Xinhua)    13:28, May 09, 2019
</p>
<hr/><p>	COLOMBO, May 9 (Xinhua) -- China has donated 10 police vehicles to Sri Lankan government as part of the security cooperation between the two countries.
</p><p>	The 10 police vehicles were handed over to Sri Lankan President Maithripala Sirisena by Chinese Ambassador to Sri Lanka Cheng Xueyuan at the Presidential Secretariat in Colombo on Wednesday.
</p><p>	Sirisena expressed his thanks to China for offering the timely help. He said the police vehicles will help the local law enforcement better conduct anti-terror missions and maintain public order and security.
</p><p>	The Chinese ambassador also thanked the Sri Lankan police for their contribution to the local people, as well as their assistance to the Chinese and the Chinese institutions in Sri Lanka.
</p><p>	Cheng said, "I wish these vehicles, which symbolize China-Sri Lanka friendship, could drive the practical cooperation between two countries to even brighter future."
</p><p>	Sri Lanka's Acting Police Chief Chandana Wickramaratne also attended the handover ceremony.</p>"</body>
</html>