<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China calls for seeking political solution to Venezuela issue: FM spokesperson
</h2>
<p class="one gray"> (Xinhua)    09:20, May 09, 2019
</p>
<hr/><p>	BEIJING, May 8 (Xinhua) -- China on Wednesday said it is willing to strengthen communication with the international community to push for a political solution to the Venezuela issue.
</p><p>	Foreign Ministry spokesperson Geng Shuang made the remarks at a press briefing when responding to a reporter's question on reports that European Union (EU) foreign policy chief Federica Mogherini said the International Contact Group on Venezuela decided to establish contact with the Lima Group, the Caribbean Community, Cuba, China and Russia to create a favorable environment for resolving the political crisis in Venezuela.
</p><p>	On the Venezuela issue, China is committed to upholding the United Nations Charter and the basic norms governing international relations, Geng said, adding the Chinese side holds that the Venezuela issue should be solved through inclusive political dialogue and consultation within the framework of the Constitution by the Venezuelan government and the opposition, and opposes external intervention and unilateral sanctions.
</p><p>	Geng said China and the EU as well as many other countries have important consensus on the Venezuela issue, and they all stress seeking a political solution featuring inclusive dialogue, oppose military intervention and are reluctant to see the situation in Venezuela spiral out of control and affect regional peace and stability.
</p><p>	China stands ready to strengthen communication with the international community including the EU, jointly play a constructive role and push for a political solution to the Venezuela issue, said the spokesperson.</p>"</body>
</html>