<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese firm to complete Pakistan hydropower project in 2021: report
</h2>
<p class="one gray"> (Xinhua)    14:02, May 08, 2019
</p>
<hr/><p>	BEIJING, May 8 (Xinhua) -- Construction of the Karot hydropower project in Pakistan will be completed in two years and start power generation by April 2021, China Daily reported Wednesday, citing the developer China Three Gorges Corp.
</p><p>	The project, with a total investment of 1.74 billion U.S. dollars, will solve the power supply bottleneck in Pakistan and provide sustainable and stable energy support.
</p><p>	When completed, the 720-megawatt project that commenced construction in 2015 will annually produce some 3.2 billion kilowatt-hours of clean power, equivalent to 10 percent of Pakistan's total energy output from hydropower stations in 2017, said the report.
</p><p>	Being the first investment project of the Silk Road Fund, the hydropower project will pay 23 million U.S. dollars in taxes to the Pakistani government and provide more than 2,200 jobs for locals during peak construction period, the paper reported.
</p><p>	While Pakistan has limited capital to develop its rich hydropower resources, the cooperation of Pakistan and China, a world leader in hydroelectricity generation, will benefit both sides, Zhang Boting, a senior analyst at the China Society for Hydropower Engineering, was quoted as saying.</p>"</body>
</html>