<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>1 dead, 8 hurt in Colorado school shooting, 2 in custody
</h2>
<p class="one gray"> (CNTV)    10:56, May 08, 2019
</p>
<hr/><p>	Two students opened fire Tuesday inside a charter school in an affluent suburban Denver community not far from Columbine High School, killing a teenager, wounding eight and spreading minutes of terror before they were taken into custody with no injuries, authorities said.
</p><p>	Douglas County Sheriff Tony Spurlock said the pair walked into the STEM School Highlands Ranch and began shooting students in two classrooms. Within minutes, deputies at a nearby sheriff's department substation entered the school and arrested the two suspects after a struggle.
</p><p>	âAs officers were arriving at the school, they could still hear gunshots,â Douglas County Undersheriff Holly Nicholson-Kluth said.
</p><p>	Authorities did not release the name of the student who died, but said it was an 18-year-old man.
</p><p>	âI have to believe that the quick response of the officers that got inside that school helped save lives,â Spurlock said. He did not identify the suspects, but said they are an adult and a minor who were not previously known to authorities. Authorities planned to search their homes and a vehicle at the school, he said.
</p><p>	The shooting comes nearly three weeks after neighboring Littleton marked the grim 20th anniversary of the Columbine school massacre that killed 13 people. The two schools are separated by about 7 miles (11 kilometers) in adjacent communities south of Denver. It also comes exactly a week after a gunman killed two students and wounded four at the University of North Carolina Charlotte.
</p><p>	âTragically, this community and those surrounding it know all too well these hateful and horrible acts of violence,â White House spokesman Judd Deere said in a statement. President Donald Trump had been briefed on the shooting and was in touch with state and local officials, Deere said.
</p><p>	The STEM School Highlands Ranch is a public charter school with more than 1,850 students in kindergarten through 12th grades.</p>"</body>
</html>