<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>New technology adds fun to digital reading
</h2>
<p class="one gray"> (People's Daily Overseas New Media)    16:15, April 17, 2019
</p>
<hr/><p>
</p><p>	With more new technology available, digital reading, which has seen consecutive growth in China, is now becoming more interesting, bringing conditions once only imaginable in science fiction into reality.
</p><p>	The three-day-long fifth China Digital Reading Conference, which closed on April 14th, showcased cutting-edge technologies, including 5G technology, Artificial Intelligence (AI), Augmented Reality (AR), Virtual Reality (VR), cloud computing, and blockchain technology, providing a glimpse into the future development of digital reading.
</p><p>	With AR glasses, a book on the Terra Cotta Warriors can visually bring the warriors to you with a smartphone equipped with a retro-reflector, which can âreadâ the picture book for children automatically.
</p><p>	In cooperation with Peopleâs Education Press, a Chinese firm has rolled out a general course that will be soon introduced to primary schools along the Beijing-Hangzhou Grand Canal, enabling students to gain better knowledge about the canal with the assistance of VR technology.
</p><p>	âThe AR-assisted course will give students a direct impression of the canal, where the landmark building is, and how it works,â said the manager, Gu Hui.
</p><p>	Similar efforts are being made by Nokia, the multinational mobile communication giant. With the newly developed 5G video integration technology, the company now allows its users to project their own videos into any TV series, seamlessly.
</p><p>	China is leading the way in the research and development of 5G technology and 5G network deployment. Digital reading, audio reading, and visual reading brought about by digital communication technologies are making reading a more immersive and more enchanting experience, commented Liu Xin, general manager of mobile game company Migu.
</p><p>	The advancing technology is expected to give a further boost to Chinaâs digital reading market, which has been on the rise over the years. According to a white paper report on digital reading in China in 2018, the per capita number of digital books read per year reached 12.4 in 2018, and the overall market volume topped 25.4 billion yuan, up 19.6%.</p>"</body>
</html>