<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese Language Day event held at UN Office at Vienna, Austria
</h2>
<p class="one gray"> (Xinhua)    16:38, May 07, 2019
</p>
<hr/><p>
</p><p>	Acrobats from central China's Henan Province perform during the Chinese Language Day event at the United Nations Office at Vienna, Austria, on May 6, 2019. The event showed a variety of traditional Chinese painting and calligraphy, exhibits, and performance of opera and acrobatics. (Xinhua/Guo Chen)</p>"</body>
</html>