<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Direct flight to link Guangzhou, Johannesburg
</h2>
<p class="one gray"> (Xinhua)    14:48, May 07, 2019
</p>
<hr/><p>	GUANGZHOU, May 7 (Xinhua) -- A direct air route will be launched on Sept. 19 to link the southern Chinese city of Guangzhou and Johannesburg, South Africa, the local airport announced Tuesday.
</p><p>	It will be the first direct flight to link the two cities, according to Guangzhou Baiyun International Airport.
</p><p>	The flight will be operated by South African Airways and will shorten the travel time to 13 hours and 40 minutes.
</p><p>	Flying three times a week, the outbound flight will leave Guangzhou at 10:15 p.m. every Monday, Thursday and Saturday and arrive in Johannesburg at 5:30 a.m. local time the next day.
</p><p>	The return flight will take off from Johannesburg at 7:25 p.m. local time every Wednesday, Friday and Sunday, and land in Guangzhou at 3:05 p.m. the next day.
</p><p>	China has been South Africa's largest trading partner for nine consecutive years. The air route is expected to boost tourism and business communication between the two cities.</p>"</body>
</html>