<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Burnt fuselage of Aeroflot SSJ-100 passenger plane seen on tarmac at Moscow's airport
</h2>
<p class="one gray"> (Xinhua)    13:45, May 07, 2019
</p>
<hr/><p>
</p><p>	Burnt fuselage of an Aeroflot SSJ-100 passenger plane is seen on the tarmac at Sheremetyevo International Airport in Moscow, Russia, on May 6, 2019. Russia's Investigative Committee confirmed Monday that 41 people were killed after an SSJ-100 passenger plane en route to the northwestern Russian city of Murmansk caught fire before an emergency landing Sunday at the Sheremetyevo International Airport in Moscow. (Xinhua/Maxim Chernavsky)</p>"</body>
</html>