<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China to resist US pressure
</h2>
<p class="one gray"> (Global Times)    10:39, May 07, 2019
</p>
<hr/><p>	China on Monday showed restraint over a pair of unexpected tweets from US President Donald Trump, who threatened to increase tariffs on Chinese goods, even as the two sides have strived for an agreement to end their bruising trade war, and urged the US to work together to reach a win-win deal.
</p><p>	Analysts said China's markedly controlled response to what some called "blackmail-style tactics" from the US also underscored the country's firm stance and growing confidence in dealing with a volatile and unpredictable US administration, and that China is unlikely to give in to pressure.
</p><p>	At a routine press briefing on Monday, Geng Shuang, a spokesperson for China's Foreign Ministry, did not address the threats directly, but instead offered a relatively concise response, urging the US to work toward a win-win deal.
</p><p>	"The most urgent thing at the moment is that we still hope the US side will work with China, and that the two sides will meet each other halfway and strive for a mutually beneficial agreement on the basis of mutual respect," Geng said.
</p><p>	In a pair of tweets Sunday night, Trump said a 10 percent tariff on $200 billion in Chinese products will be increased to 25 percent on Friday, and threatened to slap a 25 percent tariff on an additional $325 billion in Chinese goods "shortly."
</p><p>	"The trade deal with China continues, but too slowly, as they attempt to renegotiate. No!" tweeted Trump, who had said the talks were going "very well" and that the two sides were close to a "historic, monumental" deal as recent as Friday.
</p><p>	After 10 rounds of high-level talks since last year, Chinese and US officials had hailed major progress toward ending the trade war, and a deal was widely expected to be reached as soon as later this week, when a Chinese delegation, led by Vice Premier Liu He, was scheduled to arrive in Washington for another round of negotiations.
</p><p>	Following Trump's tweets, some US media reported that Liu might skip the upcoming talks. Asked if Liu would still travel to Washington this week, Geng did not offer a direct answer but said the Chinese team was "preparing to go to the US for the talks."
</p><p>Firm stance 
</p><p>	But in what seems to be a subtle comment, Geng conveyed a powerful message.
</p><p>	He said that China has seen similar threats of tariffs on Chinese goods many times before and that the Chinese side's stance and attitude has always been very clear. "The US is also well aware of that too," he said.
</p><p>	"[This is saying] that we know what you are trying to do but it will not change our stance," Bai Ming, deputy director of the Ministry of Commerce's International Market Research Institute, told the Global Times on Monday, pointing out that the move is a typical US negotiation tactic. "But the US should know by now that China will never give in to pressure."
</p><p>	Since the beginning of the trade war, Chinese officials have made it clear that they are always open to talks and mutually beneficial solutions but they will never give up core interests. Chinese officials have also repeatedly stressed that while China does not want to engage in a trade war, it is not afraid of one either.
</p><p>	It remains to be seen whether the US would follow up on the threats and whether trade talks could be derailed, but China is prepared to deal with different scenarios, said Liang Haiming, dean of Hainan University's Belt and Road Research Institute, who is closely following the trade talks.
</p><p>	"I am certain that China has prepared countermeasures," Liang told the Global Times on Monday, adding that if the US escalates the trade war, China would respond in kind; and if the US wanted to continue to talk, China would talk. "It's all about what the US decides to do," he said.
</p><p>Global damage
</p><p>	However, even if the planned talks push through, the tweets have already done some damage, analysts said.
</p><p>	"At the very least, it ruined the friendly atmosphere surrounding the talks that we have seen over the past few months," Bai said, adding that the sudden change also brought fresh uncertainty to a sluggish global economy and skittish global markets.
</p><p>	After Trump's tweets, global stock markets tumbled on Monday. In Asia, markets in Tokyo, Seoul and Sydney slid. In Europe, markets in France, Germany, Spain and Italy all opened sharply lower on Monday, with the EURO STOXX 50 index down about 2 percent shortly after the markets opened, the deepest drop since January 2.
</p><p>	US stocks also plunged at the opening bell on Monday, with the NASDAQ dropping by 2.19 percent, the Dow Jones Industrial Average slipping 1.72 percent, and the S&P 500 shedding 1.56 percent.
</p><p>	In the Chinese mainland, stocks closed significantly lower on Monday, with the Shanghai Composite down 5.58 percent and the smaller Shenzhen Component Index down 7.56 percent.
</p><p>	Though Trump's tweets played a major role in Monday's losses, the downtrend was temporary and economic fundamentals remain solid, said Li Daxiao, chief economist at Shenzhen-based Yingda Securities.
</p><p>	"There is no need to panic," he told the Global Times on Monday.
</p><p>	He said that a slew of economic data in the first quarter suggest that the Chinese economy was very resilient and that further stimulus would help boost growth.
</p><p>	In what appeared to be doubling down, Trump on Monday tweeted that the US was losing $500 billion each year to China. "Sorry, we are not going to be doing that anymore!" he wrote, without elaborating. </p>"</body>
</html>