<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinese firms to build 100k homes in Malaysia
</h2>
<p class="one gray">By Xie Wenting and Bai Yunyi (Global Times)    09:35, May 07, 2019
</p>
<hr/><p>	Malaysiaâs housing ministry is currently in discussions with Chinese companies to build 100,000 houses this year for Malaysiaâs low-income population, Zuraida Kamaruddin, Minister of Housing and Local Government of Malaysia, told the Global Times.
</p><p>
</p><p>On March 5, 2019, the âViking Oceanâ ro-ro ship carrying 2,602 domestic cars slowly drove away from the Meixi Roll-Royed Ferry Terminal in Zhoushan, Ningbo, to Malaysia and Israel. (Photo by Tang Jiankai from Peopleâs Daily Online)
</p><p>	Kamaruddin, who is in Beijing for the Second Belt and Road Forum for International Cooperation, said they have signed MOUs with six Chinese companies, including China Railway Engineering Company, which will not only provide capital but also be responsible for the construction of the 100,000 houses.
</p><p>	The program is part of the Malaysian governmentâs plan to build 1 million affordable homes within the next 10 years for the countryâs poor.
</p><p>	Kamaruddin noted to the Global Times that the Chinese companies are âwilling to helpâ Malaysia.
</p><p>	Both sides will work on a plan, including how to use Malaysiaâs state sovereignty as guarantee. The plan is expected to be achieved in two months, after which construction would begin.
</p><p>	About 10 percent of the 100,000 houses belong to the Bandar Malaysia project, which Malaysian Prime Minister Mahathir Mohamad said last week would be resumed after being abandoned in 2017. The announcement came after the prime minister decided to resume work on the East Coast Rail Link this month.
</p><p>	The 140-billion ringgit ($34 billion) Bandar Malaysia in Kuala Lumpur is expected to attract financial institutions and companies and will become an interchange for a number of rail lines, AFP reported.
</p><p>	âWe suspended [Chinese projects] because we are the new government. So when we took over, we needed to review the projects,â Kamaruddin told the Global Times.
</p><p>	She noted that after a thorough review, they found these Chinese projects âreliable,â and that the Chinese companies "will be able to do the projects."
</p><p>	In the original plan, the Bandar Malaysia didnât include the 10,000 affordable houses, but Kamaruddin requested their inclusion because she wants âpoor people to live in the city.â âThis could reduce their expenses,â she said.
</p><p>	She stressed that as both governments have agreed on the two major projects, the Chinese investors should be more confident as the governments are âbacking them up.â
</p><p>	âThey [Chinese companies] are very excited to construct the houses,â she said.
</p><p>	According to Kamaruddin, the industrialized building system (IBS) method will be used to build the houses to cut costs. The construction of each house will be limited to less than 300,000 ringgit, according to the minister.
</p><p>	Kamaruddin proposed rent-for-own, which means people pay the rent for five years and on the sixth year, they will have the option to buy the house. At least 30 percent of the houses will adopt the rent-for-own mode.
</p><p>	According to the minister, the Chinese companies will get their investment back with minimum interest five years after the completion of the construction.
</p><p>	Malaysia also wants Chinese investment in infrastructure and is considering to include Huawei in developing the countryâs smart cities, she said.
</p><p>	Kamaruddin said there was a time when they didnât have a clear picture of the BRI, so they were concerned that the Chinese would come to invest and then take something from Malaysia.
</p><p>	âThis is a wrong perception. Now we understand the system [of the BRI], that China wants to spread its knowledge to other countries because itâs willing to help. Itâs not only because of business, but about transferring and sharing knowledge.â
</p><p>	She stressed that sheâs not worried about the so-called âdebt trap. âI bring Chinese investment and develop the countryâs economy. If I have this project, there will be more jobs in Malaysia.â </p>"</body>
</html>