<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Russia reaffirms support for Maduro, Venezuelan people
</h2>
<p class="one gray"> (Xinhua)    10:51, May 06, 2019
</p>
<hr/><p>	MOSCOW, May 5 (Xinhua) -- Russian Foreign Minister Sergei Lavrov on Sunday reiterated Moscow's solidarity with the people of Venezuela and support for its president Nicolas Maduro, said the Russian foreign ministry.
</p><p>	"We reaffirmed solidarity with the friendly people of Venezuela and support for the legitimate president elected by the Venezuelan people on May 20, 2018. We welcomed the measures taken by the government of Nicolas Maduro to prevent further destabilization of the situation," Lavrov said following talks with his Venezuelan counterpart Jorge Arreaza.
</p><p>	He added that Russia is ready to keep facilitating a peaceful settlement of the Venezuela crisis and to join in possible efforts of international and regional mediators, for example the "Montevideo mechanism", which was jointly proposed by Mexico and Uruguay and backed by other countries.
</p><p>	The Montevideo Mechanism is a four-step plan to diffuse the rising tensions between Venezuela's ruling socialist party and the U.S.-backed opposition, and promote a negotiated solution.
</p><p>	The two foreign ministers discussed the latest situation in Venezuela and main issues of bilateral cooperation, according to the ministry.
</p><p>	On Tuesday, Venezuelan opposition leader Juan Guaido, who had proclaimed himself as the interim president, reportedly called on the Venezuelan people and military to take to the streets to overthrow Maduro. The attempted coup was later frustrated by security forces.
</p><p>	Lavrov said he would discuss the Venezuelan issue with U.S. Secretary of State Mike Pompeo at their upcoming meeting scheduled for Monday in Finland.
</p><p>	Arreaza also requested Lavrov to call on Pompeo to realize that dialogue is the only way to the settlement of the Venezuelan crisis.
</p><p>	"I think it is necessary to bring home to the U.S. Department of State, probably during talks in Finland, that we (are) at a point when we must get back to dialogue (and) respect for international law and principles of bilateral relations," Arreaza was quoted by Tass news agency as saying.
</p><p>	Russia and the United States have been at variance with each other over stances on Venezuela. Moscow has accused Washington of interference in Venezuela's internal affairs by supporting its opposition, while the latter criticized Russia's support for Maduro as "destabilizing" for the nation.</p>"</body>
</html>