<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Palestinian rockets kill 4, Israel continues Gaza attacks
</h2>
<p class="one gray"> (Xinhua)    09:32, May 06, 2019
</p>
<hr/><p>
</p><p>Smoke rises following an Israeli airstrike on the southern Gaza Strip city of Rafah on May 5, 2019. At least 12 Palestinians have been killed during Israeli airstrikes on the Gaza Strip since Saturday evening. (Xinhua/Khaled Omar)
</p><p>	JERUSALEM, May 5 (Xinhua) -- Four Israeli civilians were killed on Sunday and more than 70 injured by rockets fired by the Palestinians from the Gaza Strip.
</p><p>	The civilians killed are a 21-year-old man who was hit by shrapnel in the coastal city of Ashdod, a 58-year-old man hit by shrapnel as a rocket hit a house in the coastal city of Ashkelon, a 49-year-old worker hit by a rocket in a factory in Ashkelon, and a 60-year-old man whose car was directly hit by anti-tank fire near the settlement of Yad Mordechai, according to Israeli police.
</p><p>	Among the wounded, 3 were seriously injured, 4 moderately and the rest lightly injured, the police said.
</p><p>	More than 600 rockets were fired to southern Israel since Saturday morning, about 150 of which were intercepted by the Iron Dome air defense system. More than 35 rockets hit populated areas.
</p><p>	At the same time, the Israel Defense Forces (IDF) continued its response in the Gaza Strip on Sunday evening, according to instructions by the Israeli security cabinet. Since Saturday, hundreds of targets have been bombed by the IDF in the Gaza Strip.
</p><p>	The Israeli media reported that in Gaza City, Hamad Hadri, a 34-year-old money changer, was killed by an air strike while driving his car.
</p><p>	According to the IDF, Hadri was responsible for large-scale cash transfers from Iran to Hamas and Islamic Jihad organizations in the Gaza Strip.</p>"</body>
</html>