<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chinaâs Beidou navigation system helps shepherds herd sheep
</h2>
<p class="one gray"> (People's Daily Online)    13:38, April 17, 2019
</p>
<hr/><p>
</p><p>Beidou collars for sheep purchased by the government of Hanggin Banner, Inner Mongolia Autonomous Region in 2014. (Photo/Science and Technology Daily)
</p><p>	Chinaâs Beidou Navigation Satellite System (BDS) is known for its advanced navigation technology, but news recently broke that the system is also useful when it comes to herding sheep.
</p><p>	China completed the constellation deployment of its BDS after the successful launch of its 42nd and 43rd Beidou-3 satellites via Long March-3B carrier on Nov. 19, 2018, expanding coverage of the navigation system to the whole world.
</p><p>	Taking this opportunity, local government in Chinaâs Inner Mongolia Autonomous Region, together with a livestock-rearing technology company installed a smart surveillance system for 30 herdsmen, putting tracking collars on their sheep.
</p><p>	âThe herd positions will be transmitted by the BDS system to relay stations through a wireless network, and then forwarded to an information center. The herdsmen can then check the position through their BDS handsets," said chief of the livestock technology company.
</p><p>	âPreviously, I had to herd sheep by foot, horse or motorcycle, covering a huge expanse of grassland,â said a herdsman, adding that he often spent several days searching for lost sheep. Now, the BDS enables him to herd his sheep while sitting at home drinking tea.
</p><p>	The surveillance system monitors every single sheep. The company explained that when a sheep gets close to a smart well, which is powered by the Internet of Things, it will be recorded, and the information will be sent straight to the herdsman.
</p><p>	When the mutton finally hits the shelves, it comes with a QR code, through which the buyers can track the movements of the sheep, including what it ate and drank. Such transparent information about food is gaining massive popularity in megacities such as Beijing, Shanghai and Guangzhou. </p>"</body>
</html>