<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China to extend tax preferences for IC, software companies
</h2>
<p class="one gray"> (Xinhua)    09:01, May 09, 2019
</p>
<hr/><p>	BEIJING, May 8 (Xinhua) -- The State Council, China's cabinet, on Wednesday decided to continue the preferential corporate income tax policies for integrated circuit (IC) and software companies.
</p><p>	The country will also attract more investment from home and abroad to participate in and promote the development of the two sectors, according to a statement made public after a State Council executive meeting presided over by Premier Li Keqiang.
</p><p>	China will continue to implement the tax cut and exemption policies for both sectors starting from the tax calculation and collection for 2018.
</p><p>	Meanwhile, authorities should focus on improving the supporting policies to further promote the development of IC and software industries to a higher level, the statement said.</p>"</body>
</html>