<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>White House says aware of DPRK action, to continue monitoring
</h2>
<p class="one gray"> (Xinhua)    13:33, May 05, 2019
</p>
<hr/><p>	WASHINGTON, May 3 (Xinhua) -- The White House said Friday night that it has known the latest action of the Democratic People's Republic of Korea (DPRK) and will monitor the situation.
</p><p>	In a statement, the White House spokesperson Sarah Sanders said that "we are aware of North Korea's actions tonight. We will continue to monitor as necessary."
</p><p>	South Korea's Joint Chiefs of Staff said earlier on the same day that the DPRK has fired unidentified short-range projectiles off its east coast.
</p><p>	U.S. National Security Advisor John Bolton has reportedly briefed President Donald Trump on the situation, according to U.S. media.
</p><p>	There is no comment so far from the DPRK on the issue.</p>"</body>
</html>