<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>New Zealand prime minister engaged
</h2>
<p class="one gray"> (Xinhua)    13:23, May 05, 2019
</p>
<hr/><p>	WELLINGTON, May 3 (Xinhua) -- New Zealand Prime Minister Jacinda Ardern was engaged to her longtime partner, Clarke Gayford, local media reported on Friday.
</p><p>	The couple, who have a 10-month-old daughter, became engaged over Easter, NZ Herald quoted a spokesman for Ardern as saying.
</p><p>	Ardern's press secretary said she has been wearing a ring since Easter but it has been on a middle finger, not the traditional ring finger.</p>"</body>
</html>