<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China-developed bio-absorbable stent in hospital use
</h2>
<p class="one gray"> (Xinhua)    13:11, April 17, 2019
</p>
<hr/><p>	ZHENGZHOU, April 16 (Xinhua) -- Two patients that have received insertion of China-developed bio-absorbable stents are in good health, according to a hospital in central China's Henan Province.
</p><p>	The bio-absorbable stent, approved for cardiac surgery by the State Drug Administration earlier this year, can be completely degraded into water and carbon dioxide within three years, according to Gao Chuanyu, deputy director of Fuwai Central China Vascular Disease Hospital.
</p><p>	He said currently, almost all patients using cardiac stents are implanted with third-generation metal stents. Its main materials are cobalt-chromium alloy and stainless steel.
</p><p>	"These materials have a good supporting function and flexibility, but there are long-term clinical risks in a very few of the patients," Gao said.
</p><p>	He said the new stent is more suitable for surgery on cardiac patients aged under 60 than older people with poor vascular elasticity and calcification.</p>"</body>
</html>