<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>European powers highlight SPV in determination to trade with Iran, despite U.S. sanctions
</h2>
<p class="one gray"> (Xinhua)    08:37, May 05, 2019
</p>
<hr/><p>	BRUSSELS, May 4 (Xinhua) -- The European Union (EU), France, Germany and the United Kingdom said on Saturday, in a forceful response to the United States, that they are determined to continue legitimate trade with Iran, highlighting a special purpose vehicle (SPV) to pour money for operation.
</p><p>	The EU's foreign policy chief and foreign ministers of the three countries released a statement, reiterating their support for the Joint Comprehensive Plan of Action (JCPOA), commonly known as the Iran nuclear deal, and "take note with regret and concern of the decision by the United States not to extend waivers with regards to trade in oil with Iran."
</p><p>	The JCPOA is an agreement, endorsed by the United Nations Security Council, on the Iranian nuclear program reached in 2015 between Iran, China, France, Russia, United Kingdom, United States, Germany and the European Union.
</p><p>	The U.S., under President Donald Trump, withdrew from the deal and put sanctions on Iran, albeit with initial waivers for some economies.
</p><p>	In April, the U.S. announced that it decided to end the waivers from sanctions for countries still buying oil from Iran, aiming to bring Iran's oil exports to zero, denying the government its main source of revenue.
</p><p>	"We deeply regret the re-imposition of sanctions by the United States following their withdrawal from the JCPOA," read the statement.
</p><p>	'INSTEX' highlighted
</p><p>	The European powers also said they are determined to pursue efforts, together with other European partners, to enable the continuation of legitimate trade with Iran.
</p><p>	But in a show of defiance towards U.S. sanctions that will almost certainly infuriate Washington, the European powers dug deep with the operationalisation of the special purpose vehicle "INSTEX".
</p><p>	"In this regard, the shareholders are committed to significantly increasing their financial contributions to INSTEX's operational budget," read the statement.
</p><p>	Details from official channels for INSTEX, short for the Instrument in Support of Trade Exchanges, are limited, but the SPV aimed to sidestep U.S. sanctions is generally believed to function like a central clearing house, allowing buyers and sellers to trade without making transfers into and out of Iran.
</p><p>	"We encourage all countries, including Russia and China as JCPOA participants, to make their best efforts to pursue the legitimate trade that the agreement allows for, through concrete steps," the statement added.</p>"</body>
</html>