<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Thai King crowned in Grand Palace, becomes rightful head of state
</h2>
<p class="one gray"> (Xinhua)    07:27, May 05, 2019
</p>
<hr/><p>
</p><p>Thai King Maha Vajiralongkorn, is offered the crown at the Grand Palace, in Bangkok, Thailand, May 4, 2019. Thai King Maha Vajiralongkorn was crowned in Baisal Daksin Throne Hall of the Grand Palace in Bangkok, becoming the rightful head of the kingdom according to Thai tradition. (Xinhua/ROYAL HOUSEHOLD BUREAU)
</p><p>	BANGKOK, May 4 (Xinhua) -- Thai King Maha Vajiralongkorn was crowned in Baisal Daksin Throne Hall of the Grand Palace in Bangkok, becoming the rightful head of the kingdom according to Thai tradition.
</p><p>	In the televised coronation ceremony, the King, sitting on Bhadrapitha Throne under the Great Tiered Umbrella of Baisal Daksin Throne Hall, was offered the Great Crown of Victory and thus crowned.
</p><p>	The King was also offered the Royal Golden Plaque with inscription of his official title, the Royal Seal, the Sword of Victory, the Royal Scepter, the Royal Fan and Fly Whisk, and the Royal Slippers, among others.
</p><p>	Then the King gave his first royal command in Thai language, "For the people and the kingdom, I shall inherit the tradition, reign in righteousness."
</p><p>	The King also granted full royal title to Queen Suthida, whom he just named Queen this Wednesday before the coronation ceremony.
</p><p>	The crowning ritual was introduced from Europe to the Thai coronation ceremony during the reign of King Rama IV.
</p><p>	In ancient times, the most important part of the whole coronation ceremony was considered to be the holy water anointment ritual, and the crown was only seen as one of the royal objects, which was just placed next to the king at the coronation ceremony.
</p><p>	At present, the crowning is accepted as the highest ceremony, according to a document from the Thai Ministry of Culture.
</p><p>	Before the crowning, the "Muratha Bhisek" ritual and the "Abhiseka" ritual were held inside the Grand Palace according to Thai tradition which was influenced by ancient Indian culture.
</p><p>	The Thai term "Muratha Bhisek" refers to the action of pouring holy water over the head of the King. The king, in a white ritual garment and sitting in a ceremonial pavilion inside the palace, was presented holy "Muratha Bhisek" water collected from five sacred rivers and four ponds.
</p><p>	Then the king changed to royal ritual costume to attend the Abhiseka ritual held in Baisal Daksin Throne Hall, during which he received holy water poured into a cup he held in his hand from Prime Minister Prayut Chan-o-cha, President of the National Legislative Assembly Pornpetch Wichitcholchai and Cheep Chulamon, president of Supreme Court among other officials, signifying he is the king in a democratic system.
</p><p>	The whole coronation ceremony will last for three days starting from Saturday. The King would grant new royal titles to royal family members, ride in the royal palanquin in the royal procession to receive people's good wishes on Sunday, and meet a public audience including members of international diplomatic corps on Monday.</p>"</body>
</html>