<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Trump still eyes "deal" with DPRK after Pyongyang reportedly fires projectiles
</h2>
<p class="one gray"> (Xinhua)    07:25, May 05, 2019
</p>
<hr/><p>	WASHINGTON, May 4 (Xinhua) -- U.S. President Donald Trump on Saturday expressed "confidence" in an ultimate "deal" with the Democratic People's Republic of Korea (DPRK), despite reports that Pyongyang fired projectiles.
</p><p>	Trump tweeted on Saturday morning that "anything in this very interesting world is possible...Deal will happen!"
</p><p>	South Korea's Joint Chiefs of Staff said earlier that the DPRK has fired unidentified short-range projectiles off its east coast.
</p><p>	In a short statement, White House spokesperson Sarah Huckabee Sanders said that "We will continue to monitor as necessary."
</p><p>	For its part, South Korea's presidential Blue House has expressed great concern over the DPRK's firing of projectiles, saying they escalated tensions on the Korean Peninsula.
</p><p>	The U.S. State Department said on Friday that U.S. Special Representative for the DPRK Stephen Biegun "will travel to Tokyo May 7-8 and Seoul May 9-10 to meet with Japanese and R.O.K. officials to discuss efforts to advance the final, fully verified denuclearization of North Korea."
</p><p>	The second summit between Trump and top DPRK leader Kim Jong Un in late February failed to reach a deal on the denuclearization of the Korean Peninsula.
</p><p>	Choe Son Hui, vice minister of the DPRK's Foreign Ministry, has said recently that Pyongyang's determination to denuclearize the Korean Peninsula remains unchanged if Washington takes a new stand in future negotiations.
</p><p>	"When the time comes, we will put it into practice. But this is possible only under the condition that the U.S. changes their current method of calculation and formulates a new stand," Choe said.
</p><p>	"We could wait until the end of this year to see whether the U.S. makes a courageous decision," Choe said.</p>"</body>
</html>