<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China makes statement on U.S. planned measures to raise tariffs
</h2>
<p class="one gray"> (Xinhua)    08:20, May 09, 2019
</p>
<hr/><p>	BEIJING, May 8 (Xinhua) -- China on Wednesday expressed regrets over the planned measures by the United States to raise tariffs on imported Chinese products, saying escalating trade frictions is against the interests of the two peoples as well as people of the world.
</p><p>	"China deeply regrets this, and will be forced to take necessary countermeasures if the U.S. side puts the tariff measures into effect," says a statement released Wednesday.
</p><p>	The United States announced Wednesday that it would raise tariffs on 200 billion U.S. dollars worth of Chinese goods from 10 percent to 25 percent as of May 10.</p>"</body>
</html>