<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Huawei signs 40 5G commercial contracts
</h2>
<p class="one gray"> (Xinhua)    09:03, April 17, 2019
</p>
<hr/><p>	SHENZHEN, April 16 (Xinhua) -- Huawei has signed 40 contracts to build and operate the fifth-generation (5G) telecommunication infrastructure by April 15, preparing for the commercial launch of the new technology, the Chinese tech giant said on Tuesday.
</p><p>	Ken Hu, deputy chairman of the company, made the announcement in a keynote speech at its 2019 Global Analyst Summit at its headquarter in Shenzhen in southern China.
</p><p>	"5G comes to us much faster than we have expected," said Hu in the keynote speech.
</p><p>	Within a year after freezing standards, more than 100,000 base stations have been built, four chipsets developed and over 40 5G smartphones hit the market.
</p><p>	It is expected to take 5G three years (2019-2022) to hit the milestone of 500 million users in the world, said Hu.
</p><p>	Huawei predicts that the number of worldwide 5G users will hit 2.8 billion by 2025, he noted.
</p><p>	More than 700 partner representatives, analysts and reporters attended Huawei's annual analyst summit this year. The summit will wrap up on Thursday.
</p><p>	Headquartered in the southern Chinese city of Shenzhen, privately-owned Huawei is a world-leading telecommunication solution provider and also one of the world's major smartphone brands.
</p><p>	The company overtook Apple in the second and third quarters of 2018 to become the world's second-largest phone vendor.</p>"</body>
</html>