<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Leaders' roundtable meeting of 2nd Belt and Road Forum held in Beijing
</h2>
<p class="one gray"> (Xinhua)    08:54, April 28, 2019
</p>
<hr/><p>
</p><p>	Papua New Guinea (PNG) Prime Minister Peter O'Neill speaks at the leaders' roundtable meeting of the Second Belt and Road Forum for International Cooperation at the Yanqi Lake International Convention Center in Beijing, capital of China, April 27, 2019. (Xinhua/Pang Xinglei)</p>"</body>
</html>