<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>DPRK's Kim returns home after Russia visit
</h2>
<p class="one gray"> (Xinhua)    13:26, April 27, 2019
</p>
<hr/><p>	PYONGYANG, April 27 (Xinhua) -- Kim Jong Un, top leader of the Democratic People's Republic of Korea (DPRK), returned home by train Saturday morning after concluding his first visit to Russia, the official Korean Central News Agency reported.
</p><p>	Kim was greeted by senior officials of the Workers' Party of Korea, the government and military bodies, the report said.
</p><p>	During his visit to the far-eastern Russian city of Vladivostok, Kim and Russian President Vladimir Putin held talks on bilateral issues and the denuclearization of the Korean Peninsula.
</p><p>	On his departure, Kim said that he was leaving with good impressions and friendly feeling after finishing the visit to the Russian Federation with satisfaction amid the special care and cordial hospitality of President Putin and the Russian government and people, the KCNA said.</p>"</body>
</html>