<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>World leaders laud BRI's substantial progress, envision promising future
</h2>
<p class="one gray"> (Xinhua)    09:10, April 27, 2019
</p>
<hr/><p>	BEIJING, April 26 (Xinhua) -- A constellation of leaders of countries and international organizations said here Friday that the Belt and Road Initiative (BRI) has made substantial progress and contributed to expanding connectivity and raising living standards across the world.
</p><p>	Speaking at the opening ceremony of the second Belt and Road Forum for International Cooperation (BRF), the foreign leaders also pledged joint efforts to ensure a higher-quality development for the Belt and Road and build a community with a shared future for humanity.
</p><p>	Since Chinese President Xi Jinping proposed the initiative six years ago, 126 countries and 29 international organizations have signed BRI cooperation documents with China. The ongoing three-day forum gathers some 5,000 participants from more than 150 countries and 90 international organizations.
</p><p>	"The goal that brings us together is to provide harmony and sustainable economic development and growth across the Eurasian region," said Russian President Vladimir Putin in his address.
</p><p>	The BRI corresponds with Moscow's efforts to forge a greater Eurasian partnership, and Moscow hopes for more alignments with other bilateral and multilateral development agendas in the region, he added.
</p><p>	Putin also called for closer dovetailing between the BRI and the Eurasian Economic Union (EAEU), saying that the EAEU "is seeking to ensure the widest cooperation with all the interested countries and associations, primarily with China."
</p><p>	For his part, Nursultan Nazarbayev, first president of Kazakhstan, said his country, a cradle of the BRI, has actively supported the initiative since it was put forward in 2013.
</p><p>	The BRI, he added, has become a path for stability, development and prosperity, creating better development opportunities and setting a new model of globalization.
</p><p>	"The BRI has transcended the challenges of geography and unequal development," and China "has proven itself as a reliable, responsible partner in the international arena," he said.
</p><p>	Egyptian President Abdel-Fattah al-Sisi said the BRI dovetails with Egypt's efforts to grow economy, advance industrialization, strengthen economic and trade links, promote financial integration and increase people-to-people exchanges.
</p><p>	Meanwhile, the initiative also befits Egypt's development prospect of enhancing regional cooperation and cementing economic integration, al-Sisi said.
</p><p>	He stressed that participating parties should make good use of the BRI as a basis for their cooperation, and jointly fulfill people's expectations and promote common stability and development.
</p><p>	In his speech, Chilean President Sebastian Pinera said there is no doubt that the BRI will continue bolstering economic growth for participating countries and improving their people's living standards.
</p><p>	The BRI, he added, provides a great platform for countries involved to promote free trade and multilateralism through cooperation.
</p><p>	He said he agrees with the principles of BRI cooperation Xi elaborated in his keynote speech at the opening ceremony, and called for continued joint efforts to uphold these principles.
</p><p>	Calling the BRI "a great idea," Malaysian Prime Minister Mahathir Mohamad said "it can bring the landlocked countries in Central Asia closer to the sea," so that they can "grow in wealth and reduce whatever poverty they have."
</p><p>	"I fully support the Belt and Road Initiative. I am sure my country, Malaysia, will benefit from the projects," he said.
</p><p>	Pakistani Prime Minister Imran Khan pointed out that in today's world of geopolitical uncertainty, rising inequality and trade barriers, "the BRI offers a model of collaboration, partnership, connectivity and shared prosperity."
</p><p>	"Pakistan is proud to have partnered and pioneered with China in this transformation endeavor," he said, noting that the China-Pakistan Economic Corridor, a major BRI cooperation project, "has made substantial progress."
</p><p>	With BRI cooperation entering what Xi calls the phase of "meticulous painting," the Pakistani leader called on participating countries to pay more attention to people's well-being and push for sustainable development.
</p><p>	In his remarks, UN Secretary-General Antonio Guterres said that with the scale of its planned investments, the BRI "offers a meaningful opportunity to contribute to the creation of a more equitable, prosperous world for all, and to reversing the negative impact of climate change."
</p><p>	The BRI's five pillars -- policy coordination, facilities connectivity, unimpeded trade, financial integration, and people-to-people exchanges -- "are intrinsically linked to the 17 Sustainable Development Goals" and serve as "conceptual pillars that can be translated into real-life progress for all people," he added.
</p><p>	"The United Nations is poised to support the alignment of the Belt and Road Initiative with the Sustainable Development Goals, to share knowledge, and to make the most of the opportunities of this large-scale initiative for maximum sustainable development dividends," he said.</p>"</body>
</html>