<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>BRI economies contributing 13.4% of global trade volume
</h2>
<p class="one gray"> (China Daily)    07:16, May 09, 2019
</p>
<hr/><p>	By the end of 2017, the trade volume among countries and regions involved in the Belt and Road Initiative accounted for 13.4 percent of the global trade volume and 65 percent of the trade volume in the European Union, according to the BRITT report released on Tuesday.
</p><p>	The report focused on 41 countries taking part in the initiative to evaluate and analyze these countries' trade, investment development and future trends from four dimensions: scale, facilitation, risks and potential during 2012-2017.
</p><p>	The trade among these countries and regions involved in the BRI was the world's second-largest in volume, and as the foreign capital inflows, the dividends from interconnection in these countries and regions will began appearing, said Hong Junjie, a professor at University of International Business and Economics.
</p><p>	In the future, these countries and regions expect to become new bright spots of global economic and trade growth, Hong said.
</p><p>	Currently, 127 countries and 29 international organizations have joined the initiative, through which China has made investments of more than $90 billion to these countries and regions.
</p><p>	Since the initiative proposed by China in 2013, the trade ties among these countries and regions increased with the trade engagement reaching 55.2 percent in 2017, according to the BRTII report.
</p><p>	The intermediate goods have become the main trade, accounting for 61 percent of the total trade among these countries and regions in 2017.
</p><p>	China's huge market demand promotes the trade growth of the countries and regions involved in the BRI. In 2017, China imported intermediate goods worth $943.12 billion, with $302.31 billion coming from these countries and regions, the reported said.
</p><p>	The growth of cross-border capital flows to the countries and regions taking part in the BRI was higher than the flows to other regions. In 2017, these countries and regions attracted $155.4 billion in foreign direct investment and $323.7 billion in foreign capital, rising 27.3 percent and 2.1 percent from a year earlier, accounting for 31.6 percent of the world's foreign capital inflow, which surpassed the North American Free Trade Area with 23 percent and the European Union with 21.2 percent, according to the report.
</p><p>	China is the largest country to invest in the countries and regions involved in the BRI on foreign direct investment and overseas direct investment, and will be the new engine to drive these countries and regions' sustainable growth, the report said.
</p><p>	However, the existing structure risks hamper the development and cooperation potential to release among these countries and regions although the trade and investment risks show a steady downward trend, the report pointed out.
</p><p>	The countries and regions involved in the BRI will become the new center for trade and investment growth in the world, but they also should strengthen international cooperation on promoting the facilitation of trade and investment, offsetting insufficient infrastructure investment, enhancing value chain cooperation and shrinking the regional imbalances, said the report.</p>"</body>
</html>