<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Putin, Kim say their meeting "substantial"
</h2>
<p class="one gray"> (Xinhua)    13:42, April 26, 2019
</p>
<hr/><p>
</p><p>	Russian President Vladimir Putin (R) meets with top leader of the Democratic People's Republic of Korea (DPRK) Kim Jong Un in Vladivostok, Russia, April 25, 2019. (Xinhua/Sputnik)
</p><p>	VLADIVOSTOK, Russia, April 25 (Xinhua) -- Russian President Vladimir Putin and top leader of the Democratic People's Republic of Korea (DPRK) Kim Jong Un said on Thursday they had substantial talks on bilateral ties and the Korean Peninsula nuclear issue.
</p><p>	"We have just had very substantial tete-a-tete talks. We managed to discuss the history of our interstate relations, their current state and the prospects for the development of bilateral ties," Putin said at the beginning of an expanded bilateral meeting.
</p><p>	He added that they also exchanged views on "what should be done so that this situation has good prospects for improvement."
</p><p>	Kim said he and Putin had a fruitful discussion on "ways of peaceful settlement" of the Korean Peninsula nuclear issue, noting that it has become one of the most pressing issues on the international agenda.
</p><p>	He expressed hope that their negotiations will continue "in a useful and constructive way."
</p><p>	Kim arrived here in his train on Wednesday for his first meeting with Putin.
</p><p>	Putin and Kim's meeting came at a time when tensions were growing between the DPRK and the United States.
</p><p>	Last week, the DPRK test-fired a new tactical guided weapon and requested Washington to exclude U.S. Secretary of State Mike Pompeo from future negotiations.
</p><p>	In response, Pompeo swept aside Pyongyang's demand about replacing him by someone "more careful and mature" to deal with the talks.</p>"</body>
</html>