<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Putin says Korean Peninsula nuclear issue can only be solved via peaceful way
</h2>
<p class="one gray"> (Xinhua)    13:41, April 26, 2019
</p>
<hr/><p>	VLADIVOSTOK, Russia, April 25 (Xinhua) -- There is no alternative to the peaceful solution of nuclear and other issues on the Korean Peninsula, Russian President Vladimir Putin said Thursday, following a meeting with top leader of the Democratic People's Republic of Korea (DPRK) Kim Jong Un.</p>"</body>
</html>