<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>"We are not rejecting someone because he is Chinese," EU's Juncker says when asked on 5G
</h2>
<p class="one gray"> (Xinhua)    09:23, April 26, 2019
</p>
<hr/><p>	BRUSSELS, April 25 (Xinhua) -- "We are not rejecting someone because he is coming from faraway, because he is Chinese, the rules have to be respected," European Commission President Jean-Claude Juncker said on Thursday, when asked on 5G at a press conference with Japanese Prime Minister Shinzo Abe.
</p><p>	"As far as the 5G is concerned, I can simply say what we already said -- that the European Union and our internal market are open markets and all those respecting our rules governing this internal market are welcome," Juncker said.
</p><p>	Juncker was replying to a question from a Japanese reporter, who asked the European and Japanese leaders that "the U.S. is calling on the allies to eliminate telecom equipment of Chinese companies including Huawei, so what did you discuss about that? And on this issue, what do you plan to deal with at G20?"
</p><p>	Before Juncker, Abe first gave his answers, saying "We did not talk about specific countries or specific products. Dealing with cyber-security-related risks is extremely important, and we agree that we need to take coordinated actions at G20.
</p><p>	"In the past, the importance of ICT, the importance of security countermeasures related to the use of ICT has been recognized, and therefore based on that recognition, we will continue that discussion and we wish to continue to collaborate with the EU," Abe said, referring to information and communications technology (ICT).</p>"</body>
</html>