<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China wishes DPRK, Russian leaders' meeting successful: FM spokesperson
</h2>
<p class="one gray"> (Xinhua)    13:48, April 25, 2019
</p>
<hr/><p>	BEIJING, April 24 (Xinhua) -- China said Wednesday that it wishes the upcoming meeting between Kim Jong Un, top leader of the Democratic People's Republic of Korea (DPRK), and Russian President Vladimir Putin will be successful.
</p><p>	Foreign Ministry spokesperson Geng Shuang made the remarks at a press briefing when asked for comment on contact between the DPRK and Russia.
</p><p>	Noting that both the DPRK and Russia are China's friendly neighbors, Geng said China is happy to see that the DPRK and Russia strengthen high-level exchanges and enhance bilateral cooperation.
</p><p>	"We believe this will contribute to the further development of DPRK-Russia relations as well as peace and stability on the Korean Peninsula and in the region," Geng said. "We wish the meeting between Kim and Putin a success and it will be helpful for the settlement of the Korean Peninsula issue."
</p><p>	As close neighbors of the Peninsula and permanent members of the UN Security Council, China and Russia have maintained close communication and coordination on the Korean Peninsula issue, he said.
</p><p>	Geng said the situation on the Korean Peninsula showed a positive momentum for dialogue and detente, and that China is willing to work with relevant parties including Russia to take phased and synchronized steps with a package plan, continue to push for denuclearization on the peninsula and advancement of political settlement of the Peninsula issue and make positive progress.</p>"</body>
</html>