<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China deeply disappointed by US tariff plan
</h2>
<p class="one gray"> (China Daily)    07:15, May 09, 2019
</p>
<hr/><p>	China voiced deep disappointment late on Wednesday about Washington's plan to raise tariffs on Chinese imports on Friday, saying that it will take necessary counter-measures if the US tariffs increase takes effect.
</p><p>	The planned tariffs increase on $200 billion worth of Chinese imports from 10 percent to 25 percent was filed by the Office of the US Trade Representative, and the filing appeared on Wednesday in the Federal Register, the Associated Press reported.
</p><p>	In response, an unnamed spokes man for the Ministry of Commerce said in a statement on the ministry's website that escalating trade friction does not serve the interests of people in the two countries and the world.
</p><p>	Major US trade bodies have urged the Trump administration to avoid further escalating tensions by suddenly increasing tariffs on Friday, while experts said it's sensible for China to continue negotiations in a measured way.
</p><p>	"This is a predicament for soy growers," American Soybean Association President Davie Stephens said on Tuesday.
</p><p>	President Donald Trump threatened in a tweet on Sunday to increase tariffs.
</p><p>	Stephens, a grower from Clinton, Kentucky, said that US farmers are in a tough situation, and with depressed prices and unsold stocks forecast to double before the 2019 harvest begins in September, farmers urgently need the China market.
</p><p>	"We need a positive resolution of this ongoing tariff dispute, not further escalation of tensions," he said in a release posted on the ASA web site.
</p><p>	Nicole Kaeding, vice-president of federal and special projects at the Washington-based Tax Foundation, said that if the Trump administration follows through on the president's threat, it's US taxpayers, not Chinese taxpayers, who will pay the price â thanks to higher prices and fewer job opportunities.
</p><p>	The Information Technology Industry Council also warned against further raising tariffs. "Increasing tariffs will only continue to harm American consumers and businesses of all sizes and across all sectors, as well as threat en American economic growth and leadership in innovation," said Naomi Wilson, the council's senior director of policy for Asia.
</p><p>	US chemical manufacturers also called for sensible trade policy solutions.
</p><p>	Cal Dooley, president and CEO of the American Chemistry Council, said on Monday he believed the risks of continuing to use tariffs as a negotiating tactic with China are simply too high, and potential benefits remain unclear.
</p><p>	Several organizations, including Tariffs Hurt the Heartland â the national campaign composed of more than 150 of the largest US trade organizations in retail, technology, manufacturing and agriculture â have in recent days highlighted the negative impact of tariff increases on the US economy and job market.
</p><p>	They cited a report in February from Trade Partnership Worldwide as saying that increasing tariffs on $200 billion of goods to 25 percent, coupled with tariffs already in place â as well as expected Chinese retaliation â would reduce US employment by more than 934,000 jobs and push down the US GDP by 0.37 percent.
</p><p>	According to data from the General Administration of Customs, two-way trade between China and the US declined 11.2 percent year-on-year to 1.1 trillion yuan ($162.5 billion) in the period from January to April.
</p><p>	The fact that Beijing is still sending a delegation to the US for the trade talks is "very wise on China's part", said Gary Hufbauer, a senior fellow and trade expert at the Peter son Institute for International Economics in Washington.
</p><p>	Douglas H. Paal, vice-president of the Asia Program at the Carnegie Endowment for International Peace, said it "makes sense to continue the talks because the alternative would be a drastic signal to markets".
</p><p>	Vice Premier Liu He will visit the US on Thursday and Friday to attend the 11th round of the bilateral consultations on trade issues.</p>"</body>
</html>