<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Foreign involvement in Sri Lanka attacks: PM
</h2>
<p class="one gray"> (Xinhua)    08:50, April 25, 2019
</p>
<hr/><p>
</p><p>	Sri Lankan Prime Minister Ranil Wickremesinghe speaks at a press conference in Colombo, Sri Lanka, April 23, 2019. Sri Lankan Prime Minister Ranil Wickremesinghe said on Tuesday that authorities are making progress in identifying the culprits of the series of bombing attacks and evidence had been found on foreign links of the attacks. At a press conference in Temple Trees, Wickremesinghe said that authorities are looking at the claim by Islamic State (IS) that they are responsible for the blasts that killed more than 300 people and injured over 500 others. (Xinhua/Yang Zhou)
</p><p>	COLOMBO, April 23 (Xinhua) -- Sri Lankan Prime Minister Ranil Wickremesinghe said on Tuesday that authorities are making progress in identifying the culprits of the series of bombing attacks and evidence had been found on foreign links of the attacks.
</p><p>	Speaking at a press conference in Temple Trees, Wickremesinghe said that authorities are looking at the claim by Islamic State (IS) that they are responsible for the Sunday bombing blasts that killed more than 300 people and injured over 500 others.
</p><p>	"We will be following up on IS claims. We believe there may be links," Wickremesinghe said.
</p><p>	The prime minister said the security agencies of the country were monitoring those Sri Lankans who had joined IS and returned home.
</p><p>	On an earlier statement that the bombings were an act of retaliation for the attacks in Christchurch, New Zealand, last month, the prime minister said the authorities were also investigating and yet to be confirmed.
</p><p>	Series of arrests have been made so far following the Sunday blasts, but the prime minister declined to give the exact number, saying that some of the culprits are still on the run.
</p><p>	Police spokesperson Ruwan Gunasekara said on Tuesday that 40 suspects had been arrested over the attacks while a massive search operation is ongoing to nab more suspects.
</p><p>	IS, through its news outlet AMAQ, claimed on Tuesday responsibility for the attacks.</p>"</body>
</html>