<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Children make handicrafts at kindergarten in China's Zhejiang
</h2>
<p class="one gray"> (Xinhua)    09:49, May 23, 2019
</p>
<hr/><p>
</p><p>	Children cut patterns to make handicrafts at a kindergarten of Lijiaxiang Township, Changxing County, east China's Zhejiang Province, May 22, 2019. The kindergarten prepared different materials and designs for children to make handicrafts themselves. (Xinhua/Xu Yu)</p>"</body>
</html>