<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Big-data based monitoring system helps guarantee food safety for students in Tongren
</h2>
<p class="one gray"> (Xinhua)    08:31, May 22, 2019
</p>
<hr/><p>
</p><p>	Aerial photo shows a staff member picking vegetables in Tongren, southwest China's Guizhou Province, May 21, 2019. Tongren City has established a monitoring system applying new technologies of big data to trace food from farming to dining table, an effort to guarantee food safety for students. (Xinhua/Ou Dongqu)</p>"</body>
</html>