<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China's short video market expected to hit 30 billion yuan in 2019
</h2>
<p class="one gray"> (People's Daily Online)    15:32, May 08, 2019
</p>
<hr/><p>
</p><p>Icons of video apps Huoshan and Kuaishou on a mobile phone screen. [Photo: China Plus]
</p><p>	The value of Chinaâs short video market is expected to hit 30 billion yuan in 2019 and surpass 40 billion yuan in 2020, according to a report released by data provider iResearch.
</p><p>	In the coming two years, the countryâs short video platforms will offer huge business opportunities, the report said, adding that large-scale capital inflows from internet giants will encourage more high-quality videos and ensure the rapid growth of the industry.
</p><p>	The number of Chinaâs online users hit 829 million, and the amount of short video platform users reached 648 million, according to a recently released report on Chinaâs internet development.
</p><p>	Popular short video apps including Kuaishou and Douyin have gained traction throughout the country, and the short video market is predicted to see further explosive growth with the incoming commercial use of 5G.
</p><p>	The application of 5G technology will enable more netizens to produce short videos, said Ren Xianliang, deputy director of the Social Development Affairs Committee of the National Peopleâs Congress.</p>"</body>
</html>