<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Strong winds kill four in Beijing
</h2>
<p class="one gray"> (Chinadaily.com.cn)    13:09, May 20, 2019
</p>
<hr/><p>	All outdoor activities are banned on Monday at all middle and primary schools, kindergartens and middle vocational schools in Beijing, Beijing Municipal Education Commission said via Sina Weibo on Monday, following at least four dead in strong winds a day earlier.
</p><p>	Such activities include flag-raising ceremony, morning exercises and outdoor social practices.
</p><p>	At least four people were killed, more than 50 flights were diverted to other airports and two trains arrived late in Beijing on Sunday when strong gales flattened walls, knocked down trees and damaged farms.
</p><p>	The capital issued blue alert for strong winds on Sunday, with five suburban districts of Tongzhou, Yanqing, Changping, Huairou and Shunyi upgrading it to yellow alert later. These areas were hit with strong winds as high as 8-9 grades, with gales reaching 10 grade at some places. According to forecast, the wind could still be as high as 7-8 grades on Monday.
</p><p>	The gale toppled a wall near Dongzhimen Bridge in downtown Beijing, hitting three pedestrians, two males and one female. Two of them died at the scene and one at hospital, Dongcheng District said via Sina Weibo.
</p><p>	Food delivery service Meituan said one of its deliverymen was hit and killed by a fallen tree when delivering food.
</p><p>	The speed of wind reached 10-15 meters per second at the Capital International Airport starting from 10 am Sunday, with gales as fast as 20-25 meters per second, the airport said. Due to the strong wind, the operational ability of the airport dropped and remained low until 7 pm Sunday.
</p><p>	By 5 pm, out of 1,561 flights scheduled for that day, 856 flew as scheduled, 51 were cancelled, and 51 diverted to other airports.
</p><p>	Trains K1190 and Y513 arrived in Beijing late because Beijing-Chengde railway was hit by fallen trees in Shunyi district.
</p><p>	At least 13 cars were damaged in a parking lot after being hit by the fallen roof.</p>"</body>
</html>