<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Death toll rises to 2 after bar collapse in SW China
</h2>
<p class="one gray"> (Xinhua)    10:51, May 20, 2019
</p>
<hr/><p>	NANNING, May 20 (Xinhua) -- The death toll has risen to two as of 8 a.m. after the roof of a night bar collapsed early Monday morning in the city of Baise, southwest China's Guangxi Zhuang Autonomous Region.
</p><p>	A total of 85 people have been discovered. Of them two have been confirmed dead, one is in critical condition, seven others are severely injured, and 13 have been discharged from the hospital, according to local authorities.
</p><p>	Local police, fire and health departments sent 160 people for the search and rescue after the collapse happened at around 1 a.m.
</p><p>	The bar with a space of 700 square meters is located on the top floor of a three-story steel-framed building.
</p><p>	The research and cleaning is continuing.</p>"</body>
</html>