<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Tianjin to include AI in engineering certification category
</h2>
<p class="one gray"> (Xinhua)    14:14, May 19, 2019
</p>
<hr/><p>	Authorities in north China's Tianjin Municipality plan to include artificial intelligence (AI) as part of an engineering certification, the first of its kind nationwide.
</p><p>	The evaluation standards for the newly added professional title have also been unveiled, according to the municipal Human Resources and Social Security Bureau.
</p><p>	Those engaged in AI related production, research and development can apply for the certification, regardless of their academic background.
</p><p>	AI experts from Tsinghua University, Nankai University and Tianjin University, as well as technical directors from the National Super Computer Center in Tianjin and Huawei's innovation center, have hailed the decision, saying that it will be conducive to attracting talents in the field, and stimulating workers to polish their expertise.
</p><p>	China's AI market is expected to reach 96 billion yuan (about 13.9 billion U.S. dollars) this year, according to a report by Economic Information Daily.</p>"</body>
</html>