<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>A look at Asian Cuisine Festival at Olympic Park in Beijing
</h2>
<p class="one gray"> (Xinhua)    14:28, May 17, 2019
</p>
<hr/><p>
</p><p>	A visitor prepares to taste steamed dumplings with juicy stuffings during the Asian Cuisine Festival at the Olympic Park in Beijing, capital of China, May 16, 2019. The week-long Asian Cuisine Festival, as part of the Conference on Dialogue of Asian Civilizations (CDAC), was held in four cities of Beijing, Hangzhou, Chengdu and Guangzhou. (Xinhua/Li He)</p>"</body>
</html>