<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Cultural cooperation between China and India should be strengthened: Aamir Khan
</h2>
<p class="one gray">By Kou Jie, He Zhuoyan (People's Daily Online)    14:07, May 17, 2019
</p>
<hr/><p>showPlayer({id:"/pvservice/xml/2019/5/17/9fa725df-597c-493b-b5b7-8dae140f51e3.xml",width:640,height:525});
</p><p>	As two major civilizations in Asia, China and India should strengthen their cultural cooperation, encouraging talents from both sides to âtell good stories relevant to people from China and India to the world,â said Bollywood star Aamir Khan.
</p><p>	âI always feel that there are many [film] talents with creativity in China. I look forward to a time that one day talents from both China and India could work together to create a good story, which is relevant to people from both sides,â Khan told Peopleâs Daily Online on Thursday while attending the 2019 Asian Film week, a cultural event of the Conference on Dialogue of Asian Civilizations.
</p><p>
</p><p>	According to the Indian film star, joining the conference has enabled him to share his opinions with cultural professionals from other Asian countries, which will help strengthen communication and cooperation among different cultures.
</p><p>	Widely known in China for his blockbusters Dangal and Secret Superstar, which earned a combined total of more than 2 billion yuan ($288 million) after they debuted in the Chinese mainland in 2017 and January 2018, Khan has been hailed by the Chinese audience as one of the most popular Indian stars in China. Dangal earned more in China than it did in its home country, while it was even spoken about by top leaders of the two countries at a meeting in Astana in 2017.
</p><p>	For years, the average box office of Indian films in China had hovered around the 10 million yuan mark. According to Global Times, since the success of Dangal in 2017, the majority of Indian films have been able to make more than 50 million yuan, which is more than triple the average from just a few years ago.
</p><p>	Adding that China and India should deepen their cooperation in the film industry, Khan praised the Chinese public for their open attitudes towards foreign culture and movies.
</p><p>	âIn India, not everyone watches films from other nations, while in China a large audience is watching Indian films. I think we have a lot to learn from China, the people of China. Thatâs a reason why I want to take Chinese films back to India, so that our people can understand Chinese culture and Chinese people,â said the film star.
</p><p>	In addition to film cooperation, Khan suggested that cultural cooperation between China and India should not be limited to specific fields, but in a more comprehensive way.
</p><p>	âThe first Chinese book I read was The Deer and The Cauldron - itâs so beautiful that I could not put the book down. Chinese music is great, literature is fascinating. I think we have a lot to offer each other, not just films,â said Khan. </p>"</body>
</html>