<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>New professions popular among Chinese job seekers: survey
</h2>
<p class="one gray"> (People's Daily Online)    13:22, May 17, 2019
</p>
<hr/><p>
</p><p>	(Photo/Chinanews.com)
</p><p>	A survey indicated that Chinese job seekers are optimistic about the future of emerging professions, such as artificial intelligence (AI) technicians and Internet of Things (IoT) technicians, China Youth Daily reported on May 16.
</p><p>	The survey, conducted by the China Youth Daily's Social Investigation Center and wenjuan.com, has found that 73.8 percent of the 2,004 respondents said that emerging industries, such as IOT, would provide more jobs.
</p><p>	The list of 13 newly released professions, which also includes big data technicians, cloud computing technicians, electronic sports specialists and unmanned aerial vehicle (UAV) pilots, will influence not only the development of related industries, but also the job market.
</p><p>	According to the survey, 78 percent of respondents said they prefer the new professions, and 64 percent said there would be a broader range of options for them to choose at university.
</p><p>	Fan Zhe, a college student majoring in IoT, believes that his major enjoys bright prospects as smart facilities are a trend of smart living. He said that IoT-related majors would enjoy further advantages if universities begin to make more efforts to develop them.
</p><p>	Lin Xinqi, a professor from the School of Labor and Human Resources at the Renmin University of China, said the emergence of new professions is expected to keep pace with economic and social development.
</p><p>	Jiang Cheng, an associate professor in the Graduate School of Education at Peking University, believes that the new professions indicate that both the production and consumption of the society are becoming more open-minded and diversified.
</p><p>	It's inevitable that professions will develop, and while traditional ones will fade away, new ones will definitely emerge, he added.</p>"</body>
</html>