<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Launch ceremony of Asian Film and TV Week held during CDAC
</h2>
<p class="one gray"> (Xinhua)    11:14, May 17, 2019
</p>
<hr/><p>
</p><p>	Photo taken on May 16, 2019 shows the launch ceremony of the Asian Film and TV Week at the Working People's Cultural Palace in Beijing, capital of China. The Asian Film and TV Week, part of the Conference on Dialogue of Asian Civilizations (CDAC), would be held from May 16 to 23 in China. A total of 60 Asian films would be shown in the Chinese cities of Beijing, Shanghai, Chengdu, Xi'an and Guangzhou. (Xinhua/Zhang Yuwei)</p>"</body>
</html>