<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Recent spate of teenage suicides prompts call to reflect on education methods
</h2>
<p class="one gray"> (Global Times)    09:36, May 17, 2019
</p>
<hr/><p>	Five days after a high-school student jumped to his death from a flyover, another teenager was reported to have committed suicide by drinking pesticide and recording the incident in a video.
</p><p>	Recent incidents of teenage suicides have sparked huge discussions among Chinese netizens, who are asking why these incidents happened and how to prevent this kind of tragedy from happening again, or at least, reduce them.
</p><p>What happened?
</p><p>	Footage from surveillance video posted by China News Service has gone viral on Chinese social media from April 18, showing a white car suddenly stopping in busy traffic on a flyover. After a few seconds, a teenage boy rushes out of the car to the edge of the flyover.
</p><p>	A woman gets out of the vehicle and chases after him.
</p><p>	Seemingly without any hesitation, the boy jumps off the high flyover. Everything happened so quickly that the woman was unable to grab hold of the boy, despite being just one step behind him.
</p><p>	The video shows the woman collapsing and repeatedly beating the ground with her hands.
</p><p>	According to a report by Red Star News, a news platform based in Chengdu, Southwest China's Sichuan Province, the 17-year-old teenager was a Grade Two student at a vocational training school and the woman was his mother.
</p><p>	Before jumping from the flyover, the boy had been criticized by his mother for quarreling with other students at school.
</p><p>	Only five days later, another suicide was reported by Cover News. A Grade Three student at a middle school in Suining, Sichuan Province, drank a bottle of pesticide and shot an eight-minute video before drinking the chemical.
</p><p>	In the video, he tears out his Chinese textbook page by page and drops them in a pot to burn them. At the same time, he keeps saying to himself, "Some people should not live in the world. I may be one of them," and "Why do people say teachers are like parents and treat students like their own children? Is he (she) worthy of being called a 'teacher?'"
</p><p>	After burning the textbook pages, he drinks the pesticide and then sends a message to his class's online chat group: "Look, I'm dying. It's all Yang Xiaorong's fault."
</p><p>	According to the boy's mother, surnamed Wang, Yang Xiaorong was the boy's teacher. She had called Wang that day, saying that her son had fought at school and failed his Chinese examination with a score of "only 80 points."
</p><p>	Wang phoned the boy to ask whether he had fought at school and if he had failed his examination. The boy then flew into a rage and said the teacher had wronged him again.
</p><p>	"I got 90 points! Why did she tell you I didn't pass? Why didn't she say I got first place in my history test?" the boy shouted to his mother.
</p><p>	His father later told him off for getting angry at his mother.
</p><p>	Wang and her husband believe that the school and the teacher should be held responsible for their son's death, but the local education bureau confirmed that this suicide had nothing to do with the school and teacher after an investigation was carried out.
</p><p>Divided opinion
</p><p>	Opinion on social media is divided on the issue. Some of them criticized the two boys, saying their minds were too weak, and collapsed in the face of a little difficulty. They were gone but their parents and families will live with a lot of pain for the rest of their lives.
</p><p>	"They had been spoiled so they could not endure any pain or difficulty. They chose a road to ruin themselves so they could avoid problems forever," one netizen commented.
</p><p>	However, other netizens and some experts strongly disagreed, believing that these tragedies should be blamed on parents and teachers who use incorrect education methods and do not pay close attention to teenagers' feelings.
</p><p>	One of the netizens had a similar experience and drank pesticide, but fortunately, was found quickly and survived. The netizen chose to attempt suicide because of a conflict with parents and stressful education methods. "After reading the news, I can understand them," the netizen said.
</p><p>	A father of a middle school student surnamed Fang, living in Beijing, told the Global Times on Wednesday that in his opinion, parents use methods that are too impatient and radical to communicate with these teenagers.
</p><p>	"They are at a special age, so parents should adopt smart methods to help them establish a variety of social and world connections. Let them understand how colorful life is through diverse activities such as reading and travelling," Fang said as advice to parents who have adolescent children.
</p><p>	Xiong Bingqi, deputy director of the Shanghai-based 21st Century Education Research Institute, told the Global Times that education about life at school and at home is very important for children's growth.
</p><p>	"Life education given at school and at home should not only teach theories to students, but should be close to their daily lives," Xiong said, "On the topic of suicide, parents and teachers can tell stories about cherishing life to children when taking them to travel or watching TV together, so as to subconsciously influence them." </p>"</body>
</html>