<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Qingshan Yangtze River Bridge finishes closure in Wuhan
</h2>
<p class="one gray"> (Xinhua)    08:22, May 17, 2019
</p>
<hr/><p>
</p><p>	Aerial photo taken on May 16, 2019 shows the closure scene of Qingshan Yangtze River Bridge in Wuhan, central China's Hubei Province. The 7,548 meter-long Qingshan Yangtze River Bridge is now the widest bridge over Yangtze River. (Xinhua/Xiao Yijiu)</p>"</body>
</html>