<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>I.M. Pei, world-renowned architect, dies at 102
</h2>
<p class="one gray"> (Chinadaily.com.cn)    07:30, May 17, 2019
</p>
<hr/><p>	World-renowned architect Ieoh Ming Pei, commonly known as I.M. Pei, has died at age 102, according to multiple reports on Thursday.
</p><p>	Pei was born in Guangzhou, and raised in Hong Kong and Shanghai, before moving to the United States in 1935. He won a wide variety of prizes and awards in the field of architecture.
</p><p>	I.M. Pei, whose modern designs and high-profile projects made him one of the best-known and most prolific architects of the 20th century.
</p><p>	Pei's portfolio included a controversial renovation of Paris' Louvre Museum and the Rock and Roll Hall of Fame in Cleveland.
</p><p>	The museums, municipal buildings, hotels, schools and other structures that Pei built around the world showed precision geometry and an abstract quality with a reverence for light.
</p><p>	They were composed of stone, steel and glass and, as with the Louvre, he often worked glass pyramids into his projects.</p>"</body>
</html>