<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Service outsourcing industry becomes new highlight of open economy
</h2>
<p class="one gray"> (People's Daily Online)    14:51, May 08, 2019
</p>
<hr/><p>	China's service outsourcing industry continued to grow in 2018 with signed offshore contracts worth more than $120 billion and the value of fulfilled contracts reaching $88.7 billion, according to official data.
</p><p>	Service outsourcing has become a highlight of China's open economy, which reflects its continuous enrichment and the constant improvement of its development level, said Vice-Minister of Commerce Qian Keming.
</p><p>	Qian made the remarks at the 2019 Global Service Outsourcing Summit and the 3rd China Service Trade Innovation Development Summit held on May 7 in Wuhan, central China.
</p><p>	Last year, outsourcing deals completed for Belt and Road countries stood at 19 percent of the total contract value of outsourced Chinese services.
</p><p>	Sun Yibiao, former vice minister of China customs, said through actively advancing innovative development of service trade, China is creating new growth points in opening up and conforming to economic globalization, trade and investment facilitation.</p>"</body>
</html>