<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Giant pandas return to China after years in U.S.
</h2>
<p class="one gray"> (Xinhua)    07:19, May 17, 2019
</p>
<hr/><p>	Two giant pandas have returned to China after staying in the United States for years.
</p><p>	Twenty-seven-year-old female giant panda Bai Yun and her son, six-year-old Xiao Liwu, arrived in southwest China's Sichuan Province Thursday after the San Diego Zoo's conservation loan agreement with China ended.
</p><p>
</p><p>	ããThe giant panda Xiao Liwu [Photo: Chinanews.com]
</p><p>FUZZY CHARM
</p><p>	As the first panda on loan, Bai Yun arrived at the San Diego Zoo in 1996. The cuddly panda soon became an iconic image of the zoo and one of the most popular animals. The name of her son, Xiao Liwu, means Little Gift.
</p><p>	On Thursday morning, the pandas arrived at the Dujiangyan Base of the China Conservation and Research Center for Giant Pandas. Experts examined the pandas and said the chubby bears' conditions were good.
</p><p>	"They will be under quarantine for a month to help them adapt to the conditions in China," said Zou Wenyong, with the center.
</p><p>	A welcoming ceremony was held at the base at 3:30 p.m. Zhang Haiqing, deputy director of the center, presented an award to the San Diego Zoo for its protection of the pandas, while Shawn Dixon, with the San Diego Zoo, dedicated a book featuring joint research efforts to the center.
</p><p>	Last month, the San Diego Zoo held a three-week farewell event for the two giant pandas. Around 1,000 Americans lined up at the zoo to say goodbye to the pandas, according to Dixon.
</p><p>GLOBAL COOPERATION
</p><p>	The China Conservation and Research Center for the Giant Panda has conducted scientific research cooperation with the San Diego Zoo for 23 years with fruitful results in the protection, breeding, disease control of giant pandas and related public education.
</p><p>	After Baiyun and Xiaoliwu's return, the China Conservation and Research Center for the Giant Panda has welcomed 17 returnee giant pandas, said Zhang Zhizhong with the center.
</p><p>	Zhang added that the center has launched giant panda research programs in cooperation with 16 zoos in 14 countries and regions, serving as the world's largest platform for the scientific research of giant pandas.
</p><p>	In 1980, the Chinese government cooperated with the World Wide Fund for Nature to establish the "China Conservation and Research Center for the Giant Panda" (CCRCGP) to save the endangered pandas. The center aimed at raising the number of pandas by captive-breeding programs, but its ultimate goal was to return them to the wild.
</p><p>	Giant pandas are one of the world's most endangered species. Fewer than 2,000 pandas live in the wild, mostly in the provinces of Sichuan and Shaanxi. There were 375 giant pandas in captivity at the end of 2013, about 200 of them at the CCRCGP.</p>"</body>
</html>