<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>'Giant pandas' return to California as Chinese artist's exhibit kicks off
</h2>
<p class="one gray"> (Global Times)    18:14, May 16, 2019
</p>
<hr/><p>
</p><p>Richard Nixon Presidential Library and Museum is presented with a painting by Chinese artist Liu Zhong (fourth right) featuring giant pandas Ling Ling and Xing Xing, the panda pair China sent to the US after later US President Richard Nixon's ice-breaking visit in 1972, in California on Sunday. [Photo provided to chinadaily.com.cn]
</p><p>	The opening ceremony of the Panda and Its Friends: An Art Exhibit by Liu Zhong was held at California's Richard Nixon Presidential Library and Museum on Sunday.
</p><p>	A total of 46 paintings of giant pandas and other animals and plants by renowned Chinese artist Liu Zhong will be displayed at the museum from May 13 to 15.
</p><p>	As the "panda ambassador" honored by Ya'an, the "hometown of giant pandas" in Southwest China's Sichuan Province, Liu is known for his keen participation in public welfare activities related to panda protection.
</p><p>	In recent years, Liu has been actively communicating with people from different cultural backgrounds on the world stage like the Olympic Games and expos. While promoting Chinese culture and giant pandas, Liu has urged the protection of endangered species and to cherish the harmony between different species and cultures.
</p><p>	The three-day exhibit, sponsored by the Richard Nixon Foundation and Richard Nixon Presidential Library and Museum, is believed to be a symbol of the continuity of the friendship between the Chinese and American people, since the giant panda has a special meaning to the two sides.
</p><p>	At a state banquet in Beijing during the late US president Richard Nixon's ice-breaking visit in 1972, when then-US first lady Pat Nixon mentioned her great affection for China's giant pandas, the late Chinese premier Zhou Enlai said that China would give a pair of pandas to the Washington National Zoo, where they were extremely popular afterwards.</p>"</body>
</html>