<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Chongqing strives to attract more talents
</h2>
<p class="one gray"> (People's Daily Online)    17:00, May 16, 2019
</p>
<hr/><p>
</p><p>The inauguration ceremony of the activity to match high-level talents with companies was held in Chongqing on May 13, 2019.
</p><p>	Southwest China's Chongqing Municipality held an activity on May 13 to match doctoral students with the companies and institutions based in Chongqing, in an effort to attract high-level talents to help construct these enterprises.
</p><p>	Some 103 doctoral students from elite universities both at home and abroad were invited to attend the activity, where they are expected to secure a job after in-depth communication with employers.
</p><p>	The students will confirm their willingness to work for companies they are interested in after paying a visit to the company premises to know what their responsibilities would be.
</p><p>	The most suitable students, some of whom are from China's Tsinghua University and Peking University, were selected out of 347 candidates.
</p><p>
</p><p>Chinese universities sign agreements with the human resources department of Chongqing, May 13, 2019.
</p><p>	At the opening ceremony, 19 universities on the "The Double World Class" list reached cooperation agreements with Chongqing Human Resources Market.
</p><p>	The partner program includes establishing a collaborative mechanism between the universities and the local education government, setting up a green passage for talents and promoting exchange and communication.
</p><p>	The event is hosted by the Organization Department of the Chongqing Municipal Committee of the CPC and Chongqing Municipal Human Resources and Social Security Bureau and is organized by Chongqing Human Resources Market. </p>"</body>
</html>