<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Beijing Expo 'Inner Mongolia Day' showcases environmental control efforts
</h2>
<p class="one gray"> (Xinhua)    14:06, May 16, 2019
</p>
<hr/><p>	HOHHOT, May 16 (Xinhua) -- A plethora of local plant species and exhibitions showcasing environmental protection efforts in the Inner Mongolia Autonomous Region are attracting visitors to the Beijing Expo with the opening of "Inner Mongolia Day."
</p><p>	The event which opened Thursday will run for three days. In the Inner Mongolia exhibition area, plants such as the Chinese herbaceous peony, white birch, tollflower and euphrates poplar allow visitors to get up close and personal with special ecological features of the region.
</p><p>	The region, located in northern China, boasts a combination of landscapes including forests, grasslands and the Gobi desert.
</p><p>	The region has been pushing forward with afforestation efforts, utilizing the unique and natural characteristics of the various land areas. It has also been promoting the ecological protection and restoration of grasslands, rivers, lakes and wetlands.
</p><p>	A whiteboard within the Inner Mongolia exhibition area attracts attention with the exhibition of over 2,000 local plants specimen. Under the glass floor, visitors can see some 1,200 bottles of soil samples collected across the region.
</p><p>	"These specimens are natural data for Inner Mongolia," said Zhang Yanan, a guide of the expo.
</p><p>	The resources, collected by a local company over the past 20 years, have offered support for the ecological restoration of the region, Zhang said.</p>"</body>
</html>