<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Concerns rise over US college admissions
</h2>
<p class="one gray"> (Global Times)    16:20, May 15, 2019
</p>
<hr/><p>
</p><p>Attendees from US universities share their overseas learning experiences at the event Tuesday. Photo: Courtesy of the Consulate General of United States in Shanghai
</p><p>	The escalating US-China trade war not only rattled global markets this week but also triggered concerns that top US colleges might tighten their admission of Chinese students, or even close the door for good.
</p><p>	An article saying no Chinese students were accepted by Massachusetts Institute of Technology (MIT) this year shocked Chinese social media.
</p><p>	It also suggested that students from the Chinese mainland are finding it difficult getting offers from other top US colleges, such as Stanford University and California Institute of Technology this year.
</p><p>	However, the facts cited in the article proved to be false.
</p><p>	Two students from the Chinese mainland were accepted by MIT in the regular action period, Chinese study-abroad agency Tiandao said in an April article.
</p><p>	According to the website of MIT registrar's office, the number of Chinese undergraduate and graduate students in academic year 2018-19 was 829, slightly higher than 794 and 765, respectively, in the previous two academic years.
</p><p>	MIT has not responded to Global Times inquiry via email. Similar interview request sent to Stanford University also went unanswered as of press time.
</p><p>	In an email sent to the Global Times late Monday, Yale University said students from China represent two-thirds of the total increase in new international students (93 of 155 students) this fall (2018).
</p><p>	At Yale, the number of students from China has increased by 53.1 percent in the past five years, it said.
</p><p>	Despite the wrong facts, the article was widely circulated on China's social media after it was released on Sunday, the same day US President Donald Trump tweeted that he intends to raise tariffs on $200 billion worth of Chinese goods from 10 to 25 percent.
</p><p>	Parents and students are worried that the top US colleges are shutting the door to Chinese applicants as the trade war escalates.
</p><p>	The concerns are justified as enhanced scrutiny on Chinese students has emerged after the two countries were engaged in a trade war and US politicians openly accused Chinese students of engaging in espionage.
</p><p>	If top US universities shut the door on Chinese students, it would be politically motivated, said Jin Canrong, associate dean of Renmin University of China's School of International Studies.
</p><p>	Reducing or cutting educational exchanges will hurt both sides, said Jin. For Chinese students, their life choices will be reduced and for US colleges, it's a loss of a source of revenue, campus diversity and first-class students, Jin noted.
</p><p>	Chinese scholars noted that aside from the US, Chinese students have diverse alternatives, such as universities in Europe and Asia.
</p><p>	It's clear that a tough policy against China has been agreed in the US government, and colleges have been "dragged" by US political elites toward this direction, said Li Haidong, a professor at the China Foreign Affairs University's Institute of International Relations in Beijing.
</p><p>	Cutting or limiting exchanges with China in science, technology and culture may hurt China in a short term, as the US remains on top in some sectors. But it will also further motivate China to step up innovation with powerful government support policies, said Li. </p>"</body>
</html>