<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>First international standard on AI collaboration and security expected by 2020
</h2>
<p class="one gray"> (People's Daily Overseas New Media)    11:24, April 12, 2019
</p>
<hr/><p>
</p><p>	Photo via Pixabay
</p><p>	The worldâs first international standard on AI collaboration and security is expected to be published by 2020, which will further protect big data privacy in the rapidly-developing era of AI, a Chinese scientist revealed Thursday.
</p><p>	The standard, full named IEEE P3652.1 Guide for Architectural Framework and Application of Federated Machine Learning, has set up its working group committee under the Institute of Electrical and Electronics Engineers (IEEE) and a standard consensus has been reached, according to Feng Ji, the newly-elected vice chairman of the working group committee, at an online press conference on Thursday.
</p><p>	The second committee meeting will be held on June 15 in the US state of California for further discussions, Feng noted, adding that the official standard is expected to be issued by IEEE within two years.
</p><p>	âA systematic guideline is needed as international organizations are developing AI systems on big data privacy. The standard, using federated learning, will serve as the guideline for both institutes and governments, as more legislature bodies issue data protection-related laws,â said Feng, also deputy dean of Nanjing Research Center, Sinovation Ventures.
</p><p>	Federated learning defines a machine learning framework that allows a collective model to be constructed from data that is distributed across data owners. This guide provides a blueprint for data usage and model building across organizations while meeting applicable privacy, security, and regulatory requirements, according to the working groupâs official website.
</p><p>	Wang Yonggang, CTO of Sinovation Ventures, Dean of AI Institute, explained that federal learning is like a safe and friendly âbridgeâ that guarantees the smooth exchange of data between different data owners without compromising data security and personal privacy.
</p><p>	Led by Chinese scientist Yang Qiang, the working group for the standard has seen many other participating efforts from China. Of more than 30 international giants, government institutes, and universities involved in the working group, over a dozen of them are from China, including China Telecom, Tencent, JD.com, Xiaomi, Hong Kong University of Science and Technology, and Hong Kong Polytechnic University.
</p><p>	Chinese researchers have also made key contributions in key technology studies in the process, such as encryption technology in data sharing, according to Wang.</p>"</body>
</html>