<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>New Beijing airport tests its capabilities
</h2>
<p class="one gray">By Tu Lei and Yang Sheng (Global Times)    08:44, May 15, 2019
</p>
<hr/><p>
</p><p>China Southern Airlinesâ flagship model A380, which took off 9:03 am from Beijing Capital International Airport in the northeastern part of the city, is one of the first to land at the new airport. The new airport is scheduled to be operational at the end of September. (Photo by WengQiyu from Peopleâs Daily online)
</p><p>	Beijing Daxing International Airport, a new mega-airport in northern China, witnessed four test flights on Monday (May 13) morning, a milestone before the airport begins operations at the end of September.
</p><p>	The successful tests show airport authorities have moved their focus from infrastructure to flying and upon completion the airport will help promote Beijingâs status as a global hub, Chinese analysts said.
</p><p>	China Southern Airlinesâ flagship model A380, which took off 9:03 am from Beijing Capital International Airport in the northeastern part of the city, was one of the first to land at the new airport at 9:30 am on Monday, followed by China Eastern Airlinesâ A350-900, Air Chinaâs B747-8 and Xiamen Airlinesâ B787-9.
</p><p>	Xiamen Airlines' B787-9 was the last to land at around 9:46 am.
</p><p>	âThe flying has its significance in the Daxing airport project,â Yan Xiaodong, spokesman for North China regional administration with the Civil Aviation Administration of China, told the Global Times.
</p><p>	âThe test flights are to verify the safety and rationality of the new routes in the sky and the success shows the procedure is safe and reliable,â he said. In the future, there will be more test flights for popular aircraft such as the single-aisle B737 and A320, Yan said.
</p><p>	The test flights for the new airport have three phases.
</p><p>	The basic test flight began Monday, mainly testing the general security of the airport. In August, the airport will conduct a special test flight to check the airport's low-visibility capability.
</p><p>	A comprehensive test flight will be carried out from August to September to ensure that the airport can operate in a coordinated, smooth and efficient manner after it is officially put into use.
</p><p>	âThe new airport will not only serve the development of the capital city of China but also bring more opportunity to the whole North China region,â Bai Ming, deputy director of the Ministry of Commerceâs international market research institute, told the Global Times on Monday.
</p><p>	The new airport is scheduled to be completed on June 30 and open September 30. The authorities aim to meet the country's surging demand and relieve the Beijing Capital International Airport.
</p><p>
</p><p>Daxing International Airport in Beijing is under construction, April. 25, 2019. Photo by WengQiyu from Peopleâs Daily online
</p><p>New economic hub
</p><p>	Beijing Capital International Airport is located in northeast Beijing and is closer to the downtown area.
</p><p>	Sitting at the junction of Beijing's southern Daxing district and Langfang in North Chinaâs Hebei Province, the new airport is closer to Xiongan New Area, Tianjin and Shijiazhuang in Hebei Province, Bai said.
</p><p>	With an investment of 80 billion yuan ($11.6 billion), the new airport is expected to handle 45 million passengers annually by 2021 and 72 million by 2025.
</p><p>	Beijing Capital International Airport transported 101 million passengers in 2018, ranking second in the world for nine consecutive years in terms of volume, the Civil Aviation Administration of China reported. Annual trip throughput of airports across the nation exceeded 1.2 billion in 2018, an increase of 10.2 percent over 2017.
</p><p>	China will displace the US as the worldâs largest aviation market in the mid-2020s, as the rebalancing of Chinaâs economy toward consumption will support strong passenger demand over the long term, according to a report released by the International Air Transport Association in October 2018.
</p><p>	âThe new airport will help Beijing open more international routes as Beijing Capital International Airport is now in a very tight slot,â Lin Zhijie, a veteran market watcher, told the Global Times on Monday.
</p><p>	The new airport is designed for transfer efficiency, Lin noted.
</p><p>	More than 50 domestic and foreign airlines have expressed their willingness to use the new airport.
</p><p>	China Southern Airlines has 40 percent of the slots and will shoulder 40 percent of the air passenger traffic.
</p><p>	According to the plan, China Southern is expected to have more than 200 aircraft at the new airport by 2025, with more than 900 flights taking off and landing daily.
</p><p>	âJust like Shanghai Pudong and Hongqiao airports that serve East Chinaâs development, the new airport together with Beijing Capital International Airport will make North China more competitive and make it another economic hub of Asia,â Bai said.</p>"</body>
</html>