<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Measures set to empower Yangtze River Delta
</h2>
<p class="one gray"> (China Daily)    14:33, May 14, 2019
</p>
<hr/><p>
</p><p>A high-speed train passes across Nantong city, Jiangsu province, on March 22, 2019. [Photo/Xinhua]
</p><p>	China will bolster the integrated development of the Yangtze River Delta with measures to advance innovation-driven development and upgrade its industry chains, the Political Bureau of the Communist Party of China Central Committee decided at a meeting on Monday.
</p><p>	Xi Jinping, general secretary of the CPC Central Committee, presided over the meeting, which reviewed a plan on promoting the integrated development of the delta region, according to a statement released after the meeting.
</p><p>	The integrated development of the Yangtze River Delta region must focus on the key elements of greater integration and high-quality development to lead the growth of the whole Yangtze River Economic Belt and East China, the statement said.
</p><p>	The meeting called for better awareness of integrated development and putting the region's growth into the perspective of a unified strategy, as well as the development of a modern economic system.
</p><p>	It also required adequate coordination and implementation to ensure the effective implementation of various tasks in the plan.
</p><p>	The delta region, including Shanghai and Jiangsu, Zhejiang and Anhui provinces, is among the areas with the most robust economic growth, the highest level of opening-up and the strongest capacities in innovation in China.
</p><p>	The total GDP of the delta region reached 21 trillion yuan ($3.06 trillion) in 2018, which accounted for around one-fourth of the national total, according to Economic Daily.
</p><p>	With its key role in the national economy, the integrated development of the region could play a vital part in leading regional growth, the statement said.
</p><p>	It noted that the elevation of the integrated development of the Yangtze River Delta to the status of a national strategy is a major decision adopted by the CPC Central Committee.
</p><p>	Authorities in the four provincial areas must enhance their awareness of integrated development and boost their interaction and cooperation, it added.
</p><p>	The meeting also decided to start a thematic education campaign of Party members on the subject of remaining true to the Party's original aspirations and keeping their mission firmly in mind.
</p><p>	It called for struggles against all problems that affect the Party's purity and advanced nature, and for efforts to make the Party even stronger, the statement said.
</p><p>	A key element of the campaign is also to prevent bureaucratism and practicing formalism for formalism's sake and to guide Party members to keep the Party's commitments in mind, it added.   </p>"</body>
</html>