<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>6 South China Tiger cubs allowed to meet public in China's Henan
</h2>
<p class="one gray"> (Xinhua)    10:29, May 14, 2019
</p>
<hr/><p>
</p><p>	A South China Tiger cub is seen at a zoo in Luoyang, central China's Henan Province, May 11, 2019. Six South China Tiger cubs, who were born in the zoo at the beginning of this year, are now allowed to meet the public. (Xinhua/Liu Gaoyang)</p>"</body>
</html>