<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Huawei CBG sector offers rich prospects
</h2>
<p class="one gray">By Ma Si (China Daily)    11:05, April 12, 2019
</p>
<hr/><p>
</p><p>	Yu Chengdong, CEO of Huawei's consumer business group, introduces Huawei's P30 Pro smartphone on Thursday in Shanghai. [Provided to China Daily]
</p><p>Firm likely to be largest smartphone vendor in the world by end of this year
</p><p>	Huawei Technologies Co said on Thursday that it aims to grow the revenue of its consumer business group, which chiefly includes smartphones and personal computers, to $100 billion in three years and to $150 billion in five years.
</p><p>	The announcement came after the company's consumer business group posted $52.5 billion in revenue last year, up 45 percent year-on-year. That also marked Huawei achieving the target of $50 billion two years ahead of schedule.
</p><p>	Yu Chengdong, CEO of Huawei's consumer business group, said five years later, smartphones will account for about two-thirds of its $150 billion revenue goal, and computers, smartwatches as well as other internet of things devices are likely to account for about one-third or 40 percent of its CBG revenue.
</p><p>	According to Yu, Huawei is likely to become the largest smartphone vendor by the end of this year at the earliest, although its products are not available in the United States and South Korea due to "nonmarket factors".
</p><p>	"If not this year, we can achieve that ambition next year," Yu said. "Our market share is still growing very rapidly." According to him, currently, one of every three smartphones sold in China is from Huawei and he hopes that in the near future, two out of every three smartphones sold in China are from Huawei.
</p><p>	The company is also expanding its presence in overseas markets, with it already becoming the top smartphone vendor in several European countries, Yu added.
</p><p>	Huawei knocked Apple Inc off its second-place seat in the second quarter of 2018. The two are in fierce competition. Currently, Samsung Electronics Co is the largest smartphone vendor in the world.
</p><p>	Yu also said that Huawei is open to selling its 5G modems, a key component of smartphones, to Apple, as the United States tech giant is having difficulty in finding an appropriate supplier.
</p><p>	In 2018, Huawei shipped over 200 million smartphones and it said earlier that the Shenzhen-based company is likely to ship about 230 to 250 million smartphones this year.
</p><p>	Jia Mo, an analyst from global market research company Canalys, said it is possible for Huawei to achieve its ambitious revenue target if it can maintain its current growth rate and everything goes well.
</p><p>	"Huawei is also increasing the average selling price of its smartphones and expanding its presence in the premium segment, which will significantly boost revenue," Jia said.
</p><p>	But the global smartphone market is reaching saturation point, so Huawei has to encroach on other smartphone vendors' market share to maintain a good momentum, Jia added.
</p><p>	On Thursday, Yu also unveiled the P30 smartphone series in Shanghai. Priced from 3,988 yuan ($594) in China, the P30 Pro comes with optimized photo-shooting capabilities. By leveraging artificial intelligence and a new light sensor, the new model would significantly boost light absorption to create better photos, even in near darkness.
</p><p>	Fu Liang, an independent analyst who has been following the telecom industry for a decade, said Huawei's personal computer and smartwatch sales are also growing rapidly.</p>"</body>
</html>