<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Lankao County's success in poverty alleviation proves China's ability to achieve prosperity
</h2>
<p class="one gray"> (Xinhua)    09:06, May 14, 2019
</p>
<hr/><p>
</p><p>	Workers make wooden doors at an industrial park in Lankao County, central China's Henan Province, April 24, 2019. Lankao County had been poor throughout history and suffered from frequent floods and sandstorms for centuries. Local authorities in Lankao County have been exploring ways to eliminate poverty such as hiring elite cadres, exercising strict supervision and carrying out financial reform over the past years. Lankao County's success in eliminating poverty is new proof of China's strong capability in leading the whole nation towards prosperity. (Xinhua/Gu Lilin)</p>"</body>
</html>