<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Letter from Meng Wanzhou published online
</h2>
<p class="one gray"> (Chinadaily.com.cn)    15:49, May 13, 2019
</p>
<hr/><p>
</p><p>ããHuawei CFO Meng Wanzhou. [Photo provided to chinadaily.com.cn]
</p><p>	A letter written by Meng Wanzhou, chief financial officer for the Chinese telecommunications company Huawei, was publicized online on Monday.
</p><p>	The letter, reportedly penned in Vancouver on May 9, read, "My heart remains strong, no matter what kind of difficulty and pressure I will encounter for the moment."
</p><p>	Meng was detained in Canada at the request of the US Justice Department late last year. Meng's lawyer informed a Canadian court last week of his concerns that the allegations against her were politically motivated.
</p><p>	This letter was originally posted on Huawei's website to be accessed only by the company's employees.
</p><p>	It was written to the 188,000 staff members working in Huawei as a signal of appreciation for their support, according to Meng.</p>"</body>
</html>