<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>3,700 volunteers to serve CDAC in Beijing
</h2>
<p class="one gray"> (Xinhua)    15:12, May 13, 2019
</p>
<hr/><p>
</p><p>Photo taken on April 10, 2019 shows the night view of the National Stadium (L), also known as the Bird's Nest, and the National Aquatics Center, or the Water Cube, in Beijing. (Xinhua/Chen Yehua)
</p><p>	BEIJING, May 12 (Xinhua) -- A total of 3,700 volunteers from 39 universities and 12 enterprises will serve the Conference on Dialogue of Asian Civilizations (CDAC) scheduled for May 15 to 22 in Beijing, sources with the Beijing municipal committee of the Communist Youth League said Sunday.
</p><p>	During the CDAC, volunteers will provide conference, translation, security and other services at the China National Convention Center, National Stadium, National Agricultural Exhibition Center and other sites of the conference.
</p><p>	Among the volunteers, 2,700 had just served the Belt and Road Forum for International Cooperation, and 1,000 were specially recruited for the Asian Culture Carnival, the Asian Civilization Parade and other events.
</p><p>	At present, all the volunteers are ready for the CDAC after completing training sessions including that on Chinese traditional culture and service etiquette, the sources said.</p>"</body>
</html>