<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>Beijing Daxing International Airport begins test flights
</h2>
<p class="one gray"> (People's Daily Online)    13:27, May 13, 2019
</p>
<hr/><p>
</p><p>	(People's Daily Online/Weng Qiyu)
</p><p>	Beijing Daxing International Airport began test flights for four plane models on Monday, The Beijing News reported.
</p><p>	China Southern Airlines, China Eastern Airlines, Air China and Xiamen Airlines dispatched their respective models: the Airbus A380, Airbus A350-900, Boeing B747-8, and Boeing B787-9.
</p><p>	The trial primarily focused on demonstrating 12 flight procedures compared with the navigation verification flights conducted by the airport in February, according to the North China Regional Administration of the Civil Aviation Administration of China (CAAC).
</p><p>	âWe aim to make sure every passenger is a hundred percent safe during their flights once the airport goes into operation,â said Yan Xiaodong, spokesperson of CAAC North China Regional Administration.
</p><p>	Yan, a deputy director of Daxing air traffic control center, explained that they had used the airportâs west air traffic control tower for the first time to ensure smooth test flights.
</p><p>	At the same time, they set up five working groups and made four support plans to facilitate the work, Yan added. </p>"</body>
</html>