<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻页面</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head> 

<body>
<h2>China to air documentary on Asian civilizations ahead of CDAC
</h2>
<p class="one gray"> (Xinhua)    10:13, May 13, 2019
</p>
<hr/><p>	BEIJING, May 11 (Xinhua) -- A three-episode documentary about civilizations in Asia produced by China Media Group (CMG) will be broadcast from Sunday to Tuesday, the CMG announced here Saturday.
</p><p>	The documentary, titled "Asia: Light of Civilizations," will present the evolution of Asian civilizations by reviewing the splendid past of the time-honored civilizations that have been developing through exchanges and mutual learning.
</p><p>	Audiences can enjoy the history of Vietnam's Ao Dai, Cambodia's Angkor Wat, Jordan's Petra and the Maldives' marine life, as well as the stories of Asian ancestors working hard to create history.
</p><p>	The crew of the documentary traveled in 22 countries and regions in Asia, covering Chinese, ancient Indian and Mesopotamian civilizations and other civilizations.
</p><p>	The Conference on Dialogue of Asian Civilizations (CDAC) will be held in Beijing from May 15 to 22, focusing on cultural diversity, exchanges and mutual learning.</p>"</body>
</html>